<!doctype html>
<!-- THIS PAGE LIVES ON THE CASH PLATFORM-->
<html class="no-js" lang="">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1"><link rel="icon" type="image/x-icon" href="https://cashmusic.org/admin/ui/default/assets/images/favicon.png" /><link href="//fonts.googleapis.com/css?family=Montserrat:400,700|Nunito:300,400,700" rel="stylesheet" type="text/css"><link rel="stylesheet" type="text/css" href="https://cashmusic.org/admin/assets/css/embed-default.css" /><link rel="stylesheet" type="text/css" href="https://cashmusic.org/admin/assets/css/page-default.css" />

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>CASH Music</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="https://static-cashmusic.netdna-ssl.com/www/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" href="https://static-cashmusic.netdna-ssl.com/www/favicon.png" type="image/png">
        <script src="https://static-cashmusic.netdna-ssl.com/www/js/vendor/modernizr-2.8.3.min.js"></script>
        <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/normalize.css">
        <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/pure/base-min.css">
        <!--[if lte IE 8]>
      <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/pure/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/pure/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/header.css">
    <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/base.css">
    <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/pages.css">
    <link rel="stylesheet" href="https://static-cashmusic.netdna-ssl.com/www/css/helper.css">

        <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Caesar+Dressing|Playfair+Display|Montserrat:400,700|Nunito:300,400,700' rel='stylesheet' type='text/css'>

        <!--Mobile Viewport -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no">

      <script type="text/javascript" src="https://static-cashmusic.netdna-ssl.com/www/js/main.js"></script>

<!--platform-->
<link rel="icon" type="image/x-icon" href="https://cashmusic.org/admin/ui/default/assets/images/favicon.png" />
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://cashmusic.org/admin/assets/css/embed-default.css" />
<!--link rel="stylesheet" type="text/css" href="https://cashmusic.org/admin/assets/css/page-default.css" /-->
<script type="text/javascript" src="https://cashmusic.org/public/cashmusic.js"></script></head>

<style>
	html{overflow:hidden!important;}
	body{text-align:left;background:#ccc;}
	article{color:#fff;}
	main{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAATElEQVQYV2OYNmGaOggvmb8kCoTR+QwwgXmz5tmDMDqfYfn85bEglVP7pqog64TxGXDphPEZ5k2ap0WSG+ZOmIvqBnQ7YXyYQoJuAABKJ4Hmp8ET1QAAAABJRU5ErkJggg==), linear-gradient(to bottom, rgba(32,32,32,1) 0%,rgba(24,24,24,0.95) 70%, rgba(16,16,16,0.7) 100%) !important;min-height:100vh}
	.logo a, #platform-signup a, header[role=banner] nav li a{ color:#fff;}
	.cm-store h2 {font-size: 14px!important;font-weight: 100!important; margin: 0 0 5px 0!important;}
	.cm-showcart{text-align:center!important; display:block!important;}
	.cm-showcart:before{background:none!important;}
	.cm-cartbutton { top: 135px!important; right: 30px!important;}
	.cashmusic.element.store{margin-bottom:60px!important;}
	.cm-store.cm-front {max-width: 100%!important;}
	.cm-store.unfeatured-items { background: #f5f5f5!important; border: solid 1px #ddd!important;}

	@media screen and (min-width: 480px) {
	.cm-grid .cm-store.unfeatured-items .cm-item {width: 24.75%!important;}
	.cm-cartbutton { top: 10px!important; right: 200px!important;}
	}
</style>

   <body class="static-nav">

	<div id="wrapper">
		<header role="banner">
		 <div id="constant">
		   <div id="top">
		      <h1 class="logo"><a href="https://cashmusic.org/"><div class="icon icon-logo"><span>CASH Music</span></div></a></h1><!--logo-->
		         <div class="menutoggle"></div><!-- menutoggle -->
		      <nav class="pure-u-1 pure-u-md-1-2">
		           <ul class="pure-u-1">
		             <li><a class="home" href="https://cashmusic.org/">Home</a></li>
		             <li><a class="about" href="http://about.cashmusic.org/">About us</a></li>
		             <li><a class="platform" href="http://platform.cashmusic.org/">Tools</a></li>
		             <li><a class="watt" href="https://watt.cashmusic.org/">Watt</a></li>
		             <li><a class="family" href="https://family.cashmusic.org/">Family</a></li>
		             <li><a class="donate" href="https://donate.cashmusic.org/">Donate</a></li>
		           </ul>
		      </nav>
		      <div id="platform-signup">
		           <a href="https://cashmusic.org/admin/dosignup/" target="_blank">Sign up</a> <span>or</span><a class="login" href="https://cashmusic.org/admin/" target="_blank">Login</a>
		      </div><!--platform-signup-->
		    </div><!--top-->
		 </div><!--constant-->
		</header>

		<main id="main"  role="main">
			<article class="pure-u-1">
            <section class="pure-u-1 article-content">
					<section class="pure-u-6-24"></section>
					<section class="pure-u-1-2">
						<h2>{{contextual_name}}</h2>
               	{{{contextual_message}}}
               </section><!--article-content-->
					<section class="pure-u-6-24"></section>
            </section><!--article-content-->
         </article>
		</main>
	</div><!--wrapper-->

   </body>
</html>
