RewriteEngine On 
Options +FollowSymlinks 
Options -Indexes 
RewriteBase /

# remove www. from all requests
#
#
# IMPORTANT ------- added 12/12/2008 ------- need to test www. removal below:
#
# RewriteCond %{HTTP_HOST} ^www.(.*) [NC]
# RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# create controller redirects
#
# with subdomain
RewriteCond %{HTTP_HOST} ([^.]+)\.([^.]+)\.(.*)
RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule (.*) index.php?p=$1&c=%1 [L]
#
# no subdomain
RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule (.*) index.php?p=$1 [L]

AddHandler php5-script .php
