html {margin:0;padding:0;height:100%;}
body {color:#231F20;background-color:#fafaf8;text-align:left;font:14px/1.5em helveticaneue,"helvetica neue",helvetica,"segoe ui","segoe wp",arial,sans-serif;margin:0;padding:0;min-height:300px;text-rendering:optimizelegibility;height:100%;}
h1 {color:#ff0;font-size:96px;margin:0 0 0 -5px;}
h2, h3, h4, h5 {color:inherit;}
a {color:rgb(8, 145, 223);}
a:hover {color:#000;}
ul {padding-left:16px;}
.cashmusic_video_container {position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;}
.cashmusic_video_container iframe, .cashmusic_video_container object, .cashmusic_video_container embed {position:absolute;top:0;left:0;width:100%;height:100%;}

/* FORMS */
form span {line-height:2.5em;}
input,textarea,select {font:italic 14px/1.25em georgia, times, serif !important;border:1px solid #dddddf !important;width:98% !important;padding:8px !important;box-sizing:border-box !important;-moz-box-sizing:border-box !important;-webkit-box-sizing:border-box !important;border-radius:0px !important;box-shadow:none !important}
input:active, input:focus, textarea:focus {outline:0;border:1px solid #888 !important;}
input.button, a.mockbutton {background-color:rgb(8, 145, 223);padding:8px 18px 8px 18px !important;font:bold 14px/1.25em helvetica,"segoe ui","segoe wp",arial,sans-serif !important;cursor:pointer;width:auto !important;border:1px solid transparent;color:#fff;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;

}
input.button:hover {background-color:#000 !important;color:#fff;}
input.checkorradio {width:auto !important;margin-top:8px;}
label {font-size:11px;text-transform:uppercase;color:#a49c9c;}
select {height:34px;line-height:34px;width:100%;padding:8px;border:none;background-color:#ededef;background-image:linear-gradient(top, #dfdfdf 0%, #efefef 100%);background-image:-moz-linear-gradient(top, #dfdfdf 0%, #efefef 100%);border-radius:5px;}
select option {padding:8px;}
select:active, select:focus {outline:2px solid #ff0;}
textarea.tall {height:200px;}

.section {padding-top:16px;margin-bottom:180px;}
#about a {color:#df9b08;}
#about a:hover {color:#000;}
#hellospc {position:absolute;top:35%;left:100px;color:#fff;font-size:14px;line-height:1.5em;}
#jackson {position:absolute;top:0px;left:-1px;width:101%;height:130%;background-image:url(../images/jackson.jpg);background-position:center center;background-size:cover;}
#mainnav {position:fixed;bottom:10%;width:100%;background-color:#ff0;z-index:654321;}
#mainnavlinks {padding-left:100px;padding-top:1px;padding-bottom:12px;font-weight:bold;font-size:1.5em;line-height:1.25em;}
#mainnavlinks a {color:#000;margin-right:32px;white-space:nowrap;}
#mainspc {position:relative;z-index:500;padding-top:64px;}
#platform a, #nextmilestone a {color:#df0854;}
#platform a:hover, #nextmilestone a:hover {color:#000;}
#topspc {position:relative;width:100%;height:65%;background-color:#000;overflow:hidden;z-index:600;}
#topspc a {color:#c4ee00;}
#videobg {position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(35,31,32,0);z-index:10;}

 @media only screen and (max-width: 480px){
 	#hellospc {top:4px;left:16px;font-size:12px;}
 	.section {padding-top:4px;margin-bottom:40px;}
     #mainspc {margin-top:4px;}
 	#mainnav {position:static;}
 	#mainnavlinks {padding-left:16px;line-height:1.5em;}
 	#mainnavlinks a {display:block;position:relative;width:1px;}
 }

 a:visited {color:auto;}
 .issue {font-size:11px;margin-left:6px;}