<style>
    .account-settings {
        float: right;
        right: 0px;
    }
    .feed-button {
        float: right;
        text-decoration: none;
        text-align: center;
        font-size: 12px;
        background: #ddd;
        color: #fff!important;
        padding: 12px 20px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        display: inline-block;
        background-color: rgba(128,47,198,0.9);
    }

    .feed-button:hover {
        cursor: pointer;
        background-color: rgba(128,47,198,0.5);
    }

    .feed-button:last-child {
        margin-right: 5px;

    }
</style>
<div class="cm-sub-logo"></div>

<div id="cm-subscription-feed">

    <div class="account-settings">
        <a href="#" class="feed-button">Logout</a>
        <a href="#" class="feed-button cm-feed">Return to feed</a>

    </div>

    <h1 class="cm-success-title">Account Settings</h1>
    {{>partials/feed_header}}
    <h3>Shipping Address</h3>
    <p>
        Tom Filepp<br>
        3124 SE 8th Ave<br>
        Portland, OR 97202
    </p>

    <a href="#" class="button cm-address">Update Address</a>

    <h3>Subscription settings</h3>
    <p><strong>$15</strong> per month</p>
    <a href="#" class="button cm-billing">Change payment source</a>
    <a href="#" class="button cm-amount">Change contribution amount</a>

    <a href="#" class="button cm-cancel">Cancel my subscription</a>
</div>

<script type="text/javascript">

    var cm = window.cashmusic;

    cm.events.add(cm,'ready', function(e) {

        cm.session.start();

        var feed = document.querySelector('.cm-feed');
        var logout = document.querySelector('.cm-logout');

        if (feed) {
            cm.events.add(feed, 'click', function (e) {
                e.preventDefault();
                cm.overlay.reveal({"element":"{{element_id}}","endpoint":"{{public_url}}","state":"logged_in_index"});
            });
        }

        if (logout) {
            cm.events.add(logout, 'click', function (e) {
                e.preventDefault();
                cm.overlay.reveal({"element":"{{element_id}}","endpoint":"{{public_url}}","state":"logout"});
            });
        }

    });

</script>