<style>
    #modal_dialog {
        display: inline-block;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.6);
        color: #fff;
        padding: 15px;

    }
    .account-settings {
        position: absolute;
        z-index: 9999;
        right: 0px;
        margin-top: -77px;
    }
    .feed-button {
        float: right;
        text-decoration: none;
        text-align: center;
        font-size: 12px;
        background: #ddd;
        color: #fff!important;
        padding: 12px 20px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        display: inline-block;
        background-color: rgba(128,47,198,0.9);
    }

    .feed-button:hover {
        cursor: pointer;
        background-color: rgba(128,47,198,0.5);
    }

    br {
        display: block !important;
    }

    .feed-button:last-child {
        margin-right: 5px;

    }
</style>
<div class="cm-sub-logo"></div>

<div id="cm-subscription-feed">

    <div class="account-settings">
        <a href="#" class="feed-button">Logout</a>
        <a href="#" class="feed-button cm-feed">Return to feed</a>

    </div>

    <h1 class="cm-success-title">Account Settings</h1>

    {{#form_result}}
        <div class="message">
            <p>{{form_result}}</p>
        </div>
    {{/form_result}}
    {{#address}}
    <h3>Shipping Address</h3>
    <p>
        <strong>{{customer_shipping_name}}</strong><br>
        {{customer_address1}}<br>
        {{#customer_address2}}
            {{customer_address2}}<br>
        {{/customer_address2}}
        {{customer_city}}, {{customer_region}} {{customer_postalcode}} {{customer_countrycode}}
    </p>
    {{/address}}

    <a href="#" class="button cm-address">Update Address</a>

    <h3>Subscription settings</h3>
    <p><strong>Status</strong> {{subscriber.status}}</p>
    <p><strong>Member since </strong> {{subscriber.start_date}}</p>
    <p><strong>Payment source</strong> {{customer.brand}} ending in {{customer.last_four}}, expires {{customer.expiry}} </p>
    <p><strong>Contribution</strong> {{currency}}{{customer.payment}}/per {{customer.interval}}</p>
    <p><strong>Next renewal date</strong> {{customer.expires}}</p>
    <a href="#" class="button cm-billing">Change payment source</a>
    <a href="#" class="button cm-amount">Change contribution amount</a>

    <a href="#" class="button cm-cancel">Cancel my subscription</a>
</div>

{{> account/partials/confirm }}

<script type="text/javascript">

    var cm = window.cashmusic;

    cm.events.add(cm,'ready', function(e) {

        cm.session.start();
        cm.session.setid({"id":"{{session_id}}"});

        var feed = document.querySelector('.cm-feed');
        var logout = document.querySelector('.cm-logout');

        var address = document.querySelector('.cm-address');
        var cancel = document.querySelector('.cm-cancel');


        if (feed) {
            cm.events.add(feed, 'click', function (e) {
                e.preventDefault();
                cm.overlay.reveal({"element":"{{element_id}}","endpoint":"{{public_url}}","state":"logged_in_index"});
            });
        }

        if (logout) {
            cm.events.add(logout, 'click', function (e) {
                e.preventDefault();
                cm.overlay.reveal({"element":"{{element_id}}","endpoint":"{{public_url}}","state":"logout"});
            });
        }

        if (address) {
            cm.events.add(address, 'click', function (e) {
                e.preventDefault();
                cm.overlay.reveal({"element":"{{element_id}}","endpoint":"{{public_url}}","state":"account_address"});
            });
        }

        if (cancel) {
            cm.events.add(cancel, 'click', function (e) {
                e.preventDefault();
                cm.overlay.confirm({"element":"{{element_id}}","endpoint":"{{public_url}}","state":"cancel", "message":"This is a confirmation message", "cancel":"account_settings"});
            });
        }

    });

</script>