<form method="post" action="">
	<input type="hidden" name="doelementedit" value="makeitso">
	<input type="hidden" name="element_id" value="{{element_id}}">
	<h3>Element Details</h3>

	<label for="element_name">Name</label><br />
	<input type="text" id="element_name" name="element_name" value="{{element_name}}" /> 

	<div class="row_seperator">.</div>
	<div class="col_oneoftwo">

		<label for="asset_id">Target Mailing List</label><br />
		<select id="email_list_id" name="email_list_id">
			<option value="0">none</option>
			{{list_form_options}}
		</select>
		<br /><br />
		<input type='checkbox' class='checkorradio' name='do_not_verify' value=''{{#do_not_verify_checked}} checked="checked"{{/do_not_verify_checked}} /> <label for="do_not_verify">Skip email verification</label>

	</div>
	<div class="col_oneoftwo lastcol">

		<label for="asset_id">The Downloadable Asset</label><br />
		<select id="asset_id" name="asset_id">
			<option value="0">none</option>
			{{asset_form_options}}
		</select>
		
		<br /><br />

		<a href="{{www_base}}/assets/add/"><small>OR ADD NEW ASSET</small></a>
		
	</div>

	<div class="row_seperator">.</div>
	<br />
	<label for="message_invalid_email">Invalid Email Error Message</label><br />
	<input type="text" id="message_invalid_email" name="message_invalid_email" value="{{message_invalid_email}}" />

	<div class="row_seperator">.</div>
	<label for="message_privacy">Privacy Message</label><br />
	<input type="text" id="message_privacy" name="message_privacy" value="{{message_privacy}}" />

	<div class="row_seperator">.</div>
	<label for="message_success">Success Message</label><br />
	<input type="text" id="message_success" name="message_success" value="{{message_success}}" />

	<div class="row_seperator">.</div>
	<div>
		<br />
		<input class="button" type="submit" value="{{submit_action_message}}" />
	</div>

</form>