<form method="post" action="">
	<input type="hidden" name="{{form_state_action}}" value="makeitso">
	{{#element_id}}<input type="hidden" name="element_id" value="{{element_id}}" />{{/element_id}}
	{{#element_type}}<input type="hidden" name="element_type" value="{{element_type}}" />{{/element_type}}
	<h3>Element Details</h3>

	<label for="element_name">Name</label><br />
	<input type="text" id="element_name" name="element_name" value="{{#element_name}}{{element_name}}{{/element_name}}"{{^element_name}} placeholder="Give It A Name"{{/element_name}} /> 

	<div class="row_seperator">.</div>
	<div class="col_oneoftwo">

		<label for="email_list_id">Target Mailing List</label><br />
		<select id="email_list_id" name="email_list_id">
			<option value="0">none</option>
			{{{options_people_lists}}}
		</select>
		<br /><br />
		<input type='checkbox' class='checkorradio' name='do_not_verify' value=''{{#options_do_not_verify}} checked="checked"{{/options_do_not_verify}} /> <label for="do_not_verify">Finalize/download without email verification (instant)</label>

	</div>
	<div class="col_oneoftwo lastcol">

		<label for="asset_id">The Downloadable Asset</label><br />
		<select id="asset_id" name="asset_id">
			<option value="0">none</option>
			{{{options_assets}}}
		</select>
	</div>

	<div class="row_seperator">.</div>
	<br />
	<label for="message_invalid_email">Invalid Email Error Message</label><br />
	<input type="text" id="message_invalid_email" name="message_invalid_email" value="{{#options_message_invalid_email}}{{options_message_invalid_email}}{{/options_message_invalid_email}}{{^options_message_invalid_email}}Sorry, that email address wasn't valid. Please try again.{{/options_message_invalid_email}}" />

	<div class="row_seperator">.</div>
	<label for="message_privacy">Privacy Message</label><br />
	<input type="text" id="message_privacy" name="message_privacy" value="{{#options_message_privacy}}{{options_message_privacy}}{{/options_message_privacy}}{{^options_message_privacy}}We won't share, sell, or be jerks with your email address.{{/options_message_privacy}}" />

	<div class="row_seperator">.</div>
	<label for="message_success">Success Message</label><br />
	<input type="text" id="message_success" name="message_success" value="{{#options_message_success}}{{options_message_success}}{{/options_message_success}}{{^options_message_success}}Thanks! You're all signed up. Here's your download.{{/options_message_success}}" />

	<div class="row_seperator">.</div>
	<div>
		<br />
		<input class="button" type="submit" value="{{element_button_text}}" />
	</div>

</form>