<div class="cash_mustverify {{element_type}}">
	<p>
	You must verify your email address to continue. An email has been sent. Click the link provided and you will be brought back here.
	</p><p>
	(If you do not see the message, check your SPAM folder.)
	</p>
</div>