<div class="cash_success {{element_type}}">
	<div>
	{{{message_success}}}
	</div>
	{{#fulfillment_assets}}
	<br />
	<a href="?cash_request_type=asset&cash_action=claim&id={{id}}&element_id={{element_id}}" class="download">{{title}}</a> 
	<div class="description">{{description}}</div>
	<br /><br />
	{{/fulfillment_assets}}
</div>