<div class="twelve columns">
	<h4 class="fadedtext">CASH Music</h4>
	<h1>Hi. Let’s get started.</h1>

	<div>
		<div class="callout">
				<h3>What do you want to do today?</h3>
				<p>
					The CASH Music platform has a lot to offer, but it can be
					a lot to take in all at once. Here are a few of the more 
					common things you can do, simplified into just a few steps:
				</p>
				<ul class="nobullets">
					<li><a href="{{www_path}}/walkthrough/es/1" class="button">Create an email-for-download campaign.</a></li>
					<li><a href="{{www_path}}/walkthrough/ds/1" class="button">Sell a download.</a></li>
					<li><br /><br /><br /><a href="{{www_path}}/walkthrough/advanced" class="smallertext">Skip to the advanced-mode admin.</a></li>
				</ul>

				<img src="{{img_base_url}}/ui/default/assets/images/bg_simple.jpg" style="position:absolute;bottom:0;right:70px;width:149px;height:116px;" />
		</div>
	</div>
</div>