<div class="twelve columns">
	<h4 class="fadedtext">CASH Music</h4>
	<h1>Digital purchase.</h1>

	<div>
		<div class="callout">
				<h3>Step 1 of 3: the download</h3>
				<p>
					To get started just connect your google drive by logging in to 
					a gmail account and giving permissions. After that you'll be able 
					to choose an existing file on your drive or upload a new one.
				</p>

				<div class="hidefromsimplemode">
					{{{state_markup}}}
				</div>

				<ul class="nobullets">
					<li><br /><br /><a href="{{www_path}}/walkthrough/begin" class="smallertext">Start over.</a></li>
				</ul>
		</div>
	</div>
</div>