<div class="twelve columns">
	<h2 id="pagetitle"><img src="{{www_path}}/ui/default/assets/images/badge.png" alt="" /><span>Connect to PayPal.</span></h2>

	<div>
		<div class="callout">
				<h3>Step 2 of 3: your PayPal email address</h3>
				<p>
					Enter your PayPal email address so we know where to send purchases. You'll 
					need a verified Business or Premier Paypal account to connect properly. Those are 
					free upgrades, which you can learn more about 
					<a href="https://cms.paypal.com/cgi-bin/?cmd=_render-content&content_ID=developer/EC_setup_permissions">here</a>.
				</p>

				<div class="hidefromsimplemode">
					{{{state_markup}}}
				</div>
		</div>
	</div>
</div>