<div class="twelve columns">
	<h4 class="fadedtext">CASH Music</h4>
	<h1>Say hello.</h1>

	<div>
		<div class="callout">
			<h3>Step 3 of 3: make it yours</h3>
			<p>
				You've finished the digital purchase element. Try adding 
				a message to the page. Anything you like — including 
				YouTube or Vimeo embeds, SoundCloud, etc. Whatever you 
				type or embed here will sit right above the purchase element on 
				your page.
			</p>
			<form name="staticcontent" method="post" action="{{www_path}}/walkthrough/ds/6">
				<input type="hidden" name="doelementadd" value="makeitso">
				<input type="hidden" name="element_type" value="staticcontent" />	
				<input type="hidden" name="element_name" value="A welcome message" /> 

				<label>Welcome message</label>
				<textarea id="element_content" name="element_content"></textarea>
				
				<br />
				<input class="button" type="submit" value="Colors, fonts, and background" />
			</form>
		</div>
	</div>
</div>