<div class="twelve columns">
	<h4 class="fadedtext">CASH Music</h4>
	<h1>Email signup.</h1>

	<div>
		<div class="callout">
				<h3>Step 1 of 3: the download</h3>
				<p>
					A download isn't actually required, but without it you're really just asking for 
					email addresses. This way you can give a little thank you to your fans for 
					signing up. It can be anything really - a photo, song, video, drawing, etc.   

					To get started just connect your google drive by logging in to a gmail account 
					and giving permissions. After that you'll be able to choose an existing file on 
					your drive or upload a new one.
				</p>

				<div class="hidefromsimplemode">
					{{{state_markup}}}
				</div>

				<ul class="nobullets">
					<li><br /><br /><a href="{{www_path}}/walkthrough/es/3" class="smallertext">Don't offer a download, just collect email for now.</a></li>
				</ul>
		</div>
	</div>
</div>