<div class="twelve columns">
	<h4 class="fadedtext">CASH Music</h4>
	<h1>Almost done.</h1>

	<div>
		<div class="callout">
				<h3>Step 3 of 3: make it yours</h3>
				<p>
					Now it's time to customize. First, let's set success and
					error messages. These are what people who sign up will see.
				</p>

				<form accept-charset="UTF-8" action="{{www_path}}/walkthrough/es/5" method="post">
					<input type="hidden" name="doelementadd" value="makeitso">
					<input type="hidden" name="element_type" value="emailcollection" />
					<input type="hidden" name="element_name" value="Email signup created automatically" />
					
					<label for="message_success">Success Message</label>
					<input type="text" id="message_success" name="message_success" value="{{#options_message_success}}{{options_message_success}}{{/options_message_success}}{{^options_message_success}}Thanks! You're all signed up. Here's your download.{{/options_message_success}}" />
					
					<label for="message_invalid_email">Invalid Email Error Message</label>
					<input type="text" id="message_invalid_email" name="message_invalid_email" value="{{#options_message_invalid_email}}{{options_message_invalid_email}}{{/options_message_invalid_email}}{{^options_message_invalid_email}}Sorry, that email address wasn't valid. Please try again.{{/options_message_invalid_email}}" />

					<label for="message_privacy">Privacy Message</label>
					<input type="text" id="message_privacy" name="message_privacy" value="{{#options_message_privacy}}{{options_message_privacy}}{{/options_message_privacy}}{{^options_message_privacy}}We won't share, sell, or be jerks with your email address.{{/options_message_privacy}}" />
				
					<br />

					<input type ="submit" value="Add a welcome message" />
				</form>
		</div>
	</div>
</div>