*.sw?
*.bak
framework/settings/cashmusic.ini.php
framework/settings/connections.json
framework/db/*
interfaces/admin/terms.md
interfaces/admin/privacy.md
testinstall/*
sandbox/*

.vagrant/*

__test_environment.json

.DS_Store