*.sw?
*.bak
framework/cache/*
framework/php/cache/*
framework/php/settings/cashmusic.ini.php
framework/php/settings/connections.json
framework/db/*
framework/php/db/*
interfaces/php/admin/terms.md
interfaces/php/admin/privacy.md
testinstall/*
sandbox/*

__test_environment.json

.DS_Store