<div id='modal_dialog'>
    <div class='title'>
        Are you sure you want to cancel?
    </div>
    <input class="feed-button" type='button' value='yes' id='btnYes' />
    <input class="feed-button" type='button' value='no' id='btnNo' />
</div>