<div id='modal_dialog'>
    <h2>Are you sure you want to cancel?</h2>

    <a href="#" class="feed-button confirm" data-continue="true">Yes</a>
    <a href="#" class="feed-button confirm" data-continue="false">No</a>
</div>