<style>
    .account-settings {
        position: absolute;
        z-index: 9999;
        right: 0px;
        margin-top: -77px;
    }
    .feed-button {
        float: right;
        text-decoration: none;
        text-align: center;
        font-size: 12px;
        background: #ddd;
        color: #fff!important;
        padding: 12px 20px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        display: inline-block;
        background-color: rgba(128,47,198,0.9);
    }

    .feed-button:hover {
        cursor: pointer;
        background-color: rgba(128,47,198,0.5);
    }

    .feed-button:last-child {
        margin-right: 5px;

    }
</style>
<div class="cm-sub-logo"></div>

<div id="cm-subscription-feed">

    <div class="account-settings">
        <a href="#" class="feed-button">Logout</a>
        <a href="#" class="feed-button cm-feed">Return to feed</a>
        <a href="#" class="feed-button cm-account-settings">Account Settings</a>

    </div>