<!DOCTYPE html>
<html lang="en">
<head> 
<title>CASH Music / Documentation</title>
<meta name="description" content="CASH Music is a nonprofit that empowers musicians through free/open technology and learning." />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width" />

<link rel="icon" href="/docs/assets/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="assets/css/foundation.min.css" />
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="assets/css/app.css" />
</head> 
<body>

	<div id="nav">
		<h1 id="logo"><a href="/"><img src="assets/images/invert_logo.png" alt="CASH Music"></a></h1>
	</div>

	<ul id="docsnav">
		<li class="current toplevel"><a href="#introduction">Introduction</a></li>
		<ul>
			<li><a href="#setup">Setup</a></li>
			<li><a href="#codestandards">Code standards</a></li>
		</ul>
		<li class="toplevel"><a href="#phpapi">PHP API</a></li>
		<ul>
			<li><a href="#requestresponse">Request/response format</a></li>
			<li><a href="#systemrequests">System requests</a></li>
			<li><a href="#assetrequests">Asset requests</a></li>
			<li><a href="#peoplerequests">People requests</a></li>
			<li><a href="#commercerequests">Commerce requests</a></li>
			<li><a href="#calendarrequests">Calendar requests</a></li>
			<li><a href="#elementrequests">Element requests</a></li>
		</ul>
		<li class="toplevel"><a href="#elements">Elements</a></li>
		<li class="toplevel"><a href="#adminapp">Admin app</a></li>
	</ul>

	<div id="mainspc" class="row docs">
		<div class="row">
			<div class="three columns">
				&nbsp;
			</div>
			<div class="nine columns">

				<div class="section" id="introduction">
					<h1>Platform documentation</h1>
					{{{introduction}}}
				</div>

				<div class="section" id="setup">
					{{{setup}}}
				</div>
				
				<div class="section" id="codestandards">
					{{{codestandards}}}
				</div>

				<div class="section" id="phpapi">
					{{{phpapi}}}
				</div>

				<div class="section" id="requestresponse">
					{{{requestresponse}}}
				</div>

				<div class="section" id="systemrequests">
					{{{systemrequests}}}
				</div>

				<div class="section" id="assetrequests">
					{{{assetrequests}}}
				</div>

				<div class="section" id="peoplerequests">
					{{{peoplerequests}}}
				</div>

				<div class="section" id="commercerequests">
					{{{commercerequests}}}
				</div>

				<div class="section" id="calendarrequests">
					{{{calendarrequests}}}
				</div>

				<div class="section" id="elementrequests">
					{{{elementrequests}}}
				</div>

				<div class="section" id="elements">
					{{{elements}}}
				</div>

				<div class="section" id="adminapp">
					{{{adminapp}}}
				</div>


			</div>
		</div>

		<br /><br /><br />
	</div>

	<div id="bottomspc"></div>
	<script src="assets/scripts/jquery.js"></script>
	<script src="assets/scripts/jquery.scrollTo.js"></script>
	<script src="assets/scripts/jquery.nav.js"></script>
	<script>
	$(document).ready(function() {
		$('#docsnav').onePageNav({
			changeHash:true,
			filter:':not(.external)',
			scrollThreshold:0.25
		});
	});
	</script>
</body> 
</html>