{{#error_message}}<div class="cash_error cash_{{element_type}}_error">{{error_message}}</div>{{/error_message}}
{{{message_landing}}}

{{#code}}
   <script type="text/javascript">
      var cm = window.cashmusic;

   	cm.events.add(cm,'ready', function(e) {
         cm.overlay.reveal({"element":"{{element_id}}","endpoint":"{{public_url}}","state":"processcode&processcode={{code}}"});
      });
   </script>
{{/code}}
