/* PHONE-Y STYLE-Y */
html {width:100%;}
body {background:#fff url(../images/cover.jpg) center top no-repeat;background-size:100%;min-width:1px;width:100%;}
#wrap {width:100%;}
#contentspc {float:none;width:92%;text-align:left;padding-top:96%;padding-left:4%;padding-right:4%;}
#contentspc img {display:none;}
#datesspc {float:none;width:92%;padding-top:40px;padding-left:4%;padding-right:4%;}