/* RESETS */
html {height:100%;margin:0;padding:0;}
body {height:100%;margin:0;padding:0;background:#fff url(../images/bg.jpg) left bottom fixed no-repeat;font:11px/1.5em helvetica,arial,sans-serif;color:#000;text-align:left;min-width:860px;}
img {border:0;}
a {color:#f26921;font-weight:bold;text-decoration:none;margin-right:1em;}
a:hover {color:#fef200;}
h2 {font:14px/1.5em 'Abel',helvetica,arial,sans-serif;color:#aee3f0;margin:0;margin-bottom:15px;font-weight:normal;}
p {margin:1em 0 2em 0;}

#wrap {position:relative;width:860px;margin:0 auto;}
#contentspc {position:relative;float:left;width:420px;margin-right:60px;text-align:right;padding-top:80px;line-height:26px;}
#contentspc a {text-transform:uppercase;margin:16px 0 0;font-weight:normal;font-size:14px;color:#111;}
#datesspc {position:relative;float:right;width:380px;padding-top:110px;}

.clearall {height:1px;overflow:hidden;visibility:hidden;clear:both;}

.cash_tourdates_event {margin-bottom:18px;}
.cash_tourdates_date {font-weight:bold;}
.cash_tourdates_comments {display:block;color:#999;}

/* FORMS */
input, textarea {padding:0.42em 8px 0.42em 8px;border:1px solid #999;width:180px;}
textarea {height:4em;overflow:hidden;}
input:active, input:focus, textarea:active, textarea:focus {outline:0;border:1px solid #000;}
input.button {background-color:#ef3a24;padding:0.4em 1.75em 0.4em 1.75em;font-weight:bold;cursor:pointer;width:auto;border:1px solid #999;color:#fff;}
input.button:hover {background-color:#ffbf4f;border:1px solid #999;color:#000;}
input.checkorradio {width:auto;}
label {font-size:0.9em;text-transform:uppercase;color:#000;text-align:right;display:block;width:368px;}