<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="icon" type="image/png" href="http://cashmusic.org/images/icons/cash.png" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>CASH Music / Admin</title>

	<link rel="icon" type="image/png" href="http://cashmusic.org/images/icons/cash.png" />
	<link href="{{www_path}}/ui/default/assets/css/app.css" rel="stylesheet" type="text/css" />
	<link href="{{www_path}}/ui/default/assets/css/offcanvas.css" rel="stylesheet" type="text/css" />
	<link href="{{www_path}}/ui/default/assets/css/responsive-tables.css" rel="stylesheet" type="text/css" />
	<link href="{{www_path}}/ui/default/assets/css/diy-ui/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript">
		var cashAdminPath = "{{www_path}}";
		var currentSection = "{{section_name}}";
		document.write('<style type="text/css">#pagetips {display:none;}.nojs {display:none;}.onlyjs {display:inline;}</style>');
	</script>

	<script src="//www.google.com/jsapi"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/modernizr.foundation.js" type="text/javascript"></script>
	<script src="{{jquery_url}}" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery-ui-1.9.0.custom.min.js" type="text/javascript"></script>
</head>
<body id="page" class="off-canvas hide-extras">

	<style type="text/css">
		a.reset {font-size:11px;text-transform:uppercase;color:#a49c9c;}
		a.reset:hover {color:#ff0 !important;text-decoration:none;}
		#mainspc {padding-top:0;}
		#navmenu {top:0;height:6px;overflow:hidden;padding-top:0;padding-bottom:0;}
		#navmenu .navitem:hover {background-image:none;cursor:auto;}
		#pagedisplay {position:relative;margin:150px auto 0 auto;background:#fff url({{www_path}}/ui/default/assets/images/top_right.png) right top no-repeat;padding:24px;box-shadow:-2px 2px 2px rgba(0,0,0,0.1);z-index:100;}
		#jackson {position:absolute;top:-182px;right:120px;z-index:500;}
		h1 {position:relative;font-size:72px;margin:6px 0 26px 0;white-space:nowrap;z-index:100;}
		.cash_browserid_button {width:120px;height:30px;margin-top:6px;}
		#forgotlink {font-size:11px;color:#a49c9c;}
		#chromespc {z-index:500;}
		#pagecontent {z-index:100;}
		@media only screen and (max-width: 767px) {
			#jackson {right:auto;left:5px;}
		}
	</style>

<div id="wrap">
	<div id="mainspc">

		<div id="chromespc"></div>

		<div id="pagecontent" class="row">
			<div id="pagedisplay">
				<img src="{{img_base_url}}/ui/default/assets/images/jacksonlogin.png" id="jackson" width="245" height="270" alt="I CAN EAT ALL THE CHERRIES!!!" />
				{{#reset_message}}
					<span class="highlightcopy">{{reset_message}}</span>
				{{/reset_message}}
				<h1{{#login_error}} class="tryagain"{{/login_error}}>{{login_message}}</h1>
				<div class="row">
					<div class="six columns">
						<form method="post" id="cash_signin_form" action="">
							<div class="row">
								<div class="six columns">
									<label for="address">email</label>
									<input type="text" name="address" value="" />
								</div>
								<div class="six columns">
									<label for="address">password</label> {{#donotshowthisrightnow}}<a href="?showpasswordreset" class="reset">(Forget your password?)</a>{{/donotshowthisrightnow}}
									<input type="password" name="password" value="" />
									<a href="#" id="forgotlink">forgot your password?</a>
									<input type="hidden" name="login" value="1" />
									<input type="hidden" id="browseridassertion" name="browseridassertion" value="-1" />
								</div>
							</div>
							
							<div class="usecolor4"><input type="submit" value="log in" class="button" /></div>
						</form>
					</div>
					<div class="one column"></div>
					<div class="five columns">
						<label>Or log in with:</label>
						<a href="javascript:void(0)" id="browserid_login_link"><img src="{{img_base_url}}/ui/default/assets/images/browserid.png" alt="log in with browser id" class="cash_browserid_button" /></a>
					</div>
				</div>
			</div>

			{{{legal_markup}}}

		</div>

	</div>

</div>

<div id="footer">
	<div class="row">
		<div class="twelve columns">
			<p><b>&copy; 2013 CASH Music.</b> All our code is open-source. <a href="{{www_path}}/licenses/" style="margin-left:0;">Learn more</a>. {{#showterms}}<a href="{{www_path}}/_?showlegal=1">Terms of service</a> {{/showterms}}{{#showprivacy}}<a href="{{www_path}}/_?showlegal=1">Privacy policy</a> {{/showprivacy}}<a href="http://cashmusic.org/#more" class="donatelink"><b>Donate</b></a></p>
		</div>
	</div>
</div>

{{#reset_key}}
	<div class="modalbg surviveload"><div class="modaldialog">
		<div class="row">
			<div class="three columns"></div><div class="six columns">
				<h4>Password reset</h4>Enter a new password. At least {{minimum_password_length}} characters.<br />
				<form action="{{reset_action}}" id="password_reset_form" method="post">
				<input type="hidden" name="finalizepasswordreset" value="go" />
				<input type="hidden" name="key" value="{{reset_key}}" />
				<input type="hidden" name="address" value="{{reset_email}}" />
				<input type="password" id="new_password" name="new_password" autocomplete="off" />
				<label for="toggle_password" style="color:#222;"><input type="checkbox" id="toggle_password" />Reveal text</label>
				<br />
				<input type="button" class="button modalcancel" value="Cancel" />
				<input type="button" id="do_submit" class="button modalyes" value="Change password" />
				</form>
			</div><div class="three columns"></div>	
		</div>
		<script type="text/javascript">
			// http://www.electrictoolbox.com/toggle-password-field-text-password/
			(function() {
				try {
					var p = document.getElementById('new_password');
					p.type = 'text';
					p.type = 'password';

					var toggle = document.getElementById('toggle_password');
					toggle.addEventListener('click', toggleClicked, false);
					toggle.style.display = 'inline';
					
				}
				catch(err) {}
			})();

			function toggleClicked() {
				var p = document.getElementById('new_password');
				var value = p.value;

				if(p.type == 'password') {
					p.type = 'text';
				}
				else {
					p.type = 'password';
				}
				
				p.value = value;
			}

			$('#do_submit').click(function() {
				var n = $('#new_password').val();
				if (n.length < {{minimum_password_length}}) {
					alert('Your password must be at least {{minimum_password_length}} characters.');
				} else {
					$('#password_reset_form').submit();
				}
			});
		</script>
	</div></div>
{{/reset_key}}

{{{browser_id_js}}}

<script type="text/javascript">
	function doEmailSend() {
		// markup for the confirmation link
		var markup = '<div class="modalbg"><div class="modaldialog">' +
					 '<div class="four columns"></div><div class="four columns">' +
					 '<h4>Password reset?</h4>Enter your email, we\'ll send a reset link.<br /><br />' +
					 '<form action="" method="post">' +
					 '<input type="hidden" name="dopasswordresetlink" value="engage" />' +
					 '<input type="text" name="address" value="" placeholder="your email address" />' +
					 '<input type="button" class="button modalcancel" value="Cancel" />' +
					 '<input type="submit" class="button modalyes" value="Send it" />' +
					 '</form>' +
					 '</div><div class="four columns"></div>' +
					 '</div></div>';
		markup = jQuery(markup);
		markup.hide();
		jQuery('body').append(markup);

		// show the dialog with a fast fade-in
		jQuery('.modalbg').fadeIn('fast');
	}

	jQuery('#forgotlink').on('click', function(e) {
		e.preventDefault();
		doEmailSend();
	});

	// overlay cancel button event
	$(document).on('click', '.modalcancel', function(e) {
		e.preventDefault();
		$('.modallightbox').fadeOut('fast', function() {
				$('.modallightbox').remove();
			});
		$('.modalbg').fadeOut('fast', function() {
			$('.modalbg').remove();
		});
	});
</script>
</body>
</html>