<!DOCTYPE html>
<html>
<head>
	<title>CASH Music: Admin</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="icon" type="image/png" href="http://cashmusic.org/images/icons/cash.png" />
	<link href="{{www_path}}/ui/default/assets/css/admin.css" rel="stylesheet" type="text/css" />
	<link href="{{www_path}}/ui/default/assets/css/diy-ui/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript">
		var cashAdminPath = "{{www_path}}";
		var currentSection = "{{section_name}}";
		document.write('<style type="text/css">#pagetips {display:none;}.nojs {display:none;}.onlyjs {display:inline;}</style>');
	</script>

	<script src="http://www.google.com/jsapi"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/modernizr-2.6.1.custom.min.js" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery-ui-1.9.0.custom.min.js" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.iframe-transport.js" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.fileupload.js" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.admin.js" type="text/javascript"></script>
</head>
<body>

	<style type="text/css">
		a.reset {font-size:11px;text-transform:uppercase;color:#a49c9c;}
		a.reset:hover {color:#ff0 !important;text-decoration:none;}
		#mainspc {padding-top:0;}
		#navmenu {top:0;height:6px;overflow:hidden;padding-top:0;padding-bottom:0;}
		#navmenu .navitem:hover {background-image:none;cursor:auto;}
		#pagedisplay {position:relative;margin:150px auto 0 auto;background:#fff url({{www_path}}/ui/default/assets/images/top_right.png) right top no-repeat;padding:24px;box-shadow:-2px 2px 2px rgba(0,0,0,0.1);}
		#jackson {position:absolute;top:-182px;right:110px;}
		#alternatelogins {padding-left:32px;}
		h1 {font-size:36px;margin:6px 0 26px 0;white-space:nowrap;}
		.cash_browserid_button {width:120px;height:30px;margin-top:6px;}
		.fakelabel, #forgotspace {font-size:11px;text-transform:uppercase;color:#a49c9c;}
		#forgotspace {text-transform:lowercase;margin-top:6px;}
	</style>

<div id="wrap">
	<div id="mainspc">

		<div id="chromespc">
			<div id="accountspc"></div>
			<div id="navmenu">
				<div class="navitem bgcolor1"></div>
				<div class="navitem bgcolor2"></div>
				<div class="navitem bgcolor3"></div>
				<div class="navitem bgcolor4"></div>
				<div class="navitem bgcolor5"></div>
			</div>
		</div>

		<div id="pagecontent">
			<div id="pagedisplay">
				<img src="{{www_path}}/ui/default/assets/images/jacksonlogin.png" id="jackson" width="245" height="270" alt="I CAN EAT ALL THE CHERRIES!!!" />
				{{#reset_message}}
					<span class="highlightcopy">{{reset_message}}</span><div class="row_seperator">.</div>
				{{/reset_message}}
				<div class="col_oneoftwo">
					<h1{{#login_error}} class="tryagain"{{/login_error}}>{{login_message}}:</h1>

					<form method="post" id="cash_signin_form" action="">
						<div class="col_oneoftwo">
							<label for="address">email</label><br />
							<input type="text" name="address" value="" />
						</div>
						<div class="col_oneoftwo lastcol">
							<label for="address">password</label> {{#donotshowthisrightnow}}<a href="?showpasswordreset" class="reset">(Forget your password?)</a>{{/donotshowthisrightnow}}<br />
							<input type="password" name="password" value="" /><br />
							<input type="hidden" name="login" value="1" />
							<input type="hidden" id="browseridassertion" name="browseridassertion" value="-1" />
							<div id="forgotspace">
								<a href="#" id="forgotlink">Forgot your password?</a>
							</div>
						</div>
						<div class="row_seperator">.</div>
						<div class="usecolor4"><input type="submit" value="log in" class="button" /></div>
					</form>
				</div>
				<div class="col_oneoftwo lastcol">
					<div id="alternatelogins">
						<h1>&nbsp;</h1>
						<span class="fakelabel">Or log in with:</span><br />
						<a href="javascript:void(0)" id="browserid_login_link"><img src="{{www_path}}/ui/default/assets/images/browserid.png" alt="log in with browser id" class="cash_browserid_button" /></a>
					</div>
				</div>
				<div class="row_seperator">.</div>
			</div>
		</div>

	</div>

</div>

<div id="footer">
	<p><b>&copy; 2011 CASH Music.</b> All our code is open-source. <a href="{{www_path}}/licenses/" style="margin-left:0;">Learn more</a>. <a href="http://help.cashmusic.org/">Get help</a> <a href="http://cashmusic.org/donate" class="donatelink"><b>Donate</b></a></p>
</div>

{{#reset_key}}
	<div class="modalbg"><div class="modaldialog">
		<h2>Password reset</h2>Enter a new password for your account.<br /><br />
		<div class="tar">
			<form action="{{reset_action}}" method="post">
			<input type="hidden" name="finalizepasswordreset" value="go" />
			<input type="hidden" name="key" value="{{reset_key}}" />
			<input type="hidden" name="address" value="{{reset_email}}" />
			<input type="password" name="newpassword" value="" /><br /><br />
			<input type="button" class="button modalcancel" value="Cancel" />
			<input type="submit" class="button modalyes" value="Change password" />
			</form>
		</div>
	</div></div>
{{/reset_key}}

{{{browser_id_js}}}

<script type="text/javascript">
	function doEmailSend() {
		// markup for the confirmation link
		var markup = '<div class="modalbg"><div class="modaldialog">' +
					 '<h2>Password reset?</h2>Enter your email, we\'ll send a reset link.<br /><br /><div class="tar">' +
					 '<form action="" method="post">' +
					 '<input type="hidden" name="dopasswordresetlink" value="engage" />' +
					 '<input type="text" name="address" value="" placeholder="your email address" /><br /><br />' +
					 '<input type="button" class="button modalcancel" value="Cancel" />' +
					 '<input type="submit" class="button modalyes" value="Send it" />' +
					 '</form>' +
					 '</div></div></div>';
		markup = jQuery(markup);
		markup.hide();
		jQuery('body').append(markup);

		// show the dialog with a fast fade-in
		jQuery('.modalbg').fadeIn('fast');
	}

	jQuery('#forgotlink').on('click', function(e) {
		e.preventDefault();
		doEmailSend();
	});
</script>
</body>
</html>