<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="icon" type="image/png" href="http://cashmusic.org/images/icons/cash.png" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>CASH Music / Admin</title>

	<link rel="icon" type="image/png" href="http://cashmusic.org/images/icons/cash.png" />
	<link href="{{www_path}}/ui/default/assets/css/app.css" rel="stylesheet" type="text/css" />
	<link href="{{www_path}}/ui/default/assets/css/offcanvas.css" rel="stylesheet" type="text/css" />
	<link href="{{www_path}}/ui/default/assets/css/responsive-tables.css" rel="stylesheet" type="text/css" />
	<link href="{{www_path}}/ui/default/assets/css/diy-ui/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript">
		var cashAdminPath = "{{www_path}}";
		var currentSection = "{{section_name}}";
		document.write('<style type="text/css">#pagetips {display:none;}.nojs {display:none;}.onlyjs {display:inline;}</style>');
	</script>

	<script src="//www.google.com/jsapi"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/modernizr.foundation.js" type="text/javascript"></script>
	<script src="{{jquery_url}}" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery-ui-1.9.0.custom.min.js" type="text/javascript"></script>
</head>
<body id="page" class="off-canvas hide-extras">

	<style type="text/css">
		h1 {position:relative;font-size:72px;margin:6px 0 52px 0;z-index:100;}
		h4 {margin-bottom:0;}
		#mainspc {padding-top:60px;}
		.callout {font-size:14px !important;background-color:#fff !important;}
		#mainspc a {color:#2E9A00;}
		p {margin-bottom:36px !important;}
		li {padding:8px 8px 0 0;display:inline;}
		#mainspc a.button, input[type=submit] {background-color:#2E9A00;color:#fff;}
		.smallertext {font-size:12px;}
		.hidefromsimplemode p, .hidefromsimplemode h3 {display:none;}
		@media only screen and (max-width: 767px) {
			
		}
	</style>

	<div id="wrap">	
		<div id="chromespc"></div>

		<div id="mainspc" class="container">
			<div class="row">
				<section role="main">
					<div class="row" id="contentspc">

						{{#error_message}}<p><span class="highlightcopy errormessage">{{error_message}}</span></p>{{/error_message}}

						{{{content}}}

					</div>
				</section>
			</div>
		</div>
	</div>

	<div id="footer">
		<div class="row">
			<div class="twelve columns">
				<p><b>&copy; 2013 CASH Music.</b> All our code is open-source. <a href="{{www_path}}/licenses/" style="margin-left:0;">Learn more</a>. {{#showterms}}<a href="{{www_path}}/terms/">Terms of service</a> {{/showterms}}{{#showprivacy}}<a href="{{www_path}}/privacy/">Privacy policy</a> {{/showprivacy}}<a href="http://cashmusic.org/#more" class="donatelink"><b>Donate</b></a></p>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		// make it pretty, let people avoid bookmarking state-specific urls, etc
		window.history.replaceState(null,null,'{{www_path}}' + '/');
	</script>

	<!-- Included JS Files -->
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.iframe-transport.js" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.fileupload.js" type="text/javascript"></script>
	<!--script src="{{www_path}}/ui/default/assets/scripts/jquery.admin.js" type="text/javascript"></script-->
</body>
</html>