<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>CASH Music | Admin</title>

	<link rel="icon" type="image/gif" href="{{img_base_url}}/ui/default/assets/images/favicon.gif" />
	<link rel="icon" href="{{img_base_url}}/ui/default/assets/images/favicon.ico" type="image/x-icon" />
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link href="{{www_path}}/ui/default/assets/css/foundation.min.css" rel="stylesheet" type="text/css" />
	<link href="{{www_path}}/ui/default/assets/css/app.css" rel="stylesheet" type="text/css" />
	<!--<link href="{{www_path}}/ui/default/assets/css/offcanvas.css" rel="stylesheet" type="text/css" />-->
	<!--<link href="{{www_path}}/ui/default/assets/css/responsive-tables.css" rel="stylesheet" type="text/css" />-->
	<link href="{{www_path}}/ui/default/assets/css/diy-ui/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />

	<!--iOS-->

	<link rel="apple-touch-icon" href="{{img_base_url}}/ui/default/assets/images/invert_logo.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />

	<script type="text/javascript">
		var cashAdminPath = "{{www_path}}";
		var cashImagePath = "{{img_base_url}}";
		var currentSection = "{{section_name}}";
		document.write('<style type="text/css">#pagetips {display:none;}.nojs {display:none;}.onlyjs {display:inline;}</style>');
	</script>

	<script src="//www.google.com/jsapi"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/modernizr.foundation.js" type="text/javascript"></script>
	<script src="{{jquery_url}}" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery-ui-1.9.0.custom.min.js" type="text/javascript"></script>
</head>

	<body id="page" class="off-canvas hide-extras">

	<div id="wrap">	

		<div id="chromespc" class="twelve columns">

			<div id="chrome">
				<div id="tipspc" class="hide-for-small">
					<div id="pagetips">
						<p>
							<span id="current_pagetip">{{{ui_page_tip}}}</span>
						</p>
						<a id="tipscloselink" href="#">{{action_close}}</a>
					</div>
				</div>
				<div id="menutoggle">Main Menu</div> 
				<div id="navmenu" class="mainnavmenu">
					<ul>
						<li{{#ui_current_main}} class="current"{{/ui_current_main}}>
							<a href="{{www_path}}/" class="mainnav">
								<i class="icon icon-certificate"></i>{{link_main_page}}
								<div class="highlightimg" style="background-image:url({{img_base_url}}/ui/default/assets/images/badgeusecolor1.png);"></div>
							</a>
						</li>
						<li{{#ui_current_assets}} class="current"{{/ui_current_assets}}>
							<a href="{{www_path}}/assets/" class="assetsnav">
								<i class="icon icon-paste"></i>{{link_menu_assets}}
								<div class="highlightimg" style="background-image:url({{img_base_url}}/ui/default/assets/images/badgeusecolor2.png);"></div>
							</a>
							<div class="subnavmenu usecolor2">
								{{{assets_section_menu}}}
							</div>
						</li>
						<li{{#ui_current_people}} class="current"{{/ui_current_people}}>
							<a href="{{www_path}}/people/" class="peoplenav">
								<i class="icon icon-group"></i>{{link_menu_people}}
								<div class="highlightimg" style="background-image:url({{img_base_url}}/ui/default/assets/images/badgeusecolor3.png);"></div>
							</a>
							<div class="subnavmenu usecolor3">
								{{{people_section_menu}}}
							</div>
						</li>
						<li{{#ui_current_commerce}} class="current"{{/ui_current_commerce}}>
							<a href="{{www_path}}/commerce/" class="commercenav">
								<i class="icon icon-credit-card"></i>{{link_menu_commerce}}
								<div class="highlightimg" style="background-image:url({{img_base_url}}/ui/default/assets/images/badgeusecolor4.png);"></div>
							</a>
							<div class="subnavmenu usecolor4">
								{{{commerce_section_menu}}}
							</div>
						</li>
						<li{{#ui_current_calendar}} class="current"{{/ui_current_calendar}}>
							<a href="{{www_path}}/calendar/" class="calendarnav">
								<i class="icon icon-calendar"></i>{{link_menu_calendar}}
								<div class="highlightimg" style="background-image:url({{img_base_url}}/ui/default/assets/images/badgeusecolor5.png);"></div>
							</a>
							<div class="subnavmenu usecolor5">
								{{{calendar_section_menu}}}
							</div>
						</li>
					</ul>
					<div id="donate"><a href="http://cashmusic.org/donate/" target="_blank"><p>We can't exist without your support. <br />Please Donate! &#9825;</p></a></div>
				</div>

				<div id="accountmenu">
					<span><i class="icon icon-cog"></i><span class="head">{{misc_account}}</span></span>
					<ul>
						<li><a href="{{www_path}}/account/"><i class="icon icon-user"></i>{{link_youraccount}}</a></li>
						<li><a href="{{www_path}}/settings/"><i class="icon icon-cog"></i>{{link_settings}}</a></li>
						<li><a href="http://cashmusic.org/#more"><i class="icon icon-heart"></i>{{action_donate}}</a></li>
						<li><a href="{{www_path}}/logout/" id="logout"><i class="icon icon-signout"></i>{{action_logout}}</a></li>
					</ul>
				</div>

				<div id="helpmenu">
					<span><i class="icon icon-question-sign"></i><span class="head">{{link_menu_help}}</span></span>
					<ul>
						<li><a href="#tips" id="tipslink"><i class="icon icon-compass"></i>{{{misc_tips}}}</a></li>
						<li><a href="{{www_path}}/help/gettingstarted/"><i class="icon icon-rocket"></i>{{link_menu_help_gettingstarted}}</a></li>
						<li><a href="{{www_path}}/help/"><i class="icon icon-book"></i>{{link_help_alt}}</a></li>
						<li><a href="http://help.cashmusic.org/" target="_blank"><i class="icon icon-external-link"></i>help.cashmusic.org</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div id="mainspc" class="container {{specialcolor}}">

			<div class="row">
				<section role="main">

					<h1 id="logo"><a href="{{www_path}}/"><img src="{{img_base_url}}/ui/default/assets/images/logo.png" alt="CASH Music"/></a><span>Cash Music Platform v.789</span>
					<img id="ajaxloading" src="{{img_base_url}}/ui/default/assets/images/load.png" alt="loading..." class="rotate" />
					</h1><!--logo-->
					<div class="row">
						<div class="twelve columns phone-two">
							<p class="show-for-small">
								<a class="sidebar-button" id="sidebarButton" href="#sidebar"><span class="menu-inactive"><i class="icon icon-align-justify"></i></span><span class="menu-active"><i class="icon icon-chevron-right"></i></span></a>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="twelve columns phone-two">
							<h2 id="pagetitle"><span>{{ui_title}}</span></h2>
							
							<div id="pagemessage">
								{{#error_message}}<p><span class="highlightcopy errormessage">{{error_message}}</span></p>{{/error_message}}
								{{#page_message}}<p><span class="highlightcopy">{{page_message}}</span></p>{{/page_message}}
							</div>
							<div id="pagedisplay">
								{{{content}}}
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>

	<div id="footer">
		<div class="row">
			<div class="twelve columns">
				<p>{{{misc_footer_markup}}} <a href="{{www_path}}/licenses/" style="margin-left:0;">{{link_footer_learnmore}}</a>. {{#showterms}}<a href="{{www_path}}/terms/">{{link_footer_terms}}</a> {{/showterms}}{{#showprivacy}}<a href="{{www_path}}/privacy/">{{link_footer_privacy}}</a> {{/showprivacy}}<a href="http://cashmusic.org/donate/" class="donatelink"><b>{{action_donate}}</b></a></p>
			</div>
		</div>
	</div>

	<!-- Included JS Files -->
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.offcanvas.js" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/responsive-tables.js" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.iframe-transport.js" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.fileupload.js" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.admin.js" type="text/javascript"></script>
</body>
</html>