<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />

	<title>CASH Music | Admin</title>

	<link rel="icon" href="{{img_base_url}}/ui/default/assets/images/favicon.ico" type="image/x-icon" />
	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link href="{{www_path}}/ui/default/assets/css/foundation.min.css" rel="stylesheet" type="text/css" />
	<link href="{{www_path}}/ui/default/assets/css/app.css" rel="stylesheet" type="text/css" />
	<link href="{{www_path}}/ui/default/assets/css/diy-ui/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />

	<!--iOS-->

	<link rel="apple-touch-icon" href="{{img_base_url}}/ui/default/assets/images/invert_logo.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />

	<script type="text/javascript">
		var cashAdminPath = "{{www_path}}";
		var cashImagePath = "{{img_base_url}}";
		var currentSection = "{{section_name}}";
		document.write('<style type="text/css">#pagetips {display:none;}.nojs {display:none;}.onlyjs {display:inline;}</style>');
	</script>

	<script src="//www.google.com/jsapi"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/modernizr.foundation.js" type="text/javascript"></script>
	<script src="{{jquery_url}}" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery-ui-1.9.0.custom.min.js" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.validate.min.js" type="text/javascript"></script>

</head>

	<body id="page" class="off-canvas hide-extras">
	<div id="wrap">	

		<div id="chromespc" class="twelve columns">

			<div id="chrome">
				<div id="menutoggle">Main Menu</div><!--mentoggle-->

				<div id="navmenu" class="mainnavmenu">
				<div id="header"><h1 id="logo"><a href="{{www_path}}/"><img src="{{img_base_url}}/ui/default/assets/images/invert_logo.png" alt="CASH Music"/></a><img id="ajaxloading" src="{{img_base_url}}/ui/default/assets/images/load.png" alt="loading..." class="rotate" /></h1><!--logo-->
					<div class="touchpoints">
						<div id="searchbtn" class="toggle"><a title="Search" class="icon-search"></a></div>
						<div id="learn" class="toggle"><a title="Learn" class="icon icon-bulb"></a></div><!--learn-->
						<div id="settings" class="toggle"><a title="Account/Settings" class="icon icon-cog"></a></div><!--settings-->
						<div id="help" class="toggle"><a title="Help" class="icon icon-question-sign"></a></div><!--help-->
						<div id="logoutbtn" class="toggle needsconfirmation"><a title="Logout" href="{{www_path}}/logout/" id="logout" class="icon icon-signout"></a></div><!--logout-->
					</div><!--touchpoints-->
					<div id="flipback"></div><!--flipback-->	
					<form id="search" accept-charset="UTF-8" method="post" action="">	
								<label for="query">Search for:</label>
									<i class="icon icon-search"></i><input type="text" id="query" name="query" placeholder="" /> 
							</form><!--search-->
				</div><!--header-->		
					<ul>
				
						<li{{#ui_current_main}} class="current"{{/ui_current_main}}>
							<a href="{{www_path}}/" class="mainnav">
								<i class="icon icon-certificate"></i><span>{{link_main_page}}</span>
								<div class="highlightimg"></div>
							</a>
							<div class="subnavmenu">
								{{{main_section_menu}}}
							</div>
						</li>
						<li{{#ui_current_assets}} class="current"{{/ui_current_assets}}>
							<a href="{{www_path}}/assets/" class="assetsnav">
								<i class="icon icon-paste"></i><span>{{link_menu_assets}}</span>
								<div class="highlightimg"></div>
							</a>
							<div class="subnavmenu usecolor2">
								{{{assets_section_menu}}}
							</div>
						</li>
						<li{{#ui_current_people}} class="current"{{/ui_current_people}}>
							<a href="{{www_path}}/people/" class="peoplenav">
								<i class="icon icon-group"></i><span>{{link_menu_people}}</span>
								<div class="highlightimg"></div>
							</a>
							<div class="subnavmenu usecolor3">
								{{{people_section_menu}}}
							</div>
						</li>
						<li{{#ui_current_commerce}} class="current"{{/ui_current_commerce}}>
							<a href="{{www_path}}/commerce/" class="commercenav">
								<i class="icon icon-credit-card"></i><span>{{link_menu_commerce}}</span>
								<div class="highlightimg"></div>
							</a>
							<div class="subnavmenu usecolor4">
								{{{commerce_section_menu}}}
							</div>
						</li>
						<li{{#ui_current_calendar}} class="current"{{/ui_current_calendar}}>
							<a href="{{www_path}}/calendar/" class="calendarnav">
								<i class="icon icon-calendar"></i><span>{{link_menu_calendar}}</span>
								<div class="highlightimg"></div>
							</a>
							<div class="subnavmenu usecolor5">
								{{{calendar_section_menu}}}
							</div>
						</li>
						<li><p class="version"><span>CASH Music Platform <strong>v.{{platform_version}}</strong></span></p></li>
					</ul>
					<div id="donate"><a href="http://cashmusic.org/donate/" target="_blank"><p>We can't exist without your support. <br />Please Donate!</p><p class="heart">&#9825;</p></a></div>
				</div><!--navmenu-->
			</div><!--chrome-->
		</div><!--chromespc-->
		<div id="mainspc" class="container {{specialcolor}}">
			<div class="row">
				<section role="main">
					<div class="row">
						<div class="twelve columns phone-two">
							<p class="show-for-small">
								<a class="sidebar-button" id="sidebarButton" href="#sidebar"><span class="menu-inactive"><i class="icon icon-align-justify"></i></span><span class="menu-active"><i class="icon icon-chevron-right"></i></span></a>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="twelve columns phone-two">
							<h2 id="pagetitle"><span>{{ui_title}}</span><em>{{#ui_tagline}}{{ui_tagline}}{{/ui_tagline}}</em></h2>
							
							<div id="pagemessage">
								{{#error_message}}<p><span class="highlightcopy errormessage">{{error_message}}</span></p>{{/error_message}}
								{{#page_message}}<p><span class="highlightcopy">{{page_message}}</span></p>{{/page_message}}
							</div><!--pagemessage-->
							<div id="pagedisplay">
								{{{content}}}
							</div><!--pagedisplay-->
						</div><!--twelve columns phone-two-->
					</div><!--row-->

					<div id="learnpanel">
						<div class="inner">
						<h1 class="paneltitle"><i class="icon icon-bulb"></i>Learn</h1>
							<ul class="tertiarynav">
								<li><a href="#tips" id="tipslink"><i class="icon icon-compass"></i>{{{misc_tips}}}</a></li>
							</ul>
							<h5 id="current_pagetip">{{{ui_page_tip}}}</h5>
							<div class="panelcontent"></div><!--panelcontent-->
						</div><!--inner-->
					</div><!--learnpanel-->
					<div id="settingspanel">
						<div class="inner">
						<h1 class="paneltitle"><i class="icon icon-cog"></i>Settings</h1>
							<ul class="tertiarynav">
								<li><a href="{{www_path}}/account/"><i class="icon icon-user"></i>{{link_youraccount}}</a></li>
								<li><a href="{{www_path}}/settings/" ><i class="icon icon-cog"></i>{{link_settings}}</a></li>
								<li><a href="http://cashmusic.org/#more"><i class="icon icon-heart"></i>{{action_donate}}</a></li>
							</ul>
							<div class="panelcontent"></div><!--panelcontent-->
						</div><!--inner-->	
					</div><!--settingspanel-->
					<div id="helppanel">
					<div class="inner">
						<h1 class="paneltitle"><i class="icon icon-question-sign"></i>Help</h1>
							<ul class="tertiarynav">
								<li><a href="{{www_path}}/help/gettingstarted/"><i class="icon icon-rocket"></i>{{link_menu_help_gettingstarted}}</a></li>
								<li><a href="{{www_path}}/help/"><i class="icon icon-book"></i>{{link_help_alt}}</a></li>
								<li><a href="http://help.cashmusic.org/" target="_blank"><i class="icon icon-external-link"></i>help.cashmusic.org</a></li>
							</ul>
							<div class="panelcontent"></div><!--panelcontent-->
						</div><!--inner-->
					</div><!--helppanel-->
				</section>
			</div>
		</div>
	</div>

	<div id="footer">
		<div class="row">
			<div class="twelve columns">
				<p>{{{misc_footer_markup}}} <a href="{{www_path}}/licenses/" style="margin-left:0;">{{link_footer_learnmore}}</a>. {{#showterms}}<a href="{{www_path}}/terms/">{{link_footer_terms}}</a> {{/showterms}}{{#showprivacy}}<a href="{{www_path}}/privacy/">{{link_footer_privacy}}</a> {{/showprivacy}}<a href="http://cashmusic.org/donate/" class="donatelink"><b>{{action_donate}}</b></a></p>
			</div>
		</div>
	</div>

	<!-- Included JS Files -->
		<!--Glitch-->

	<script src="{{www_path}}/ui/default/assets/scripts/point.js" type="text/javascript" ></script>
	<script src="{{www_path}}/ui/default/assets/scripts/rectangle.js" type="text/javascript" ></script>
	<script src="{{www_path}}/ui/default/assets/scripts/matrix.js" type="text/javascript" ></script>
	<script src="{{www_path}}/ui/default/assets/scripts/bitmapdata.js" type="text/javascript" ></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.offcanvas.js" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/responsive-tables.js" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.iframe-transport.js" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.fileupload.js" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.admin.js" type="text/javascript"></script>
</body>
</html>