<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="icon" type="image/png" href="http://cashmusic.org/images/icons/cash.png" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>CASH Music / Admin</title>

	<link rel="icon" type="image/png" href="http://cashmusic.org/images/icons/cash.png" />
	<link href="//fonts.googleapis.com/css?family=Amatic+SC:400,700|Roboto+Condensed:400,700italic,400italic,700,300,300italic|Noto+Serif:400,700italic,400italic,700" rel="stylesheet" type="text/css" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link href="{{www_path}}/ui/default/assets/css/foundation.min.css" rel="stylesheet" type="text/css" />
	<link href="{{www_path}}/ui/default/assets/css/app.css" rel="stylesheet" type="text/css" />
	<link href="{{www_path}}/ui/default/assets/css/offcanvas.css" rel="stylesheet" type="text/css" />
	<link href="{{www_path}}/ui/default/assets/css/responsive-tables.css" rel="stylesheet" type="text/css" />
	<link href="{{www_path}}/ui/default/assets/css/diy-ui/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript">
		var cashAdminPath = "{{www_path}}";
		var currentSection = "{{section_name}}";
		document.write('<style type="text/css">#pagetips {display:none;}.nojs {display:none;}.onlyjs {display:inline;}</style>');
	</script>

	<script src="//www.google.com/jsapi"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/modernizr.foundation.js" type="text/javascript"></script>
	<script src="{{jquery_url}}" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery-ui-1.9.0.custom.min.js" type="text/javascript"></script>
</head>

	<body id="page" class="off-canvas hide-extras">
	<div id="wrap">	
		<div id="chromespc" class="twelve columns phone-two hide-for-small">
			<div id="navmenumask"></div>
			<div id="chrome">
				<div id="navmenu">
					<ul>
						<li><a href="{{www_path}}/" id="mainnav" {{#ui_current_main}}class="current"{{/ui_current_main}}><i class="icon icon-home"></i>{{link_main_page}}</a></li>
						<li><a href="{{www_path}}/assets/" id="assetsnav" {{#ui_current_assets}}class="current"{{/ui_current_assets}}><i class="icon icon-paste"></i>{{link_menu_assets}}</a></li>
						<li><a href="{{www_path}}/people/" id="peoplenav" {{#ui_current_people}}class="current"{{/ui_current_people}}><i class="icon icon-group"></i>{{link_menu_people}}</a></li>
						<li><a href="{{www_path}}/commerce/" id="commercenav" {{#ui_current_commerce}}class="current"{{/ui_current_commerce}}><i class="icon icon-credit-card"></i>{{link_menu_commerce}}</a></li>
						<li><a href="{{www_path}}/calendar/" id="calendarnav" {{#ui_current_calendar}}class="current"{{/ui_current_calendar}}><i class="icon icon-calendar"></i>{{link_menu_calendar}}</a></li>
					</ul>
				</div>

				<div id="helpmenu">
					<i class="icon icon-question-sign"></i>{{link_menu_help}}
					<ul>
						<li><a href="#tips" id="tipslink">{{{misc_tips}}}</a></li>
						<li><a href="{{www_path}}/help/gettingstarted/">{{link_menu_help_gettingstarted}}</a></li>
						<li><a href="{{www_path}}/help/">{{link_help_alt}}</a></li>
						<li><a href="http://help.cashmusic.org/">help.cashmusic.org</a></li>
					</ul>
				</div>
				<div id="accountmenu">
					<i class="icon icon-cog"></i>{{user_email}}
					<ul>
						<li><a href="{{www_path}}/account/">{{link_youraccount}}</a></li>
						<li><a href="{{www_path}}/settings/">{{link_settings}}</a></li>
						<li><a href="http://cashmusic.org/#more">{{action_donate}}</a></li>
						<li><a href="{{www_path}}/logout/" id="logout">{{action_logout}}</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div id="mainspc" class="container {{specialcolor}}">
			<div class="row">
				<section id="sidebar" role="complementary">
					<nav id="sideMenu" role="navigation">
						<a href="{{www_path}}/" class="button"><i class="icon icon-home"></i>{{link_main_page}}</a>
						<a href="{{www_path}}/assets/" class="button"><i class="icon icon-paste"></i>{{link_menu_assets}}</a>
						<a href="{{www_path}}/people/" class="button"><i class="icon icon-group"></i>{{link_menu_people}}</a>
						<a href="{{www_path}}/commerce/" class="button"><i class="icon icon-credit-card"></i>{{link_menu_commerce}}</a>
						<a href="{{www_path}}/calendar/" class="button"><i class="icon icon-calendar"></i>{{link_menu_calendar}}</a>
						<a href="{{www_path}}/elements/" class="button"><i class="icon icon-puzzle-piece"></i>{{link_menu_elements}}</a>
					</nav>

					<br />
					<div id="sideSubMenu" class="tar">
						<a href="{{www_path}}/account/">{{link_youraccount}} <i class="icon icon-user"></i></a>
						<a href="{{www_path}}/settings/">{{link_settings}} <i class="icon icon-cog"></i></a>
						<a href="{{www_path}}/help/">{{link_menu_help}} <i class="icon icon-question-sign"></i></a>
						<br />
						<a href="{{www_path}}/logout/">{{action_logout}} <i class="icon icon-ban-circle"></i></a>
					</div>
				</section>

				<section role="main">
					<div class="row">
						<div class="twelve columns phone-two">
							<p class="show-for-small">
								<a class="sidebar-button" id="sidebarButton" href="#sidebar"><span class="menu-inactive"><i class="icon icon-circle-arrow-left"></i></span><span class="menu-active"><i class="icon icon-circle-arrow-right"></i></span></a>
							</p>

							<div id="tipspc" class="hide-for-small">
								<div id="pagetips">
									<span id="current_pagetip">{{{ui_page_tip}}}</span>
									<br />
									<a id="tipscloselink" href="#">{{action_close}}</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="twelve columns phone-two">
							<h2 id="pagetitle"><img src="{{www_path}}/ui/default/assets/images/badge.png" alt="" /><span>{{ui_title}}</span></h2>
							<div id="pagemenu">{{#section_menu}}{{{section_menu}}}{{/section_menu}}</div>
							<div id="pagemessage">
								{{#error_message}}<p><span class="highlightcopy errormessage">{{error_message}}</span></p>{{/error_message}}
								{{#page_message}}<p><span class="highlightcopy">{{page_message}}</span></p>{{/page_message}}
							</div>
							<div id="pagedisplay">
								{{{content}}}
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>

	<div id="footer">
		<div class="row">
			<div class="twelve columns">
				<p>{{{misc_footer_markup}}} <a href="{{www_path}}/licenses/" style="margin-left:0;">{{link_footer_learnmore}}</a>. {{#showterms}}<a href="{{www_path}}/terms/">{{link_footer_terms}}</a> {{/showterms}}{{#showprivacy}}<a href="{{www_path}}/privacy/">{{link_footer_privacy}}</a> {{/showprivacy}}<a href="http://cashmusic.org/#more" class="donatelink"><b>{{action_donate}}</b></a></p>
			</div>
		</div>
	</div>

	<!-- Included JS Files -->
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.offcanvas.js" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/responsive-tables.js" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.iframe-transport.js" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.fileupload.js" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.admin.js" type="text/javascript"></script>
</body>
</html>