 <!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1"/>

	<title>CASH Music | Admin</title>


	<link rel="icon" type="image/png" href="{{cdn_url}}/ui/default/assets/images/favicon.png">
	<!--[if IE]><link rel="shortcut icon" href="{{cdn_url}}/ui/default/assets/images/favicon.ico" type="image/x-icon" /><![endif]-->
	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700|Nunito:300,400,700' rel='stylesheet' type='text/css'>
	<link href='{{www_path}}/ui/default/assets/css/jquery-ui.css' rel='stylesheet' type='text/css'>
	<link href="{{www_path}}/ui/default/assets/css/iconfont.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{cdn_url}}/ui/default/assets/css/pure/base-min.css">
	<!--[if lte IE 8]>
    <link rel="stylesheet" href="{{cdn_url}}/ui/default/assets/css/pure/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{cdn_url}}/ui/default/assets/css/pure/grids-responsive-min.css">
	<!--<![endif]-->
	<link href="{{www_path}}/ui/default/assets/css/app.css" rel="stylesheet" type="text/css" />

	<!--iOS-->
	<link rel="apple-touch-icon" href="{{cdn_url}}/ui/default/assets/images/logo.svg" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />

	<script type="text/javascript">
		var cashAdminPath = "{{www_path}}";
		var cashImagePath = "{{cdn_url}}";
		var currentSection = "{{section_name}}";
	</script>

	<script src="//www.google.com/jsapi"></script>
	<script src="{{jquery_url}}" type="text/javascript"></script>
	<script src="{{jqueryui_url}}" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.validate.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="{{public_url}}/cashmusic.js"></script>

</head>
	<body id="page" class="hide-extras{{loginstatus}} {{specialcolor}}">

	<div class="hlter"></div><!--hlter-->
		<div id="wrap" class="pure-g">
			<div id="menutoggle"></div>
				<div id="navmenu" class="mainnavmenu pure-u-1 pure-u-md-1-4">
				<div id="header"><h1 id="logo"><a href="{{www_path}}/">
				<img src="{{www_path}}/ui/default/assets/images/logo.svg" alt="Cash Music" />
				</a></h1><!--logo-->
					<div id="touchpoints">
						<ul>
							<li id="searchbtn" class="toggle">
								<a title="Search"><div class="icon icon-search"></div><!--icon--></a>
							</li><!--searchbtn-->
							<li id="learn" class="toggle">
								<a title="Learn"><div class="icon icon-learn"></div><!--icon--></a>
							</li><!--learn-->
							<li id="settings" class="toggle">
								<a title="Account/Settings"><div class="icon icon-cog"></div><!--icon--></a>
							</li><!--settings-->
							<li id="help" class="toggle">
								<a title="Help"><div class="icon icon-question"></div><!--icon--></a>
							</li><!--help-->
							<li id="logoutbtn" class="toggle">
								<a title="Logout" href="{{www_path}}/logout/" class="needsconfirmation"><div class="icon icon-signout"></div><!--icon--></a>
							</li><!--logout-->
						</ul>
					</div><!--touchpoints-->
					<div id="flipback"></div><!--flipback-->
						<form id="search" accept-charset="UTF-8" method="post" action="{{www_path}}/search/">
								<label for="query">Search for:</label>
									<div class="icon icon-search"></div><!--icon-->
									<input type="text" id="query" name="query" placeholder="" />
						</form><!--search-->
				</div><!--header-->
					<ul>
						<li{{#ui_current_main}} class="current"{{/ui_current_main}}>
							<a title="Main page" href="{{www_path}}/" class="mainnav">
								<span>{{link_main_page}}</span>
									<div class="icon icon-certificate"></div><!--icon-->
							</a>
							<div class="subnavmenu">
								{{{main_section_menu}}}
							</div>
						</li>
						<li{{#ui_current_assets}} class="current"{{/ui_current_assets}}>
							<a title="Assets" href="{{www_path}}/assets/" class="assetsnav">
								<span>{{link_menu_assets}}</span>
									<div class="icon icon-paste"></div><!--icon-->
							</a>
							<div class="subnavmenu usecolor2">
								{{{assets_section_menu}}}
							</div>
						</li>
						<li{{#ui_current_people}} class="current"{{/ui_current_people}}>
							<a title="People" href="{{www_path}}/people/" class="peoplenav">
								<span>{{link_menu_people}}</span>
									<div class="icon icon-group"></div><!--icon-->
							</a>
							<div class="subnavmenu usecolor3">
								{{{people_section_menu}}}
							</div>
						</li>
						<li{{#ui_current_commerce}} class="current"{{/ui_current_commerce}}>
							<a title="Commerce" href="{{www_path}}/commerce/" class="commercenav">
								<span>{{link_menu_commerce}}</span>
									<div class="icon icon-card"></div><!--icon-->
							</a>

							<div class="subnavmenu usecolor4">
								{{{commerce_section_menu}}}
							</div>
						</li>
						<li{{#ui_current_calendar}} class="current"{{/ui_current_calendar}}>
							<a title="Calendar" href="{{www_path}}/calendar/" class="calendarnav">
								<span>{{link_menu_calendar}}</span>
									<div class="icon icon-calendar"></div><!--icon-->
							</a>
							<div class="subnavmenu usecolor5">
								{{{calendar_section_menu}}}
							</div>
						</li>
						<li><p class="version">CASH Music Platform <strong>v.{{platform_version}}</strong></p></li>
					</ul>
					<div id="donate"><a href="http://donate.cashmusic.org/" target="_blank"><p>We can't exist without your support. <br />Please Donate!</p><div class="heart icon icon-heart"></div><!--icon--></a></div><!--donate-->
				</div><!--navmenu-->

			<div id="mainspc" class="{{specialcolor}}">
				<div class="grid pure-u-1 pure-u-md-3-4">

						<div id="pagemessage">
							{{#error_message}}<p><span class="highlightcopy errormessage">{{error_message}}</span></p>{{/error_message}} {{#page_message}}<p><span class="highlightcopy">{{page_message}}</span></p>{{/page_message}}</div><!--pagemessage-->
						<div id="pagedisplay">
							<div class="swipehint">Swipe from right to left for the menu.<br /> <span class="okay">Okay, I got it.</span></div><!--swipehint-->
							<div id="learn_tip"{{#ui_page_tip}}style="display:block;"{{/ui_page_tip}} class="page-description"><i class="icon icon-learn marker"></i><!--marker-->{{ui_page_tip}}</div><!--learntip-->
							<div id="page_content">{{{content}}}</div><!--page_content-->
						<div id="footer">
							<p>{{{misc_footer_markup}}} <a href="{{www_path}}/licenses/" target="_blank" class="learnmore noajax" style="margin-left:0;">{{link_footer_learnmore}}.</a>{{#showterms}}<a href="{{www_path}}/terms/" target="_blank" class="noajax">{{link_footer_terms}},</a>{{/showterms}}{{#showprivacy}}<a href="{{www_path}}/privacy/" target="_blank" class="noajax">{{link_footer_privacy}},</a> {{/showprivacy}}<a href="http://cashmusic.org/donate/" target="_blank" class="donatelink"><strong>{{action_donate}}.</strong></a></p>
						</div><!--footer-->
						</div><!--pagedisplay-->


						<div id="tertiary">
							<div id="learnpanel">
								<div class="inner">
									<h1 class="paneltitle"><div class="icon icon-learn"></div><!--icon-->Learn more</h1>
									<div id="learn_text">{{{ui_learn_text}}}</div>
								</div><!--inner-->
							</div><!--learnpanel-->
							<div id="settingspanel">
								<div class="inner">
								<h1 class="paneltitle"><div class="icon icon-cog"></div><!--icon-->Settings</h1>
									<ul class="tertiarynav">
										<li><a href="{{www_path}}/account/"><div class="icon icon-user"></div><!--icon-->{{link_youraccount}}</a></li>
										{{#platform_type_single}}<li><a href="{{www_path}}/settings/" ><div class="icon icon-cog"></div><!--icon-->{{link_settings}}</a></li>{{/platform_type_single}}
										<li><a href="{{www_path}}/settings/connections/" ><div class="icon icon-cog"></div><!--icon-->{{link_settings_connections}}</a></li>
									</ul><!--tertiarynav-->
									<div class="panelcontent"></div><!--panelcontent-->
								</div><!--inner-->
							</div><!--settingspanel-->
							<div id="helppanel">
								<div class="inner">
								<h1 class="paneltitle"><div class="icon icon-question"></div><!--icon-->Help</h1>
									<ul class="tertiarynav">
										<li><a href="http://help.cashmusic.org/" class="noajax" target="_blank"><div class="icon icon-ext-link"></div><!--icon-->help.cashmusic.org</a></li>
									</ul>
									<div class="panelcontent"></div><!--panelcontent-->
								</div><!--inner-->
							</div><!--helppanel-->
						</div><!--tertiary-->
					</div><!--pure-->
			</div><!--mainspc-->
		</div><!--wrap-->

	<div id="loadingmask">
		<video autoplay loop >
			<source src="{{cdn_url}}/ui/default/assets/video/load.mp4" type="video/mp4">
			<source src="{{cdn_url}}/ui/default/assets/video/load.webm" type="video/webm">
		</video>
	</div><!--loadingmask-->

	<!-- Included JS Files -->
	<!--Glitch-->
	<script src="{{www_path}}/ui/default/assets/scripts/ZeroClipboard.min.js" type="text/javascript" ></script>
	<script src="{{www_path}}/ui/default/assets/scripts/fastclick.js" type="text/javascript" ></script>
   <script src="{{www_path}}/ui/default/assets/scripts/garlic.min.js" type="text/javascript" ></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.admin.js" type="text/javascript"></script>
	<script src="{{www_path}}/ui/default/assets/scripts/jquery.mobile.custom.min.js" type="text/javascript"></script>

{{#reset_key}}
	<!-- Password reset popups, etc -->
	<div class="modalbg">
		<div class="modallightbox">
				<h4>Password reset</h4>Enter a new password. At least {{minimum_password_length}} characters.<br />
				<form action="{{reset_action}}" id="password_reset_form" method="post">
					<input type="hidden" name="finalizepasswordreset" value="go" />
					<input type="hidden" name="key" value="{{reset_key}}" />
					<input type="hidden" name="address" value="{{reset_email}}" />
					<input type="password" id="new_password" name="new_password" autocomplete="off" />
					<small><a href="#" id="revealpassword" style="position:relative;top:-7px;color:#666;">reveal text</a></small>
					<input type="button" id="do_submit" class="button" value="Change password" />
				</form>
				<a href="#" class="modalcancel smalltext"><div class="icon icon-plus"></div><!--icon--></a>

		<script type="text/javascript">
			// http://www.electrictoolbox.com/toggle-password-field-text-password/
			(function() {
				try {
					var p = document.getElementById('new_password');
					p.type = 'text';
					p.type = 'password';

					var toggle = document.getElementById('revealpassword');
					toggle.addEventListener('click', toggleClicked, false);
					toggle.style.display = 'inline';

				}
				catch(err) {}
			})();

			function toggleClicked(e) {
				e.preventDefault();
				var p = document.getElementById('new_password');
				var value = p.value;

				if(p.type == 'password') {
					p.type = 'text';
				}
				else {
					p.type = 'password';
				}

				p.value = value;
			}

			$('#do_submit').click(function() {
				var n = $('#new_password').val();
				if (n.length < {{minimum_password_length}}) {
					alert('Your password must be at least {{minimum_password_length}} characters.');
				} else {
					$('#password_reset_form').submit();
				}
			});
		</script>

		</div><!--modallightbox-->
	</div><!--modalbg-->
{{/reset_key}}
</body><!--page-->
</html>
