<span class="cash_digitalpurchase_itemname">{{item_name}}</span> 
<span class="cash_digitalpurchase_itemdescription">{{message_success}}</span> 
<br /><br />
{{#fulfillment_assets}}
<a href="?cash_request_type=asset&cash_action=claim&id={{id}}&element_id={{element_id}}" class="download">{{title}}</a> 
<div class="description">{{description}}</div>
<br /><br />
{{/fulfillment_assets}}

<script type="text/javascript">
(function() {
	var hasPushstate = !!(window.history && history.pushState);
	if (hasPushstate) {
		history.pushState(null, null, location.protocol + '//' + location.host + location.pathname);
	}
})();
</script>