/* TAG RESETS */
html {margin:0;padding:0;}
body {color:#000;background:#fff url(../images/bg.jpg) center bottom repeat-x fixed;text-align:center;font:75%/1.5em helvetica,"helvetica neue",arial,sans-serif;margin:0;padding:0;min-height:300px;min-width:750px;}
a {color:#999;text-decoration:none;}
a:hover {text-decoration:underline;}
code {display:block;padding:2em;margin:0 0 1.5em 0;;background-color:#ddd;background-image:url(../images/currentnav.png);background-position:left top;background-repeat:no-repeat;margin:0 auto;}
img {border:0;}
ul {padding:0.5em 0 0.5em 1.5em;}
p {margin:0 0 1.5em 0;}
h1 {font-size:2.75em;line-height:1em;margin:0;padding:0;}
h3 {font-size:1.5em;line-height:1em;margin:0;padding:0;padding-bottom:0.35em;}
table {font-size:0.85em;}

/* GENERAL PAGE LAYOUT */
#pagecontent {position:relative;clear:both;width:920px;padding:180px 2em 3em 2em;margin:0 auto;text-align:left;}
#cash_sitelogo {position:absolute;top:8px;right:8px;text-align:right;overflow:hidden;height:30px;width:30px;z-index:2345;}
#cash_sitelogo img {display:block;padding:0;margin:0;border:0;}
.col_onehalf {float:left;width:47%;padding-right:5%;}
.col_onethird {float:left;width:29%;padding-right:6%;}
.col_twothirds {float:left;width:64%;padding-right:6%;}
.col_onefourth {float:left;width:21%;padding-right:5%;}
.col_threefourths {float:left;width:73%;padding-right:5%;}
.lastcol {padding:0;float:right;}
.row_seperator {position:relative;clear:both;height:1em;overflow:hidden;visibility:hidden;}
.clearfix {visibility:hidden;overflow:hidden;clear:both;height:1px;}
.tar {text-align:right;}

/* FORMS */
input {padding:6px 2% 6px 2%;border:1px solid #ccc;width:96%;}
input:active, input:focus {outline:0;border:1px solid #888;}
input.button {background-color:#ccc;padding:6px 18px 6px 18px;font-weight:bold;cursor:pointer;width:auto;}
input.button:hover {background-color:#aaa;}
input.checkorradio {width:auto;}
select {padding:6px 3px 6px 3px;border:1px solid #ccc;width:100%;}
select:active, select:focus {outline:2px solid #ff0;}
label {font-size:0.85em;text-transform:uppercase;color:#999;}

/* COLORS */
.bgcolor1, div.usecolor1 input.button {background-color:#df0854;}
.bgcolor2, div.usecolor2 input.button {background-color:#df9b08;}
.bgcolor3, div.usecolor3 input.button {background-color:#aacd07;}
.bgcolor4, div.usecolor4 input.button {background-color:#0891df;}
.bgcolor5, div.usecolor5 input.button {background-color:#9b08df;}
div.usecolor1 input.button:hover {background-color:#cd074d;}
div.usecolor2 input.button:hover {background-color:#ca8c07;}
div.usecolor3 input.button:hover {background-color:#97b800;}
div.usecolor4 input.button:hover {background-color:#0080c9;}
div.usecolor5 input.button:hover {background-color:#8a00ca;}
#pagecontent a, #pageTips a {color:#0891df;}
div.usecolor1 #pagecontent a, div.usecolor1 #pageTips a {color:#cd074d;}
div.usecolor2 #pagecontent a, div.usecolor2 #pageTips a {color:#ca8c07;}
div.usecolor3 #pagecontent a, div.usecolor3 #pageTips a {color:#97b800;}
div.usecolor4 #pagecontent a, div.usecolor4 #pageTips a {color:#0080c9;}
div.usecolor5 #pagecontent a, div.usecolor5 #pageTips a {color:#8a00ca;}

/* NAVIGATION */
#accountmenu {position:relative;clear:both;z-index:600;padding:8px 6px 8px 0;font-size:1.125em;background-color:#fff;opacity:0.9;}
#navmenu {position:fixed;top:26px;left:0;padding-bottom:20px;width:730px;height:72px;text-align:left;color:#fff;text-align:right;font-size:0.9em;line-height:1.3em;z-index:500;opacity:0.96;}
#navmenu .navitem {float:left;margin:0;padding:3px 8px;width:130px;height:72px;cursor:pointer;}
#navmenu .currentnav {background-image:url(../images/currentnav.png);background-position:left top;background-repeat:no-repeat;}
#navmenu .navitem:hover {background-color:#fff;color:#000;background-image:none;}
#navmenu h2 {margin:0;padding:0;font-size:1.65em;line-height:1.15em;}
#navmenu a {color:#fff;}
#navmenu a:hover, #navmenu .navitem:hover a {color:#000;text-decoration:none;}
#navmenu a:active, #navmenu a:focus {color:#000;}
#accountmenu a {margin-left:1.5em;color:#000;padding:2px;}
#accountmenu a:hover, #tipspc a:hover {background-color:#ff0;}
#tipspc {clear:both;position:relative;padding-top:8px;color:#666;width:722px;margin-bottom:16px;}
#tipspc a {color:#666;}
#pageTips {display:none;width:660px;text-align:left;margin:0;}
#sectionmenu a {text-transform:lowercase;margin-right:1.5em;}
#navmenu .currentnav, #navmenu .currentnav a {color:#000;}
#pagecontent #tiplink {color:#999;font-size:0.9em;line-height:1.25em;padding:1px;}
ul.pagebasemenu {padding:0;margin-top:0;margin-bottom:1.5em;font-size:1.25em;font-weight:bold;line-height:1.5em;color:#666;}
ul.pagebasemenu li {list-style-type:none;}
ul.pagebasemenu ul {padding:0;margin-top:0;margin-bottom:0;font-size:0.8em;font-weight:normal;}
.currentpagemenu {margin-left:16px;}

/* PAGE ELEMENTS */
#pagemenu {width:180px;margin-right:24px;float:left;}
#pagedisplay {width:710px;float:left;}

/* FOOTER (base code taken from cssstickyfooter.com) */
* {margin-top:0;padding:0;} 
html, body, #wrap {height:100%;}
body > #wrap {height:auto;min-height:100%;}
#mainspc {padding-bottom: 60px;}
#footer {position:relative;margin-top:-36px;height:36px;color:#666;text-align:left;font-size:0.9em;line-height:1em;clear:both;background-color:#000;}
#footer p {padding:12px 8px 0px 8px;}
#footer a {color:#666;margin-left:24px;}
#footer a:hover {color:#fff;}
#footer .donatelink {color:#999;}

/* ACCESSIBILITY STUFFS */
a:active, a:focus, div.usecolor1 #pagecontent a:active, div.usecolor1 #pageTips a:active, div.usecolor1 #pagecontent a:focus, 
div.usecolor1 #pageTips a:focus, div.usecolor2 #pagecontent a:active, div.usecolor2 #pageTips a:active, div.usecolor2 #pagecontent a:focus, 
div.usecolor2 #pageTips a:focus, div.usecolor3 #pagecontent a:active, div.usecolor3 #pageTips a:active, div.usecolor3 #pagecontent a:focus, 
div.usecolor3 #pageTips a:focus, div.usecolor4 #pagecontent a:active, div.usecolor4 #pageTips a:active, div.usecolor4 #pagecontent a:focus, 
div.usecolor4 #pageTips a:focus, div.usecolor5 #pagecontent a:active, div.usecolor5 #pageTips a:active, div.usecolor5 #pagecontent a:focus, 
div.usecolor5 #pageTips a:focus, #navmenu a:active, #navmenu a:focus, #footer a:active, #footer a:focus, #footer a.donatelink:active, 
#footer a.donatelink:focus, input.checkorradio:focus, input.checkorradio:active
{outline:2px solid #ff0;background-color:#ff0;color:#000;}
