<h1 class="cm-success-title">Welcome to the CASH Music Family!</h1>
<p class="cm-success">We appreciate your support. We'll be in touch soon.<br />
If you have any questions please email us at <a href="mailto:family@cashmusic.org">family@cashmusic.org</a>.</p>