<h1 class="cm-success-title">Welcome to the CASH Music Family!</h1>
<div class="cm-verify">{{{message_verify}}}</div><!--cm-verify-->

<style>
    .audio {
        color: pink;
    }

    .video {
        color: orangered;
    }
    .featured {
        color: orange;
    }
</style>
{{#items}}
    <div class="item {{type}}">
        <h2>{{title}}</h2>
        {{#item_image_url}}
            <img src="{{item_image_url}}" alt="" style="max-width: 100px; height: auto;">
            {{/item_image_url}}
        {{#description}}
            <p>{{description}}</p>
        {{/description}}

        {{#fulfillment_assets}}
            <div class="fulfillment-assets">
                <a target="_blank" href="{{public_url}}/request?cash_request_type=asset&cash_action=claim&id={{id}}&element_id={{element_id}}&session_id={{session_id}}" class="button">Download {{title}}</a>
            </div><!--cm-singlepurchase-files-->
        {{/fulfillment_assets}}

    </div>
{{/items}}