<style>
    .account-settings {
        float: right;
        position: absolute;
        z-index: 9999;
        right: 0px;
    }
    .feed-button {
        float: right;
        text-decoration: none;
        text-align: center;
        font-size: 12px;
        background: #ddd;
        color: #fff!important;
        padding: 12px 20px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        display: inline-block;
        background-color: rgba(128,47,198,0.9);
    }

    .feed-button:hover {
        cursor: pointer;
        background-color: rgba(128,47,198,0.5);
    }

    .feed-button:last-child {
        margin-right: 5px;

    }
</style>

<div class="cm-sub-logo"></div>

<div id="cm-subscription-feed">
    <div class="account-settings">
        <a href="#" class="feed-button">Logout</a>
        <a href="#" class="feed-button cm-account-settings">Account Settings</a>

    </div>
{{#firstuse}} 
<h1 class="cm-success-title">Welcome to the CASH Music Family!</h1>
<div class="cm-verify">{{{message_verify}}}</div>
<div class="test-buttons"></div>
{{/firstuse}}

{{^items}}
    <div class="item cm-audio">
        <p>There are currently no posts for this subscription feed.</p>
    </div>
{{/items}}

{{#items}}
    <div class="item cm-{{type}}">
        <h2>{{title}}</h2>
        {{#has_image_and_download}}
            <a target="_blank" href="?cash_request_type=asset&cash_action=claim&id={{asset}}&element_id={{element_id}}&session_id={{session_id}}" class="cm-item-download" style="background-image:url('{{item_image_url}}');"></a>
        {{/has_image_and_download}}
        {{#description}}
            <div class="cm-item-description">{{{description}}}</div>
        {{/description}}


        {{#fulfillment_assets}}
            <div class="fulfillment-assets">
                <a target="_blank" href="?cash_request_type=asset&cash_action=claim&id={{asset}}&element_id={{element_id}}&session_id={{session_id}}" class="button">Download {{title}}</a>
                </div><!--cm-singlepurchase-files-->
        {{/fulfillment_assets}}
    </div>
{{/items}}

</div><!--cm-subscription-feed-->

<script type="text/javascript">

var cm = window.cashmusic;

cm.events.add(cm,'ready', function(e) {

    cm.session.start();

    var account_settings = document.querySelector('.cm-account-settings');

    if (account_settings) {
        cm.events.add(account_settings, 'click', function (e) {
            e.preventDefault();
            cm.overlay.reveal({"element":"{{element_id}}","endpoint":"{{public_url}}","state":"account_settings"});
        });
    }
    {{#firstuse}}
    cm.loadScript(cm.path + '/share/share-buttons.js', function () {
        cm.shareButtons.buildButtons(
            ".test-buttons",
            {
                'title':'Join the CASH Music Family.',
                'description':'Support musicians. Vote on what we create. Receive monthly music. Access our exclusive store. We fight for musicians because art is too important to let corporations lead the way. Let’s build a better future together.',
                'caption':'CASH Music is a nonprofit empowering artists through open tools & knowledge.',
                'preview_image_url':"https://static-cashmusic.netdna-ssl.com/www/img/constant/social/family.jpg",
                'url':'https://family.cashmusic.org',
                'tags':"CASH Music,Run the jewels,non-profit,musicians"
            }
        );
    });
    {{/firstuse}}
});

</script>