<div class="cm-sub-logo"></div>

<div id="cm-subscription-feed">
    <div class="account-settings">
        <a href="#" class="feed-button cm-logout">Logout</a>
        <a href="#" class="feed-button cm-account-settings">Account Settings</a>

    </div>
{{#firstuse}} 
<h1 class="cm-success-title">Welcome to the {{subscription_name}}!</h1>
<div class="cm-verify">{{{message_verify}}}</div>
<div class="test-buttons"></div>
{{/firstuse}}

{{^firstuse}}
    {{^show_feed}}
    <div class="item cm-audio no-feed">
        <p>Thanks for joining the {{subscription_name}}. You can change your settings via the <em>Account Settings</em> button.</p>
    </div>
    {{/show_feed}}
{{/firstuse}}

{{#show_feed}}
{{^items}}
    <div class="item cm-audio">
        <p>There are currently no posts for this subscription feed.</p>
    </div>
{{/items}}

{{#items}}
    <div class="item cm-{{type}}">
        <h2>{{title}}</h2>
        {{#has_image_and_download}}
            <a target="_blank" href="?cash_request_type=asset&cash_action=claim&id={{asset}}&element_id={{element_id}}&session_id={{session_id}}" class="cm-item-download" style="background-image:url('{{item_image_url}}');"></a>
        {{/has_image_and_download}}
        {{#description}}
            <div class="cm-item-description">{{{description}}}</div>
        {{/description}}


        {{#fulfillment_assets}}
            <div class="fulfillment-assets">
                <a target="_blank" href="?cash_request_type=asset&cash_action=claim&id={{asset}}&element_id={{element_id}}&session_id={{session_id}}" class="button">Download {{title}}</a>
                </div><!--cm-singlepurchase-files-->
        {{/fulfillment_assets}}
    </div>
{{/items}}
{{/show_feed}}

</div><!--cm-subscription-feed-->

<script type="text/javascript">

var cm = window.cashmusic;

cm.events.add(cm,'ready', function(e) {

    cm.session.start();

    var account_settings = document.querySelector('.cm-account-settings');
    var logout = document.querySelector('.cm-logout');

    if (account_settings) {
        cm.events.add(account_settings, 'click', function (e) {
            e.preventDefault();
            cm.overlay.reveal({"element":"{{element_id}}","endpoint":"{{public_url}}","state":"account_settings"});
        });
    }

    if (logout) {
        cm.events.add(logout, 'click', function (e) {
            e.preventDefault();
            cm.overlay.reveal({"element":"{{element_id}}","endpoint":"{{public_url}}","state":"logout"});
        });
    }

    {{#firstuse}}
    cm.loadScript(cm.path + '/share/share-buttons.js', function () {
        cm.shareButtons.buildButtons(
            ".test-buttons",
            {
                'title':'Join the {{subscription_name}}.',
                'description':'{{subscription_description}}',
                'caption':'{{subscription_description}}',
                'url':'{{element_url}}',
                'tags':"{{subscription_name}},subscription"
            }
        );
    });
    {{/firstuse}}
});

</script>