
<div class="cm-sub-logo"></div>
<div id="cm-subscription-feed">
{{#firstuse}} 
<h1 class="cm-success-title">Welcome to the CASH Music Family!</h1>
<div class="cm-verify">{{{message_verify}}}</div>
<div class="test-buttons"></div>
{{/firstuse}}

{{#items}}
    <div class="item cm-{{type}}">
        <h2>{{title}}</h2>
        {{#has_image_and_download}}
            <a target="_blank" href="{{public_url}}/request?cash_request_type=asset&cash_action=claim&id={{id}}&element_id={{element_id}}&session_id={{session_id}}" class="cm-item-download" style="background-image:url('{{item_image_url}}');"></a>
        {{/has_image_and_download}}

        {{#description}}
            <p>{{{description}}}</p>
        {{/description}}

     
        {{#fulfillment_assets}}
            <div class="fulfillment-assets">
                <a target="_blank" href="{{public_url}}/request?cash_request_type=asset&cash_action=claim&id={{id}}&element_id={{element_id}}&session_id={{session_id}}" class="button">Download {{title}}</a>
                </div><!--cm-singlepurchase-files-->
        {{/fulfillment_assets}}
    </div>
{{/items}}
</div><!--cm-subscription-feed-->


{{#firstuse}}
<script type="text/javascript">

var cm = window.cashmusic;

cm.events.add(cm,'ready', function(e) {

    cm.session.start();

    cm.loadScript(cm.path + '/share/share-buttons.js', function () {
        cm.shareButtons.buildButtons(
            ".test-buttons",
            {
                'title':'Join the CASH Music Family.',
                'description':'Support musicians. Vote on what we create. Receive monthly music. Access our exclusive store. We fight for musicians because art is too important to let corporations lead the way. Let’s build a better future together.',
                'caption':'CASH Music is a nonprofit empowering artists through open tools & knowledge.',
                'preview_image_url':"https://static-cashmusic.netdna-ssl.com/www/img/constant/social/family.jpg",
                'url':'https://family.cashmusic.org',
                'tags':"CASH Music,Run the jewels,non-profit,musicians"
            }
        );
    });
});

</script>
{{/firstuse}}