<h2 style="text-align: center;">You're now logged out of the {{subscription_name}}!</h2>

<script type="text/javascript">

    var cm = window.cashmusic;

    cm.events.add(cm,'ready', function(e) {
       window.location = "https://google.com";
    });

</script>