<h2 style="text-align: center;">{{message}}</h2>
<script type="text/javascript">

    var cm = window.cashmusic;

    cm.events.add(cm,'ready', function(e) {
        cm.overlay.close();
        cm.redirect("{{public_url}}", 3000);
    });

</script>