<li class="cm-tumblr cm-post-regular cm-post-text">
	<a href="{{url-with-slug}}" target="_blank" class="cm-date">{{formatted_date}} <span class="cm-platform">Tumblr</span></a>
	<div class="cm-content">
		<h3>{{regular-title}}</h3>
		{{{regular-body}}}
	</div>
</li>
