<li class="cm-tumblr cm-post-quote">
	<a href="{{url-with-slug}}" target="_blank" class="cm-date">{{formatted_date}} <span class="cm-platform">Tumblr</span></a>
	<blockquote>
		{{{quote-text}}}
	</blockquote>
	<div class="cm-content">
		{{quote-source}}
	</div>
</li>
