<li class="cm-tumblr cm-tumblr-post-photo">
	<a href="{{url-with-slug}}" target="_blank" class="cm-date">{{formatted_date}} <span class="cm-platform">Tumblr</span></a>
	<a href="{{url-with-slug}}" target="_blank"><img src="{{photo-url-1280}}" alt="" /></a>
	<div class="cm-content">{{{photo-caption}}}</div>
</li>
