<li class="cm-tumblr cm-post-link">
	<a href="{{url-with-slug}}" target="_blank" class="cm-date">{{formatted_date}} <span class="cm-platform">Tumblr</span></a>
	<a href="{{link-url}}" target="_blank">{{link-text}}</a>
	<div class="cm-content">
		{{{link-description}}}
	</div>
</li>
