<li class="cm-tumblr cm-post-answer">
	<a href="{{url-with-slug}}" target="_blank" class="cm-date">{{formatted_date}} <span class="cm-platform">Tumblr</span></a>
	<blockquote>
		{{{question}}}
	</blockquote>
	<div class="cm-content">
		{{{answer}}}
	</div>
</li>
