<li class="cm-tumblr cm-post-video">
	<a href="{{url-with-slug}}" target="_blank" class="cm-date"{{formatted_date}} <span class="cm-platform">Tumblr</span></a>
	<div class="cm-aspect">
		{{{video-player}}}
	</div><!--cm-aspect-->
	<div class="cm-content">
		{{{video-caption}}}
	</div><!--cm-content-->
</li>
