/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #f5f5f5;
    font:400 30px/40px 'Montserrat',Helvetica,Arial,sans-serif;
    -webkit-apperance:none;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

ยง{
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



body {
    height:100%;
    background:#222 url(../images/hero_bg.jpg);
    background-attachment: fixed;
    margin:0;
    padding:0;
}

a{
    color:#f5f5f5;
       -webkit-transition: 0.3s  ease-in-out;
}

a:hover{
    opacity:0.8;
}

.main {
    padding:0;
    margin:0;
        -webkit-transition: 0.3s  ease-in-out;
    transition: 0.3s  ease-in-out;
}

.main img, .main video{
    width:30%;
    margin:0 auto;
}


.examples a{
    overflow:auto;
}

.examples{
    display:none;
    position:absolute;
    left:0;
    top:10%;
    width:100%;
    /*border-top:solid 30px #ccc;*/
    background:#ddd url(../images/hero_bg.jpg);
    /*margin:0 0 5% -5%;*/
    /*-webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;*/
    /*box-shadow: 0px 0px 10px rgba(0,0,0,0.8);*/
    opacity:0.1;
    -webkit-filter: saturate(100%);
    -webkit-transition: 0.3s  ease-in-out;

}

#vidbg{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:-1;
}

.examples img, .examples iframe, .examples video {
    width:100%;
}

 .examples iframe{
    height:525px;
 }

.examples:hover{
   /* opacity:0.9;
    -webkit-filter: saturate(0%);*/
}

.mozilla, .rackspace, .mailchimp, .maxcdn{
    margin:1% 1% -10% 1%;
}

.shuttleworth{
    display: block;
    width:100%;
     margin:0 0 3% 0;
}

.shuttleworth img{
    width:30%; 
}

.rackspace img, .mailchimp img{
    width:20%;
}

.mozilla img, .maxcdn img{
    width:13%;
}

.cashmusic.embed{
    margin:3% auto 3% auto;
    width:80%;
}

.cash_success{
    color:#f5f5f5!important;
}

/* ===================
    ALL: Orange Theme
   =================== */

.logo{
    margin:80px auto 0 auto;
    padding:1% 0;
    text-align: center;
    display:block;
    width:92%;
    /*position:fixed;
    top:1%;
    /*width:100%;*/
    opacity:1;
     -webkit-transition: 0.3s  ease-in-out;
     transition: 0.3s  ease-in-out;
    /* position:relative;
     z-index:3;*/
}

.logo img{
    height:auto;
    width:5%;
    min-width:100px;
     position:relative;
     z-index:4;
}

.display .logo{
    opacity:0;
}

.header-container {
    background-width: 100%;
    color:#f5f5f5;
    width:100%;
    height:100%;
    margin:0;
    display:block;
    overflow:auto;
    /*position:fixed;
    top:0;
    left:0;*/
    z-index: -1;
    -webkit-transition: 0.3s  ease-in-out;
    transition: 0.3s  ease-in-out;
}

/*.display .header-container {
    height:0;
}*/

 h2{
    margin:0 auto 50px auto;
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
    width:80%;
    text-align: center;
} 


.panel{
    height:100%;
    overflow: auto;
    padding:5% 8%;
}

.action{
    margin:50px 0;
      position:relative;
    z-index:3;
}

.btn{
    text-align: center;
    font-size: 30px;
    padding:1% 5%;
    text-decoration: none;
    border:solid 1px #00cf7f;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    color:#00cf7f;
    margin:3% 0;
}

.btn:hover{
    border:solid 1px #00cf7f;
    color:#f6f6f6;
    background:rgba(0,207,127,1);
    opacity: 1;
}

.panel:nth-child(even){
    background:#232123;
    color:#f6f6f6;
}

/* Safari Only .MP4 Color Match */
_::-webkit-full-page-media, _:future, :root .panel.made{
    background:#262626;
}

.panel.made{
    position:relative;
    overflow: hidden;
text-align:center;
}



.panel.made h2{
position:relative;
z-index: 2;
/*margin:50% auto 0 auto;*/
text-align:center;
margin:-5% auto 0 auto;
}

.panel.made img{
    float:right;
    padding:5% 5% 0 0;
}

.panel.made video{
    width:100%;
    padding:0;
    margin:-10% auto 0 auto;
}

.panel.first, .panel.about,  .panel.better,  .panel.free{
    text-align: center;
}

.panel.free img, .panel.better img{
    display:none;
}

.panel.first{
    padding:0 8% 5% 8%;
}

.panel.first .inner{
    padding:0;
}

.panel.first img{
    width:100%;
}

.panel.first h2{
}

.panel.free{
    background:url('../images/free.jpg');
    background-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*-webkit-filter: saturate(0%);*/
    color:#f5f5f5;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

.panel.better{
    background:url('../images/blank.gif');
    background-width: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#222;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

.pullquote{
     text-align: left;
     color:#333;
     line-height:180px;
}

.pullquote img{
    float:left!important;
    width:35%;
}

.footer-container,
.main aside {
}

.main aside{
    background:#222;
    color:#f5f5f5;
    width:100%;
    margin:0 -5% -5% -5%;
    padding:5%;
    width:100%;
    clear:both;
}

.header-container,
.footer-container,
.main aside {

}

.title {
    text-align: center;
    display:block;
    width:100%;
}

.menutoggle{
    text-indent: -5000em;
    background: url(../images/menu_normal.png) no-repeat 50% 50%;
    border:none;
    background-size: 60%;
    padding:20px;
    display:block;
    position:fixed;
    z-index:10;
    height:30px;
    width:30px;
    -webkit-transition: 0.3s  ease-in-out;
    transition: 0.3s  ease-in-out;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.menutoggle:hover{
    cursor: pointer;
}

/*.display .toggle{
    background: url(../images/invert_logo.svg) no-repeat 50% 50%;
    background-size: 45%;
}*/

.show.menutoggle{
  background:#ddd url(../images/menu_close.gif) no-repeat 50% 50%;
  background-size: 60%;
  -webkit-filter: invert(0%);
  filter: invert(0%);
}

.hide.menutoggle{
  background: url(../images/menu_open.gif) no-repeat 50% 50%;
  background-size: 60%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/*
nav{
    position:fixed;
    top:-100%;
    left:0;
    width:100%;
    margin:0 auto;
    display:block;
    padding:3% 8%;
    display:block;
    background:#222;
    z-index:9;
    -webkit-transition: 0.3s  ease-in-out;
}

.display nav{
    top:0;
}

nav ul {
    padding:0;
    margin:0;
}

nav ul li{
    float:left;
    padding:0 1px 0 0;
    margin:0;
}

nav a { 
    margin:0;
    text-align: center;
    text-decoration: none;
    font-weight: 100;
    color:#f5f5f5;
    border:solid 1px #222;
    padding:8px;
    font-weight: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: 0.3s  ease-in-out;

}

nav a:hover{
   color:#00cf7f;
       -webkit-transition: 0.3s  ease-in-out;
}
*/
nav{
    position:fixed;
    /*top:-42px;*/
    top:-100%;
    left:0;
    margin:0 auto;
    display:block;
    padding:10px 2%;
    display:block;
    background:#222;
    background:#222 url(../images/logo.svg) no-repeat 50% 100%;
    text-align: left;
    color:#f6f6f6;
    width:96%;
    z-index:4;
    -webkit-transition: 0.3s  ease-in-out;
    -moz-transition: 0.3s  ease-in-out;
    trasition:0.3s ease-in-out;
}

.show nav{
    top:0px;
}

nav ul {
    list-style-type: none;
    padding:0;
    margin:0 0 20px 20px;
    margin:0 auto;
    float:left;
    width:70%;
    width:100%;
}

nav ul li{
    /*float:left;*/
    padding:0 1px 0 0;
    margin:0;
    width:100%;
    text-align: center;
}

nav a { 
    margin:1px;
    display:block;
    /*text-transform: uppercase;*/
    text-align: center;
    text-decoration: none;
    /*font-weight: bold;*/
    color:#f6f6f6;
    padding:20px;
    font-weight: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background:#111;
    -webkit-transition: 0.3s  ease-in-out;
    -moz-transition: 0.3s  ease-in-out;
    trasition:0.3s ease-in-out;
}

nav a:hover{
   color:#00cf7f;
  /* border-color: #00cf7f;*/
}


.about{
    clear:both;
    padding:5%;
    /*line-height: 60px;*/
}

h1{
    font-size: 40px;
    line-height: 45px;
    position:relative;
    z-index:3;
}

.panel.first h1{
      margin: 7% 0 7% 0;
}

.main article{
    padding:0 5% 2% 5%;
}

.main aside {
    padding: 0px 5% 10px;
}

.footer-container footer {
    display:none;
}

.panel .copy{
    float:right;
}

.social{
    position:absolute;
    right:30px;
    top:15px;
    z-index:11;
    background:#111;
    margin:0;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    display:none;
}

.social .twitter-follow-button{
    padding:10px 10px;
    float:left;
}

.social .fb-like{
    padding:8px 10px 10px 0;
    float:left;
}

.social .git{
    /*margin-top:10px;*/
    text-indent: 0em;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {

    }

/* ============
    WIDE: Menu
   ============ */

   nav ul{
    margin:5px 0 5px 60px;
    }

    nav a { 
        padding:8px;
        display:inline-block;
    }

    nav ul li{
        float:left;
        width:auto;
    }



/* ============
    WIDE: Main
   ============ */

    .main article {
    }

    .main aside {
         width: 90%;
    }

    .social{
        display:block;
    }

    h1{
        font-size: 70px;
        line-height: 75px;
    }

    h2{
        font-size: 40px;
        line-height: 45px;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .panel .inner{
        max-width:1200px;
        margin:0 auto;
        padding:5%;
    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ===============
   Tablet Fixes
   =============== */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
  
video{
    display:none;
}

.panel.free, .panel.better{
    background:none!important;
    position:relative;
    overflow:hidden;
}

.panel.free img, .panel.better img{
    position: absolute; 
    z-index:-1;
    top: 0; 
    left: 0; 
    /* Preserve aspet ratio */
    width:100%;
    height:auto;
    display:block;
}

}/*  Tablet Fixes END */

/* ===============
   Further Mobile Fixes
   =============== */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 

video{
    display:none;
}

.panel.free, .panel.better{
    background:none!important;
    position:relative;
    overflow:hidden;
}

.panel.free img, .panel.better img{
    position: absolute; 
    z-index:-1;
    top: 0; 
    left: 0; 
    /* Preserve aspet ratio */
    width:auto;
    height:100%;
    display:block;
}

}/*  Further Mobile Fixes END */