@charset "UTF-8";

@font-face {
  font-family: "cashmusic";
  src:url("fonts/cashmusic.eot");
  src:url("fonts/cashmusic.eot?#iefix") format("embedded-opentype"),
    url("fonts/cashmusic.woff") format("woff"),
    url("fonts/cashmusic.ttf") format("truetype"),
    url("fonts/cashmusic.svg#cashmusic") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "cashmusic" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "cashmusic" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arw-dwn:before {
  content: "\62";
}
.icon-dwnld:before {
  content: "\63";
}
.icon-ext-link:before {
  content: "\64";
}
.icon-ban:before {
  content: "\66";
}
.icon-group:before {
  content: "\68";
}
.icon-file:before {
  content: "\69";
}
.icon-rocket:before {
  content: "\6a";
}
.icon-record:before {
  content: "\6b";
}
.icon-search:before {
  content: "\6c";
}
.icon-heart:before {
  content: "\6d";
}
.icon-calendar:before {
  content: "\6f";
}
.icon-lg-arw:before {
  content: "\70";
}
.icon-share:before {
  content: "\72";
}
.icon-link:before {
  content: "\73";
}
.icon-camera:before {
  content: "\74";
}
.icon-cart:before {
  content: "\75";
}
.icon-cloud-upload:before {
  content: "\76";
}
.icon-card:before {
  content: "\77";
}
.icon-list:before {
  content: "\78";
}
.icon-user:before {
  content: "\41";
}
.icon-paperclip:before {
  content: "\43";
}
.icon-paste:before {
  content: "\46";
}
.icon-pencil:before {
  content: "\48";
}
.icon-bulb-o:before {
  content: "\4c";
}
.icon-warn:before {
  content: "\61";
}
.icon-question:before {
  content: "\4f";
}
.icon-arw-up:before {
  content: "\65";
}
.icon-file-block:before {
  content: "\52";
}
.icon-circle-plus:before {
  content: "\4e";
}
.icon-wrench:before {
  content: "\44";
}
.icon-certificate:before {
  content: "\45";
}
.icon-chevron:before {
  content: "\58";
}
.icon-plus:before {
  content: "\49";
}
.icon-barcode:before {
  content: "\67";
}
.icon-book:before {
  content: "\6e";
}
.icon-book-1:before {
  content: "\71";
}
.icon-bulb:before {
  content: "\7a";
}
.icon-dollar:before {
  content: "\42";
}
.icon-divider:before {
  content: "\47";
}
.icon-data:before {
  content: "\4a";
}
.icon-cog:before {
  content: "\4b";
}
.icon-map:before {
  content: "\50";
}
.icon-menu:before {
  content: "\51";
}
.icon-nothing:before {
  content: "\53";
}
.icon-unlink:before {
  content: "\54";
}
.icon-truck:before {
  content: "\55";
}
.icon-tick:before {
  content: "\56";
}
.icon-signout:before {
  content: "\57";
}
.icon-live:before {
  content: "\59";
}
.icon-unlock:before {
  content: "\79";
}
.icon-locked:before {
  content: "\4d";
}
.icon-logo:before {
  content: "\5a";
}
