@charset "UTF-8";

@font-face {
  font-family: "cashmusic";
  src:url("../fonts/cashmusic.eot");
  src:url("../fonts/cashmusic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/cashmusic.woff") format("woff"),
    url("../fonts/cashmusic.ttf") format("truetype"),
    url("../fonts/cashmusic.svg#cashmusic") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "cashmusic" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "cashmusic" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arw-dwn:before {
  content: "b";
}
.icon-dwnld:before {
  content: "c";
}
.icon-ext-link:before {
  content: "d";
}
.icon-ban:before {
  content: "f";
}
.icon-barcode:before {
  content: "g";
}
.icon-group:before {
  content: "h";
}
.icon-file:before {
  content: "i";
}
.icon-rocket:before {
  content: "j";
}
.icon-record:before {
  content: "k";
}
.icon-search:before {
  content: "l";
}
.icon-heart:before {
  content: "m";
}
.icon-book:before {
  content: "n";
}
.icon-calendar:before {
  content: "o";
}
.icon-lg-arw:before {
  content: "p";
}
.icon-signout:before {
  content: "q";
}
.icon-share:before {
  content: "r";
}
.icon-link:before {
  content: "s";
}
.icon-camera:before {
  content: "t";
}
.icon-cart:before {
  content: "u";
}
.icon-cloud-upload:before {
  content: "v";
}
.icon-card:before {
  content: "w";
}
.icon-list:before {
  content: "x";
}
.icon-unlock:before {
  content: "y";
}
.icon-unlink:before {
  content: "z";
}
.icon-user:before {
  content: "A";
}
.icon-map:before {
  content: "B";
}
.icon-paperclip:before {
  content: "C";
}
.icon-wrench:before {
  content: "D";
}
.icon-certificate:before {
  content: "E";
}
.icon-paste:before {
  content: "F";
}
.icon-cog:before {
  content: "G";
}
.icon-pencil:before {
  content: "H";
}
.icon-plus:before {
  content: "I";
}
.icon-logo:before {
  content: "K";
}
.icon-bulb:before {
  content: "M";
}
.icon-dollar:before {
  content: "J";
}
.icon-bulb-o:before {
  content: "L";
}
.icon-warn:before {
  content: "a";
}
.icon-question:before {
  content: "O";
}
.icon-nothing:before {
  content: "Q";
}
.icon-arw-up:before {
  content: "e";
}
.icon-file-block:before {
  content: "R";
}
.icon-truck:before {
  content: "P";
}
.icon-circle-plus:before {
  content: "N";
}
.icon-data:before {
  content: "T";
}
.icon-learn:before {
  content: "S";
}
