<span class="cash_digitalpurchase_itemname">{{item_name}}</span> 
<span class="cash_digitalpurchase_itemdescription">{{message_success}}</span> 
<br /><br />
<a href="?cash_request_type=asset&cash_action=claim&id={{item_asset}}&element_id={{element_id}}" class="download">{{asset_title}}</a> 
<div class="description">{{asset_description}}</div>