/* TAG RESETS */
html {margin:0;padding:0;}
body {color:#000;background-color:#fff;text-align:center;font:75%/1.5em helvetica,"helvetica neue",arial,sans-serif;margin:0;padding:0;min-height:300px;min-width:1060px;}
a {color:#999;text-decoration:none;}
a:hover {text-decoration:underline;}
code, div.callout {display:block;padding:2em 2em 1.75em 2em;margin:0 auto 1.5em auto;background-color:#ddd;background-image:url(../images/top_left.png);background-position:left top;background-repeat:no-repeat;}
img {border:0;}
ul, ol {padding:0.5em 0 1.5em 1.5em;}
#pagecontent * li {margin-bottom:0.5em;}
p {margin:0 0 1.5em 0;}
h1 {font-size:42px;line-height:1em;margin:0 0 0.5em 0;padding:0;}
h2, h3, h4 {font-size:1.5em;line-height:1.125em;margin:0;padding:0;padding-bottom:0.35em;}
big {font-size:1.5em;line-height:1.25em;}
small {font-size:0.85em;line-height:1.25em;}
small a {color:#000 !important;font-weight:bold;}
table {font-size:0.85em;}

/* GENERAL PAGE LAYOUT */
ul.nobullets {padding-left:0;}
ul.nobullets li {list-style-type:none;}
#pagecontent {position:relative;clear:both;width:920px;padding:160px 2em 3em 2em;margin:0 auto;text-align:left;z-index:500;}
.col_onehalf {float:left;width:47%;padding-right:5%;}
.col_onethird {float:left;width:29%;padding-right:6%;}
.col_twothirds {float:left;width:64%;padding-right:6%;}
.col_onefourth {float:left;width:21%;padding-right:5%;}
.col_threefourths {float:left;width:73%;padding-right:5%;}
.fadedtext {color:#999;}
.smalltext {font-size:0.85em;}
.lastcol {padding:0;float:right;}
.row_seperator {position:relative;clear:both;height:1em;overflow:hidden;visibility:hidden;}
.clearfix {visibility:hidden;overflow:hidden;clear:both;height:1px;}
.tall {height:3em;}
.tar {text-align:right;}
.majorcallout {display:block;float:left;padding:7px 12px 7px 12px;margin:0 10px 10px 0;font-weight:bold;color:#fff;background-color:#999;font-size:2.5em;line-height:1em;}
.mininav {margin-left:1.5em;}
.nobr  {white-space:nowrap;}
.modalbg {position:absolute;top:0px;left:0px;width:100%;height:100%;background-color:rgba(255,255,255,0.9);z-index:5432;}
.modaldialog {position:absolute;top:250px;left:50%;margin-left:-172px;padding:24px;width:320px;height:auto;background-color:#ddd;background-image:url(../images/top_left.png);background-position:left top;background-repeat:no-repeat;text-align:left;z-index:10;}
.modaldialog input {background-color:#000;border:1px solid #000;color:#fff;width:auto;padding:6px 18px 6px 18px;font-weight:bold;cursor:pointer;margin-left:9px;}
.modaldialog input:hover {background-color:#ff0;color:#000;border:1px solid #bbb;}

/* FORMS */
input,textarea {padding:6px 2% 6px 2%;border:1px solid #ccc;width:96%;}
input:active, input:focus, textarea:focus {outline:0;border:1px solid #888;}
input.button, a.mockbutton {background-color:#ccc;padding:6px 18px 6px 18px;font-weight:bold;cursor:pointer;width:auto;}
input.button:hover {background-color:#aaa;}
input.checkorradio {width:auto;}
select {padding:6px 3px 6px 3px;border:1px solid #ccc;width:100%;}
select:active, select:focus {outline:2px solid #ff0;}
label {font-size:0.85em;text-transform:uppercase;color:#999;}

/* COLORS */
.bgcolor0 {background-color:#999;}
.bgcolor1, div.usecolor1 input.button, div.usecolor1 a.mockbutton {background-color:#df0854;}
.bgcolor2, div.usecolor2 input.button, div.usecolor2 a.mockbutton {background-color:#df9b08;}
.bgcolor3, div.usecolor3 input.button, div.usecolor3 a.mockbutton {background-color:#aacd07;}
.bgcolor4, div.usecolor4 input.button, div.usecolor4 a.mockbutton {background-color:#0891df;}
.bgcolor5, div.usecolor5 input.button, div.usecolor5 a.mockbutton {background-color:#9b08df;}
div.usecolor1 input.button:hover, div.usecolor1 a.mockbutton:hover {background-color:#cd074d;}
div.usecolor2 input.button:hover, div.usecolor2 a.mockbutton:hover {background-color:#ca8c07;}
div.usecolor3 input.button:hover, div.usecolor3 a.mockbutton:hover {background-color:#97b800;}
div.usecolor4 input.button:hover, div.usecolor4 a.mockbutton:hover {background-color:#0080c9;}
div.usecolor5 input.button:hover, div.usecolor5 a.mockbutton:hover {background-color:#8a00ca;}
div.usecolor1 a, h2.usecolor1 {color:#cd074d;}
div.usecolor2 a, h2.usecolor2 {color:#ca8c07;}
div.usecolor3 a, h2.usecolor3 {color:#97b800;}
div.usecolor4 a, h2.usecolor4 {color:#0080c9;}
div.usecolor5 a, h2.usecolor5 {color:#8a00ca;}
a.usecolor0 {color:#999 !important;}
a.mockbutton {color:#000 !important;font-size:0.9em;}
a.mockbutton:hover {text-decoration:none !important;}
div.callout a {font-weight:bold;color:#999;}
div.callout a:hover {font-weight:bold;color:#000;}
* a.needsconfirmation:hover {color:#f00 !important;}

/* NAVIGATION */
#chromespc {position:fixed;top:0;left:0;min-width:960px;width:100%;z-index:1000;margin:0;padding:0;}
#accountspc {position:absolute;top:0;left:0;min-width:960px;width:100%;height:30px;z-index:400;font-size:11px;line-height:14px;background-color:#000;color:#666;text-align:right;}
#accountmenu {width:auto;min-width:200px;float:right;padding:8px 1.5em 8px 1.5em;color:#666;cursor:pointer;}
#accountmenu ul {position:absolute;top:30px;right:0;margin:0;padding:0;list-style:none;width:auto;min-width:200px;display:none;}
#accountmenu ul li {padding:0;background-color:#222;}
#accountmenu ul li:hover {background-color:#000;}
#accountmenu ul li a {color:#666;display:block;padding:8px 1.5em 8px 1.5em;color:#999;text-decoration:none;margin:0;}
#accountmenu ul li a:hover {text-decoration:underline;}
#accountmenu:hover ul {display:block;}
#subnavmenu {position:absolute;top:30px;left:0;min-width:960px;width:100%;height:30px;z-index:300;padding:0;font-size:11px;line-height:14px;background-color:#fff;color:#000;opacity:0.9;text-align:right;}
#subnavmenu div {position:relative;width:auto;padding:8px 0 8px 1.5em;margin-left:0.5em;float:right;}
#subnavmenu div a {color:#000;padding:2px;}
#subnavmenu div a:hover, #tipspc a:hover {background-color:#ff0;}
#subnavmenu div#helpmenu {padding-right:1.5em;}
#helpmenu {cursor:pointer;}
#helpmenu:hover {background-color:#eee;}
#helpmenu ul {position:absolute;top:30px;right:0;margin:0;padding:0;list-style:none;width:auto;min-width:auto;display:none;}
#helpmenu ul li {padding:0;background-color:#eee;}
#helpmenu ul li:hover {background-color:#ff0;}
#helpmenu ul li a {display:block;padding:8px 1.5em 8px 1.5em;text-decoration:none;margin:0;}
#helpmenu ul li a:hover {text-decoration:underline;}
#helpmenu:hover ul {display:block;}
#navmenu {position:absolute;top:0;left:50%;margin-left:-530px;width:730px;height:72px;text-align:left;color:#fff;text-align:right;font-size:0.9em;line-height:1.3em;z-index:500;}
#navmenu .navitem {float:left;margin:0;padding:3px 8px;width:130px;height:72px;cursor:pointer;}
#navmenu .currentnav {background-image:url(../images/bot_left.png);background-position:left bottom;background-repeat:no-repeat;}
#navmenu .navitem:hover {background-color:#fff;color:#000;background-image:none;}
#navmenu h2 {margin:0;padding:0;font-size:1.65em;line-height:1.15em;}
#navmenu a {color:#fff;}
#navmenu a:hover, #navmenu .navitem:hover a {color:#000;text-decoration:none;}
#navmenu a:active, #navmenu a:focus {color:#000;}
#tipspc {clear:both;position:relative;padding-top:8px;color:#666;width:722px;margin-bottom:16px;}
#tipspc a {color:#000;}
#tipspc a:hover {background-color:#fff;}
#tipscloselink {font-weight:bold;}
#pagetips {position:fixed;top:79px;right:1.5em;;width:260px;background-color:#ff0;color:#000;font-size:11px;line-height:14px;padding:1.75em 1.3em 1.5em 2em;background-image:url(../images/top_left.png);background-position:left top;background-repeat:no-repeat;text-align:left;margin:0;}
#sectionmenu a {text-transform:lowercase;margin-right:1.5em;}
#navmenu .currentnav, #navmenu .currentnav a {color:#000;}
#pagecontent #tipslink {color:#999;font-size:0.9em;line-height:1.25em;padding:1px;}
ul.pagebasemenu {padding:0;margin-top:0;margin-bottom:1.5em;font-size:1.25em;font-weight:bold;line-height:1.5em;color:#999;}
ul.pagebasemenu li {list-style-type:none;}
ul.pagebasemenu ul {padding:0;margin-top:0;margin-bottom:0;font-size:0.8em;font-weight:normal;}
.currentpagemenu {margin-left:16px;}

/* PAGE ELEMENTS */
#pagemenu {width:180px;margin-right:24px;float:left;}
#pagemenu * li {margin-bottom:0;}
#pagedisplay {width:710px;float:left;}
.nopagemenu {width:914px !important;}
.element_image {position:relative;height:78px;background-repeat:no-repeat;background-position:center top;margin-bottom:6px;}

/* FOOTER (base code taken from cssstickyfooter.com) */
* {margin-top:0;padding:0;} 
html, body, #wrap {height:100%;}
body > #wrap {height:auto;min-height:100%;}
#mainspc {padding-bottom:40px;}
#footer {position:relative;margin-top:-36px;height:36px;color:#ccc;text-align:left;font-size:0.9em;line-height:1em;clear:both;background-color:transparent;}
#footer p {padding:12px 8px 0px 12px;}
#footer a {color:#ccc;margin-left:24px;}
#footer a:hover {color:#000;}
#footer .donatelink {color:#aaa;}

/* ACCESSIBILITY STUFFS */
* a:focus, #footer a.donatelink:active, #footer a.donatelink:focus, input.checkorradio:focus, input.checkorradio:active
{outline:2px solid #ff0;background-color:#ff0;color:#000;}
