/* FONTS */
@font-face {
	font-family: 'IconicFill';
	src: url('../fonts/iconic_fill.eot');
	src: url('../fonts/iconic_fill.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/iconic_fill.ttf') format('truetype'),
		 url('../fonts/iconic_fill.svg#iconic') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* TAG RESETS */
html {margin:0;padding:0;}
body {color:#231F20;background-color:#fafaf8;text-align:center;font:14px/1.5em helveticaneue,"helvetica neue",helvetica,"segoe ui","segoe wp",arial,sans-serif;margin:0;padding:0;min-height:300px;min-width:920px;text-rendering:optimizelegibility;}
a {color:#999;text-decoration:none;}
a:hover {text-decoration:underline;color:#000 !important;}
blockquote {margin:0 0 1.5em 24px;padding:0 0 0 8px;border-left:6px #ececed solid;font-size:0.85em;}
div.callout {display:block;font-size:11px;padding:22px 18px 18px 18px;margin:0 auto 1.5em auto;background-color:#ededef;background-image:url(../images/top_left.png);background-position:left top;background-repeat:no-repeat;}
div.callout.flush {background-image:none;}
code {font-size:11px;}
code a {color:#23c;}
code input {width:670px !important;border:0 !important;font-size:11px !important;background-color:#ededef !important;font-family:'courier', monospace !important;margin-top:-2px;font-style:normal !important;position:relative;top:-1px;}
fieldset {border: 0; margin: 0; padding: 0;}
img {border:0;}
ul, ol {padding:0.5em 0 1em 1.5em;}
li {line-height:1.35em;}
ol {padding-left:1em;}
ol li {margin-bottom:1em;list-style-type:decimal;}
p {margin:0 0 1.5em 0;}
h1 {clear:both;font-size:36px;line-height:42px;margin:32px 0 16px 0;padding:0;font-weight:bold;}
h2, h3, h4 {font-size:17px;line-height:1.125em;margin:0;padding:0;padding-bottom:0.35em;}
h5 {font-size:11px;text-transform:uppercase;font-weight:bold;margin:0;}
big {font-size:1.5em;line-height:1.25em;}
small {font-size:0.85em;line-height:1.25em;}
small a {color:#231F20 !important;font-weight:bold;}
.ui-widget {text-align:left;}

/* ELEMENT TYPES */
div.callout {font-size:12px;}
ul.nobullets {padding:0;}
ul.nobullets li {list-style-type:none;margin-bottom:12px;}
.alternating {padding:0;}
.alternating li {position:relative;list-style-type:none;padding:9px;background-color:#f5f5f4;margin-bottom:6px;}
.alternating li:nth-child(odd) {background-color:#ececed;}
.alternating li a {line-height:1.5em;}
ul.linkonly li {position:relative;padding:0 !important;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
ul.linkonly li a {display:block;padding:9px;color:#231F20 !important;}
ul.linkonly li:hover, ul.alternating li:hover {top:-1px;background-color:#fff;box-shadow:-2px 2px 2px #dededc;}
ul.assetbrowse {padding:0;}
ul.assetbrowse li {list-style-type:none;margin-top:10px;}
ol li, ol.alternating li {list-style-type: decimal;}

/* GENERAL PAGE LAYOUT */
.clearfix {visibility:hidden;overflow:hidden;clear:both;height:1px;}
.col_oneoftwo {float:left;width:47%;padding-right:5%;}
.col_oneofthree {float:left;width:29%;padding-right:6%;}
.col_twoofthree {float:left;width:64%;padding-right:6%;}
.col_oneoffour {float:left;width:21%;padding-right:5%;}
.col_threeoffour {float:left;width:73%;padding-right:5%;}
.lastcol {padding:0;float:right;}
.row_seperator {position:relative;clear:both;height:12px;overflow:hidden;visibility:hidden;}
.nojs {display:;}
.onlyjs {display:none;}

/* MISC STYLES */
.altcopystyle {font:italic 12px/1.5em georgia, times, serif;color:#4d4d4f;}
.created_mod {padding:8px 0 0 0;text-align:right;white-space:nowrap;}
.created_mod_top {padding:0 0 4px 0;text-align:left;white-space:nowrap;}
.element_image {position:relative;height:78px;background-repeat:no-repeat;background-position:center top;margin-bottom:6px;}
.fadedtext {color:#a49c9c !important;}
.washedtext {color:#d1c7c7 !important;}
.highlightcopy {padding:2px 6px 2px 6px;background-color:#ff0;font:italic 12px/1.75em georgia, times, serif;}
.itemnav {margin:12px 0 8px 0;font-size:12px;}
li .itemnav {margin:4px 0 0 0;height:1px;overflow:hidden;-webkit-transition:all 0.1s ease-out;-moz-transition: all 0.1s ease-out;-o-transition: all 0.1s ease-out;transition: all 0.1s ease-out;}
li:hover .itemnav {margin:12px 0 8px 0;height:auto;}
.majorcallout {display:block;float:left;padding:7px 12px 7px 12px;margin:0 10px 10px 0;font-weight:bold;color:#fff;background-color:#999;font-size:2.5em;line-height:1em;}
.mininav_flush {font-weight:bold;margin:0 1.25em 0 0;color:#a49c9c !important;text-shadow: 0px 1px 0px #fff;}
.mininav_spaced {font-weight:bold;margin:0 0 0 1.25em;color:#a49c9c !important;}
.modalbg {position:fixed;top:0px;left:0px;width:100%;height:100%;background-color:rgba(250,250,248,0.9);z-index:5432;}
.modaldialog {position:absolute;top:25%;left:50%;margin-left:-172px;padding:24px;width:320px;height:auto;background-color:#ddd;background-image:url(../images/top_right.png);background-position:right top;background-repeat:no-repeat;text-align:left;box-shadow:-2px 2px 2px rgba(0,0,0,0.15);z-index:10;}
.modallightbox {position:absolute;top:15%;left:50%;margin-left:-344px;padding:24px;width:640px;height:auto;max-height:66%;background-color:#fff;background-image:url(../images/top_right.png);background-position:right top;background-repeat:no-repeat;text-align:left;box-shadow:-2px 2px 2px rgba(0,0,0,0.15);z-index:10;}
.modallightbox  input.button, .modaldialog input.button {background-color:#231F20;color:#fff;width:auto;padding:6px 18px 6px 18px;font-weight:bold;cursor:pointer;margin-left:9px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.modaldialog input.button:hover {background-color:#ff0 !important;color:#231F20;border:1px solid #ff0;}
.nobr  {white-space:nowrap;}
.smalltext {font-size:0.85em;}
.tall {height:3em;}
.tar {text-align:right;}
.drawerhandle {font-size:12px;font-weight:bold;cursor:pointer;}

/* FEATURED ELEMENT CARDS */
.featuredelement {padding:0;background-color:#fff;margin-bottom:36px;box-shadow:-2px 2px 2px #dededc;}
.featuredelement h3 {margin-bottom:-0.25em;}
.featuredelement .padding {padding:8px;}
.featuredelement .itemnav {padding:0 10px 0 0;text-align:right;}
.featuredelement .itemnav a {font-weight:bold;}
.featuredelement .elementdetails {max-height:1px;overflow:hidden;visibility:hidden;-webkit-transition:all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all  0.3s ease-out;}
.featuredelement .detailsshown {max-height:400px;visibility:visible;}

/* COLORS */
.bgcolor0 {background-color:#999;}
.bgcolor1, div.usecolor1 input.button, div.usecolor1 a.mockbutton, div.usecolor1 div.introductorybanner {background-color:#df0854;}
.bgcolor2, div.usecolor2 input.button, div.usecolor2 a.mockbutton, div.usecolor2 div.introductorybanner {background-color:#df9b08;}
.bgcolor3, div.usecolor3 input.button, div.usecolor3 a.mockbutton, div.usecolor3 div.introductorybanner {background-color:#aacd07;}
.bgcolor4, div.usecolor4 input.button, div.usecolor4 a.mockbutton, div.usecolor4 div.introductorybanner {background-color:#0891df;}
.bgcolor5, div.usecolor5 input.button, div.usecolor5 a.mockbutton, div.usecolor5 div.introductorybanner {background-color:#9b08df;}
div.usecolor1 a, h2.usecolor1, span.usecolor1, div.usecolor1 form.inline input.inlinesubmit {color:#cd074d;}
div.usecolor2 a, h2.usecolor2, span.usecolor2, div.usecolor2 form.inline input.inlinesubmit {color:#ca8c07;}
div.usecolor3 a, h2.usecolor3, span.usecolor3, div.usecolor3 form.inline input.inlinesubmit {color:#97b800;}
div.usecolor4 a, h2.usecolor4, span.usecolor4, div.usecolor4 form.inline input.inlinesubmit {color:#0080c9;}
div.usecolor5 a, h2.usecolor5, span.usecolor5, div.usecolor5 form.inline input.inlinesubmit {color:#8a00ca;}
a.usecolor0 {color:#999 !important;}
a.usecolor1 {color:#cd074d !important;}
a.usecolor2 {color:#ca8c07 !important;}
a.usecolor3 {color:#97b800 !important;}
a.usecolor4 {color:#0080c9 !important;}
a.usecolor5 {color:#8a00ca !important;}
a.mockbutton {color:#fff !important;font-size:14px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
a.mockbutton:hover {background-color:#000 !important;text-decoration:none !important;}
div.callout a {font-weight:bold;color:#999;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;

}
div.callout a:hover {font-weight:bold;color:#231F20;}
* a.needsconfirmation:hover {color:#f00 !important;}
* a.actionlink {font-weight:bold;margin-right:2em;}

/* ICONS */
.icon {display:inline-block;font-family:'IconicFill';font-weight:normal;width:1.35em;text-align:center;}
.icon.hash:before {content:'\23';}
.icon.question_mark:before {content:'\3f';}
.icon.at:before {content:'\40';}
.icon.pilcrow:before {content:'\b6';}
.icon.info:before {content:'\2139';}
.icon.arrow_left:before {content:'\2190';}
.icon.arrow_up:before {content:'\2191';}
.icon.arrow_right:before {content:'\2192';}
.icon.arrow_down:before {content:'\2193';}
.icon.home:before {content:'\2302';}
.icon.sun_fill:before {content:'\2600';}
.icon.cloud:before {content:'\2601';}
.icon.umbrella:before {content:'\2602';}
.icon.star:before {content:'\2605';}
.icon.moon_fill:before {content:'\263e';}
.icon.heart_fill:before {content:'\2764';}
.icon.cog:before {content:'\2699';}
.icon.bolt:before {content:'\26a1';}
.icon.key_fill:before {content:'\26bf';}
.icon.rain:before {content:'\26c6';}
.icon.denied:before {content:'\26d4';}
.icon.mail:before {content:'\2709';}
.icon.pen:before {content:'\270e';}
.icon.check:before {content:'\2713';}
.icon.check_alt:before {content:'\2714';}
.icon.x:before {content:'\2717';}
.icon.x_alt:before {content:'\2718';}
.icon.left_quote:before {content:'\275d';}
.icon.right_quote:before {content:'\275e';}
.icon.plus:before {content:'\2795';}
.icon.minus:before {content:'\2796';}
.icon.curved_arrow:before {content:'\2935';}
.icon.document_alt_fill:before {content:'\e000';}
.icon.calendar:before {content:'\e001';}
.icon.map_pin_alt:before {content:'\e002';}
.icon.comment_alt1_fill:before {content:'\e003';}
.icon.comment_alt2_fill:before {content:'\e004';}
.icon.pen_alt_fill:before {content:'\e005';}
.icon.pen_alt2:before {content:'\e006';}
.icon.chat_alt_fill:before {content:'\e007';}
.icon.plus_alt:before {content:'\e008';}
.icon.minus_alt:before {content:'\e009';}
.icon.bars_alt:before {content:'\e00a';}
.icon.book_alt:before {content:'\e00b';}
.icon.aperture_alt:before {content:'\e00c';}
.icon.beaker_alt:before {content:'\e010';}
.icon.left_quote_alt:before {content:'\e011';}
.icon.right_quote_alt:before {content:'\e012';}
.icon.arrow_left_alt1:before {content:'\e013';}
.icon.arrow_up_alt1:before {content:'\e014';}
.icon.arrow_right_alt1:before {content:'\e015';}
.icon.arrow_down_alt1:before {content:'\e016';}
.icon.arrow_left_alt2:before {content:'\e017';}
.icon.arrow_up_alt2:before {content:'\e018';}
.icon.arrow_right_alt2:before {content:'\e019';}
.icon.arrow_down_alt2:before {content:'\e01a';}
.icon.brush:before {content:'\e01b';}
.icon.brush_alt:before {content:'\e01c';}
.icon.eyedropper:before {content:'\e01e';}
.icon.layers:before {content:'\e01f';}
.icon.layers_alt:before {content:'\e020';}
.icon.compass:before {content:'\e021';}
.icon.award_fill:before {content:'\e022';}
.icon.beaker:before {content:'\e023';}
.icon.steering_wheel:before {content:'\e024';}
.icon.eye:before {content:'\e025';}
.icon.aperture:before {content:'\e026';}
.icon.image:before {content:'\e027';}
.icon.chart:before {content:'\e028';}
.icon.chart_alt:before {content:'\e029';}
.icon.target:before {content:'\e02a';}
.icon.tag_fill:before {content:'\e02b';}
.icon.rss:before {content:'\e02c';}
.icon.rss_alt:before {content:'\e02d';}
.icon.share:before {content:'\e02e';}
.icon.undo:before {content:'\e02f';}
.icon.reload:before {content:'\e030';}
.icon.reload_alt:before {content:'\e031';}
.icon.loop_alt1:before {content:'\e032';}
.icon.loop_alt2:before {content:'\e033';}
.icon.loop_alt3:before {content:'\e034';}
.icon.loop_alt4:before {content:'\e035';}
.icon.spin:before {content:'\e036';}
.icon.spin_alt:before {content:'\e037';}
.icon.move_horizontal:before {content:'\e038';}
.icon.move_horizontal_alt1:before {content:'\e039';}
.icon.move_horizontal_alt2:before {content:'\e03a';}
.icon.move_vertical:before {content:'\e03b';}
.icon.move_vertical_alt1:before {content:'\e03c';}
.icon.move_vertical_alt2:before {content:'\e03d';}
.icon.move:before {content:'\e03e';}
.icon.move_alt1:before {content:'\e03f';}
.icon.move_alt2:before {content:'\e040';}
.icon.transfer:before {content:'\e041';}
.icon.download:before {content:'\e042';}
.icon.upload:before {content:'\e043';}
.icon.cloud_download:before {content:'\e044';}
.icon.cloud_upload:before {content:'\e045';}
.icon.fork:before {content:'\e046';}
.icon.play:before {content:'\e047';}
.icon.play_alt:before {content:'\e048';}
.icon.pause:before {content:'\e049';}
.icon.stop:before {content:'\e04a';}
.icon.eject:before {content:'\e04b';}
.icon.first:before {content:'\e04c';}
.icon.last:before {content:'\e04d';}
.icon.fullscreen:before {content:'\e04e';}
.icon.fullscreen_alt:before {content:'\e04f';}
.icon.fullscreen_exit:before {content:'\e050';}
.icon.fullscreen_exit_alt:before {content:'\e051';}
.icon.equalizer:before {content:'\e052';}
.icon.article:before {content:'\e053';}
.icon.read_more:before {content:'\e054';}
.icon.list:before {content:'\e055';}
.icon.list_nested:before {content:'\e056';}
.icon.cursor:before {content:'\e057';}
.icon.dial:before {content:'\e058';}
.icon.new_window:before {content:'\e059';}
.icon.trash_fill:before {content:'\e05a';}
.icon.battery_half:before {content:'\e05b';}
.icon.battery_empty:before {content:'\e05c';}
.icon.battery_charging:before {content:'\e05d';}
.icon.chat:before {content:'\e05e';}
.icon.mic:before {content:'\e05f';}
.icon.movie:before {content:'\e060';}
.icon.headphones:before {content:'\e061';}
.icon.user:before {content:'\e062';}
.icon.lightbulb:before {content:'\e063';}
.icon.cd:before {content:'\e064';}
.icon.folder_fill:before {content:'\e065';}
.icon.document_fill:before {content:'\e066';}
.icon.pin:before {content:'\e067';}
.icon.map_pin_fill:before {content:'\e068';}
.icon.book:before {content:'\e069';}
.icon.book_alt2:before {content:'\e06a';}
.icon.box:before {content:'\e06b';}
.icon.calendar_alt_fill:before {content:'\e06c';}
.icon.comment_fill:before {content:'\e06d';}
.icon.iphone:before {content:'\e06e';}
.icon.bars:before {content:'\e06f';}
.icon.camera:before {content:'\e070';}
.icon.volume_mute:before {content:'\e071';}
.icon.volume:before {content:'\e072';}
.icon.battery_full:before {content:'\e073';}
.icon.magnifying_glass:before {content:'\e074';}
.icon.lock_fill:before {content:'\e075';}
.icon.unlock_fill:before {content:'\e076';}
.icon.link:before {content:'\e077';}
.icon.wrench:before {content:'\e078';}
.icon.clock:before {content:'\e079';}

/* FORMS */
form span {line-height:2.5em;}
input,textarea,select {font:italic 14px/1.25em georgia, times, serif !important;border:1px solid #dddddf;width:100%;padding:8px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
input:active, input:focus, textarea:focus {outline:0;border:1px solid #888;}
input.button, a.mockbutton {background-color:#777;padding:8px 18px 8px 18px !important;font:bold 14px/1.25em helvetica,"segoe ui","segoe wp",arial,sans-serif !important;cursor:pointer;width:auto !important;border:1px solid transparent;color:#fff;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;

}
input.button:hover {background-color:#000 !important;color:#fff;}
input.checkorradio {width:auto !important;margin-top:8px;}
label {font-size:11px;text-transform:uppercase;color:#a49c9c;}
select {height:34px;line-height:34px;width:100%;padding:8px;border:none;background-color:#ededef;background-image:linear-gradient(top, #dfdfdf 0%, #efefef 100%);background-image:-moz-linear-gradient(top, #dfdfdf 0%, #efefef 100%);border-radius:5px;}
select option {padding:8px;}
select:active, select:focus {outline:2px solid #ff0;}
textarea.tall {height:200px;}
form.inline {display:inline;}
form.inline input {width:3.25em !important;border:1px solid #fafaf8;}
form.inline input:active, form.inline input:focus {outline:0;border:1px solid #888;}
form.inline input.inlinesubmit {font:14px/1.5em helvetica,"helvetica neue","segoe ui","segoe wp",arial,sans-serif !important;background-color:transparent;cursor:pointer;font-weight:bold !important;width:auto !important;padding-left:0 !important;padding-right:0 !important;}

/* TABLES */
table {font-size:11px;}
th {background-color:#000;color:#fff;}
tr {background-color:#f5f5f4;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;


}
tr:nth-child(odd) {background-color:#ececed;}
tr:hover {background-color:#fff;box-shadow:-2px 2px 2px #dededc;}
td, th {padding:6px 5px 6px 5px;vertical-align:top;}
* #pagecontent td a, div.usecolor1 #pagecontent td a, div.usecolor2 #pagecontent td a, div.usecolor3 #pagecontent td a, div.usecolor4 #pagecontent td a, div.usecolor5 #pagecontent td a {color:#999;}

/* MAIN NAVIGATION/INTERFACE ELEMENTS */
#chromespc {position:fixed;top:0;left:0;min-width:960px;width:100%;z-index:1000;margin:0;padding:0;background-color:#000;height:6px;}
#accountspc {position:absolute;top:0;left:0;min-width:960px;width:100%;height:6px;z-index:400;font-size:11px;line-height:14px;background-color:#000;color:#666;text-align:left;}
#accountmenu {position:relative;width:auto;height:14px;float:left;padding:8px 12px 8px 12px;color:#babac4;cursor:pointer;z-index:4321;}
#accountmenu:hover {background-color:#a49c9c;color:#231F20;box-shadow:-2px 2px 2px rgba(0,0,0,0.15);}
#accountmenu ul {position:absolute;top:30px;left:0;margin:0;padding:0;list-style:none;width:auto;height:1px;overflow:hidden;visibility:hidden;-webkit-transition:all 0.1s ease-out;-moz-transition: all 0.1s ease-out;-o-transition: all 0.1s ease-out;transition: all  0.1s ease-out;}
#accountmenu:hover ul {height:130px;visibility:visible;background-color:#a49c9c;color:#231F20;box-shadow:-2px 2px 2px rgba(0,0,0,0.15);}
#accountmenu ul li {display:block;}
#accountmenu ul li a {color:#231F20 !important;display:block;width:8em;padding:8px 1.5em 8px 2.625em;color:#999;text-decoration:none;margin:0;}
#accountmenu ul li a:hover {text-decoration:underline;color:#fff !important;background-color:#231F20;}
#helpmenu {cursor:pointer;position:relative;height:14px;float:left;width:auto;padding:8px 12px 8px 12px;font-size:11px;line-height:14px;color:#babac4;z-index:4321;}
#helpmenu:hover {background-color:#ff0;color:#231F20;box-shadow:-2px 2px 2px rgba(0,0,0,0.15);}
#helpmenu ul {position:absolute;top:30px;left:0;margin:0;padding:0;list-style:none;width:auto;min-width:auto;height:1px;overflow:hidden;visibility:hidden;-webkit-transition:all 0.1s ease-out;-moz-transition: all 0.1s ease-out;-o-transition: all 0.1s ease-out;transition: all  0.1s ease-out;}
#helpmenu:hover ul {height:130px;visibility:visible;background-color:#ff0;color:#231F20;box-shadow:-2px 2px 2px rgba(0,0,0,0.15);}
#helpmenu ul li {clear:both;}
#helpmenu ul li a {display:block;width:9em;padding:8px 1.5em 8px 2.625em;text-decoration:none;margin:0;color:#231F20 !important;}
#helpmenu ul li a:hover {text-decoration:underline;color:#fff !important;background-color:#231F20;}
#navmenumask {position:absolute;top:6px;left:0;width:100%;height:44px;z-index:1;color:#fafaf8;background-color:rgba(250,250,248,0.9);}
#navmenu {position:absolute;top:0;left:50%;margin-left:-390px;width:780px;height:52px;text-align:left;color:#231F20;text-align:left;font-size:11px;line-height:1.3em;z-index:500;}
#navmenu .navitem {position:relative;float:left;margin:0;padding:2px 8px;width:140px;height:2px;cursor:pointer;z-index:100;color:#231F20;-webkit-transition:height 0.1s ease-out;-moz-transition: height 0.1s ease-out;-o-transition: height 0.1s ease-out;transition: height  0.1s ease-out;}
#navmenu .navitem:hover {height:46px;background-image:url(../images/bot_left.png);background-position:left bottom;background-repeat:no-repeat;}
#navmenu .currentnav {height:46px;background-image:url(../images/bot_left.png);background-position:left bottom;background-repeat:no-repeat;}
#navmenu .currentnav a, #navmenu .currentnav:hover a {color:#fff !important;}
#navmenu h2 {font-size:22px;line-height:30px;margin:0;padding:0;font-weight:bold;}
#navmenu a {color:#a49c9c;}
#navmenu a:hover, #navmenu .navitem:hover a {color:#fff !important;text-decoration:none;}
#navmenu a:active, #navmenu a:focus {color:#fff;}
#navmenu a:active {background-color:transparent;}
#navmenu .currentnav, #navmenu .currentnav a {color:#fff;}
#subnavmenu {clear:both;font-size:11px;line-height:14px;padding:4px 0 4px 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
#subnavmenu a {display:block;color:#babac4 !important;float:left;width:auto;padding:8px 12px 8px 0;}
#subnavmenu a:hover {color:#231F20 !important;}
#pagetips {background-color:#ff0;color:#231F20;padding:12px 16px 12px 16px;text-align:left;margin:0;}
#pagetips a {color:#231F20;}
#tipscloselink {font-size:11px;position:relative;left:-4px;font-weight:bold;padding:4px;margin-top:6px;}
#tipscloselink:hover {background-color:#000;color:#fff !important;text-decoration:none;}

/* PAGE ELEMENTS */
#pagecontent {position:relative;clear:both;width:780px;padding:54px 20px 20px 20px;margin:0 auto;text-align:left;z-index:500;}
#pagemenu {position:relative;padding:16px 0 16px 0;}
#pagemenu * li {margin-bottom:0;font-size:13px;line-height:1.5em;float:left;margin-right:24px;}
#pagemenu a:hover {text-decoration:none;}
#pagemenu a:hover.pagemenutitle {text-decoration:underline;}
#pagemenu a.pagemenutitle {color:#231F20;font-weight:bold;float:left;margin-right:24px;}
.currentpagemenu {margin-left:16px;}
ul.pagebasemenu {padding:0;margin-top:0;margin-bottom:1.5em;font-size:16px;font-weight:bold;line-height:1.5em;color:#999;}
ul.pagebasemenu li {list-style-type:none;}
ul.pagebasemenu ul {padding:0;margin-top:0;margin-bottom:0;font-size:0.8em;font-weight:normal;}
.introductorybanner {position:relative;padding:24px 24px 40px 170px;height:auto;min-height:65px;background:#fff url(../images/top_right.png) right top no-repeat;margin-bottom:24px;box-shadow:-2px 2px 2px #dededc;font-size:16px;line-height:1.3em;color:#111;}
.introductorybanner.flush {margin-bottom:0;}
.introductorybanner div.closelink {position:absolute;right:5px;bottom:4px;text-align:right;font-size:12px;}
.introductorybanner div.closelink a {color:#fff;}
.mainpage.introductorybanner {padding:33px 24px 55px 180px;min-height:165px;}
.mainpage.introductorybanner a {font-weight:bold;}
.mainpage.introductorybanner div.closelink a {color:#999997;font-weight:normal;}
.mainpage.introductorybanner .moreinfospc {margin:0;padding:0;text-align:right;font-size:14px;}
.mainpage.introductorybanner .moreinfospc a {color:#000;background-color:#ff0;padding:0 0.5em 0 0.5em;}
.mainpage.introductorybanner .mainbannercontent {margin:0;padding:0;position:relative;z-index:100;}
.mainpage.introductorybanner img.bannerbg {position:absolute;left:5px;bottom:0;z-index:10;width:300px;height:201px;}
.introductorybanner div.titlespc {position:absolute;left:10px;top:24px;font-size:11px;line-height:1.3em;color:#fff;}
.introductorybanner h2 {font-size:24px;line-height:30px;margin:0 0 1px 0;padding:0;}
div.gettingstarted {font-size:17px;padding-top:18px;color:#a49c9c;}
div.gettingstarted h2 {font-size:26px;}
div.gettingstarted a.featured {font-weight:bold;line-height:1.75em;}
div.gettingstarted a.featured:hover {color:#000 !important;text-decoration:none;}
div.gettingstarted p {font-size:14px;line-height:1.5em;color:#231F20;}
div.gettingstarted h3 {font-size:11px;line-height:1.5em;margin:0;text-transform:uppercase;font-weight:bold;color:#231F20;}
div.gettingstarted h3:after {content:' (pending)';}
div.gettingstarted div.complete {opacity: 0.25;}
div.gettingstarted div.complete h3 {color:#449900;}
div.gettingstarted div.complete h3:after {content:'';}
div.gettingstarted span.helpspc {font-size:12px;color:#231F20;}
div.gettingstarted a.helplink {color:#231F20;background-color:#ff0;padding:2px 9px 2px 9px;}

/* nate's asset stuff */
#add-release-form .formats .icon {
	margin-right: 7px;
	float: left;
	vertical-align: middle;
}

#add-release-form .formats select {
	max-width: 85px;
	margin-right: 7px;
}

#add-release-form .formats input { min-width: 206px; }

#add-release-form .formats .mininav_flush { margin-right: 0; }

#add-release-form .formats .needsconfirmation {
	float: right;
	opacity: 0;

	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

#add-release-form .formats .needsconfirmation .icon { margin-right: 0; }

#add-release-form .formats li:hover .needsconfirmation,
#add-release-form .formats li:focus .needsconfirmation { opacity: 1; }

.upload-corral {
	display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	display: none;
}

/* FOOTER (base code taken from cssstickyfooter.com) */
* {margin-top:0;padding:0;}
html, body, #wrap {height:100%;}
body > #wrap {height:auto;min-height:99%;}
#mainspc {padding-bottom:40px;}
#footer {position:relative;margin:-32px auto 0 auto;height:36px;width:780px;color:#babac4;text-align:left;font-size:11px;line-height:1em;clear:both;background-color:transparent;}
#footer p {padding:12px 0 0 0;}
#footer a {color:#babac4;margin-left:24px;}
#footer a:hover {color:#231F20;}
#footer .donatelink {color:#231F20;}

/* ACCESSIBILITY STUFFS */
* a:focus, #footer a.donatelink:active, #footer a.donatelink:focus, input.checkorradio:focus, input.checkorradio:active
{outline:2px solid #ff0;color:#231F20;}

/* html5bp, more to come */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
