/*************************************************** 
 *
 *  CASH Music Admin-specific styles
 *
 ***************************************************/

/* BASE STYLES AND RESETS */
html {margin:0;padding:0;height:100%;}
body {color:#2c2222;background-color:#e4e4e4;font:15px/20px "Roboto Condensed",Helvetica,Arial,sans-serif;text-align:left;margin:0;padding:0;min-height:300px;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;height:100%;min-height:500px;}
h1,h2 {color:#000;font:300 30px/40px "Roboto Condensed",Helvetica,Arial,sans-serif;margin:6px 0 18px 0;}
h3,h4 {color:#999;font:700 19px/19px "Roboto Condensed",Helvetica,Arial,sans-serif;margin:6px 0 18px 0;}
h5 {color:#000;font:700 15px/15px "Roboto Condensed",Helvetica,Arial,sans-serif;margin:0 0 3px 0;} 
h6 {color:#999;font:700 15px/15px "Roboto Condensed",Helvetica,Arial,sans-serif;margin:0 0 9px 0;} 
img {border:0;}
a {color:#df0854;font-weight:bold;}
a:hover {color:#000;}
a:visited {color:#df0854;}
blockquote {margin:0 0 1.5em 24px;padding:0 0 0 8px;border-left:6px #ececed solid;font-size:0.85em;}
code {font-size:11px;}
code a {color:#23c;}
code input, code textarea, .codearea {width:660px !important;border:0 !important;font-size:11px !important;background-color:#fff !important;font-family:'courier', monospace !important;margin:-2px 0 0 0;font-style:normal !important;font-weight:normal !important;position:relative;top:-1px;}
.codearea_notes {width:660px !important;border:0 !important;font-size:12px !important;margin:-2px 0 0 75px;font-style:normal !important;}
.codearea {height:auto;display:inline-block;line-height:1.35em;padding:0.5em;resize:none;outline:0px solid transparent;margin-bottom:0.75em;}
.codearea:focus {outline:0px solid transparent;}
.codelabel {width:70px;display:inline-block;vertical-align:top;}
fieldset {border:0;margin:0;padding:0;}
small {font-size:0.86em;line-height:inherit;}
small a {color:#231F20 !important;font-weight:bold;}
p,span.descriptive,.highlightcopy {font:13px/20px "Noto Serif",georgia,times,serif;}
p a,span.descriptive a,.highlightcopy a {font-weight:normal;}
p {margin:0 0 1.5em 0;}
big,.big {font:16px/20px "Noto Serif",georgia,times,serif;}
p.big {margin-bottom:3em;line-height:24px;}
/* LISTS */
ul {padding-left:1.5em;}
ul.nobullets {padding:0;}
ul.nobullets li {list-style-type:none;margin-bottom:12px;}
.alternating {padding:0;}
.alternating li {position:relative;list-style-type:none;padding:9px;color:#666;background-color:#fff;margin-bottom:6px;}
.alternating li a {line-height:1.5em;}
ul.linkonly li {position:relative;padding:0 !important;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}
ul.linkonly li a {display:block;padding:9px;color:#231F20 !important;}
ul.assetbrowse {padding:0;}
ul.assetbrowse li {list-style-type:none;margin-top:10px;}
ol li, ol.alternating li {list-style-type:decimal;}
li {font-size:inherit;}
/* TABLES */
th {background-color:#000;color:#fff;font-size:inherit;}
tr {background-color:#fff;}
td, th {padding:8px 5px 10px 5px;vertical-align:top;font-size:12px;line-height:1.25em;}
* #pagecontent td a, div.usecolor1 * td a, div.usecolor2 * td a, div.usecolor3 * td a, div.usecolor4 * td a, div.usecolor5 * td a {color:#999 !important;}
/* FORMS */
button,select,input[type="text"],input[type="password"],input[type="date"],input[type="datetime"],input[type="email"],input[type="number"],input[type="search"],input[type="tel"],input[type="time"],input[type="url"],textarea,a.button {font:italic 13px/20px "Noto Serif",georgia,times,serif;border:1px solid #dddddf;width:100%;padding:8px;height:38px !important;background-color:#f3f3f3;border-radius:0 !important;box-shadow:none !important;}
input:active, input:focus, textarea:focus {outline:0;border:1px solid #888;background-color:#fff;}
input[type="submit"], input[type="button"], a.button, button {background-color:#df0854;padding:0 18px 4px 18px;font:bold 15px/15px "Roboto Condensed",Helvetica,Arial,sans-serif !important;cursor:pointer;width:auto;height:38px;border:0;color:#fff;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}
a.button, button {padding:7px 18px 9px 18px;}
input[type="submit"]:hover, input[type="button"]:hover, a.button:hover, button:hover {background-color:#000 !important;color:#fff;}
input[type="checkbox"],input[type="radio"] {width:auto !important;height:auto !important;margin-top:8px;}
input, textarea, select, button {margin-top:8px !important;}
label {font-family:"Roboto Condensed",Helvetica,Arial,sans-serif;font-size:12px;line-height:1em;text-transform:uppercase;color:#888;font-weight:normal;}
select {-webkit-appearance:none;line-height:16px;width:100%;border:none;background-color:#f3f3f3;border-radius:0;border:1px solid #dddddf;background-image:url(../images/selectarrow.png);background-position:top right;background-repeat:no-repeat;margin-top:5px !important;}
select option {padding:8px;}
select:active, select:focus {background-color:#fff;border:1px solid #888;outline:none;}
textarea.tall {height:200px !important;}
textarea.taller {height:400px !important;padding-right:0;padding-bottom:0;font-family:"courier new",courier,monospace !important;font-style:normal !important;font-size:0.9em !important;}
form.inline {display:inline;}
form.inline input {width:3.25em !important;border:1px solid #fafaf8;}
form.inline input:active, form.inline input:focus {outline:0;border:1px solid #888;}
form.inline input.inlinesubmit {font:14px/1.5em helvetica,"helvetica neue","Segoe UI",arial,sans-serif !important;background-color:transparent;cursor:pointer;font-weight:bold !important;width:auto !important;padding-left:0 !important;padding-right:0 !important;}
select.invalid, input[type="text"].invalid, input[type="password"].invalid, input[type="date"].invalid, input[type="datetime"].invalid, input[type="email"].invalid, input[type="number"].invalid, input[type="search"].invalid, input[type="tel"].invalid, input[type="time"].invalid, input[type="url"].invalid, textarea.invalid {border:1px solid #ff0;}
label.invalid {color:#000;}

/*************************************************** 
 *
 *  Menus and UI chrome
 *
 ***************************************************/

/* MAIN SPACES */
#chromespc {position:fixed;top:0;left:0;width:100%;height:6px;background-color:#000;z-index:1000;margin:0;padding:0;font-size:15px;font-family:'Roboto Condensed';line-height:15px;font-weight:700;z-index:500;}
#chrome {position:relative;top:6px;left:24px;width:180px;background-color:rgba(255,255,255,0.4);box-shadow:-2px 2px 2px rgba(0,0,0,0.1);}
#mainspc {position:relative;left:225px;margin:0;padding-top:28px;z-index:400;width:770px;}
#pagetitle {position:relative;}
#pagetitle em {font-size:16px;font-family:"Noto Serif",georgia,times,serif;font-style:normal;color:#888;margin-left:24px;}
div.row {overflow:visible;}
/* MAIN MENU */
.highlightimg {position:absolute;top:0;left:-24px;height:100%;width:24px;box-shadow:-2px 2px 2px rgba(0,0,0,0.1);background-position:center center;display:none;}
div.mainnavmenu ul li.current a div.highlightimg, .no-touch #navmenu ul li a:hover div.highlightimg {display:block;}
div.mainnavmenu {position:relative;z-index:100;}
div.mainnavmenu, div.mainnavmenu ul {display:block;padding:0;}
div.mainnavmenu ul li {display:inline;}
div.mainnavmenu ul li a {position:relative;display:block;padding:6px 12px 8px 12px;color:#000;font-size:18px;font-weight:300;}
div.mainnavmenu ul li.current a {background-color:#000;color:#e4e4e4;}
.no-touch div.mainnavmenu ul li a:hover {background-color:#000;color:#ff0;}
div.mainnavmenu ul li .subnavmenu {max-height:1px;visibility:hidden;overflow:hidden;-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out;}
div.mainnavmenu ul li.current .subnavmenu {max-height:500px;visibility:visible;}
div.mainnavmenu ul li .subnavmenu ul {margin-top:4px;margin-bottom:8px;}
div.mainnavmenu ul li .subnavmenu a {font-size:14px;font-weight:bold;padding:4px 0 2px 12px;background-color:transparent !important;}
/* ACCOUNT/HELP MENUS */
#accountmenu,#helpmenu {position:relative;height:auto;overflow:hidden;cursor:pointer;z-index:100;font-weight:400;color:#999;}
#accountmenu span, #helpmenu span {display:block;padding:8px 12px 8px 12px;margin-bottom:4px;}
#accountmenu:hover, #helpmenu:hover {background-color:#000;color:#e4e4e4;}
#helpmenu:hover {background-color:#ff0;color:#000;}
#accountmenu ul, #helpmenu ul {position:relative;margin:0;padding:0;list-style:none;max-height:1px;visibility:hidden;-webkit-transition:all 0s ease-out;-moz-transition:all 0s ease-out;-o-transition:all 0s ease-out;transition:all 0s ease-out;}
#accountmenu:hover ul, #helpmenu:hover ul {max-height:500px;visibility:visible;-webkit-transition:all 0.6s ease-out;-moz-transition:all 0.6s ease-out;-o-transition:all 0.6s ease-out;transition:all 0.6s ease-out;}
#accountmenu ul {background-color:#000;color:#fff;}
#helpmenu ul {background-color:#ff0;color:#000;}
#accountmenu ul li, #helpmenu ul li {display:block;clear:both;}
#accountmenu ul li a, #helpmenu ul li a {color:#fff;display:block;padding:8px 1.5em 9px 1.85em;text-decoration:none;margin:0;}
#helpmenu ul li a {color:#000;}
#accountmenu ul li a:hover {color:#000;background-color:#ff0;}
#helpmenu ul li a:hover {color:#fff;background-color:#000;}
/* IN-PAGE MENU */
#pagemenu {margin-bottom:50px;font-weight:bold;}
#pagemenu ul {padding-left:0;}
#pagemenu * li {display:inline;margin-right:1.5em;}
/* PAGE TIPS */
#pagetips {background-color:#ff0;color:#231F20;padding:12px 16px 24px 16px;text-align:left;margin:0;display:none;}
#pagetips p {margin-bottom:0 !important;font-size:12px;line-height:1.5em;}
#pagetips a {color:#231F20;}
#tipscloselink {font-size:11px;position:relative;top:12px;left:-4px;font-weight:bold;padding:4px;}
#tipscloselink:hover {background-color:#000;color:#fff !important;text-decoration:none;}
#pagedisplay {padding-bottom:24px;}
/* TOOLTIPS */
.tooltip {display:inline;position:relative;}
.tooltip:hover:after, .tooltip:hover:before {visibility:visible;opacity:1;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;transition:all 0.2s ease-in;transition-delay:0.5s;-webkit-transition-delay:0.5s;}
.tooltip:after {color:#000;text-decoration:none;background:#ff0;box-shadow:-2px 2px 2px rgba(0,0,0,0.15);bottom:2em;content:attr(data-tooltip);font-size:11px;line-height:18px;display:block;opacity:0;visibility:hidden;left:-1em;padding:8px 12px 8px 12px;position:absolute;width:20em;z-index:98;text-decoration:none !important;text-transform:none !important;}
.tooltip:before {border:solid;border-color:transparent;color:#ff0;text-shadow:-2px 2px 2px rgba(0,0,0,0.15);border-width:.6em .6em 0 .6em;font-size:11px;line-height:0.75em;height:0.75em;overflow:hidden;bottom:1.35em;content:"▼";display:block;opacity:0;visibility:hidden;left:2em;position:absolute;z-index:99;}


/*************************************************** 
 *
 *  Page specific features
 *
 **************************************************/

/* MAIN PAGE GETTING STARTED STUFF */
div.gettingstarted {font-size:17px;padding-top:18px;color:#a49c9c;}
div.gettingstarted h2 {font-size:26px;}
div.gettingstarted a.featured {font-weight:bold;line-height:1.75em;}
div.gettingstarted a.featured:hover {color:#000 !important;text-decoration:none;}
div.gettingstarted p {font-size:14px;line-height:1.5em;color:#231F20;}
div.gettingstarted h3 {font-size:11px;line-height:1.5em;margin:0;text-transform:uppercase;font-weight:bold;color:#231F20;}
div.gettingstarted h3:after {content:' (pending)';}
div.gettingstarted div.complete {opacity:0.25;}
div.gettingstarted div.complete h3 {color:#449900;}
div.gettingstarted div.complete h3:after {content:'';}
div.gettingstarted span.helpspc {font-size:12px;color:#231F20;}
div.gettingstarted a.helplink {color:#231F20;background-color:#ff0;padding:2px 9px 2px 9px;}
/* MAIN PAGE ACTIVITY FEED AND NEWS */
div.callout {position:relative;display:block;padding:22px 18px 22px 18px;margin:0 auto 6px auto;background-color:#fff;z-index:100;}
div.callout p {margin-bottom:0;}
div.callout.flush {background-image:none;margin-bottom:0;}
div.callout.newsfeed {background-color:#fff;color:#3c3333;padding:22px 18px 22px 88px;}
div.callout.newsfeed div.newsimage {position:absolute;top:0;left:0;width:64px;border-right:#ccc solid 6px;height:100%;background-position:center center;background-size:cover;background-color:#fff;}
div.callout.newsfeed.cashnews p {font:16px/1.5em "Noto Serif",georgia, times, serif;}
div.callout.newsfeed.cashnews div.newsimage {border-right:none;}
div.callout.newsfeed.people div.newsimage {border-right:#97b800 solid 6px;}
div.callout.newsfeed.people strong {color:#97b800;font-weight:bold;margin-right:4px;}
div.callout.newsfeed.commerce div.newsimage {border-right:#0080c9 solid 6px;}
div.callout.newsfeed.commerce strong {color:#0080c9;font-weight:bold;margin-right:4px;}
span.action a {margin-left:16px;white-space:nowrap;}
div.callout h1, div.callout h2, div.callout h3, div.callout h4 {margin-top:0;} 
/* FEATURED ELEMENT CARDS */
.featuredelement {padding:0;background-color:#fff;margin-bottom:36px;box-shadow:-2px 2px 2px #dededc;}
.featuredelement p {color:#666;}
.featuredelement h3 {margin-bottom:-0.25em;}
.featuredelement .padding {padding:8px;}
.featuredelement .itemnav {padding:0 10px 0 0;text-align:right;}
.featuredelement .itemnav a {font-weight:bold;}
.featuredelement .detailsshown {max-height:400px;visibility:visible;}
/* ASSET UPLOAD FORMS/MISC */
#add-release-form .formats .icon {margin-right:7px;float:left;vertical-align:middle;}
#add-release-form .formats select {max-width:85px;margin-right:7px;}
#add-release-form .formats input { min-width:206px; }
#add-release-form .formats .mininav_flush { margin-right:0; }
#add-release-form .formats .needsconfirmation {float:right;opacity:0;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}
#add-release-form .formats .needsconfirmation .icon { margin-right:0; }
#add-release-form .formats li:hover .needsconfirmation,
#add-release-form .formats li:focus .needsconfirmation { opacity:1; }
.upload-corral {display:none;}
input[type="date"]::-webkit-calendar-picker-indicator {display:none;}
/* SECTION DASHBOARD */
div.sectiondash {margin-bottom:24px;clear:both;}
div.sectiondash div.primarystat {width:auto;font:300 120px/130px "Roboto Condensed",Helvetica,Arial,sans-serif;display:inline-block;vertical-align:top;}
div.sectiondash label {display:inline-block;font-weight:700;cursor:text;margin-left:4px;}
div.sectiondash div.details {display:inline-block;width:auto;vertical-align:top;padding:83px 0 0 24px;}
div.sectiondash div.details li {list-style-type:none;margin-bottom:8px;}

/*************************************************** 
 *
 *  Some random bullshit to be sorted through
 *
 **************************************************/

.icon {margin-right:6px;}
.spaced {margin-left:0.75em;}
.altcopystyle {font:italic 12px/1.5em georgia, times, serif;color:#4d4d4f;}
.created_mod {padding:8px 0 0 0;text-align:right;white-space:nowrap;}
.created_mod_top {padding:0 0 4px 0;text-align:left;white-space:nowrap;}
.element_image {position:relative;height:78px;background-repeat:no-repeat;background-position:center top;margin-bottom:6px;}
.fadedtext, .fadedtext a {color:#a49c9c !important;}
.washedtext {color:#d1c7c7 !important;}
.highlightcopy, span.invalid {padding:2px 6px 2px 6px;background-color:#ff0;}
span.invalid {position:relative;top:-10px;}
.itemnav {margin:12px 0 8px 0;font-size:13px;}
li .itemnav {margin:12px 0 8px 0;height:auto;overflow:hidden;-webkit-transition:all 0.1s ease-out;-moz-transition:all 0.1s ease-out;-o-transition:all 0.1s ease-out;transition:all 0.1s ease-out;}
.no-touch li .itemnav {margin:4px 0 0 0;height:1px;}
.no-touch li:hover .itemnav {margin:12px 0 8px 0;height:auto;}
.majorcallout {display:block;float:left;padding:7px 12px 7px 12px;margin:0 10px 10px 0;font-weight:bold;color:#fff;background-color:#999;font-size:2.5em;line-height:1em;}
.mininav_flush {font-size:13px;font-weight:700;margin:0 1.25em 0 0;color:#a49c9c !important;}
.mininav_spaced {font-size:13px;font-weight:700;margin:0 0 0 1.25em;color:#a49c9c !important;}
.modalbg {position:fixed;top:0px;left:0px;width:100%;height:100%;background-color:rgba(228,228,228,0.9);z-index:5432;}
.modaldialog {position:absolute;top:25%;left:0;width:100%;height:auto;background-color:#ff0;text-align:left;z-index:10;padding:8px 0 24px 0;}
.modaldialog input.button:hover {background-color:#777 !important;}
.modaldialog h4 {margin:1em 0 6px 0;color:#000;}
.modallightbox {position:absolute;top:15%;left:50%;margin-left:-344px;padding:24px;width:640px;height:auto;background-color:#fff;background-position:right top;background-repeat:no-repeat;text-align:left;box-shadow:-2px 2px 2px rgba(0,0,0,0.15);z-index:54321;}
.modallightbox  input.button, .modaldialog input.button {background-color:#000;color:#fff;cursor:pointer;margin-right:9px;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}
.modallightbox .row {width:622px;min-width:592px;max-width:622px;margin: 0 -15px;}
.nobr  {white-space:nowrap;}
.smalltext {font-size:0.85em;}
.tall {height:3em;}
.tar {text-align:right;}
.drawerhandle {font-weight:bold;cursor:pointer;}
.drawerhandle.fullsize {font-size:15px;line-height:15px;}
.element_embedtemplate {margin-left:18px;}
::-moz-selection {background:#ff0;color:#000;}
::selection {background:#ff0;color:#000;}
.modaldialog ::-moz-selection {background:#000;color:#fff;}
.modaldialog ::selection {background:#000;color:#fff;}
.spacedtext {line-height:2em;}
.tight {margin-bottom:0 !important;}

#ajaxloading {position:absolute;top:140px;left:50%;margin-left:-44px;z-index:1000;display:none;}
.rotate {-webkit-animation:spin .8s infinite linear;animation:spin .8s infinite linear;}
@-webkit-keyframes spin {100%{-webkit-transform:rotate(360deg);}}
@-moz-keyframes spin {100%{-moz-transform:rotate(360deg);}}
@keyframes spin {100%{-moz-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);}}


/*************************************************** 
 *
 *  Colors and footer, end-of-stylesheet business
 *
 **************************************************/

/* COLORS */
.bgcolor0 {background-color:#999;}
.bgcolor1, div.usecolor1 input[type="submit"], div.usecolor1 button, div.usecolor1 a.button {background-color:#df0854 !important;}
.bgcolor2, div.usecolor2 input[type="submit"], div.usecolor2 button, div.usecolor2 a.button {background-color:#df9b08 !important;}
.bgcolor3, div.usecolor3 input[type="submit"], div.usecolor3 button, div.usecolor3 a.button {background-color:#aacd07 !important;}
.bgcolor4, div.usecolor4 input[type="submit"], div.usecolor4 button, div.usecolor4 a.button {background-color:#0891df !important;}
.bgcolor5, div.usecolor5 input[type="submit"], div.usecolor5 button, div.usecolor5 a.button {background-color:#9b08df !important;}
div.usecolor1 input[type="submit"]:hover, div.usecolor2 input[type="submit"]:hover, div.usecolor3 input[type="submit"]:hover, div.usecolor4 input[type="submit"]:hover, div.usecolor5 input[type="submit"]:hover, div.usecolor1 button:hover, div.usecolor2 button:hover, div.usecolor3 button:hover, div.usecolor4 button:hover, div.usecolor5 button:hover {background-color:#000 !important;}
div.usecolor1 a, h2.usecolor1, span.usecolor1, div.usecolor1 form.inline input.inlinesubmit, div.usecolor1 .primarystat, div.usecolor1 .primarystat label {color:#cd074d !important;}
div.usecolor2 a, h2.usecolor2, span.usecolor2, div.usecolor2 form.inline input.inlinesubmit, div.usecolor2 .primarystat, div.usecolor2 .primarystat label {color:#ca8c07 !important;}
div.usecolor3 a, h2.usecolor3, span.usecolor3, div.usecolor3 form.inline input.inlinesubmit, div.usecolor3 .primarystat, div.usecolor3 .primarystat label {color:#97b800 !important;}
div.usecolor4 a, h2.usecolor4, span.usecolor4, div.usecolor4 form.inline input.inlinesubmit, div.usecolor4 .primarystat, div.usecolor4 .primarystat label {color:#0080c9 !important;}
div.usecolor5 a, h2.usecolor5, span.usecolor5, div.usecolor5 form.inline input.inlinesubmit, div.usecolor5 .primarystat, div.usecolor5 .primarystat label {color:#8a00ca !important;}
div.usecolor1 a:hover, div.usecolor2 a:hover, div.usecolor3 a:hover, div.usecolor4 a:hover, div.usecolor5 a:hover {color:#000 !important;}
a.usecolor0 {color:#999 !important;}
a.usecolor1 {color:#cd074d !important;}
a.usecolor2 {color:#ca8c07 !important;}
a.usecolor3 {color:#97b800 !important;}
a.usecolor4 {color:#0080c9 !important;}
a.usecolor5 {color:#8a00ca !important;}
a.button {color:#fff !important;font-size:14px;white-space:nowrap;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}
a.button:hover {background-color:#000 !important;text-decoration:none !important;}
div.callout a {font-weight:bold;color:#999;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}
div.callout a:hover {font-weight:bold;color:#231F20;}
* a.actionlink {font-weight:bold;margin-right:2em;}
#pagedisplay a:hover,div.usecolor1 a:hover,div.usecolor2 a:hover,div.usecolor3 a:hover,div.usecolor4 a:hover,div.usecolor5 a:hover {color:#000;}
a.mininav_flush:hover, a.mininav_spaced:hover,a.usecolor0:hover,a.usecolor0:hover,a.usecolor1:hover,a.usecolor2:hover,a.usecolor3:hover,a.usecolor4:hover,a.usecolor5:hover {color:#000 !important;}
* a.needsconfirmation:hover {color:#f00 !important;}
/* FOOTER (base code taken from cssstickyfooter.com) */
* {margin-top:0;padding:0;}
html, body, #wrap {height:100%;}
body > #wrap {height:auto;min-height:99%;}
#mainspc {padding-bottom:40px;}
#footer {position:relative;left:225px;width:700px;margin:-36px 0 0 0;height:36px;line-height:1em;clear:both;background-color:transparent;overflow:hidden;}
#footer p {padding:12px 0 0 0;color:#999;font:12px/20px "Roboto Condensed",Helvetica,Arial,sans-serif;}
#footer a {color:#999;margin-left:24px;}
#footer a:hover {color:#000;}
#footer .donatelink {color:#666;}


/*************************************************** 
 *
 *  Responsive web styles
 *
 ***************************************************/

/* FOR DESKTOP IGNORING MOBILE */
#sidebarButton {font-size:32px;position:relative;left:-2px;color:#231F20 !important;}
body #sidebarButton span.menu-inactive {display:inline;}
body #sidebarButton span.menu-active {display:none;}
body.active #sidebarButton span.menu-inactive {display:none;}
body.active #sidebarButton span.menu-active {display:inline;}

/* FOR JERKS WITH STUPID SHORT BROWSER WINDOWS */
@media only screen and (max-height:500px) {
	#chromespc {position:absolute;}
}

/* MEDIUM SIZES */
@media only screen and (max-width:1100px) {
	#mainspc {width:70%;}
	#footer {width:70%;}
	.row {min-width:0px;width:auto;}
}

/* MOBILE */
@media only screen and (max-width:767px) {
	#pagetitle img {position:relative;left:0;top:0;width:56px;height:56px;display:block;margin-bottom:6px;}
	#mainspc {padding-top:6px;left:0;width:100%;}
	#sidebar {margin-top:12px;}
	#sideMenu a {;background-color:#000 !important;color:#fff !important;font-weight:normal !important;color:#fff;text-align:center;margin-bottom:6px;}
	#sideMenu div.subnavmenu a {background-color:transparent !important;text-align:left !important;}
	#sideSubMenu a {display:block;margin:12px 6px 18px 0;color:#a49c9c !important;}
	#sideMenu li.current a.mainnav {background-color:#cd074d !important;}
	#sideMenu li.current a.assetsnav {background-color:#ca8c07 !important;}
	#sideMenu li.current a.peoplenav {background-color:#97b800 !important;}
	#sideMenu li.current a.commercenav {background-color:#0080c9 !important;}
	#sideMenu li.current a.calendarnav {background-color:#8a00ca !important;}
	#sideMenu div.subnavmenu a {color:#000 !important;font-weight:bold !important;margin-top:8px !important;margin-bottom:12px !important;}
	#sideMenu div.subnavmenu ul {margin-bottom:18px !important;}
	#smallchrome {position:fixed;top:0;left:0;width:100%;height:6px;background-color:#000;overflow:hidden;z-index:1000;}
	#smallchrome div {background-color:#000 !important;}
	#pagemenu {position:relative;margin-top:-12px;}
	#pagemenu ul {clear:both;padding-top:6px;}
	#pagemenu ul li {display:block;clear:both;margin-top:10px;}
	#pagemenu:empty {display:none;}
	div.sectiondash div.details {padding:12px 0 0 0;display:block;}
	input[type="submit"], input[type="button"], a.button {width:100%;padding:12px;height:auto;text-align:center;}
	#footer {overflow:visible;left:0;width:100%;}
	#footer a {display:block;margin-left:0;margin-top:8px;}
	#footer a.donatelink {margin-top:24px;}
	.columns {margin-top:12px;}
	.introductorybanner {display:none;}
	* .itemnav {margin:12px 0 8px 0 !important;height:auto !important;}
	code input, code textarea, .codearea {display:block;width:90% !important;}
	.modallightbox  input.button, .modaldialog input.button {width:100%;}
	.modaldialog {top:36px;}
}