/*************************************************** 
 *
 *  CASH Music Admin-specific styles
 *
 ***************************************************/

/* BASE STYLES AND RESETS */

html{
	height:100%;
	min-height:100%;
	padding:1%;
	background:#e3e3e3 url(../images/bg.jpg);
	background-attachment: fixed;
}

body {
	margin:0 0 1% 0;
	padding:0 0 1% 0;
	min-height:100%;
	background: #e3e3e3; /* Old browsers */
	background:rgba(238,238,238,0.97) url(../images/paint_low.png) 50% 50%;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x:hidden;
}

body{
	color:#222;
	font:400 30px/40px 'Montserrat',Helvetica,Arial,sans-serif;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
	background: rgba(34, 34, 34, 0.97);
}

::-webkit-scrollbar-thumb
{
	background: rgba(238, 238, 238, 0.97);
}

.row{
	overflow:auto;
	width:100%;
	min-width:100%;
}

#pagetitle{
	font-size:50px;
	margin:0 0 30px 0;
	font-weight:700;
	line-height: 55px;
	text-transform: uppercase;
}

br{	
	display:none;
	background:#222;
	height:1;
	padding:0;
	margin:-50px;
}

a{
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	trasition:0.3s ease-in-out;
	text-decoration: underline;
	color:#00cf7f;
	padding:5px;
}

a:hover{
	text-decoration: none;
	color:#222;
}

input{
	padding:30px;
}

button, .button{
	border:solid 1px #00cf7f;
	background:none;
	padding:10px 50px;
	margin:5% 0;
	text-align: center;
	float:left;
	font:400 14px/20px 'Montserrat',Helvetica,Arial,sans-serif;
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	trasition:0.3s ease-in-out;
	text-decoration: none;
	color:#00cf7f;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

button:hover, .button:hover{
	background:#00cf7f;
	color:#f5f5f5;
	cursor: pointer;
}

small{
	font-size: 12px;
}

.smalltext{
	margin:0 0 0 20px;
	color:#888;
}

.smalltext li{
	font-size: 12px;
}

.big {
	font-size:30px;
	line-height:35px;
	margin:0 0 30px 0;
}

.fadedtext{
	opacity:0.8;
}

button .icon, .button .icon{
	display:none;
}

h1,h2,h3,h4,h5{
	color:#222;
	font:400 30px/40px 'Montserrat',Helvetica,Arial,sans-serif;
}

h4{
	margin:30px 0 10px 0;
}

#pagedisplay .icon{
	margin:0 5px 0 0;
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	border-radius: 1000px;
	background:#222;
	color:#f5f5f5;
	padding:10px;
	text-decoration: none;
}

/* Animation */

@-webkit-keyframes turn {
 0%{ -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg); }
 100% { -webkit-transform: rotate(360deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);}
}

@keyframes turn{
 0%{ transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);}
 100% { transform:  rotate(360deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg); }
}

@-moz-keyframes turn{
 0%{ -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg); }
 100% { -moz-transform:  rotate(360deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);}
}


#ajaxloading{
	display:none;
	float:right;
	width:30px;
	margin:5% 0;
	-webkit-animation: turn linear infinite 3s;
    -moz-animation: turn linear infinite 3s;
    animation: turn linear infinite 3s;
    opacity:0.95;
}

/* Layout */

#logo{
	padding:0;
	margin:2% 0 50px 0;
	float:left;
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	trasition:0.3s ease-in-out;
}


#logo a:hover{
	background:none;
}

#logo img:hover{
	-webkit-animation: turn linear infinite 2s;
    -moz-animation: turn linear infinite 2s;
    animation: turn linear infinite 2s;
}

#logo span{
	font-size: 15px;
	line-height: 12px;
	padding:35px 0 0 0;
	display:inline-block;
	margin:0 0 0 30px;
}

#logo img{
	max-width:100px;
	height:auto;
	float:left;
}

.container, #mainspc{
	width:74%;
	padding:3%;
}

section[role=main]{
	width:100%;
}

#donate{
	position:fixed;
	bottom:0;
	text-align: center;
	width:26.5%;
	background:#333;
	padding:3% 5%;
}

#donate span{
	font-size: 120px;
	line-height: 150px
	font-weight:400;
	display:block;
	color:#444;
} 

#donate a{
	text-decoration: none;
}

#donate p{
	color:#f5f5f5;
	font-size: 15px;
}

.col_oneoftwo{
	float:right;
	font-size:30px;
}

/* Errors */

#message{
	position:fixed;
	top:-130px;
	left:0;
	padding:1%;
	margin:0;
	width:100%;
	text-align:center;
	background:#ff3232;
	color:#f5f5f5;
	font-size: 16px;
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	trasition:0.3s ease-in-out;
}

#message.error{
	top:0;
}

/* Login Window */

#mainspc.login{
	width:100%;
}

.login h1{
	color:#f5f5f5;
	text-align: center;
	width:100%;
	margin:0 auto;
}

.login .welcome{
	color:#222;
}

.login #logo{
	width:120px;
	height:120px;
	text-align: center;
	margin:3% auto 3% auto;
	padding:0;
	float:none;
}


.login #logo img{
	min-width:100%;
}

.login #pagecontent{
	width:100%;
}

.login button{
		/*border:solid 2px #f5f5f5;
		color:#f5f5f5;*/
		margin:0;
		float:right;
}

.login .row .six {
	margin:0;
	padding:0;
}

#footer.login{
	width:100%;
	text-align: center;
	margin:0 auto 1% auto;
	position:relative;
}

.login #pagedisplay{
	width:100%;
	margin:0 auto;
}

#cash_signin_form{
	background:#ededed url(../images/dirt.png);
	padding:10%;
	position:relative;
	left:50%;
	width:100%;
	margin:30px 0;
	color:#f5f5f5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.3);
	box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.3);
}


/* Navigation */

#menutoggle{
	text-indent: -5000em;
	background: url(../images/menu_icon.png) no-repeat 50% 50%;
	border: 3px solid #f5f5f5;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position:fixed;
	top:10%;
	right:30%;
	z-index:10;
	padding:0;
	margin:0;
	-webkit-filter: invert(100%); 
	filter: invert(100%)
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	trasition:0.3s ease-in-out;
	display:none;
}

#menutoggle:hover{
	cursor:pointer;
	
}

#menutoggle.display{
	-webkit-filter: invert(0%); 
	filter: invert(0%)
}

#navmenu{
	position:fixed;
	top:0%;
	right:0%;
	height:100%;
	width:26.5%;
	margin:0;
	padding:4% 0;
	background:#222;
	opacity:1;
	z-index:2;
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	trasition:0.3s ease-in-out;
	background:#222 url(../images/dirt.png) 50% 50%;
}

#navmenu ul{
	padding:3%;
	text-align:right;
	list-style-type: none;
	margin:0;
	padding:20% 0;
	height:100%;
}

#navmenu.display{
	opacity:0;
	top:0%;
	right:-130%;
}

#navmenu ul li a{
	padding:15px 10% 15px 10%;
	text-decoration: none;
	font-size: 16px;
	border-bottom:solid 1px #333;
	display: inline-block;;
	width:100%;
	float:left;
	text-align: left;
	clear:left;
	color:#222;
	color:#f5f5f5;
}

#navmenu ul li a .icon{
	float:right;
}

#navmenu ul li a:hover{
	background:#f5f5f5;
	color:#222;
}



#navmenu .subnavmenu ul{
	opacity:0;
	position:relative;
	right:-1000px;
	list-style-type: none;
	margin:0;
	padding:0;
	display:none;
}

.subnavmenu ul li{
	margin:0;
	padding:0;
}

#navmenu .current .subnavmenu ul{
	opacity:1;
	height:100%;
	position:relative;
	right:0;
	display:block;
	top:0px;
	animation-delay:2s;
	-webkit-animation-delay:2s; /* Safari and Chrome */
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	trasition:0.3s ease-in-out;
}

#navmenu .current a{
	background:#eee;
	color:#222;
}

#navmenu .current .subnavmenu ul li a{
	background:#121212;
	color:#f5f5f5;
}

/* Main navigation Color Usage */

/* Seletion Arrows */
#navmenu .current .mainnav:after, #navmenu .current .assetsnav:after, #navmenu .current .peoplenav:after,#navmenu .current .commercenav:after ,#navmenu .current .calendarnav:after{
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(87, 233, 149, 0);
	border-right-color: #00cf7f;
	border-width: 15px;
	margin-top: -15px;
}

#navmenu .current .mainnav, #navmenu .current .assetsnav, #navmenu .current .peoplenav, #navmenu .current .commercenav, #navmenu .current .calendarnav{
	position: relative;
}

#navmenu .current .mainnav{
	background:#00cf7f;
	color:#f5f5f5;
}


#navmenu .current .assetsnav{
	background:#fa3838;
	color:#f5f5f5;
}

#navmenu .current .assetsnav:after{
	border-color: rgba(250, 56, 56, 0);
	border-right-color: #fa3838;
}

#navmenu .current .peoplenav{
	background:#ff7c12;
	color:#f5f5f5;
}

#navmenu .current .peoplenav:after{
	border-color: rgba(255, 124, 18, 0);
	border-right-color: #ff7c12;
}

#navmenu .current .commercenav{
	background:#6a38fa;
	color:#f5f5f5;
}

#navmenu .current .commercenav:after{
	border-color: rgba(106, 56, 250, 0);
	border-right-color: #6a38fa;
}

#navmenu .current .calendarnav{
	background:#fa2658;
	color:#f5f5f5;
}

#navmenu .current .calendarnav:after{
	border-color: rgba(250, 38, 88, 0);
	border-right-color: #fa2658;
}

/* Color usage */

#mainspc.usecolor2 a, #mainspc.usecolor2 button{
	color:#fa3838;
}

#mainspc.usecolor2 a:hover, #mainspc.usecolor2 button, #mainspc.usecolor2 .button{
	border-color:#fa3838;
}

#mainspc.usecolor2 button:hover, #mainspc.usecolor2 .button:hover{
	background:#fa3838;
	color:#f5f5f5;
}

#mainspc.usecolor3 a, #mainspc.usecolor3 button, #mainspc.usecolor3 #stats .total span{
	color:#ff7c12;
}

#mainspc.usecolor3 button, #mainspc.usecolor3 .button{
	border-color:#ff7c12;
}

#mainspc.usecolor3 a:hover, #mainspc.usecolor3 button:hover, #mainspc.usecolor3 .button:hover,  #mainspc.usecolor3 #stats .total{
	background:#ff7c12;
	color:#f5f5f5;
}

#mainspc.usecolor4 a, #mainspc.usecolor4 button{
	color:#6a38fa;
}

#mainspc.usecolor4 button, #mainspc.usecolor4 .button{
	border-color:#6a38fa;
}

#mainspc.usecolor4 a:hover, #mainspc.usecolor4 button:hover, #mainspc.usecolor4 .button:hover{
	background:#6a38fa;
	color:#f5f5f5;
}

#mainspc.usecolor5 a, #mainspc.usecolor5 button{
	color:#fa3866;
}

#mainspc.usecolor5 button, #mainspc.usecolor5 .button{
	border-color:#fa3866;
}

#mainspc.usecolor5 a:hover, #mainspc.usecolor5 button:hover, #mainspc.usecolor5 .button:hover{
	background:#fa3866;
	color:#f5f5f5;
}

#mainspc.usecolor2 a:hover, #mainspc.usecolor3 a:hover, #mainspc.usecolor4 a:hover, #mainspc.usecolor5 a:hover{
	color:#222;
}

/* Account Menu */

#accountmenu, #helpmenu{
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	trasition:0.3s ease-in-out;
	position:fixed;
	z-index:3;
	top:0%;
	right:9.5%;
	background:#eee;
	padding:0.8% 2%;
	color:#222;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border:solid #333 1px;
}


#accountmenu:hover, #helpmenu:hover{
	background:#222;
	cursor:pointer;
	color:#f5f5f5;
}

#accountmenu ul, #helpmenu ul{
	display:none;
	list-style-type: none;
}

#accountmenu ul a, #helpmenu ul a{
	text-decoration: none;
}

#accountmenu:hover ul{
	display:block;
}

#accountmenu  .icon, #helpmenu  .icon{
	padding:0 10px 0 0;
}

/* Help Menu */

#helpmenu{
	right:1%;
}

#helpmenu:hover ul{
	display:block;
}


/* Item Nav */

.itemnav, .drawercontent{
	padding:5%;
	background:#ededed;
	border:solid 1px #ddd;
	margin:5% 0 0 0;
}

#pagedisplay .itemnav .icon, #pagedisplay .drawerhandle .icon{
	background:none;
	color:#222;
	padding:0;
}

.itemnav a{
	padding:0 10px 0 0;
	text-decoration: none;
}

/* Mini Nav */
#pagedisplay .mininav_flush{
	background:#f5f5f5;
	border:solid 1px #ddd;
	padding:2%;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#pagedisplay .mininav_flush .icon{
	background:none;
	color:#222;
	padding:0;
}

/* Panelling */

.callout, fieldset, #stats{
	background:#efefef url(../images/dirt.png);
	padding:3%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin:0 0 5px 0;
	border:solid 1px #ccc;
}

.callout h4, fieldset h4, #stats h4{
	margin:0 0 3% 0;
}

.callout.newsfeed{
	color:#f5f5f5;
	background:#222 url(../images/dirt.png);
	border:none;
}

/* Tabled Content */

.tabletitle{
	float:left;
	width:50%;
	margin:0 0 3% 0;
}

table{
	padding:0;
	margin:0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background:#fff;
	border:solid 1px #ccc;
}

table th{
	background:#222 url(../images/dirt.png);
	color:#f5f5f5;
}

table tr:nth-child(odd){
	background:#f5f5f5;
	padding:0!important;
	margin:0;
}

table td{
	padding:0;
	margin:0;
}

/* Lists */

ul.alternating{
	list-style-type: none;
	margin:0;
	padding:0;
}

ul.alternating li{
	padding:5%;
	margin:0 0 1% 0;
	background:#f9f9f9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* Page Tips */
	#pagetips{
	padding:5%;
	width:100%;
	margin:0 0 30px -1.2%;
	color:#f5f5f5;
	background:#222 url(../images/pooch.png) no-repeat 68% 50%;
}

#pagetips p{
	width:60%;
}


/* Date Picker */
.ui-widget-header{
	background:#222;
}

/* PEOPLE LIST VIEW */

/* Actions */

#actions{
	float:right;
	width:40%;
	margin:0;
	padding:0;
}

#actions h4{
	float:left;
}

#actions .mininav_flush{
	float:right;
	padding:0 2%;
	margin:0 1% 2% 0;
}

/* Statistics */

#stats{
	overflow: auto;
	margin:0 0 5% 0;
}



#stats p{
	font-size: 16px;
	float:left;
	padding:2%;
	width:32.3%;
	min-height:200px;
	background:#eee;
	border: solid 1px #ddd;
	color:#222;
	margin:1% 1% 1% 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position:relative;
}

#stats span{
	display:block;
	text-align: center;
	font-size:100px;
	margin:2% 0 0 0;
	line-height: 100px;
	background:#f5f5f5;
	color:#222;
	position:absolute;
	bottom:8%;
	width:88%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#stats .total{
	color:#f5f5f5;
	background:#222;
}


#stats .total span{
	background:#f5f5f5;
}


/* footer */
#footer{
	position:relative;
	z-index:1;
	width:100%;
	padding:10% 3% 1% 3%;
	margin:5% auto 1% auto;
	/*background:#ddd;*/
	border-top:1px solid #ccc;
	/*background:url(../images/donate.png) top right no-repeat;*/
}

#footer a{
	color:#666;
}

#footer .row{
	width:100%;
}