<p class="cash_element_intro">{{message_instructions}}</p>
{{#image_url}}<img src="{{image_url}}" alt="E-Card" class="cash_image_ecard" />{{/image_url}}

<form id="cash_{{element_type}}_form_{{element_id}}" class="cash_form {{element_type}}" method="post" action="">
	<div class="cash_main_name_container"><label for="address">Your Name: (The 'from' for the card)</label>
	<input type="text" name="main_name" value="" class="cash_input cash_input_address cash_main_name" /></div>
	<div class="cash_main_address_container"><label for="address">Your Email:</label>
	<input type="email" name="address" value="" class="cash_input cash_input_address cash_main_address" /></div>
	<div class="cash_friends">
	<label for="address">Email Addresses For Up To 3 Friends:</label>
	<input type="email" name="friend1" value="" class="cash_input cash_input_address cash_friend_address1" />
	<input type="email" name="friend2" value="" class="cash_input cash_input_address cash_friend_address2" />
	<input type="email" name="friend3" value="" class="cash_input cash_input_address cash_friend_address3" />
	</div>
	<input type="hidden" name="cash_request_type" value="people" />
	<input type="hidden" name="cash_action" value="signup" />
	<input type="hidden" name="list_id" value="{email_list_id}" />
	<input type="hidden" name="element_id" value="{{element_id}}" />
	<input type="hidden" name="comment" value="" />
	<input type="submit" value="send the cards" class="button" />
</form>