<!DOCTYPE html>
<head> 
<title>CASH Music</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" href="http://cashmusic.org/images/icons/cash.png" />
<style type="text/css">
	/* BASIC PAGE RESETS */
	html, body {margin:0;padding:0;}
	body {font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:1.65em;background:transparent;color:#444;}
	a {color:#222;font-weight:bold;text-decoration:none;}
	a:hover {color:#179de6;}

	/* LAYOUT/ID-SPECIFIC STYLES */
	#mainspc {margin:0 auto;padding:0;max-width:800px;}
	.clearall,.cashmusic_clearall {height:1px;overflow:hidden;visibility:hidden;clear:both;}

	/* CASH-SPECIFIC STYLES */
	.cash_notation {font-size:10px;color:#777;margin-top:8px;}
	.cash_error {font-weight:bold;background-color:#ff0;margin-bottom:15px;}
	.cash_digitalpurchase_itemname {display:block;font-size:2.5em;line-height:1.125em;font-weight:bold;}
	.cash_digitalpurchase_itemprice {display:block;font-size:1.5em;line-height:1.125em;}
	.cash_digitalpurchase_itemdescription {display:block;margin-bottom:1.5em;}
	.cashmusic_social {position:relative;margin:10px 15px 20px 15px;padding:15px;background-color:#fff;border-top-left-radius:5px 5px;border-top-right-radius:5px 5px;border-bottom-right-radius:5px 5px;border-bottom-left-radius:5px 5px;}
	.cashmusic_social a {color:#cdcdcd;font-weight:normal;}
	.cashmusic_twitter {font:14.5px/1.75em georgia,'times new roman',times,serif;}
	.cashmusic_twitter_avatar {float:left;margin:1px 8px 8px 0;}
	.cashmusic_twitter_namespc {color:#ccc;font:11px/1.5em helvetica,"helvetica neue",arial,sans-serif;}
	.cashmusic_twitter_namespc a {color:#007e3d;font:bold 15px/1.85em helvetica,"helvetica neue",arial,sans-serif;}
	.cashmusic_twitter a {color:#007e3d;}
	.cashmusic_social_date {margin-top:10px;color:#cdcdcd;font:11px/1.75em helvetica,"helvetica neue",arial,sans-serif;}
	.cashmusic_social_date a {color:#ccc;}
	.cashmusic_video_container {position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;}
	.cashmusic_video_container iframe, .cashmusic_video_container object, .cashmusic_video_container embed {position:absolute;top:0;left:0;width:100%;height:100%;}
	.cash_tourdates_event {margin-bottom:18px;}
	.cash_tourdates_date {font-weight:bold;}
	.cash_tourdates_comments {display:block;color:#999;}
	.cash_browserid_button {width:80px;height:28px;position:relative;top:10px;}

	/* FORMS */
	input,textarea,select {font:italic 14px/1.25em georgia, times, serif !important;border:1px solid #dddddf;width:100%;padding:8px;margin-bottom:6px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
	input:active, input:focus, textarea:focus {outline:0;border:1px solid #888;}
	input[type="submit"] {background-color:#231F20;padding:8px 18px 8px 18px !important;font:bold 14px/1.25em helvetica,"segoe ui","segoe wp",arial,sans-serif !important;cursor:pointer;width:auto !important;border:1px solid transparent;color:#fff;-webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;-o-transition: all 0.25s ease-in-out;transition: all 0.25s ease-in-out;}
	input[type="submit"]:hover {background-color:#ff0;border-color:#ff0;color:#111;}
	input[type="checkbox"],input[type="radio"]  {width:auto;}
	label {font-size:0.85em;text-transform:uppercase;color:#999;}

	@media all and (min-width: 481px) {
		#mainspc {padding:40px 0 0 0;}
	}
</style>
</head> 
<body>
	<div id="mainspc">
		{{{element_markup}}}
	</div>
</body> 
</html>