body {width:600px;color:#231F20;background-color:#fff;font-family:helvetica,arial,sans-serif;font-size:13px;line-height:1.5em;}
h1 {font-family:'Ostrich Sans Rounded','Ostrich Sans Rounded Medium',OstrichSansRoundedMedium,helvetica,arial,sans-serif;font-size:42px;line-height:1em;color:#231F20 !important;margin-top:0.5em;margin-bottom:0;}
a {color:#df0854;text-decoration:none;font-weight:bold;}
a:hover {text-decoration:underline;}
p {margin-top:0;margin-bottom:1.5em;}
img {border:0;}