/***************************************************
 *
 *  CASH Music Front-End Styles
 *
 ***************************************************/


#main section ul{
	list-style-type: circle;
	margin:0 0 36px 20px;
}

ol ul{
	font-size: 12px;
	margin:10px 0;
}

.sectionnav .sub{
	margin:0 0 0 10px;
	text-decoration: none!important;
}


code{
	background:#fff;
	display: block;
	padding:18px;
	margin:18px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.action_params{
	padding:18px;
	background:#222;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin:18px 0;
}


.params{
	padding:18px 18px 6px 18px;
	margin:18px -18px -18px -18px;
	background:#fff;
		color:#222;
	-webkit-border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
}

.action_params ul{
	margin:0;
}



.gist{
	margin:30px 0 30px 0;
}


.section{
	margin:0 0 36px 0;
}
