{{#error_message}}<div class="cash_error cash_{{element_type}}_error">{{error_message}}</div>{{/error_message}}
<div class="packshot">
<div class="front"></div><!--front-->
</div><!--packshot-->
<div class="info">
<span class="cash_singlepurchase_itemname">{{item_name}}</span>
{{#item_flexible_price}}
<span class="cash_singlepurchase_itemprice">({{currency}}{{item_price}} {{copy_flexibleprice_suffix}})</span>
{{/item_flexible_price}}
<span class="cash_singlepurchase_itemdescription">{{item_description}}</span>

{{#is_available}}
	<form id="cash_{{element_type}}_form_{{element_id}}" class="cash_form {{element_type}}" method="post" action="">
	<input type="hidden" name="singlepurchase1" value="go" />
	<input type="hidden" name="user_id" value="{{user_id}}" />
	{{#item_flexible_price}}
	<span class="cash_singlepurchase_flexible_price">	
		<span class="cash_singlepurchase_currency">{{currency}}</span>
		<input type="text" name="total_price" class="total_price" value="{{item_price}}" />
	</span>
	{{/item_flexible_price}}
	<input type="submit" value="{{^item_flexible_price}}{{currency}}{{item_price}} - {{/item_flexible_price}}{{copy_buy}}" class="button" /><br />
	</form>
{{/is_available}}

{{^is_available}}
	<span class="cash_singlepurchase_unavailable">
		Sorry, this item is currently unavailable.
	</span>
{{/is_available}}
</div><!--info-->