<span class="cash_singlepurchase_itemdescription">{{message_success}}</span>
<span class="cash_singlepurchase_itemname">{{item_name}}</span>
{{#fulfillment_assets}}
<div class="cm-singlepurchase-files">
<div class="cm-singlepurchase-description">{{description}}</div>
<a target="_blank" href="{{public_url}}/request?cash_request_type=asset&cash_action=claim&id={{id}}&element_id={{element_id}}&session_id={{session_id}}" class="cm-singlepurchase-download">{{title}}</a>
</div><!--cm-singlepurchase-files-->
{{/fulfillment_assets}}

<script type="text/javascript">
(function() {
	var hasPushstate = !!(window.history && history.pushState);
	if (hasPushstate) {
		history.pushState(null, null, location.protocol + '//' + location.host + location.pathname);
	}
})();
</script>
