body {font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;line-height:1.5em;background:#aaa url(../images/bg.jpg) right center fixed no-repeat;color:#444;}
a {color:#444;font-weight:bold;text-decoration:none;}
a:hover {color:#179de6;}
#mainspc {width:330px;margin:0 auto;padding:200px 20px 30px 230px;background:url(../images/cover.jpg) 20px 200px no-repeat;}

/* SEED-SPECIFIC STYLES */
div.seed_success div.description {display:none;}
.seed_notation {font-size:10px;color:#777;margin-top:8px;}
.seed_error {font-weight:bold;color:#ff0;margin-bottom:15px;}
.seed_input {width:18em;}
a.download {font-size:22px;line-height:0.8em;font-weight:bold;margin:16px 0 20px 0;color:#09f;text-decoration:none;}
a.download:hover {color:#fff;}

/* FORMS */
input {padding:6px 3px 6px 3px;border:1px solid #000;width:100%;}
input:active, input:focus {outline:0;border:1px solid #09f;}
input.button {background-color:#000;color:#ccc;padding:6px 25px 6px 25px;font-weight:bold;cursor:pointer;width:auto;}
input.button:hover {background-color:#666;color:#fff;}
input.checkorradio {width:auto;}
label {font-size:0.85em;text-transform:uppercase;color:#999;}