body {font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.5em;background:#fff url(../images/bg.gif) center top no-repeat;color:#444;}
a {color:#444;font-weight:bold;text-decoration:none;}
a:hover {color:#179de6;}
#mainspc {width:600px;margin:0 auto;padding:260px 20px 20px 20px;}

/* SEED-SPECIFIC STYLES */
div.cash_success div.description {display:none;}
.cash_notation {font-size:10px;color:#777;margin-top:8px;}
.cash_error {font-weight:bold;color:#ff0;margin-bottom:15px;}
.cash_friend_address2 {margin:0 17px 0 17px;}
.cash_image_ecard {margin-top:24px;}
.cash_main_name_container {float:left;width:47%;}
.cash_main_address_container {float:right;width:47%;}
.cash_main_address_container input, .cash_main_name_container input {width:271px;}
.cash_friends {clear:both;}
.cash_friends label {padding-top:12px;}
.cash_friends input.cash_input {width:180px;}
a.download {font-size:22px;line-height:0.8em;font-weight:bold;margin:16px 0 20px 0;color:#d02;text-decoration:none;}
a.download:hover {color:#000;}

/* FORMS */
input {padding:9px 3px 9px 3px;border:1px solid #aaa;width:100%;}
input:active, input:focus {outline:0;border:1px solid #000;}
input.button {display:block;margin-top:18px;background-color:#000;color:#ccc;padding:6px 25px 6px 25px;font-weight:bold;cursor:pointer;width:auto;}
input.button:hover {background-color:#666;color:#fff;}
input.checkorradio {width:auto;}
label {display:block;margin-top:12px;font-size:11px;text-transform:uppercase;color:#999;}