<form accept-charset="UTF-8" method="post" class="returntocurrentroute" action="{{www_path}}/account/">
	<!-- extra fields to stop password managers from overriding username/password fields -->
	<input style="display:none">
	<input type="password" style="display:none">
	<!-- YOLO -->
	<input type="hidden" name="doaccountchange" value="makeitso" />

			<input type="hidden" name="email_address" value="{{email_address}}" />
			<label for="new_email_address">{{label_new_email_address}}</label>
			<input type="text" id="new_email_address" name="new_email_address" placeholder="{{email_address}}" value="{{email_address}}" />

			<label for="new_username">{{label_new_username}}</label>
			<input type="text" id="new_username" name="new_username" placeholder="{{username}}" value="{{username}}" />
			<p class="input-additional-info small fadedtext">{{user_page_display_uri}}</p>

			<label for="new_display_name">{{label_new_display_name}}</label>
			<input type="text" id="new_displayname" name="new_displayname" placeholder="{{display_name}}" value="{{display_name}}" />

			<!-- label for="new_url">{{URL}}</label -->
			<input type="hidden" id="new_url" name="new_url" value="{{url}}" placeholder="http://..." />

			<label for="new_password">{{label_new_password}}</label>
			<input type="password" id="new_password" class="needsreveal" name="new_password" autocomplete="off" />
			<a href="#" class="input-additional-info small revealpassword">reveal text</a>

		<p class="section breaker">{{copy_enter_password}}</p>
		<label for="password">{{label_password}}</label>
		<input class="required" type="password" id="password" name="password" autocomplete="off" />
		<br />
		<!--input type="submit" value="Save changes" /-->
		<button class="fullwidth" type="submit">{{copy_button_save_changes}}</button>
</form>

<h4>{{copy_delete_account}}</h4>

<p>
	{{copy_delete_warning}}
</p>
<a href="{{www_path}}/account/delete/" class="button fullwidth noajax needsconfirmation">{{copy_button_delete_account}}</a>

{{#platform_type_single}}
	<div>
		<h4>API Key / Secret</h4>
		<p>
			{{copy_api_details}}
		</p>
		<div class="callout">
			<code>
			<b>API endpoint:</b> {{api_url}}<br /><br />
			<b>Key:</b> {{api_key}} &nbsp; &nbsp;
			<b>Secret:</b>
			{{#api_secret}}{{api_secret}}{{/api_secret}}{{^api_secret}}<a href="?reveal=true">Click to reveal API Secret</a>{{/api_secret}}
			</code>
		</div>
	</div>
{{/platform_type_single}}
