<form accept-charset="UTF-8" method="post" class="returntocurrentroute" action="{{www_path}}/account/">
	<!-- extra fields to stop password managers from overriding username/password fields -->
	<input style="display:none">
	<input type="password" style="display:none">
	<!-- YOLO -->
	<input type="hidden" name="doaccountchange" value="makeitso" />

			<input type="hidden" name="email_address" value="{{email_address}}" />
			<label for="new_email_address">Email address</label>
			<input type="text" id="new_email_address" name="new_email_address" placeholder="{{email_address}}" value="{{email_address}}" />

			<label for="new_username">Username (alphanumeric only)</label>
			<input type="text" id="new_username" name="new_username" placeholder="{{username}}" value="{{username}}" />

			<label for="new_username">Display name</label>
			<input type="text" id="new_displayname" name="new_displayname" placeholder="{{display_name}}" value="{{display_name}}" />

			<label for="new_url">URL</label>
			<input type="text" id="new_url" name="new_url" value="{{url}}" placeholder="http://..." />

			<label for="new_password">New password (Blank = no change)</label>
			<input type="password" id="new_password" class="needsreveal" name="new_password" autocomplete="off" />
			<a href="#" class="revealpassword" style="position:relative;top:-7px;color:#666;">reveal text</a>
		<p>
			Please enter your current password to make changes:
		</p>
		<label for="password">Password</label>
		<input type="password" id="password" name="password" autocomplete="off" />
		<br />
		<!--input type="submit" value="Save changes" /-->
		<button type="submit">Save changes</button>
</form>

<h4>Delete account</h4>

<p>
	Deleting your account is <b>permanent</b>. There is no undo. It's also kind of sad. Be very sure you want to do it.
</p>
<a href="{{www_path}}/account/delete/" class="button noajax needsconfirmation">Delete account</a>

{{#platform_type_single}}
	<div>
		<h4>API Key / Secret</h4>
		<p>
			API details for developer access:
		</p>
		<div class="callout">
			<code>
			<b>API endpoint:</b> {{api_url}}<br /><br />
			<b>Key:</b> {{api_key}} &nbsp; &nbsp; 
			<b>Secret:</b> 
			{{#api_secret}}{{api_secret}}{{/api_secret}}{{^api_secret}}<a href="?reveal=true">Click to reveal API Secret</a>{{/api_secret}}
			</code>
		</div>
	</div>
{{/platform_type_single}}
