{{! corresponding files: assets_edit.php & assets_edit.json }}

<form accept-charset="UTF-8" method="post" action="" id="add-release-form">
	<fieldset class="pure-u-1">
		<input type="hidden" name="doassetedit" value="makeitso" />
		<input type="hidden" name="asset_type" value="release" />
		<header>
		<a class="returnlink current" href="{{www_path}}/assets/"><div class="icon icon-arw-dwn"></div><!--icon--></a>
		<h4 class="secondary-title">&ldquo;{{title}}&rdquo;<span class="release-artistname">{{#metadata_artist_name}}{{copy_by}} {{metadata_artist_name}}{{/metadata_artist_name}}</span></h4>
		</header>
		<div class="release">
			<div class="pure-u-1 pure-u-md-1-3">
				<!--<style type="text/css">
					.release-cover a {{{#cover_asset_id}}color:#fff;{{/cover_asset_id}}}
				</style>-->

				<div class="release-cover " style="background-image:url({{cover_url}});">
					<div class="release-cover-options">
							<a href="{{www_path}}/assets/add/image/release/{{id}}" class="lightboxed smalltext"><span class="editcover"><div class="icon icon-camera"></div><!--icon--><strong>{{copy_add_edit_cover}}</strong></span></a>
					</div><!--release-cover-options-->
				</div><!--release-cover-->

				<input type="hidden" id="metadata_cover" name="metadata_cover" value="{{cover_asset_id}}" />
				<!--div class="track-list">
					<h5>{{copy_track_list}}</h5>
					<ol class="alternating">
						<li>{{copy_track_title}}</li>
						<li>{{copy_track_title}}</li>
						<li>{{copy_track_title}}</li>
						<li>{{copy_track_title}}</li>
						<li>{{copy_track_title}}</li>
					</ol>
					<a href="#" class="add-track"><i class="icon icon-plus-sign"></i>{{copy_add_track}}</a>
				</div-->
			</div><!--pure-->
			<div class="release-general-info pure-u-1 pure-u-md-2-3">
					<div class="pure-u-1">
					<label>{{label_release_title}}</label><input type="text" id="asset_title" name="asset_title" value="{{title}}" placeholder="Give It A Name" class="required" />
					</div><!--pure-->
					<div class="pure-u-1">
					<label>{{label_artist_name}}</label> <input type="text" id="artist_name" name="artist_name" value="{{metadata_artist_name}}" placeholder="The Who" />
					</div><!--pure-->
					<div class="pure-u-1 pure-u-md-1-2">
						<label class="col_oneoftwo">{{label_release_date}}</label><input type="text" id="release_date" name="release_date" class="date" placeholder="mm/dd/yyyy" value="{{metadata_release_date}}" />
					</div><!--pure-->
					<div class="pure-u-1 pure-u-md-1-2">
						<label class="col_oneoftwo lastcol">{{label_matrix_catalog_number}}</label><input type="text" id="matrix_number" name="matrix_number" value="{{metadata_matrix_number}}" />
					</div><!--pure-->
			</div><!--release-general-info-->
		</div><!--release-->


					<div class="fulfillment-files pure-u-1">
						<div class="pure-u-1 pure-u-md-2-3"><h5 class="attachment"><i class="icon icon-paperclip"></i><!--icon-->{{copy_attached_fulfillment_files}}</h5></div><!--pure-->
						<div class="pure-u-1 pure-u-md-1-3"><a href="{{www_path}}/assets/add/file/setparent/{{id}}/addtometadata/fulfillment" class="add-fulfillment-file lightboxed returntocurrentroute alt-button right">{{copy_attach_a_file}}</a>
						<input type="hidden" id="metadata_fulfillment" name="metadata_fulfillment" value="{{metadata_fulfillment_json}}" />
						</div><!--pure-->
						{{#fulfillment_files}}
						<div class="pure-u-1">
						<ul class="alternating">
						{{/fulfillment_files}}
						{{#fulfillment_files}}
						<li>
							<a class="primary" href="{{www_path}}/assets/edit/{{id}}"><strong>{{title}}</strong>{{#description}}<span class="descriptive spaced fadedtext">{{description}}</span>{{/description}}</a>
							<div class="more">
								<div class="toggle"></div><!--toggle-->
								<div class="actions">
									<div class="action-inner">
										<a href="{{www_path}}/assets/edit/{{id}}" class="mininav_flush"><div class="icon icon-pencil"></div><!--icon-->{{copy_edit_button}}</a>
										<a href="{{www_path}}/assets/delete/{{id}}" class="mininav_flush needsconfirmation"><div class="icon icon-ban"></div><!--icon-->{{copy_delete_button}}</a>
									</div><!--action-inner-->
								</div><!--actions-->
							</div><!--more-->
						</li>
						{{/fulfillment_files}}
						{{#fulfillment_files}}
						</ul>
						</div><!--pure-->
						{{/fulfillment_files}}
						{{^fulfillment_files}}
						<div class="empty pure-u-1"><p class="fadedtext">{{copy_no_files_yet}}</p></div><!--pure-->
						{{/fulfillment_files}}
					</div><!--fullfillment-files-->
	</fieldset>
<!--
	<h4>Additional Fields</h4>
	<div class="pure-u-1">
		<div class="drawer">
		<div class="itemnav">
			<a class="meta drawerhandle">standard metadata</a>
			</div>
			<div class="drawercontent">
				<fieldset>
						<div class="pure-u-1 pure-u-md-1-2">
							<label>Label Name <input type="text" id="label_name" name="label_name" value="{{metadata_label_name}}" placeholder="" /></label>
							<label>Copyright <textarea id="copyright" name="copyright">{{metadata_copyright}}</textarea></label>
						</div>
						<div class="pure-u-1 pure-u-md-1-2">
							<label>Genre <input type="text" id="genre" name="genre" value="{{metadata_genre}}" placeholder="" /></label>
							<label>Publishing <textarea id="publishing" name="publishing">{{metadata_publishing}}</textarea></label>
						</div> -->
					<!-- div>
						<label>Formats/UPC Codes</label>
						<ul class="alternating">
							<li>
								<select name="format" class="col_oneoftwo">
									<option>CD</option>
									<option>Digital</option>
									<option>LP</option>
									<option>Cassette</option>
								</select>
								<input type="text" id="formatType-upc" name="formatType-upc" value="" placeholder="123456789" class="col_oneoftwo" />
								<a href="#" class="mininav_flush needsconfirmation"><div class="icon icon-ban"></div> <span class="visuallyhidden">Delete</span></a>
							</li>
						</ul>
						<a href="#" class="add-format"><div class="icon icon-plus"></div>Add New Format</a>
					</div-->
				<!--</fieldset>
			</div> <!-drawercontent->
		</div> drawer-->

		<!--<div class="drawer">
		<div class="itemnav">
			<a class="meta drawerhandle">press/PR information</a>
			</div>
			<div class="drawercontent">
				<fieldset>
					<div class="pure-u-1 pure-u-md-1-2">
						<label class="col_oneoftwo">Publicist's Name <input type="text" id="publicist_name" name="publicist_name" value="{{metadata_publicist_name}}" placeholder="" /></label>
					</div>
					<div class="pure-u-1 pure-u-md-1-2">
						<label class="col_oneoftwo lastcol">Publicist's Email<input type="text" id="publicist_email" name="publicist_email" value="{{metadata_publicist_email}}" placeholder="" /></label>
					</div>
					<label>Bio / Onesheet<textarea id="onesheet" name="onesheet" class="tall">{{metadata_onesheet}}</textarea></label>
				</fieldset>
			</div><!-drawercontent->
		</div><!-drawer-->

		<!-- div class="drawer">
			<a class="drawerhandle">miscellaneous</a>
			<div class="drawercontent">
				<fieldset>
					<div class="private-files pure-u-1 pure-u-md-1-2">
						<label>Private Files</label>
						{{#private_files}}
							<ul class="alternating">
						{{/private_files}}
						{{#private_files}}
							<li>
								<strong>{{title}}</strong>
								{{description}}
								<div class="smalltext">
									<a href="{{www_path}}/assets/edit/{{id}}" class="mininav_flush"><div class="icon icon-pencil"></div>Edit</a>
									<a href="{{www_path}}/assets/delete/{{id}}" class="mininav_flush needsconfirmation"><div class="icon icon-ban"></div>Delete</a>
								</div>
							</li>
						{{/private_files}}
						{{#private_files}}
						</ul>
						{{/private_files}}
						{{^private_files}}
							<p>No private storage files have been added.</p>
						{{/private_files}}
						<a href="{{www_path}}/assets/add/file/setparent/{{id}}/addtometadata/private"  class="add-private-file lightboxed returntocurrentroute smalltext"><div class="icon icon-plus"></div><strong>Add New File</strong></a>
						<input type="hidden" id="metadata_private" name="metadata_private" value="{{metadata_private_json}}" />
				</fieldset>
			</div>
		</div>
	</div> pure-->

<div class="pure-u-1">
<button class="nojs" type="submit">{{copy_button_save_changes}}</button>
<button class="onlyjs externalsubmit" data-cash-target-form="#edit-file-form" type="submit">{{copy_button_save_changes}}</button>
<a href="{{www_path}}/assets/delete/{{id}}" class="button usecolor2 needsconfirmation">{{copy_button_delete_release}}</a>
</div><!--pure-->
</form><!--add-release-form-->

<div class="drawer prefpanel pure-u-1">
<div class="itemnav pure-u-1">
	<h4 class="drawerhandle title"><div class="icon icon-cog"></div><!--icon--><span>{{copy_asset_settings}}</span></h4>
	<div class="drawercontent">
	<div class="pure-u-1 pure-u-md-1-2">
		<div class="pref-inner">
				<h5><div class="icon icon-dwnld"></div><!--icon-->{{copy_download_codes}}</h5>
				<p>
				{{#asset_codes_count}}
					<span>{{copy_there_are}}{{asset_codes_count}}{{copy_codes_for_this_asset}}<a class="usecolor2 noajax" href="{{www_path}}/assets/edit/{{id}}?exportcodes=1"><b>{{copy_export_them}}</b></a></span>
				{{/asset_codes_count}}
				{{^asset_codes_count}}
					<span>{{copy_no_download_codes}}</span>
				{{/asset_codes_count}}
				</p>
				<form id="export-dwnld-codes" accept-charset="UTF-8" method="post" action="{{www_path}}/assets/edit/{{id}}">
					<div class="pure-u-1"><label for="add_codes_qty">{{label_add_more_codes}}</label></div><!--label-->
					<div class="pure-u-1">
						<input class="" type="text" name="add_codes_qty" id="add_codes_qty" value="500" />
					</div><!--pure-->
					<div class="pure-u-1">
						<button type="submit"><div class="icon icon-list"></div><!--icon-->{{copy_add_codes}}</button>
					</div><!--pure-->
				</form>

		</div><!--pref-inner-->
	</div><!--pure-->
	<div class="pure-u-1 pure-u-md-1-2">
		<div class="pref-inner">
			<h5><div class="icon icon-card"></div><!--icon-->{{copy_ready_to_sell}}</h5>
			<p>{{copy_add_release_if_sell}}</p>
			<a href="{{www_path}}/commerce/items/add/selectedasset/{{id}}" class="button fullwidth lightboxed returntocurrentroute">{{copy_add_to_inventory}}</a>
		</div><!--pref-inner-->
	</div><!--pure-->
	</div><!--drawercontent-->
</div><!--itemnav-->
</div><!--drawer prefpanel-->
