{{^connection}}
	<h2>CASH Assets are places to keep releases & files you’ll need for your Campaigns. Before you can begin adding Assets you will need to connect to one of the 3rd-party storage platforms below.</h2>

	<div class="callout pure-u-1">
		<div class="pure-u-1 pure-u-md-1-3">
			<div class="inner">
				<h3>Dropbox</h3>
				<a class="button lightboxed" href="/">Add Connection</a>
				<p>Be mindful of using this connection type where you anticipate large amounts of concurrent traffic.</p>
			</div><!--inner-->
		</div><!--pure-->
		<div class="pure-u-1 pure-u-md-1-3">
			<div class="inner">
				<h3>Amazon</h3>
				<a class="button lightboxed" href="/">Add Connection</a>
				<p>This is the most reliable connection type at scale. </p>
			</div><!--inner-->
		</div><!--pure-->
		<div class="pure-u-1 pure-u-md-1-3">
			<div class="inner">
				<h3>Google</h3>
				<a class="button lightboxed" href="/">Add Connection</a>
				<p>Best for testing and smaller scale campaigns. This service isn't designed for heavy load.</p>
			</div><!--inner-->
		</div><!--pure-->
	</div><!--pure-->

	<p>I host files on my own server. <a href="/">Let me manage assets now</a></p>
{{/connection}}

{{#connection}}
{{#featured_releases}}
	<div class="pure-u-1 pure-u-md-1-3">
		<div class="featured-release">
		<div id="card">
			<div class="front" style="background-image:url({{cover_url}});">
				<header>
					<h2>{{title}}</h2>
					<!-- If commerce item associated -->
					<span class="monetised"><svg class="icon" viewBox="0 0 251 251"><use xlink:href="#icon-dollar"></use></svg></span>
					<!-- If files associated -->
					<span class="attachement"><svg class="icon" viewBox="0 0 219 239"><use xlink:href="#icon-paperclip"></use></svg></span>
				</header>
			</div><!--front-->
				<a href="{{www_path}}/assets/edit/{{id}}" class="back">
					<h2>{{title}}</h2>
					<h3>{{artist_name}}</h3>
					<span class="smalltext release-details">{{{descriptor_string}}}</span>
				</a><!--back-->
			</div><!--card-->
		</div><!--featured-release-->
	</div><!--pure-->
{{/featured_releases}}
{{#two_features}}
	<div class="pure-u-1 pure-u-md-1-2"></div><!--pure-->
{{/two_features}}

<div id="releases" class="drawer">
	{{#remaining_releases}}
	<div class="drawercontent pure-u-1">
		{{#remaining_releases}}
		<div class="pure-u-1 pure-u-md-1-4">
			<!--<a href="{{www_path}}/assets/edit/{{id}}">
			{{#cover_url}}<img src="{{cover_url}}" class="smallcover" alt="" />{{/cover_url}}
			<span{{^cover_url}} style="padding-left:0;"{{/cover_url}}>{{title}}</span></a>
			<span{{^cover_url}} style="padding-left:0;"{{/cover_url}} class="smalltext fadedtext">{{{descriptor_string}}}</span>-->
			<div class="featured-release">
				<div id="card">
					<a href="{{www_path}}/assets/edit/{{id}}">
						<div class="front" style="background-image:url({{cover_url}});"></div><!--front-->
						<div class="back">
							<h2>{{title}}</h2>
							<h3>{{artist_name}}</h3>
						<span class="smalltext release-details">{{{descriptor_string}}}</span>
						</div><!--back-->
					</a><!--link-->
				</div><!--card-->
			</div><!--featured-release-->
		</div><!--pure-->
		{{/remaining_releases}}
		{{#one_remaining}}
			<div class="pure-u-1 pure-u-md-1-4"></div>
			<div class="pure-u-1 pure-u-md-1-4"></div>
		{{/one_remaining}}
		{{#two_remaining}}
			<div class="pure-u-1 pure-u-md-1-4"></div>
		{{/two_remaining}}
	</div><!--drawercontent-->
	{{/remaining_releases}}

		{{#more_releases}}
		<div class="itemnav">
			<a class="drawerhandle usecolor2">releases</a>
		</div><!--itemnav-->
		{{/more_releases}}
</div><!--releases-->


	<div class="pure-u-1 pure-u-md-1-2">
		<a href="{{www_path}}/assets/add/release" class="button lightboxed">Add a new release</a>
		</div><!--pure-->
		<div class="pure-u-1 pure-u-md-1-2">
		<p>Release asset types are for digital representations of LP's, EP's &amp; Singles.
They can contain files for download and must be connected to a <a href="{{www_path}}/commerce/items/">commerce item</a> 
to be sold through a <a class="store lightboxed" href="{{www_path}}/elements/add/">purchase element</a>. </p>
		</div><!--pure--> 


<div class="filesection pure-u-1">
<h4>Files</h4>
<div class="pure-u-1 pure-u-md-1-2">
		<p>File asset types are for any file type that <strong>does not</strong><br /> require release meta data.</p>
		<p>Files can be sold by connecting to a <a href="{{www_path}}/commerce/items/">commerce item</a><br />and embedding a <a class="store lightboxed" href="{{www_path}}/elements/add/">purchase element</a> on 
your site.</p> 

		<a href="{{www_path}}/assets/add/file" class="button lightboxed"> Add a new file</a>
</div><!--pure-->

<div class="display-files pure-u-1 pure-u-md-1-2">
		{{#featured_files}}
			<a class="files" href="{{www_path}}/assets/edit/{{id}}"><svg class="icon" viewBox="0 0 240 280"><use xlink:href="#icon-file"></use></svg>{{title}} <span class="descriptive fadedtext file-description">({{descriptor_string}})</span><!-- If commerce item associated -->
					<span class="monetised"><svg class="icon" viewBox="0 0 251 251"><use xlink:href="#icon-dollar"></use></svg></span></a>
		{{/featured_files}}
		<div class="drawer">
			{{#more_files}}
			<div class="drawercontent">
				{{#remaining_files}}
					<a class="files" href="{{www_path}}/assets/edit/{{id}}"><svg class="icon" viewBox="0 0 240 280"><use xlink:href="#icon-file"></use></svg>{{title}}</a>
					<span class="descriptive fadedtext file-description">({{descriptor_string}})</span><!-- If commerce item associated -->
					<svg class="icon" viewBox="0 0 251 251"><use xlink:href="#icon-dollar"></use></svg>
				{{/remaining_files}}
			</div><!--drawercontent-->
			{{/more_files}}
				{{#more_files}}<a class="drawerhandle mininav_flush usecolor2">files</a>{{/more_files}}
		</div><!--drawer-->
	
	</div><!--pure-->
</div><!--pure-->
<script type="text/javascript">
	jQuery('div.cover').height(jQuery('div.cover').width());
</script>

{{/connection}}