<h4>Find assets</h4>
<form accept-charset="UTF-8" method="post" action="">	
<label for="query">Search for:</label>
	<div class="pure-u-1 pure-u-md-2-3">
		<input type="text" id="query" name="query" placeholder="Enter search query" /> 
	</div><!--pure-->
	<div class="pure-u-1 pure-u-md-1-3">
		<button type="submit"><div class="icon icon-search"></div><!--icon-->Search</button>
	</div><!--pure-->
</form>
{{find_message}}