{{! corresponding files: assets_add_image.php }}
	{{#connection_options}}
<p>{{{copy_intro}}}</p>
		{{/connection_options}}

		{{^connection_options}}
		<p>{{copy_add_connection}} <a href="{{{www_path}}}/settings/connections/">{{copy_add_connection_button}}</a></p>
		{{/connection_options}}

{{#parent_type}}
	<form accept-charset="UTF-8" method="post" class="autosubmit novalidate" action="{{www_path}}/assets/add/image/{{parent_type}}/{{parent_id}}">
		<input type="hidden" name="{{form_state_action}}" value="makeitso" />
		<input type="hidden" name="parent_type" value="{{parent_type}}" />
		<input type="hidden" name="parent_id" value="{{parent_id}}" />
		<input type="hidden" id="asset_location" name="asset_location" value="" />

		{{#connection_options}}
		<div class="pure-u-1">
			<label for="connection_id">{{label_which_connection}}</label>
			<select id="connection_id" name="connection_id">
				{{{connection_options}}}
			</select>
		</div><!--pure-->
		{{/connection_options}}
		<div class="pure-u-1">
		<!--
			  *
			  * We should only display the link below if the connection > 0. Check connection ID
			  * on connection_id change, if it's > 0 we request a data_only view of /assets/uploadform
			  * and insert it into the drawer contents
			  *
			  -->
			<div class="drawer noprefix upload-corral">
				<p class="small fadedtext"><div class="icon icon-cloud-upload"></div><!--icon-->{{copy_hosting_connection}}<a href="#" data-upload-endpoint="{{{www_path}}}/assets/uploadform/" data-upload-acl="public" class="drawerhandle usecolor2 file-upload-trigger">{{copy_upload_a_file}}</a></p>
				<div class="drawercontent"></div>
			</div><!--drawer-->
		</div><!--pure-->

		<!--div class="pure-u-1">
			<button type="submit">{{asset_button_text}}</button>
		</div><!--pure-->
	</form>
{{/parent_type}}
