<form accept-charset="UTF-8" method="post" id="edit-file-form" action="{{www_path}}/assets/edit/{{id}}">
	<input type="hidden" name="doassetedit" value="makeitso" />
	<input type="hidden" name="asset_type" value="file" />

	{{#parent_id}}
	<p class="smalltext fadedtext">
		<a href="{{www_path}}/assets/edit/{{parent_id}}"><b>return to parent asset</b></a><br />
	</p>
	{{/parent_id}}

	<label for="asset_title">Title / Name</label>
	<input type="text" id="asset_title" name="asset_title" value="{{title}}" class="required" />

	<br />
	<label for="asset_description">Description</label>
	<textarea rows="3" id="asset_description" name="asset_description">{{description}}</textarea>

	<br />
	<div class="row">
		<div class="six columns">
			<label for="connection_id">Which storage connection?</label>
			<select id="connection_id" name="connection_id">
				{{{connection_options}}}
			</select>
		</div>

		<div class="six columns">
			<label for="asset_location">Location (URI)</label>
			<input type="text" id="asset_location" name="asset_location" value="{{location}}" />
			<div class="drawer noprefix upload-corral">
				<small class="fadedtext"><i class="icon icon-cloud-upload"></i>Using a hosting connection? <a href="#" data-upload-endpoint="{{{www_path}}}/assets/uploadform/" class="drawerhandle usecolor2 file-upload-trigger">Upload a file</a></small>
				<div class="drawercontent"></div>
			</div>
		</div>
	</div>

	{{#parent_id}}
		<input type="hidden" name="parent_id" value="{{parent_id}}" />
	{{/parent_id}}


	<div>
		<h4>Additional actions</h4>
		<div class="row">
			<div class="six columns spacedtext">
				<p>
				<span  class="fadedtext"><i class="icon icon-credit-card"></i>Selling out?</span > <a href="{{www_path}}/commerce/items/add/selectedasset/{{id}}" class="lightboxed returntocurrentroute"><span ><b>Define commerce settings</b></span ></a>
				</p><p>
				<span  class="fadedtext"><i class="icon icon-ban-circle"></i> Need it gone?</span > <a href="{{www_path}}/assets/delete/{{id}}" class="usecolor2 needsconfirmation"><span ><b>Delete this file</b></span ></a>
				</p>
				{{#show_make_public}}
					<p>
					<span  class="fadedtext"><i class="icon icon-unlock"></i> Don't need security?</span > <a href="#" data-publicize-endpoint="{{{www_path}}}/ajax/publicizeasset/{{id}}" class="usecolor2"><span ><b>Make this file public</b></span ></a>
					</p>
				{{/show_make_public}}

				<button class="nojs" type="submit"><i class="icon icon-save"></i>Save changes</button>
				</form>

			</div>

			<div class="six columns spacedtext">
				<div class="drawer noprefix">
					<span  class="fadedtext"><i class="icon icon-download-alt"></i>Need download codes?</span > <a class="drawerhandle usecolor2">Export or create codes</a>
					<div class="drawercontent">
						<p>
						{{#asset_codes_count}}
							<br /><span >There are {{asset_codes_count}} codes for this asset. <a class="usecolor2 noajax" href="{{www_path}}/assets/edit/{{id}}?exportcodes=1"><b>Export them!</b></a></span >
						{{/asset_codes_count}}
						{{^asset_codes_count}}
							<br /><span >There are no download codes for this asset.</span >
						{{/asset_codes_count}}
						</p>
						<form accept-charset="UTF-8" method="post" action="{{www_path}}/assets/edit/{{id}}">

						<label for="add_codes_qty">Add (qty) more codes</label>
						<div class="row">
							<div class="six columns">
								<input type="text" name="add_codes_qty" id="add_codes_qty" value="500" />
							</div>
							<div class="six columns">

								<button type="submit"><i class="icon icon-list"></i>add codes</button>
							</div>
						</div>
						</form>
						<br />
					</div>
				</div>
			</div>
		</div>
		
		<br /><br />
		<button class="onlyjs externalsubmit" data-cash-target-form="#edit-file-form" type="submit"><i class="icon icon-save"></i>Save changes</button>
	</div>

<br />
