{{! corresponding files: calendar.php & calendar.json}}

{{#no_events}}
		<div class="alt callout usecolor5"><div class="callout-inner">
			<div class="pure-u-1 pure-u-md-1-2">
				<h3 class="firstuse-title">{{{copy_firstuse}}}</h3>
			</div>
			<div class="pure-u-1 pure-u-md-1-2">
				<div class="browser-header"><span></span><span></span><span></span></div><!--brower-header-->
				<img src="{{www_path}}/assets/images/firstuse/calendar_screen.jpg" alt="screenshot" />
			</div>
		</div><!--callout-inner-->
		</div><!--callout-->
		<br /><br />
{{/no_events}}

	<div class="pure-u-1 {{^no_events}}pure-u-md-1-2{{/no_events}}">
		<header>
		<h4>{{copy_add_an_event}}</h4>
		</header>
		<form accept-charset="UTF-8" method="post" action="{{www_path}}/calendar/events/add/" name="add_event">
			<input type="hidden" name="doeventadd" value="makeitso" />

			<label for="event_date">{{label_date}}</label>
			<input type="text" id="event_date" name="event_date" class="required date" placeholder="mm/dd/yyyy" value="" />

			<label for="event_venue_name">{{label_venue}}</label>
			<input type="text" id="event_venue_name" name="event_venue_name" value="{{event_venue_name}}" placeholder="Start typing to search venues" class="required autocomplete" data-cash-endpoint-url="{{{www_path}}}/ajax/autocomplete/venues" />
			<input type="hidden" id="event_venue" name="event_venue" value="" />

			<p class="input-additional-info small fadedtext">{{copy_cant_find_venue}} <a href="{{www_path}}/calendar/venues/add/" class="add-fulfillment-file lightboxed returntocurrentroute usecolor5">{{copy_add_new_venue}}</a></p>

			<label for="event_comment">{{label_comments}}</label>
			<textarea rows="3" id="event_comment" name="event_comment"></textarea>

			<label for="event_purchase_url">{{label_ticket_purchase_url}}</label>
			<input type="text" id="event_purchase_url" name="event_purchase_url" value="" placeholder="Ticket Link URL" />

			<div class="pure-u-1"><input type='checkbox' class='checkorradio' id="event_ispublished" name='event_ispublished' value='' checked='checked' /><label class="checklabel" for="event_ispublished">Published?</label><input type='checkbox' class='checkorradio' id="event_iscancelled" name='event_iscancelled' value='' /><label class="checklabel" for="event_iscancelled">Cancelled?</label> </div><!--pure-->

			<button type="submit">{{{label_submit_button}}}</button>
		</form>
	</div><!--pure-->
	{{^no_events}}
	<div class="pure-u-1 pure-u-md-1-2">

		<header>
		<h4>{{copy_this_week}}</h4>
		</header>
 {{#events_thisweek}}
		<ul class="alternating">
			{{#events_thisweek}}
			<li>
				<a class="primary" href="{{www_path}}/calendar/events/edit/{{event_id}}">
				<strong>{{formatted_date}}: {{event_location}}</strong> <span class="descriptive spaced fadedtext">@ {{venue_name}}</span></a>
				<div class="more"><div class="toggle"></div><!--toggle-->
					<div class="actions">
						<div class="action-inner">
								<a href="{{www_path}}/calendar/events/edit/{{event_id}}" class="mininav_flush"><div class="icon icon-pencil"></div><!--icon--></i>{{copy_edit_event}}</a>
								<a href="{{www_path}}/calendar/events/delete/{{event_id}}" class="mininav_flush needsconfirmation"><div class="icon icon-ban"></div><!--icon--></i>{{copy_delete_event}}</a>
						</div><!--action-inner-->
					</div><!--actions-->
				</div><!--more-->
			</li>
			{{/events_thisweek}}
		</ul>
		{{/events_thisweek}}

		{{^events_thisweek}}
		<div class="empty">
		<p>{{copy_no_upcoming_events}}</p>
		</div><!--empty-->
		{{/events_thisweek}}

		<h4>{{copy_unpublished_events}}</h4>
		{{#events_unpublished}}
		<ul class="alternating">
			{{#events_unpublished}}
			<li>
				<a class="primary" href="{{www_path}}/calendar/events/edit/{{event_id}}">
				<strong>{{formatted_date}}: {{event_location}}</strong><span class="descriptive spaced fadedtext">@ {{venue_name}}</span></a>
				<div class="more"><div class="toggle"></div><!--toggle-->
					<div class="actions">
						<div class="action-inner">
							<a href="{{www_path}}/calendar/events/edit/{{event_id}}" class="mininav_flush"><div class="icon icon-pencil"></div><!--icon--></i>{{copy_edit_event}}</a>
							<a href="{{www_path}}/calendar/events/delete/{{event_id}}" class="mininav_flush needsconfirmation"><div class="icon icon-ban"></div><!--icon--></i>{{copy_delete_event}}</a>
						</div><!--action-inner-->
					</div><!--actions-->
				</div><!--more-->
			</li>

			{{/events_unpublished}}
		</ul>
		{{/events_unpublished}}

		{{^events_unpublished}}
		<div class="empty">
		<p>{{copy_no_unpublished_events}}</p>
		</div><!--empty-->
		{{/events_unpublished}}
	</div><!--pure-->
{{/no_events}}
