	{{! corresponding files: calendar_venues.php & calendar_venues.json}}

	<div class="pure-u-1">
		<header class="page-header">
		<h4 class="page-title">{{copy_my_venues}}</h4>
		<h5 class="page-subtitle">{{{copy_my_venues_description}}}</h5>
		</header>
		{{#all_venues}}
		<ul class="alternating">
			{{#all_venues}}
			<li>
				<a class="primary" href="{{www_path}}/calendar/venues/edit/{{id}}">
				<strong>{{name}}</strong><span class="descriptive spaced fadedtext">{{formatted_location}}</span></a>
				<div class="more"><div class="toggle"></div><!--toggle-->
					<div class="actions">
						<div class="action-inner">
							<a href="{{www_path}}/calendar/venues/edit/{{id}}" class="mininav_flush"><div class="icon icon-pencil"></div><!--icon-->{{copy_edit}}</a>
							<a href="{{www_path}}/calendar/venues/delete/{{id}}" class="mininav_flush needsconfirmation"><div class="icon icon-ban"></div><!--icon-->{{copy_delete}}</a>
						</div><!--action-inner-->
					</div><!--actions-->
				</div><!--more-->
			</li>
			{{/all_venues}}
		</ul>
		{{/all_venues}}

		{{^all_venues}}
		<div class="empty">
		<p>{{copy_no_venues}}</p>
		</div><!--empty-->
		{{/all_venues}}

			<a class="button lightboxed" href="{{www_path}}/calendar/venues/add/">{{copy_quick_details_3}}</a>
	</div><!--pure-->
