	<div class="pure-u-1 pure-u-md-1-2">
		<h4>Quick add a venue</h4>
		<p>Quickly add a venue with just the basics.</p>

		<form accept-charset="UTF-8" method="post" action="{{www_path}}/calendar/venues/add/" name="quick_add_venue">
			<input type="hidden" name="dovenueadd" value="makeitso" />

			<label for="venue_name">Name</label>
			<input type="text" id="venue_name" name="venue_name" value="" placeholder="Venue Name" class="required" />
			
			<label for="venue_city">City</label>
			<input type="text" id="venue_city" name="venue_city" value="" placeholder="City" class="required" />
			
			<label for="venue_region">State / Province / Region</label>
			<input type="text" id="venue_region" name="venue_region" value="" placeholder="Region" />

			<label for="venue_country">Country</label>
			<select id="venue_country" name="venue_country">
				{{{country_codes}}}
			</select>

			<button type="submit">Add the venue</button>
		
		</form>
	</div><!--pure-->
	<div class="pure-u-1 pure-u-md-1-2">
		<h4>Add a venue</h4>
		<p><a href="{{www_path}}/calendar/venues/add/">Add a venue with all details.</a></p>
		<h4>All venues</h4>
		{{#all_venues}}
		<ul class="alternating">
			{{#all_venues}}
			<li>
				<a class="primary" href="{{www_path}}/calendar/venues/edit/{{id}}">
				<strong>{{name}}</strong><span class="descriptive spaced fadedtext">{{formatted_location}}</span></a>
				<div class="more"><div class="toggle"></div><!--toggle-->
					<div class="actions">
						<a href="{{www_path}}/calendar/venues/edit/{{id}}" class="mininav_flush"><div class="icon icon-search"></div><!--icon-->Details</a> 
						<a href="{{www_path}}/calendar/venues/delete/{{id}}" class="mininav_flush needsconfirmation"><div class="icon icon-ban"></div><!--icon--> Delete</a>
					</div><!--actions-->
				</div><!--more-->
			</li>
			{{/all_venues}}
		</ul>
		{{/all_venues}}

		{{^all_venues}}
		<p>No venues were found.</p>
		{{/all_venues}}
	</div><!--pure-->