{{! corresponding files: calendar_events.php & calendar_events.json }}

	<div class="pure-u-1 pure-u-md-1-2">
		<header>
		<h4>{{copy_add_an_event}}</h4>
		</header>
		<p>
			{{copy_quickly_details}}
		</p>


		<form accept-charset="UTF-8" method="post" action="{{www_path}}/calendar/events/add/" name="add_event">
			<input type="hidden" name="doeventadd" value="makeitso" />

			<label for="event_date">{{label_date}}</label>
			<input type="text" id="event_date" name="event_date" class="required date" value="" placeholder="MM/DD/YYYY" />

			<label for="event_venue_name">{{label_venue}}</label>
			<input type="text" id="event_venue_name" name="event_venue_name" value="{{event_venue_name}}" placeholder="Start typing to search venues" class="autocomplete required" data-cash-endpoint-url="{{{www_path}}}/ajax/autocomplete/venues" />
			<input type="hidden" id="event_venue" name="event_venue" value="" />

			<p class="input-additional-info small fadedtext">{{copy_cant_find}}<a href="{{www_path}}/calendar/venues/add/" class="add-fulfillment-file lightboxed returntocurrentroute usecolor5">{{copy_add_new_venue}}</a></p>

			<label for="event_comment">{{label_comments}}</label>
			<textarea rows="3" id="event_comment" name="event_comment"></textarea>

			<label for="event_purchase_url">{{label_ticket_purchase}}</label>
			<input type="text" id="event_purchase_url" name="event_purchase_url" value="" placeholder="Ticket Link URL" />

			<div class="pure-u-1">
			<input type='checkbox' class='checkorradio' id="event_ispublished" name='event_ispublished' value='' checked='checked' /> <label class="checklabel" for="event_ispublished">{{label_published}}</label> <input type='checkbox' class='checkorradio' id="event_iscancelled" name='event_iscancelled' value='' /> <label class="checklabel" for="event_iscancelled">{{label_cancelled}}</label>
			</div><!--pure-->


			<button type="submit">{{copy_button_add_event}}</button>

		</form>
	</div><!--pure-->

	<div class="pure-u-1 pure-u-md-1-2">

	<header>
	<h4>{{copy_upcoming_events}}</h4>
	</header>
	{{#events_allfuture}}
		<ul class="alternating">
			{{#events_allfuture}}
			<li>
				<a class="primary" href="{{www_path}}/calendar/events/edit/{{event_id}}">
				<strong>{{formatted_date}}: {{event_location}}</strong><span class="descriptive spaced fadedtext">@ {{venue_name}}</span></a>
				<div class="more"><div class="toggle"></div><!--toggle-->
					<div class="actions">
						<div class="action-inner">
							<a href="{{www_path}}/calendar/events/edit/{{event_id}}" class="mininav_flush"><div class="icon icon-search"></div><!--icon-->{{copy_details}}</a>
							<a href="{{www_path}}/calendar/events/delete/{{event_id}}" class="mininav_flush needsconfirmation"><div class="icon icon-ban"></div><!--icon-->{{copy_delete}}</a>

						</div><!--action-inner-->
					</div><!--actions-->
				</div><!--more-->
			</li>

			{{/events_allfuture}}
		</ul>
		{{/events_allfuture}}

		{{^events_allfuture}}
				<div class="empty">
				<p>{{copy_no_upcoming_events}}</p>
				</div>
		{{/events_allfuture}}

	<header>
	<h4>{{copy_archive_events}}</h4>
	</header>
	{{#events_allpast}}
		<div class="display-list">
			{{#events_allpast}}
				<a class="files" href="{{www_path}}/calendar/events/edit/{{event_id}}"><div class="icon icon-calendar"></div><!--icon--><strong>{{formatted_date}}: </strong><span class="descriptive spaced fadedtext">@ {{venue_name}}</span></a>
			{{/events_allpast}}
		</div><!--display-files-->
	{{/events_allpast}}


{{^events_allpast}}
		<div class="empty">
		<p>{{copy_no_archive_events}}</p>
		</div>
{{/events_allpast}}

	</div><!--pure-->
