<div class="pure-u-1">
<header>
		<a class="returnlink current" href="{{www_path}}/calendar/"><div class="icon icon-arw-dwn"></div><!--icon--></a><h4 class="secondary-title">Event details</h4>
</header>
</div><!--pure-->

<p>
	Add a date to the system. Information about published/unpublished status and
	cancellation can be found in the page tips.
</p>

<form accept-charset="UTF-8" method="post" action="{{www_path}}{{requested_route}}">
	<input type="hidden" name="{{form_state_action}}" value="makeitso" />

		<div class="pure-u-1 pure-u-md-1-2">
			<label for="event_date">Date</label>
			<input type="text" id="event_date" name="event_date" value="{{formatted_date}}"{{^formatted_date}} class="date" placeholder="MM/DD/YYYY"{{/formatted_date}} />
		</div><!--pure-->
		<div class="pure-u-1 pure-u-md-1-2">
			<label for="event_venue_name">Venue</label>
			<input type="text" id="event_venue_name" name="event_venue_name" value="{{venue_display_string}}" placeholder="Start typing to search venues" class="autocomplete" data-cash-endpoint-url="{{{www_path}}}/ajax/autocomplete/venues" />
			<input type="hidden" id="event_venue" name="event_venue" value="{{venue_id}}" />
			<small class="fadedtext">Can't find the venue you're looking for? <a href="{{www_path}}/calendar/venues/add/" class="add-fulfillment-file lightboxed returntocurrentroute usecolor5">Add a new venue</a></small>
		</div><!--pure-->

	<label for="event_comment">Comments (Support, CD Release, etc)</label>
	<textarea rows="3" id="event_comment" name="event_comment">{{comments}}</textarea>

	<label for="event_purchase_url">Ticket Purchase URL</label>
	<input type="text" id="event_purchase_url" name="event_purchase_url" value="{{purchase_url}}"{{^purchase_url}} placeholder="Ticket Link URL"{{/purchase_url}} />

	
	<div class="pure-u-1">
		<input type='checkbox' class='checkorradio' id="event_ispublished" name='event_ispublished' value=''{{#published}} checked="checked"{{/published}} /> <label for="event_ispublished">Published?</label> <input type='checkbox' class='checkorradio' id="event_iscancelled" name='event_iscancelled' value=''{{#cancelled}} checked="checked"{{/cancelled}} /> <label for="event_iscancelled">Cancelled?</label> 
	</div><!--pure-->

	<button type="submit">{{event_button_text}}</button>

</form>