	{{! corresponding files: calendar_venues.php & calendar_venues.json}}

	<div class="pure-u-1 pure-u-md-1-2">
		<header>
		<h4>{{copy_quick_add}}</h4>
		</header>
		<p>{{copy_quick_details}}<br />{{copy_quick_details_2}}<a href="{{www_path}}/calendar/venues/add/">{{copy_quick_details_3}}</a>.</p>
		<form accept-charset="UTF-8" method="post" action="{{www_path}}/calendar/venues/add/" name="quick_add_venue">
			<input type="hidden" name="dovenueadd" value="makeitso" />

			<label for="venue_name">{{label_name}}</label>
			<input type="text" id="venue_name" name="venue_name" value="" placeholder="Venue Name" class="required" />

			<label for="venue_city">{{label_city}}</label>
			<input type="text" id="venue_city" name="venue_city" value="" placeholder="City" class="required" />

			<label for="venue_region">{{label_state}}</label>
			<input type="text" id="venue_region" name="venue_region" value="" placeholder="Region" />

			<label for="venue_country">{{label_country}}</label>
			<select id="venue_country" name="venue_country">
				{{{country_codes}}}
			</select>

			<button type="submit">{{{label_submit_button}}}</button>

		</form>
	</div><!--pure-->
	<div class="pure-u-1 pure-u-md-1-2">
		<header>
		<h4>{{copy_my_venues}}</h4>
		<p>{{{copy_my_venues_description}}}</p>
		</header>
		{{#all_venues}}
		<ul class="alternating">
			{{#all_venues}}
			<li>
				<a class="primary lightboxed" href="{{www_path}}/calendar/venues/edit/{{id}}">
				<strong>{{name}}</strong><span class="descriptive spaced fadedtext">{{formatted_location}}</span></a>
				<div class="more"><div class="toggle"></div><!--toggle-->
					<div class="actions">
						<div class="action-inner">
							<a href="{{www_path}}/calendar/venues/edit/{{id}}" class="mininav_flush lightboxed"><div class="icon icon-pencil"></div><!--icon-->{{copy_edit}}</a>
							<a href="{{www_path}}/calendar/venues/delete/{{id}}" class="mininav_flush needsconfirmation"><div class="icon icon-ban"></div><!--icon-->{{copy_delete}}</a>
						</div><!--action-inner-->
					</div><!--actions-->
				</div><!--more-->
			</li>
			{{/all_venues}}
		</ul>
		{{/all_venues}}

		{{^all_venues}}
		<div class="empty">
		<p>{{copy_no_venues}}</p>
		</div><!--empty-->
		{{/all_venues}}
	</div><!--pure-->
