{{! corresponding files: calendar.php & calendar.json}}
<header class="page-header">
		<h4 class="page-title">{{copy_calendar_title}}</h4>
		<h5 class="page-subtitle">{{{copy_calendar_subtitle}}}</h5>
</header>


{{#no_events}}
		<div class="alt callout usecolor5"><div class="callout-inner">
			<div class="pure-u-1 pure-u-md-1-2">
				<h3 class="firstuse-title">{{{copy_firstuse}}}</h3>
			</div>
			<div class="pure-u-1 pure-u-md-1-2">
				<div class="browser-header"><span></span><span></span><span></span></div><!--brower-header-->
				<img src="{{www_path}}/assets/images/firstuse/calendar_screen.jpg" alt="screenshot" />
			</div>
		</div><!--callout-inner-->
		</div><!--callout-->
{{/no_events}}


<div class="pure-u-1">
	{{#events_thisweek}}
	<div class="material usecolor5">
			<h5 class="">{{copy_this_week}}</h5>
		<ul class="dates">
			{{#events_thisweek}}
				<li><a class="{{#cancelled}}cancelled{{/cancelled}} {{^published}}unpublished-date{{/published}}{{#published}}published-date{{/published}}" href="{{www_path}}/calendar/events/edit/{{event_id}}"><div class="inner pure-u-1 pure-u-md-2-3"><div class="icon icon-calendar"></div><!--icon--><strong> {{formatted_date}}: </strong><span>@ {{venue_name}}{{#event_location}}, {{event_location}}{{/event_location}}</span></div><!--inner--><span class="fadedtext pure-u-1 pure-u-md-1-6">{{comments}}</span><span class="state-icons pure-u-1 pure-u-md-1-6">{{#published}}<div title="Published" class="icon icon-live"></div><!--icon-->{{/published}}</span>{{#cancelled}}<hr/>{{/cancelled}}</a></li>
			{{/events_thisweek}}
		</ul></div><!--material-->
{{/events_thisweek}}

	{{#events_allfuture}}
		<div class="material usecolor5">
			<h5 class="">{{copy_upcoming_events}}</h5>
		<ul class="dates">
			{{#events_allfuture}}
				<li><a class="{{#cancelled}}cancelled{{/cancelled}} {{^published}}unpublished-date{{/published}}{{#published}}published-date{{/published}}" href="{{www_path}}/calendar/events/edit/{{event_id}}"><div class="inner pure-u-1 pure-u-md-2-3"><div class="icon icon-calendar"></div><!--icon--><strong> {{formatted_date}}: </strong><span>@ {{venue_name}}{{#event_location}}, {{event_location}}{{/event_location}}</span></div><!--inner--><span class="fadedtext pure-u-1 pure-u-md-1-6">{{comments}}</span><span class="state-icons pure-u-1 pure-u-md-1-6">{{#published}}<div title="Published" class="icon icon-live"></div><!--icon-->{{/published}}{{^published}}<div title="Not Published" class="icon icon-warn"></div><!--icon-->{{/published}}</span>{{#cancelled}}<hr/>{{/cancelled}}</a></li>
			{{/events_allfuture}}
		</ul></div><!--material-->
	{{/events_allfuture}}


	{{^events_allpast}}
		<div class="material usecolor5">
		<h5>{{copy_archive_events}}</h5>
		<ul class="dates">
			{{#events_allpast}}
				<li><a class="{{#cancelled}}cancelled{{/cancelled}} {{^published}}unpublished-date{{/published}}{{#published}}published-date{{/published}}" href="{{www_path}}/calendar/events/edit/{{event_id}}">{{#cancelled}}<hr/>{{/cancelled}}<div class="inner pure-u-1 pure-u-md-2-3"><div class="icon icon-tick"></div><!--icon--><strong> {{formatted_date}}: </strong><span>@ {{venue_name}}{{#event_location}}, {{event_location}}{{/event_location}}</span></div><!--inner--><span class="fadedtext pure-u-1 pure-u-md-1-6">{{comments}}</span><span class="state-icons pure-u-1 pure-u-md-1-6">{{#published}}<div title="Published" class="icon icon-live"></div><!--icon-->{{/published}}</span></a></li>
			{{/events_allpast}}
		</ul></div><!--material-->
	{{/events_allpast}}

            
    {{#events_allpast}}                        
        <div class="material drawer usecolor5 pure-u-1">
			<h5 class="drawerhandle title"><span>{{copy_archive_events}}</span></h5>
			<div class="drawercontent">
				<ul class="dates">
					{{#events_allpast}}
						<li><a class="{{#cancelled}}cancelled{{/cancelled}} {{^published}}unpublished-date{{/published}}{{#published}}published-date{{/published}}" href="{{www_path}}/calendar/events/edit/{{event_id}}">{{#cancelled}}<hr/>{{/cancelled}}<div class="inner pure-u-1 pure-u-md-2-3"><div class="icon icon-tick"></div><!--icon--><strong> {{formatted_date}}: </strong><span>@ {{venue_name}}{{#event_location}}, {{event_location}}{{/event_location}}</span></div><!--inner--><span class="fadedtext pure-u-1 pure-u-md-1-6">{{comments}}</span><span class="state-icons pure-u-1 pure-u-md-1-6">{{#published}}<div title="Published" class="icon icon-live"></div><!--icon-->{{/published}}</span></a></li>
					{{/events_allpast}}
				</ul>
			</div><!--drawercontent-->
		</div><!--material-->
    {{/events_allpast}}           

	{{#no_events}}
		<div class="empty">
		<p>{{copy_no_events}}</p>
		</div>
	{{/no_events}}

	</div><!--pure-->
	<div class="pure-u-1 section breaker">	
	<a class="button" href="{{www_path}}/calendar/events/">{{label_submit_button}}</a>
	</div><!--pure-->

