{{! corresponding files: calendar_events_add.php & calendar_events_add.json }}

<div class="pure-u-1">
<header>
		<a class="returnlink current" href="{{www_path}}/calendar/events"><div class="icon icon-arw-dwn"></div><!--icon--></a><h4 class="secondary-title">{{copy_event_details_header}}</h4>
</header>
</div><!--pure-->

<p>
	{{copy_add_a_date}}
</p>

<form accept-charset="UTF-8" method="post" action="{{www_path}}{{requested_route}}">
	<input type="hidden" name="{{form_state_action}}" value="makeitso" />

		<div class="pure-u-1 pure-u-md-1-2">
			<label for="event_date">{{label_date}}</label>
			<input class="required" type="text" id="event_date" name="event_date" value="{{formatted_date}}"{{^formatted_date}} class="date" placeholder="MM/DD/YYYY"{{/formatted_date}} />
		</div><!--pure-->
		<div class="pure-u-1 pure-u-md-1-2">
			<label for="event_venue_name">{{label_venue}}</label>
			<input class="required" type="text" id="event_venue_name" name="event_venue_name" value="{{venue_display_string}}" placeholder="Start typing to search venues" class="autocomplete" data-cash-endpoint-url="{{{www_path}}}/ajax/autocomplete/venues" />
			<input type="hidden" id="event_venue" name="event_venue" value="{{venue_id}}" />
			<p class="input-additional-info small fadedtext">{{copy_not_found}}<a href="{{www_path}}/calendar/venues/add/" class="add-fulfillment-file lightboxed returntocurrentroute usecolor5">{{copy_new_venue}}</a></p>
		</div><!--pure-->

	<label for="event_comment">{{label_comments}}</label>
	<textarea rows="3" id="event_comment" name="event_comment">{{comments}}</textarea>

	<label for="event_purchase_url">{{label_ticket_purchase_url}}</label>
	<input type="text" id="event_purchase_url" name="event_purchase_url" value="{{purchase_url}}"{{^purchase_url}} placeholder="Ticket Link URL"{{/purchase_url}} />


	<div class="pure-u-1">
		<input type='checkbox' class='checkorradio' id="event_ispublished" name='event_ispublished' value=''{{#published}} checked="checked"{{/published}} /> <label class="checklabel" for="event_ispublished">{{label_is_it_published}}</label> <input type='checkbox' class='checkorradio' id="event_iscancelled" name='event_iscancelled' value=''{{#cancelled}} checked="checked"{{/cancelled}} /> <label class="checklabel" for="event_iscancelled">{{{label_is_it_cancelled}}}</label>
	</div><!--pure-->

	<button type="submit">{{event_button_text}}</button>
</form>
