<div class="pure-u-1 pure-u-md-2-3">
<h4>Elements Archive</h4>
</div><!--pure-->

<div class="pure-u-1 pure-u-md-1-3">
	<ul class="inline_subnav">
		<li><a href="{{www_path}}/campaigns/edit/{{id}}" class="lightboxed">Edit</a></li>
		<li><a href="{{www_path}}/campaigns/delete/{{id}}" class="needsconfirmation lightboxed">Delete</a></li>
	</ul>
</div><!--pure-->

<div class="pure-u-1 pure-u-md-1-1">
		{{#elements_for_campaign}}
		<ul class="alternating">
			{{#elements_for_campaign}}
			<li>
			<a class="primary" href="{{www_path}}/elements/edit/{{id}}">
				<strong>{{name}}</strong><span class="descriptive spaced fadedtext">{{type}} / {{formatted_date}}</span></a>
				<div class="more"><div class="toggle"></div><!--toggle-->
				<div class="actions">
				<a href="{{www_path}}/elements/edit/{{id}}" class="mininav_flush"><div class="icon icon-pencil"></div><!--icon-->Edit</a>
				<a href="{{www_path}}/elements/delete/{{id}}" class="mininav_flush needsconfirmation delete"><div class="icon icon-ban"></div><!--icon--> Delete</a></div><!--actions-->
				</div><!--more-->
			</li>
			{{/elements_for_campaign}}
		</ul>
		{{/elements_for_campaign}}

		{{^isarchive}}
			<div class="pure-u-1 pure-u-md-1-2">
			{{^elements_for_campaign}}
			<p>No elements have been added yet.</p>
			{{/elements_for_campaign}}
			</div><!--pure-->
			<div class="pure-u-1">
			<a href="{{www_path}}/elements/add/" class="button lightboxed store">Add an element</a>
			</div><!--pure-->
		{{/isarchive}}
</div><!--pure-->		
		{{^isarchive}}
		<div class="pure-u-1 pure-u-md-1-2">
			<h4>Publish settings</h4>
			<a href="/admin/elements/templates/edit/{{template_id}}/page/parent/{{id}}" class="button lightboxed">Edit campaign page</a>
		</div><!--pure-->
		{{/isarchive}}
		{{#isarchive}}
			{{#template_id}}
			<div class="pure-u-1 pure-u-md-1-2">
				<h4>Edit the current page</h4>
				<p>Normally pages are associated with campaigns, but if a published campaign is removed we don't kill the live page. So just in case, here's a way to edit an orphaned page that's still live.</p>
				<a href="/admin/elements/templates/edit/{{template_id}}" class="button lightboxed page-editor">Edit the current live page</a>
			</div><!--pure-->
			{{/template_id}}
		{{/isarchive}}