<div id="hero">
<canvas id="canvas" width="1500" height="600"></canvas>
<h1>{{title}}</h1>
<div class="actions">
			<a href="{{www_path}}/campaigns/edit/{{id}}" class="lightboxed mininav_flush"><i class="icon icon-pencil"></i>Edit</a>
			<a href="{{www_path}}/campaigns/delete/{{id}}" class="mininav_flush needsconfirmation delete"><i class="icon icon-ban-circle"></i>Delete</a>
	</div><!--actions-->
<h2>{{description}} / {{formatted_date}}</h2> 
	
<div class="stat" style="width:90%;"><h3>90K <span>New Signups</span></h3></div>
<div class="stat" style="width:60%;"><h3>90K <span>New Signups</span></h3></div>
</div><!--hero-->

<div class="row">
	<div class="twelve columns">
		<h4>Campaign elements</h4>
		{{#elements_for_campaign}}
		<ul class="alternating">
			{{#elements_for_campaign}}
			<li>
			<a class="primary" href="{{www_path}}/elements/edit/{{id}}">
				<strong>{{name}}</strong><span class="descriptive spaced fadedtext">{{type}} / {{formatted_date}}</span></a>
				<div class="more"><div class="toggle"></div><!--toggle-->
				<div class="actions">
				<a href="{{www_path}}/elements/edit/{{id}}" class="mininav_flush"><i class="icon icon-pencil"></i>Edit</a>
				<a href="{{www_path}}/elements/delete/{{id}}" class="mininav_flush needsconfirmation delete"><i class="icon icon-ban-circle"></i> Delete</a></div><!--actions-->
				</div><!--more-->
			</li>
			{{/elements_for_campaign}}
		</ul>
		{{/elements_for_campaign}}

		{{^elements_for_campaign}}
		<p>No elements have been added yet.</p>
		{{/elements_for_campaign}}
		<a href="{{www_path}}/elements/add/" class="button lightboxed store">Add an element</a>
		<h4>Publish settings</h4>
		<a href="/admin/elements/templates/edit/{{template_id}}/page/parent/{{id}}" class="button lightboxed">Edit campaign page</a>
	</div>
</div>