{{! corresponding files: campaigns_theme.php & campaigns_theme.json}}

<form method="post" action="/admin/campaigns/theme" novalidate="novalidate">
	<input type="hidden" name="settheme" value="doit" />
	<input type="hidden" name="campaign_id" value="{{campaign_id}}" />

	<div class="section basic-information" data-section-name="Final settings" style="display: block;">
		<div id="elementformspc">
		<i class="tooltip" data-tooltip="This page helps you create a basic campaign page theme. You'll be able to make changes later."></i>
			<div class="pure-u-1 {{#campaign_elements}}pure-u-md-1-2{{/campaign_elements}}">
			<label for="element_id">{{label_choose_style}}</label>
			<select name="pagetheme" id="element_id">
				<option value="dark" selected="selected">{{copy_dark_theme}}</option>
				<option value="light">{{copy_light_theme}}</option>
			</select>
			</div><!--pure-->
			{{#campaign_elements}}
			<div class="pure-u-1 pure-u-md-1-2">
				<label for="element_id">{{label_featured}}</label>
				<select name="element_id" id="element_id">
					<option value="0">None</option>
					{{#campaign_elements}}
						<option value="{{id}}">{{name}}</option>
					{{/campaign_elements}}
				</select>
			</div><!--pure-->
			{{/campaign_elements}}
		</div>
	</div>
	<input class="button" id="submit" type="submit" value="Create a theme for this campaign" />
</form>