<div class="pure-u-1">
<header>
		<a class="returnlink current" href="{{www_path}}/commerce/items"><div class="icon icon-arw-dwn"></div><!--icon--></a><h4 class="secondary-title">&ldquo;{{name}}&rdquo;</h4>
</header>
</div><!--pure-->

<form accept-charset="UTF-8" method="post" action="{{www_path}}/commerce/items/edit/{{id}}" name="edit_item" >
	<input type="hidden" name="{{form_state_action}}" value="makeitso" />

	<label for="item_name">Name</label>
	<input type="text" id="item_name" name="item_name" value="{{name}}" placeholder="A public name for the item" class="required" />

	<label for="item_description">Description</label>
	<textarea rows="3" id="item_description" name="item_description">{{description}}</textarea>


		<div class="pure-u-1">
				<div class="pure-u-1 pure-u-md-1-3">
					<label for="item_price">Price ($ USD)</label>
					<input type="text" id="item_price" name="item_price" value="{{price}}" class="required number" />
				</div><!--pure-->
				<div class="pure-u-1 pure-u-md-1-3">
					<label for="item_quantity">Quantity (-1: unlimited)</label>
					<input type="text" id="item_quantity" name="item_quantity" value="{{#available_units}}{{available_units}}{{/available_units}}{{^available_units}}-1{{/available_units}}" class="number required" />
				</div><!--pure-->
				<div class="pure-u-1 pure-u-md-1-3">
			<label for="item_fulfillment_asset">Fulfillment asset</label>
			<select id="item_fulfillment_asset" name="item_fulfillment_asset">
				<option value="0">None (No digital fulfillment)</option>
				{{{asset_options}}}
			</select>
		</div><!--pure-->
		</div><!--pure-->
		<div class="pure-u-1">
	<label class="checklabel" for="item_flexible_price">
		<input type="checkbox" name="item_flexible_price" id="item_flexible_price"{{#flexible_price}} checked="checked"{{/flexible_price}} class="checkorradio" /> Enable "pay-at-least" minimum pricing
	</label>
		</div><!--pure-->
		<div class="pure-u-1">
	<label class="checklabel" for="item_physical">
		<input type="checkbox" name="item_physical" id="item_physical"{{#physical_fulfillment}} checked="checked"{{/physical_fulfillment}} class="checkorradio" /> Physical goods? (Will require shipping address)
	</label>
	</div><!--pure-->
</form>

<form name="add_item_variants" class="multipart" data-parts="4" novalidate="novalidate">
<input type="hidden" name="{{form_state_action}}" value="makeitso" />
<div class="drawer prefpanel pure-u-1">
	<div class="itemnav pure-u-1">
	<h4 class="drawerhandle title"><div class="icon icon-cog"></div><!--icon--><span>Item variants</span></h4>
	<div class="drawercontent">
	<div class=" section part-1" data-section-name="Establish Item Variants">
		<div class="pure-u-1">
			<label for="item_name">Primary variant name</label>
			<input type="text" id="primary_variant_name" name="primary_variant_name" value="{{primary_variant_name}}" placeholder="e.g color" class="required" />
			<label for="item_name">Secondary variant name</label>
			<input type="text" id="secondary_variant_name" name="secondary_variant_name" value="{{secondary_variant_name}}" placeholder="e.g size" />
		</div><!--pure-->
	</div><!--section-->
	<button class="button multipart-next">Next</button>
	<h4>Create &ldquo;{primary_variant_name}&rdquo; options:</h4>
	<div class="section part-2" data-section-name="Establish Primary Variant Options">
		<div class="pure-u-1">
			<label for="item_name">Option One</label>
			<input type="text" id="primary_variant_option1" name="primary_variant_option1" value="{{primary_variant_option1}}" placeholder="e.g purple" class="required" />
		</div><!--pure-->
	</div><!--section-->
	
	<input class="button" type="submit" value="Add Option">
	<button class="button multipart-next">Next</button>
	<h4>Create &ldquo;{secondary_variant_name}&rdquo; options:</h4>
	<div class="section part-3" data-section-name="Establish Secondary Variant Options">
		<div class="pure-u-1">
			<label for="item_name">Option One</label>
			<input type="text" id="secondary_variant_option1" name="secondary_variant_option1" value="{{secondary_variant_option1}}" placeholder="e.g small" class="required" />
		</div><!--pure-->
	</div><!--section-->
	<input class="button" type="submit" value="Add Option">
	<button class="button multipart-next">Next</button>
	<div class="section part-4" data-section-name="Establish Secondary Variant Options">
		<div class="pure-u-1">
			<table style="width:100%;">
			<colgroup style="width:50%;" />
			<colgroup style="width:50%;" />	
			<thead>
				<tr>
					<th scope="col">Variant description</th>
					<th scope="col">Available Quantity</th>
				</tr>
			</thead>
			<tbody>
			<tr>
				<td>Purple Small</td>
				<td><select id="item_fulfillment_asset" name="item_fulfillment_asset" aria-invalid="false"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option></select></td>
			</tr>	
			<tr>
				<td>Purple Medium</td>
				<td><select id="item_fulfillment_asset" name="item_fulfillment_asset" aria-invalid="false"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option></select></td>
			</tr>	
			<tr>
				<td>Purple Large</td>
				<td><select id="item_fulfillment_asset" name="item_fulfillment_asset" aria-invalid="false"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option></select></td>
			</tr>	
			</tbody>
		</table>
		</div><!--pure-->
		<input class="button" type="submit" value="Update Quantities">
		<input class="button" type="submit" value="Remove Variants">
	</div><!--section-->
	</div><!--drawercontent-->
	</div><!--itemnav-->
</div><!--drawer prefpanel-->

<div class="pure-u-1">
	<button type="submit">Save changes</button>
	<a href="{{www_path}}/commerce/items/delete/{{id}}" class="button needsconfirmation"><div class="icon icon-ban"></div><!--icon-->Delete this item</a>
</div><!--pure-->
</form>