<div id="activity" class="pure-u-1">
        <div class="alt callout"><div class="callout-inner">
            <h3>First use</h3>
            <p>Lorem ipsum shitsum</p>

        </div>

    </div>

<div class="pure-u-1">
    <h4>Fulfillment Jobs (x)</h4>

    <div class="fulfillment-jobs pure-u-1">
        There are currently x jobs. Add one and stuff
    </div>
    <br>

        <a class="button lightboxed" href="{{www_path}}/commerce/externalfulfillment/create">Create a fulfillment job</a>

</div><!--pure-->
