{{! corresponding files: commerce_orders_view.php & commerce_orders_view.json }}

<div class="pure-u-1">
<header>
		<a class="returnlink current" href="{{www_path}}/commerce/"><div class="icon icon-arw-dwn"></div><!--icon--></a><h4 class="secondary-title">{{ui_title}}</h4>
</header>
</div><!--pure-->

<div class="order-detail">
	<div class="pure-u-1 pure-u-md-1-2">
		<p>
			<strong>{{copy_placed_on}}</strong> {{order_date}}<br />
			<strong>{{copy_payment_status}}</strong> {{status}}
		</p>
		<p>
			<strong>{{copy_order_total}}</strong>${{formatted_gross_price}} <br />
			<strong>{{copy_total_minus_fees}}</strong> ${{formatted_net_price}}
			{{#formatted_shipping}}<br /><strong>{{copy_shipping}}</strong>${{formatted_shipping}} <br />{{/formatted_shipping}}
		</p>
	</div><!--pure-->

	<div class="pure-u-1 pure-u-md-1-2">
		<p>
			<strong>{{copy_customer}}</strong>&nbsp;<a href="mailto:{{customer_email_address}}">{{customer_display_name}}</a>
			{{^shipping_name}}<br /><strong>{{copy_country}}</strong> {{customer_address_country}}{{/shipping_name}}
		</p><br />
		{{#shipping_name}}
			<p>
				<strong>{{copy_shipto}}</strong><br />
				{{shipping_name}}<br />
				{{shipping_address1}}<br/>
				{{#shipping_address2}}{{shipping_address2}}<br/>{{/shipping_address2}}
				{{shipping_city}}, {{shipping_region}} {{shipping_postalcode}}<br />
				{{shipping_country}}
			</p>
		{{/shipping_name}}

		{{#physical}}
			<br />
			{{#fulfilled}}
				<p><strong>{{copy_order_fulfilled}}</strong></p>
			{{/fulfilled}}
			{{^fulfilled}}
				<p><a href="{{www_path}}/commerce/orders/view/{{id}}/fulfilled" class="button">{{copy_mark_as_fulfilled}}</a></p>
			{{/fulfilled}}
		{{/physical}}
	</div><!--pure-->

{{#order_contents}}
	<h4>{{copy_items_included}}</h4>
	<table style="width:100%;" class="responsive">
		<colgroup style="width:5%;" />
		<colgroup />
		<colgroup style="width:8%;" />
		<thead>
			<tr>
				<th scope="col">{{copy_qty}}</th>
				<th scope="col">{{copy_name}}</th>
				<th scope="col" style="text-align:right;">{{copy_price}}</th>
			</tr>
		</thead>
		<tbody>
	{{#order_contents}}
		<tr>
			<td>{{#qty}}{{qty}}{{/qty}}{{^qty}}1{{/qty}}</td>
			<td>
				<a href="{{www_path}}/commerce/items/edit/{{id}}">{{name}}</a>
				{{#variant}}<span class="fadedtext">{{variant}}</span>{{/variant}}
			</td>
			<td style="text-align:right;">${{price}}</td>
		</tr>
	{{/order_contents}}
		</tbody>
	</table>
{{/order_contents}}

</div><!--order-detail-->

<small><span class="icon icon-rocket fadedtext"></span> &nbsp;<a href="{{www_path}}/commerce/orders/resend/{{id}}" class="fadedtext lightboxed">{{copy_resend}}</a></small>

<div class="drawer prefpanel pure-u-1{{#notes}} defaultopen{{/notes}}">
	<div class="itemnav pure-u-1">
		<h4 class="drawerhandle title"><div class="icon icon-paperclip"></div><!--icon--><span>{{label_notes}}</span></h4>
		<div class="drawercontent">
			<div class="pure-u-1">
				<div class="pref-inner">
					<form accept-charset="UTF-8" method="post" action="{{www_path}}/commerce/orders/view/{{id}}">
					<textarea id="ordernotes" name="ordernotes" class="small">{{notes}}</textarea>
					<button type="submit">{{copy_button_notes}}</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="pure-u-1 order-detail">
	<h4>{{copy_transaction_details}}</h4>
	<strong>{{copy_connection_used}}</strong> {{order_connection_details}} <br />
	<strong>{{copy_transaction_id}}</strong> {{service_transaction_id}}<br />
	<strong>{{copy_service_fees}}</strong> ${{service_fee}}
</div><!--pure-->

<div class="drawer prefpanel pure-u-1">
<div class="itemnav pure-u-1">
	<h4 class="drawerhandle title"><div class="icon icon-data"></div><!--icon--><span>{{copy_data}}</span></h4>
<div class="drawercontent">
	<div class="pure-u-1 pure-u-md-1-2">
		<div class="pref-inner">
		<h5>{{copy_data_sent_to_service}}</h5>
			<ul class="smalltext">
				{{#formatted_data_sent}}
					<li><b>{{key}}:</b> {{value}}</li>
				{{/formatted_data_sent}}
			</ul>
		</div><!--pref-inner-->
	</div><!--pure-->
	<div class="pure-u-1 pure-u-md-1-2">
		<div class="pref-inner">
		<h5>{{copy_data_returned_by_service}}</h5>
			<ul class="smalltext">
				{{#formatted_data_returned}}
					<li><b>{{key}}:</b> {{value}}</li>
				{{/formatted_data_returned}}
			</ul>
		</div><!--pref-inner-->
	</div><!--pure-->
</div><!--drawercontent-->
</div><!--itemnav-->
</div><!--drawer prefpanel-->
