{{#total_orders}}
	<div class="sectiondash">
		<div class="primarystat">
			<span>{{total_orders}}<label>New Order{{^orders_singular}}s{{/orders_singular}}</label></span>
			/
			<span>{{total_spend}}<label>Total</label></span>
		</div>
	</div>
{{/total_orders}}

{{#orders_recent}}
	<h4>Export orders</h4>
	<a href="{{www_path}}/commerce/orders/export/unfulfilled" class="button noajax">Export recent orders</a>
	<a href="{{www_path}}/commerce/orders/export/" class="button noajax">Export all orders</a>
	{{#orders_recent}}{{/orders_recent}}
{{/orders_recent}}

	<div class="pure-u-1">
		<h4>Orders</h4>
		{{#orders_recent}}
		<ul class="alternating">
			{{#orders_recent}}
			<li>
				<a class="primary" href="{{www_path}}/commerce/orders/view/{{id}}">
				<strong>{{number}}</strong><span class="descriptive spaced fadedtext">{{date}} - {{gross}}: {{items}}</span></a>

				<div class="more"><div class="toggle"></div><!--toggle-->
					<div class="actions">
				<a href="{{www_path}}/commerce/orders/view/{{id}}" class="mininav_flush"><svg class="icon" viewBox="0 0 260 260"><use xlink:href="#icon-search"></use></svg>Details</a>
					</div><!--actions-->
				</div><!--more-->
			</li>
			{{/orders_recent}}
		</ul>
		{{/orders_recent}}

		{{^orders_recent}}
		<p>No orders have been placed yet.</p>
		{{/orders_recent}}
	</div><!--pure-->