{{! corresponding files: commerce_subscriptions_add.php & commerce_subscriptions_add.json}}

<form accept-charset="UTF-8" enctype="multipart/form-data" method="post" action="{{www_path}}/commerce/subscriptions/add" id="rename_tiers" class="nodefaultajax">
        <input type="hidden" name="action" value="do_create" />
        <input type="hidden" name="id" value="{{id}}">
        <input type="hidden" name="sku" value="{{sku}}">
        <input type="hidden" name="connection_id" value="{{connection_id}}">
        <label for="name">{{label_plan_name}}</label>
        <input type="text" id="name" name="name" value="{{name}}" placeholder="Plan Name" class="required" />
        <label for="description">{{label_description}}</label>
        <textarea id="description" name="description">{{description}}</textarea>

    <div class="pure-u-1 pure-u-md-1-2">
        <label for="item_fulfillment_asset">{{label_interval}}</label>
        <select id="item_fulfillment_asset" name="item_fulfillment_asset">
            <option value="month" selected>{{label_option_month}}</option>
            <option value="week">{{label_option_week}}</option>
            <option value="day">{{label_option_day}}</option>
            <option value="year">{{label_option_month}}</option>
        </select>
    </div><!--pure-->    <div class="pure-u-1 pure-u-md-1-2">
    <label for="price">{{label_price}}</label>
    <input type="text" id="price" name="price" value="{{price}}" placeholder="150" class="required" />
    </div><!--pure-->

    <div class="pure-u-1">
        <label class="checklabel" for="physical">
            <input type="checkbox" name="physical" id="physical" class="checkorradio" />{{label_physical}}
        </label>
        <label class="checklabel" for="flexible_price">
            <input type="checkbox" name="flexible_price" id="flexible_price" class="checkorradio" />{{label_flexible}}
        </label>

        <label class="checklabel" for="recurring">
            <input type="checkbox" name="recurring" id="recurring" checked="checked" class="checkorradio" />{{label_recurring}}
        </label>
    </div><!--pure-->



        <div class="pure-u-1">
            <button type="submit">Save</button>
        </div>
    </form>