<header>
<div class="pure-u-1 pure-u-md-1-2">
<a class="returnlink current" href="{{www_path}}/commerce/subscriptions/"><div class="icon icon-arw-dwn"></div><!--icon--></a><h4 class="secondary-title">&ldquo;{{ui_title}}&rdquo;</h4>
</div><!--pure-->
        <div class="pure-u-1 pure-u-md-1-2">
            <ul class="inline-subnav">
                <li><a class="lightboxed" href="{{www_path}}/commerce/subscriptions/edit/{{id}}"><div class="icon icon-pencil"></div> {{copy_edit_plan}}</a></li>
            </ul>
    </div><!--pure-->
</header>


    {{^subscriptions}}
    <div class="material single usecolor4">
        <div class="pure-u-1 pure-u-md-1-2">
            <h5>{{label_name}}</h5>
            <p{{sku}}<br /><span class="fadedtext">{{description}}</span></p>
        </div><!--pure-->
        <div class="pure-u-1 pure-u-md-1-4">
            <h5>{{label_price}}</h5>
            <p>{{price}}</p>
        </div><!--pure-->
            <div class="pure-u-1 pure-u-md-1-4">
            <h5>{{label_interval}}</h5>
            <p>{{interval}}</p>
        </div><!--pure-->
    </div><!--material-->
    {{/subscriptions}}

    <h4 class="section breaker">{{copy_subscriber_title}}</h4>

    <table style="width:100%;" class="responsive">
        <colgroup style="width:85%;" /><colgroup />
            <thead>
                <tr>
                    <th scope="col">{{label_subscriber_name}}</th>
                    <th scope="col">{{label_subscriber_email}}</th>
                    <th scope="col">{{label_subscriber_start_date}}</th>
                    <th></th>
                    <th scope="col">{{label_subscriber_end_date}}</th>
                    <th scope="col">{{label_subscriber_total}}</th>
                </tr>
            </thead>
            <tbody>
            {{^subscriptions}}
                <tr>
                    <td>{{first_name}}&nbsp;{{last_name}}</td>
                    <td><a href="mailto:{{email_address}}">{{email_address}}</a></td>
                    <td>{{start_date}}</td>
                    <td>&rarr;</td>
                    <td>{{end_date}}</td>
                    <td class="block-color">{{total_paid_to_date}}</td>
                </tr>
            {{/subscriptions}}    
            </tbody>
    </table>