<h1>Edit / Review</h1>

<div class="pure-u-1">
    <p>Change the names and stuff.</p>

    <form accept-charset="UTF-8" enctype="multipart/form-data" method="post" action="{{www_path}}/commerce/externalfulfillment/complete" name="complete_import" class="nodefaultajax">
        <input type="hidden" name="complete_import" value="makeitso" />


        <button type="submit">Complete Import And Stuff And Whatnot</button>
    </form>

</div><!--pure-->
