<a href="/admin/commerce/subscriptions">Back to the future</a>

{{#plan}}
    <h2>{{name}}</h2>

<div class="pure-u-1-2">
    <ul>
        <li>{{sku}}</li>
        <li>{{description}}</li>
        <li>{{price}}</li>
        <li>{{interval}}</li>
    </ul>
    <a href="/admin/commerce/subscriptions/edit/{{id}}" class="button">Edit Plan</a>
</div>

    <div class="pure-u-1-2">
        <h3>Subscribers</h3>
    </div>

{{/plan}}