{{! corresponding files: commerce_items_edit.php & commerce_items_edit.json}}

<div class="pure-u-1">
<header>
		<a class="returnlink current" href="{{www_path}}/commerce/items"><div class="icon icon-arw-dwn"></div><!--icon--></a><h4 class="secondary-title">&ldquo;{{name}}&rdquo;</h4>
</header>
<p>
	<small><span class="icon icon-search"></span> &nbsp;<a href="{{www_path}}/commerce/filter/byitem/{{id}}">{{copy_find_orders}}</a></small>
	{{#show_beta}}<br /><small><span class="icon icon-rocket"></span> &nbsp;<a href="{{www_path}}/commerce/items/send/{{id}}" class="lightboxed">Send to buyers</a></small>{{/show_beta}}
</p>
</div><!--pure-->

<form accept-charset="UTF-8" method="post" action="{{www_path}}/commerce/items/edit/{{id}}" name="edit_item" >
	<input type="hidden" name="{{form_state_action}}" value="makeitso" />

	<label for="item_name">{{label_name}}</label>
	<input type="text" id="item_name" name="item_name" value="{{name}}" placeholder="A public name for the item" class="required" />

	<label for="item_description">{{label_description}}</label>
	<textarea rows="3" id="item_description" name="item_description">{{description}}</textarea>


	<div class="pure-u-1">
		<div class="pure-u-1 pure-u-md-1-3">
			<label for="item_price">{{label_price}}</label>
			<input type="text" id="item_price" name="item_price" value="{{price}}" class="required number" />
		</div><!--pure-->
		<div class="pure-u-1 pure-u-md-1-3">
			<label for="item_quantity">{{label_quantity}}</label>
			{{#show_beta}}
				{{#has_variants}}<span class="inputreadonly">{{#available_units}}{{available_units}}{{/available_units}}{{^available_units}}-1{{/available_units}}</span>{{/has_variants}}
				{{^has_variants}}<input type="text" id="item_quantity" name="item_quantity" value="{{available_units}}" class="number required" />{{/has_variants}}
			{{/show_beta}}
			{{^show_beta}}
			<input type="text" id="item_quantity" name="item_quantity" value="{{available_units}}" class="number required" />
			{{/show_beta}}
		</div><!--pure-->
		<div class="pure-u-1 pure-u-md-1-3">
			<label for="item_fulfillment_asset">{{label_fulfillment_asset}}</label>
			<select id="item_fulfillment_asset" name="item_fulfillment_asset">
				<option value="0">{{copy_op_none}}</option>
				{{{asset_options}}}
			</select>
		</div><!--pure-->
	</div><!--pure-->

	<div class="pure-u-1">
		<label class="checklabel" for="item_flexible_price">
			<input type="checkbox" name="item_flexible_price" id="item_flexible_price"{{#flexible_price}} checked="checked"{{/flexible_price}} class="checkorradio" />{{label_enable}}
		</label>
	</div><!--pure-->
	<div class="pure-u-1">
		<label class="checklabel" for="item_physical">
			<input type="checkbox" name="item_physical" id="item_physical"{{#physical_fulfillment}} checked="checked"{{/physical_fulfillment}} class="checkorradio" />{{label_physical}}
		</label>
	</div><!--pure-->

	{{#show_beta}}
	<div class="pure-u-1" id="shippingrates" {{^physical_fulfillment}}style="display:none;"{{/physical_fulfillment}}>
		{{^noshippingregions}}
			<div class="pure-u-1 pure-u-md-1-2">
				<label for="region1_first">{{label_first_shipped}} ({{region1}})</label>
				<input type="text" id="region1_first" name="region1_first" value="{{region1_first}}" class="number" placeholder="3.00" />
				<label for="region1_rest">{{label_rest_shipped}} ({{region1}})</label>
				<input type="text" id="region1_rest" name="region1_rest" value="{{region1_rest}}" class="number" placeholder="2.00" />
			</div>
			<div class="pure-u-1 pure-u-md-1-2">
				<label for="region2_first">{{label_first_shipped}} ({{region2}})</label>
				<input type="text" id="region2_first" name="region2_first" value="{{region2_first}}" class="number" placeholder="3.00" />
				<label for="region2_rest">{{label_rest_shipped}} ({{region2}})</label>
				<input type="text" id="region2_rest" name="region2_rest" value="{{region2_rest}}" class="number" placeholder="2.00" />
			</div>
		{{/noshippingregions}}
		{{#noshippingregions}}
			<p>{{no_regions}} <a href="{{www_path}}/commerce/">{{commerce_settings}}</a>.</p>
		{{/noshippingregions}}
	</div><!--pure-->
	{{/show_beta}}

	<div class="pure-u-1">
		<button type="submit">{{copy_button_save}}</button>
		<a href="{{www_path}}/commerce/items/delete/{{id}}" class="button needsconfirmation"><div class="icon icon-ban"></div><!--icon-->{{copy_button_delete}}</a>
	</div><!--pure-->

</form>
{{#show_beta}}
{{#physical_fulfillment}}
	<div class="drawer prefpanel pure-u-1">
	<div class="itemnav pure-u-1">
		<h4 class="drawerhandle title"><div class="icon icon-cog"></div><!--icon--><span>{{copy_configure}}</span></h4>
	<div class="drawercontent">

	{{#has_variants}}
		<div class="pure-u-1">
		<div class="pref-inner">
			<form accept-charset="UTF-8" method="post" action="{{www_path}}/commerce/items/edit/{{id}}" name="edit_item" >
				<input type="hidden" name="dovariantqty" value="makeitso" />
				<table style="width:100%;">
				<colgroup style="width:50%;" />
				<colgroup style="width:50%;" />
				<thead>
					<tr>
						<th scope="col">{{copy_variant_description}}</th>
						<th scope="col">{{copy_available_quantity}}</th>
					</tr>
				</thead>
				<tbody>
				{{#variants_quantities}}
					<tr>
						<td>{{formatted_name}}</td>
						<td><input type="text" id="varquantity-{{id}}" name="varquantity-{{id}}" value="{{value}}" class="required number" /></td>
					</tr>
				{{/variants_quantities}}
				</tbody>
				</table>

				<div class="pure-u-1 pure-u-md-1-3">
					<button type="submit">{{copy_button_save_variants}}</button>
				</div>

			</form>
			</div><!--pref-inner-->
		</div><!--pure-->
		<div class="pure-u-1">
				<div class="pref-inner">

					<h5>{{copy_reconfigure_variants}}</h5>
					<p>{{copy_reset_variants}}</p>
					<a href="{{www_path}}/commerce/items/variant/{{id}}" class="button lightboxed">Reconfigure Variants</a>

				</div><!--pref-inner-->
				</div><!--pure-->
	{{/has_variants}}
	{{^has_variants}}
		<div class="pure-u-1 pure-u-md-1-2">
		<div class="pref-inner">

		<h5>{{copy_add_item_variants}}</h5>
		<p>{{copy_variations}}</p>
		<a href="{{www_path}}/commerce/items/variant/{{id}}" class="button lightboxed">{{copy_add_variants}}</a>

		</div><!--pref-inner-->
		</div><!--pure-->
	{{/has_variants}}

	</div><!--drawercontent-->
	</div><!--itemnav-->
	</div><!--drawer prefpanel-->
{{/physical_fulfillment}}
{{/show_beta}}
