<h2>Plans <a href="/admin/commerce/subscriptions/add" style="float: right" class="button lightboxed">Create new plan</a></h2>
{{#plans}}
    <ul>
        <li><h4>{{name}}</h4></li>
        <li>{{sku}}</li>
        <li>{{price}}</li>
        <li>{{interval}}</li>
        <li><a class="button" href="/admin/commerce/subscriptions/detail/{{id}}">Details</a></li>
    </ul>
    <hr>
{{/plans}}