{{! corresponding files: commerce_externalfulfillment.php & commerce_externalfulfillment.json }}

<div class="pure-u-1">
<header>
		<a class="returnlink current" href="{{www_path}}/commerce/externalfulfillment"><div class="icon icon-arw-dwn"></div><!--icon--></a><h4 class="secondary-title">{{copy_detail_title}} &quot;{{job_name}}&quot; </h4>
</header>
</div><!--pure-->
<div class="pure-u-1">


    <form accept-charset="UTF-8" enctype="multipart/form-data" method="post" action="{{www_path}}/commerce/externalfulfillment" id="rename_tiers" class="nodefaultajax">
        <input type="hidden" name="action" value="do_process" />
        <h4>Select Release Asset</h4>
        <select id="item_fulfillment_asset" name="item_fulfillment_asset">
            {{{asset_options}}}
        </select>

        <h4>Rename Tiers ({{processes_count}})</h4>
        <p>Rename tiers, since they default to filenames</p>

        {{#processes}}
        <div class="pure-g">
            <div class="pure-u-2-5">
        <label>Tier name</label>
        <input type="text" name="tier_name[{{id}}]" data-id="{{id}}" value="{{name}}" />
            </div>
        <div class="pure-u-2-5">
            <label>UPC</label>
            <input type="text" name="tier_upc[{{id}}]" value="" placeholder="UPC">
        </div>
            <div class="pure-u-1-5">
                <p><label for=""><input type="checkbox" name="tier_physical[{{upc}}]" value="1"> Physical</label></p>
                <p><label for=""><input type="checkbox" name="tier_shipped[{{upc}}]" value="1"> Shipped</label></p>
            </div>
            </div>
            {{/processes}}


        <button type="submit">Complete Import</button>
    </form>

</div><!--pure-->
