{{^connection}}
	<h2>{{{copy_firstuse}}}</h2>
	<div class="callout texture pure-u-1">
		<div class="pure-u-1 pure-u-md-1-2">
			<div class="inner comingsoon">
				<h3><img src="{{www_path}}/assets/images/settings/com.stripe.png" alt="Stripe"/></h3>
				<p>Stripe Payment Gateway Support. Coming Soon.</p>
				<p><a href="http://stripe.com" target="_blank">http://stripe.com</a></p>
				<a class="button fullwidth lightboxed" href="/">Add Connection</a>
			</div><!--inner-->
		</div><!--pure-->
		<div class="pure-u-1 pure-u-md-1-2">
			<div class="inner">
				<h3><img src="{{www_path}}/assets/images/settings/com.paypal.png" alt="Paypal"/></h3>
				<p>This is the most reliable connection type at scale.</p>
				<p><a href="http://paypal.com" target="_blank">http://paypal.com</a></p>
				<a class="button fullwidth lightboxed" href="{{www_path}}/settings/connections/add/com.paypal">Add Connection</a>
			</div><!--inner-->
		</div><!--pure-->
	</div><!--pure-->
{{/connection}}

{{#connection}}
<div class="pure-u-1 pure-u-md-1-2">
<h4>Orders</h4>
</div><!--pure-->
{{#orders_recent}}
<div class="pure-u-1 pure-u-md-1-2">
<ul class="inline_subnav">
	<li><a class="current" href="/">All time</a></li>
		<li><a href="/">This week</a></li>
			<li><a href="/">Unfulfilled</a></li>
</ul>
{{/orders_recent}}

</div><!--pure-->
{{#total_orders}}
		<div id="snapshot">
			<div class="pure-u-1 pure-u-md-1-2">
				<div class="inner">
					<h4>New Order{{^orders_singular}}s{{/orders_singular}} - (<a href="/">No Unfulfilled</a>)</h4>
					<h5 class="totalviews">{{total_orders}}73,769</h5>
				</div><!--inner-->
			</div><!--pure-->
			<div class="pure-u-1 pure-u-md-1-2">
				<div class="inner">
					<h4>Total Amount</h4>
					<h5 class="totalviews">{{dashboard_list_total_new}}</h5>
					<h5 class="percentage"><svg class="icon" viewBox="0 0 189 246"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-lg-arw"></use></svg>0%</h5>
				</div><!--inner-->
			</div><!--pure-->
		</div><!--snapshot-->
{{/total_orders}}

	<div class="pure-u-1">
		{{#orders_recent}}
		<ul class="commerce alternating">
			{{#orders_recent}}
			<li>
				<div class="item">
					<div class="date"><span class="month">Feb</span><span class="day">01</span>{{date}}</div><!--stats-->
					<a class="info" href="{{www_path}}/commerce/orders/view/{{id}}">
					<strong>Order: {{number}}</strong><span class="descriptive spaced fadedtext">{{gross}}: {{items}}</span></a><span class="amount">8888</span>
				</div><!--item-->

				<div class="more"><div class="toggle"></div><!--toggle-->
					<div class="actions">
				<a href="{{www_path}}/commerce/orders/view/{{id}}" class="mininav_flush"><svg class="icon" viewBox="0 0 260 260"><use xlink:href="#icon-search"></use></svg>Details</a>
					</div><!--actions-->
				</div><!--more-->
			</li>
			{{/orders_recent}}
		</ul>

		<footer>
		{{#orders_recent}}<div class="left pagination"><a class="prev" href="/">Previous</a><span>/</span><a class="next active" href="/">Next</a></div><!--pagination-->{{/orders_recent}}
		</footer>

		{{/orders_recent}}

		{{^orders_recent}}
		<div class="empty">
			<p>Sorry, No orders have been placed yet.</p>
		</div><!--empty-->
		{{/orders_recent}}


	</div><!--pure-->
{{/connection}}