<div class="pure-u-1">
<header>
		<a class="returnlink current" href="{{www_path}}/commerce/"><div class="icon icon-arw-dwn"></div><!--icon--></a><h4 class="secondary-title">{{ui_title}}</h4>
</header>
</div><!--pure-->

<div class="order-detail">
	<div class="pure-u-1">
		<h4>Order details</h4>
	</div><!--pure-->
	<div class="pure-u-1">
		<p><strong>Order number:</strong>{{padded_id}}<br />
		<strong>Placed on: </strong>{{order_date}}<br />
		<strong>Fulfilled: </strong>{{order_fulfilled}}<br />
		<strong>Payment status: </strong>{{status}}</p>
	</div><!--pure-->
	<div class="pure-u-1 pure-u-md-1-2">
		<p><strong>Customer:</strong> 
		{{customer_display_name}}  
		<a href="mailto:{{customer_email_address}}">{{customer_email_address}}</a><br />
		<strong>Country: </strong> {{customer_address_country}}</p>
	</div><!--pure-->
	<div class="pure-u-1 pure-u-md-1-2">
		<p><strong>Order total: </strong>${{formatted_gross_price}} <br />
		<strong>Total minus fees: </strong> ${{formatted_net_price}}</p>
	</div><!--pure-->
{{#order_contents}}
	<h4>Items included</h4>
	<table style="width:100%;" class="responsive">
		<colgroup style="width:8%;" />
		<colgroup style="width:25%;" />
		<colgroup />
		<colgroup style="width:8%;" />
		<thead>
			<tr>
				<th scope="col">Qty</th>
				<th scope="col">Name</th>
				<th scope="col">Description</th>
				<th scope="col" style="text-align:right;">Price</th>
			</tr>
		</thead>
		<tbody>
	{{#order_contents}}
		<tr>
			<td>1</td>
			<td><a href="{{www_path}}/commerce/items/edit/{{id}}">{{name}}</a></td>
			<td>{{description}}</td>
			<td style="text-align:right;">${{price}}</td>
		</tr>
	{{/order_contents}}
		</tbody>
	</table>
{{/order_contents}}

<div class="pure-u-1">
<h4>Transaction details</h4>
<p><strong>Connection used: </strong> {{order_connection_details}} <br />
<strong>Transaction ID: </strong> {{service_transaction_id}}<br />
<strong>Service fees: </strong> ${{service_fee}}</p>
</div><!--pure-->

</div><!--order-detail-->

<div class="drawer prefpanel pure-u-1">
<div class="itemnav pure-u-1">
	<h4 class="drawerhandle title"><div class="icon icon-data"></div><!--icon--><span>Data Sent &amp; Received</span></h4>
<div class="drawercontent">
	<div class="pure-u-1 pure-u-md-1-2">
		<div class="pref-inner">
		<h5>Data sent to service</h5>
			<ul class="smalltext">
				{{#formatted_data_sent}}
					<li><b>{{key}}:</b> {{value}}</li>
				{{/formatted_data_sent}}
			</ul>
		</div><!--pref-inner-->
	</div><!--pure-->
	<div class="pure-u-1 pure-u-md-1-2">
		<div class="pref-inner">
		<h5>Data returned by service</h5>
			<ul class="smalltext">
				{{#formatted_data_returned}}
					<li><b>{{key}}:</b> {{value}}</li>
				{{/formatted_data_returned}}
			</ul>
		</div><!--pref-inner-->
	</div><!--pure-->
</div><!--drawercontent-->
</div><!--itemnav-->
</div><!--drawer prefpanel-->