<p>Are you sure you want to delete this? It will be permanently erased.</p>

<form accept-charset="UTF-8" method="post" action="">
	<input type="hidden" name="dodelete" value="makeitso">
	<button type="submit"><svg class="icon" viewBox="0 0 241 241"><use xlink:href="#icon-ban"></use></svg>Delete it</button>
</form>