<p>{{copy_are_you_sure}}</p>

<form accept-charset="UTF-8" method="post" action="">
	<input type="hidden" name="dodelete" value="makeitso">
	<button type="submit"><div class="icon icon-ban"></div><!--icon-->{{copy_button_delete_it}}</button>
</form>