 <div class="storedisplay row">
	<div class="six columns">
		<ul class="list">
		{{#elements_output}}
			<li><a class="elementdisplay" name="#{{element_type}}" href="{{www_path}}/elements/add/{{element_type}}">{{element_type_name}}<span>Author:{{element_type_author}}</span><i class="icon icon-plus-sign"></i></a></li>
		{{/elements_output}}
		</ul>
	</div>
</div><!--storedisplay-->
<div class="gallery">
	<div class="movement">
	{{#elements_output}}
		<div id="{{element_type}}" class="example current">
			<h2>{{element_type_name}}<span>V.{{element_type_version}}</span></h2>
			<div class="slider">
				<img src="{{www_path}}/assets/images/elementheader.php?element={{element_type}}" width="100%" alt="{{element_type_name}}" />
			</div><!--slider-->
			<h3>{{element_type_description}}</h3>
			<p class="longdescription"><span class="altcopystyle">{{element_type_longdescription}}</span></p>
			<hr />
			<a class="button" href="{{www_path}}/elements/add/{{element_type}}">Add element <i class="icon icon-plus-sign"></i></a>
			<p class="updated">Last updated: {{element_type_updated}}</p>
		</div>
	{{/elements_output}}
	</div><!--movement-->
</div><!--gallery-->