{{#campaign_id}}
	<a class="returnlink" href="{{www_path}}/campaigns/view/{{campaign_id}}"><i class="icon icon-arrow-left"></i></a>
{{/campaign_id}}

	<h4>Embed it</h4>
	<!--<div class="drawer">-->
		<!--<div class="drawercontent">-->
			<br />
			{{#platform_type_single}}
				<b class="fadedtext codelabel">PHP: </b><code><div class="codearea" contenteditable="true">&lt;?php include_once('{{platform_path}}');CASHSystem::embedElement({{id}}); // ({{name}}) ?&gt;</div></code><br />
				<b class="fadedtext codelabel">WordPress: </b><code><div class="codearea" contenteditable="true">[cashmusic element=&quot;{{id}}&quot; name=&quot;{{name}}&quot;]</div></code>
			{{/platform_type_single}}
			<p class="codelabel"><strong>HTML5 embed code:</strong> <span class="fadedtext">(Embed anywhere)</span></p><code><div class="codearea" contenteditable="true">&lt;script type=&quot;text/javascript&quot; src=&quot;{{public_url}}cashmusic.js&quot;&gt;&lt;/script&gt;&lt;script type=&quot;text/javascript&quot;&gt; window.cashmusic.embed('{{public_url}}','{{id}}');&lt;/script&gt;</div></code>
		<!--</div>
	</div>-->


	<form method="post" action="">
		<input type="hidden" name="current_template_id" value="{{template_id}}" />
		<label for="template_id">Choose an embed style:</label>
		<div class="row">
			<div class="six columns">
				<select id="change_template_id" name="change_template_id">
					{{{template_options}}}
				</select>
				<button type="submit">Change style</button>
				{{#custom_template}}
					<a href="{{www_path}}/elements/templates/edit/{{template_id}}/embed/parent/{{id}}" class="button lightboxed">Edit custom embed</a>
				{{/custom_template}}
			</div>
			<div class="six columns"></div>
		</div>
	</form>

<h4>Statistics</h4> <div class="stat">Total unique views: {{total_views}}</div>

{{#location_analytics}}
	<div class="drawer statoverview">
		<div class="drawercontent">
			<br />
			{{#location_analytics}}
				<h5>Views by location</h5>
				<table style="width:100%;" class="responsive">
					<colgroup style="width:85%;" /><colgroup />	
					<thead>
						<tr>
							<th scope="col">Element location</th>
							<th scope="col">Views</th>
						</tr>
					</thead>
					<tbody>
					{{#location_analytics}}
					<tr>
						<td>{{access_location}}</td>
						<td>{{total}}</td>
					</tr>
					{{/location_analytics}}
					</tbody>
				</table>
			{{/location_analytics}}

			{{#method_analytics}}
				<br />
				<h5>Views by request method</h5>
				<table style="width:100%;" class="responsive">
					<colgroup style="width:85%;" /><colgroup />	
					<thead>
						<tr>
							<th scope="col">Request method</th>
							<th scope="col">Views</th>
						</tr>
					</thead>
					<tbody>
					{{#method_analytics}}
					<tr>
						<td>{{access_method}}</td>
						<td>{{total}}</td>
					</tr>
					{{/method_analytics}}
					</tbody>
				</table>
			{{/method_analytics}}
			<br />
		</div>
		<a class="drawerhandle button usecolor1">detailed statistics</a>
	</div>
{{/location_analytics}}

<h4>Element Settings</h4>
<p>Edit any of the settings for this element.</p>
<div class="drawer statoverview">
	<div class="drawercontent">
		{{{element_rendered_content}}}
	</div>
	<a class="drawerhandle button usecolor1">element settings</a>
</div>

</div><!--callout-->