<div class="editor">
 	<div class="editor-inner">

<!--p>{{{copy_top}}}</p>
<a href="{{www_path}}/elements/templates/"><div class="icon icon-list"></div><strong>See all templates</strong></a>
<br /><br />
<h4>Template details</h4>-->

<form accept-charset="UTF-8" method="post" class="returntocurrentroute" action="{{www_path}}/elements/templates" name="elements_template">
	<input type="hidden" name="dotemplateset" value="makeitso" />
	{{#id}}<input type="hidden" name="template_id" value="{{id}}" />{{/id}}

	<!-- <label for="template_name">{{label_name}}</label>
	<input type="text" id="template_name" name="template_name" placeholder="Give it a name" value="{{name}}" />
	
		<div class="pure-u-1 pure-u-md-1-2">
			<label for="template_type">{{label_type}}</label>
				<div class="pure-u-1 pure-u-md-1-4">
					<label for="typepage"><input type="radio" id="typepage" name="template_type" value="page" {{^is_embed}}checked="checked"{{/is_embed}} /> {{label_page}}</label>
				</div>
				<div class="pure-u-1 pure-u-md-3-4">
					<label for="typeembed"><input type="radio" id="typeembed" name="template_type" value="embed" {{#is_embed}}checked="checked"{{/is_embed}} /> {{label_embed}}</label>
				</div>
		</div>

		{{#adding}}
		<div class="pure-u-1 pure-u-md-1-2">
			<label>{{label_default}}</label>
			<span class="tooltip" data-tooltip="{{tooltip_page}}"><a href="#" id="usedefaultpage" class="smalltext" style="margin-right:3em;">{{{copy_usepage}}}</a></span>
			<span class="tooltip" data-tooltip="{{tooltip_embed}}"><a href="#" id="usedefaultembed" class="smalltext" style="margin-right:3em;">{{{copy_useembed}}}</a></span>
		</div>
		{{/adding}} -->

	<label>{{label_template}}</label>
	<textarea id="template" name="template" class="taller" wrap="off"  spellcheck="false">{{template}}</textarea>

	<button type="submit">{{button_text}}</button>

</form>

	</div><!-- editor-inner -->
</div><!-- editor -->

{{^is_embed}}
<div class="element-list storedisplay">

		{{#elements_for_campaign}}

		<p>{{copy_injectelements}}</p>

		<ul class="list">
			{{#elements_for_campaign}}
			<li><a class="elementdisplay injectcode" name="{{name}}" data-elementid="{{id}}" href="{{www_path}}/elements/edit/{{id}}">{{name}}<div class="icon icon-circle-plus"></div><!--icon--></a>
			</li>
			{{/elements_for_campaign}}
		</ul>
		{{/elements_for_campaign}}

		{{^elements_for_campaign}}
			<p>{{copy_noelements}}</p>
		{{/elements_for_campaign}}


</div><!-- element-list -->
{{/is_embed}}