{{! corresponding files: elements_add.php & elements_add.json }}

{{#all_requirements}}
	{{{element_rendered_content}}}
{{/all_requirements}}
{{^all_requirements}}
	<div class="gallery elementinstructions">
		<h5>{{copy_learn_more}}</h5>
		<p class="big">{{copy_longdescription}}</p>
	</div>
		<div class="elementform">
		<h2>{{copy_requirements_needed_title}}</h2>
			<p>{{copy_requirements_needed}}</p>
			{{{needed_requirements}}}
		</div>
{{/all_requirements}}