<p class="big">
	Combine everything else and build functionality, check analytics for existing elements, and get embed codes to use your elements on your site.
</p>

{{#elements_for_user}}
<ul class="alternating">
	{{#elements_for_user}}
	<li>
		<strong>{{name}}</strong> <span class="descriptive spaced fadedtext">{{type_name}}</span>
		<div class="itemnav">
			<a href="{{www_path}}/elements/edit/{{id}}" class="mininav_flush"><svg class="icon" viewBox="0 0 260 260"><use xlink:href="#icon-search"></use></svg> Details</a> 
			<a href="{{www_path}}/elements/delete/{{id}}" class="mininav_flush needsconfirmation"><svg class="icon" viewBox="0 0 241 241"><use xlink:href="#icon-ban"></use></svg> Delete</a>
		</div>
	</li>
	{{/elements_for_user}}
</ul>
{{/elements_for_user}}

{{^elements_for_user}}
<p>No elements have been added yet.</p>
{{/elements_for_user}}
