{{#all_requirements}}
	{{{element_rendered_content}}}
{{/all_requirements}}
{{^all_requirements}}
	<div class="gallery elementinstructions">
		<h5>Learn More</h5>
		<p class="big">{{copy_longdescription}}</p>
	</div>
		<div class="elementform">
			<p class="big">{{copy_requirements_needed}}</p>
			{{{needed_requirements}}}
		</div>
{{/all_requirements}}