<div class="pure-u-1 pure-u-md-1-2">
<h4>{{ui_title}}</h4>
</div><!--pure-->

{{^campaign_id}}
<div class="pure-u-1 pure-u-md-1-2">
	<ul class="inline_subnav">
		<li><a class="current" href="{{www_path}}/{{campaign_id}}">Back to Campaign</a></li>
	</ul>
</div><!--pure-->
{{/campaign_id}}

<div id="snapshot">
	<div class="pure-u-1 pure-u-md-1-2">
		<div class="snapshot-inner">
					<h4>Total Unique Views</h4>
					<h5 class="totalviews">{{total_orders}}73,769</h5>
				</div><!--snapshot-inner-->
			</div><!--pure-->
			<div class="pure-u-1 pure-u-md-1-2">
				<div class="snapshot-inner">
					<h4>Top Locations</h4>
					<ul>
						<li><span><strong>49</strong></span> <a href="/">http://www.website.com</a></li>
					</ul>
				</div><!--snapshot-inner-->
	</div><!--pure-->
</div><!--snapshot-->


			{{#platform_type_single}}
			<div class="pure-u-1">
				<div class="embedpanel">
					<strong class="fadedtext codelabel">PHP: </strong><code><div class="codearea" contenteditable="true">&lt;?php include_once('{{platform_path}}');CASHSystem::embedElement({{id}}); // ({{name}}) ?&gt;</div></code>
					<strong class="fadedtext codelabel">WordPress: </strong><code><div class="codearea" contenteditable="true">[cashmusic element=&quot;{{id}}&quot; name=&quot;{{name}}&quot;]</div></code>
				</div><!--embedding-->
			</div><!--pure-->
			{{/platform_type_single}}
			
			<div class="pure-u-1">
				<div class="embedpanel">
					<p class="codelabel"><strong>HTML5 embed code: </strong> <span class="fadedtext">(Embed anywhere)</span></p>

					<a class="ql copy" title="Copy quick embed code" data-clipboard-text="&lt;script type=&quot;text/javascript&quot; src=&quot;{{public_url}}/cashmusic.js&quot;&gt;&lt;/script&gt;&lt;script type=&quot;text/javascript&quot;&gt; window.cashmusic.embed('{{public_url}}','{{id}}');&lt;/script&gt;" ><div class="icon icon-share"></div><!--icon--></a>
					
					<code><div class="codearea" contenteditable="true">&lt;script type=&quot;text/javascript&quot; src=&quot;{{public_url}}/cashmusic.js&quot;&gt;&lt;/script&gt;&lt;script type=&quot;text/javascript&quot;&gt; window.cashmusic.embed('{{public_url}}','{{id}}');&lt;/script&gt;</div></code>
				</div><!--embedding-->
			</div><!--pure-->

	<div class="selecta">	
		<form method="post" action="">
			<input type="hidden" name="current_template_id" value="{{template_id}}" />
				<div class="pure-u-1 pure-u-md-1-2">
					<label for="template_id">Choose an embed style:</label>
					<select id="change_template_id" name="change_template_id">{{{template_options}}}</select>
				</div><!--pure-->
				<div class="pure-u-1 pure-u-md-1-2">
					<button class="right" type="submit">Change style</button>
					{{#custom_template}}
						<a href="{{www_path}}/elements/templates/edit/{{template_id}}/embed/parent/{{id}}" class="button lightboxed right">Edit custom embed</a>
					{{/custom_template}}
				</div><!--pure-->
		</form>
	</div><!--selecta-->

<!--<h4>Statistics</h4>-->
<!--<div class="stat">Total unique views: {{total_views}}</div>-->

{{#location_analytics}}
	<div class="drawer statoverview">
		<div class="drawercontent">
			{{#location_analytics}}
				<h5>Views by location</h5>
				<table style="width:100%;" class="responsive">
					<colgroup style="width:85%;" /><colgroup />	
					<thead>
						<tr>
							<th scope="col">Element location</th>
							<th scope="col">Views</th>
						</tr>
					</thead>
					<tbody>
					{{#location_analytics}}
					<tr>
						<td>{{access_location}}</td>
						<td>{{total}}</td>
					</tr>
					{{/location_analytics}}
					</tbody>
				</table>
			{{/location_analytics}}

			{{#method_analytics}}
				<h5>Views by request method</h5>
				<table style="width:100%;" class="responsive">
					<colgroup style="width:85%;" /><colgroup />	
					<thead>
						<tr>
							<th scope="col">Request method</th>
							<th scope="col">Views</th>
						</tr>
					</thead>
					<tbody>
					{{#method_analytics}}
					<tr>
						<td>{{access_method}}</td>
						<td>{{total}}</td>
					</tr>
					{{/method_analytics}}
					</tbody>
				</table>
			{{/method_analytics}}
		</div><!--drawercontent-->
		<a class="drawerhandle button usecolor1">detailed statistics</a>
	</div><!--stateoverview-->
{{/location_analytics}}

<div class="prefpanel pure-u-1">
	<h4 class="title"><div class="icon icon-wrench"></div><!--icon--><span>Element Settings</span></h4>
		<div class="pure-u-1">
		<div class="pref-inner">
<p>Edit any of the settings for this element.</p>

{{{element_rendered_content}}}
	
	</div><!--pref-inner-->
	</div><!--pure-->
</div><!--prefpanel-->