{{! corresponding files: elements_stats.php & elements_stats.json }}

<header>
		<a class="returnlink current" href="{{www_path}}/elements/edit/{{id}}"><div class="icon icon-arw-dwn"></div><!--icon--></a><h4 class="secondary-title">&ldquo;{{ui_title}}&rdquo;{{copy_statistics}}</h4>
</header>

{{#location_analytics}}
	<div class="statoverview">

			{{#location_analytics}}
				<h5>{{copy_views_by_location}}</h5>
				<table style="width:100%;" class="responsive">
					<colgroup style="width:85%;" /><colgroup />
					<thead>
						<tr>
							<th scope="col">{{copy_element_location}}</th>
							<th scope="col">{{copy_views}}</th>
						</tr>
					</thead>
					<tbody>
					{{#location_analytics}}
					<tr>
						<td>{{access_location}}</td>
						<td>{{total}}</td>
					</tr>
					{{/location_analytics}}
					</tbody>
				</table>
			{{/location_analytics}}
		</div>
{{/location_analytics}}

{{#has_geo}}
	<div class="statoverview">

		<h5>{{copy_views_by_city}}</h5>
		<table style="width:100%;" class="responsive">
			<colgroup style="width:85%;" /><colgroup />
			<thead>
				<tr>
					<th scope="col">{{copy_element_city}}</th>
					<th scope="col">{{copy_views}}</th>
				</tr>
			</thead>
			<tbody>
			{{#geo_analytics}}
			<tr>
				<td>{{city}}</td>
				<td>{{total}}</td>
			</tr>
			{{/geo_analytics}}
			</tbody>
		</table>

	</div>
{{/has_geo}}
