<a href="{{www_path}}/elements/templates/add/"><strong>Add a new template</strong></a>
<div class="pure-u-1 pure-u-md-1-2">
	<h4>Page templates</h4>
		<p>
			Page templates are used to publish a page directly from your CASH account. You'll see more 
			options on your account's main page.
		</p>
		{{#page_templates}}
			<ul class="alternating">
				{{#page_templates}}
				<li>
					<a class="primary" href="{{www_path}}/elements/templates/edit/{{id}}">
						<strong>{{name}}</strong><span class="fadedtext nobr" style="font-weight:normal;"> // {{type}}</span></a>
					<div class="more"><div class="toggle"></div><!--toggle-->
						<div class="actions">
							<a href="{{www_path}}/elements/templates/edit/{{id}}" class="mininav_flush"><svg class="icon" viewBox="0 0 260 260"><use xlink:href="#icon-search"></use></svg>Details</a> 
							<a href="{{www_path}}/elements/templates/delete/{{id}}" class="mininav_flush needsconfirmation"><svg class="icon" viewBox="0 0 241 241"><use xlink:href="#icon-ban"></use></svg> Delete</a>
						</div><!--actions-->
					</div><!--more-->
				</li>
				{{/page_templates}}
			</ul>
		{{/page_templates}}

		{{^page_templates}}
			<p>No page templates found.</p>
		{{/page_templates}}
</div><!--pure-->
<div class="pure-u-1 pure-u-md-1-2">
	<h4>Embed templates</h4>
		<p>
			Embed templates are used to style HTML5 embeds for your elements. You'll be able to choose
			a template on the element details page.
		</p>
			
		{{#embed_templates}}
			<ul class="alternating">
			{{#embed_templates}}
				<li>
					<a class="primary" href="{{www_path}}/elements/templates/edit/{{id}}">
						<strong>{{name}}</strong><span class="fadedtext nobr" style="font-weight:normal;"> // {{type} </span></a>
						<div class="more"><div class="toggle"></div><!--toggle-->
						<div class="actions">
							<a href="{{www_path}}/elements/templates/edit/{{id}}" class="mininav_flush"><svg class="icon" viewBox="0 0 260 260"><use xlink:href="#icon-search"></use></svg>Details</a> 
							<a href="{{www_path}}/elements/templates/delete/{{id}}" class="mininav_flush needsconfirmation"><svg class="icon" viewBox="0 0 241 241"><use xlink:href="#icon-ban"></use></svg> Delete</a>
						</div><!--actions-->
					</div><!--more-->
				</li>
			{{/embed_templates}}
			</ul>
		{{/embed_templates}}

		{{^embed_templates}}
			<p>No embed templates found.</p>
		{{/embed_templates}}
</div><!--pure-->