{{! corresponding files: help_tour.php & help_tour.json }}

<div class="tour">
	<form method="post" id="tourform" action="" class="multipart" data-parts="4" novalidate="novalidate">

	<div class="section part-1" data-section-name="Welcome">
		<div class="pure-u-1">
			<img class="logo" src="{{www_path}}/ui/default/assets/images/logo.svg" alt="Cash Music"/>
			<p class="big">{{copy_intro}}</p>
				<p>{{copy_intro_2}}</p>
				<p>{{copy_intro_3}}</p>
			<p>{{copy_quick}}</p>
		</div>
	</div>

	<div class="section part-2" data-section-name="Elements" style="display: none;">
		<div class="pure-u-1">
			<p class="big">{{copy_page_2}}</p>
			<p>{{copy_page_2_2}}</p>
			<p>{{copy_page_2_3}}</p>
				<img src="{{www_path}}/ui/default/assets/images/tour/embed_info.jpg" alt="Embed Info Graphic"/>
		</div>
	</div>


	<div class="section part-3" data-section-name="Pages" style="display: none;">
		<div class="pure-u-1">
			<p class="big">{{copy_page_4}}</p>
				<p>{{copy_page_4_2}}</p>
				<p>{{copy_page_4_3}}</p>
				<img src="{{www_path}}/ui/default/assets/images/tour/page_info.jpg" alt="Page Info Graphic"/>
		</div>
	</div>

	<div class="section part-4" data-section-name="Activity Feed" style="display: none;">
		<div class="pure-u-1">
			<p class="big">{{copy_page_3}}</p>
			<img src="{{www_path}}/ui/default/assets/images/tour/activity_info.jpg" alt="Page Info Graphic"/>
		</div>
	</div>


	<div class="section basic-information" data-section-name="Connections" style="display: none;">
		<div class="pure-u-1">
			<p class="big">{{copy_page_5}}</p>
				<p>{{{copy_page_5_2}}}</p>
		</div>
	</div>

	<input class="button" type="submit" value="Let’s get started!" style="display: none;">
	</form>
</div>



<div class="gallery elementinstructions">
	<h5>{{copy_tldr}}</h5>
	<p class="big">{{copy_tldr_2}}</p>
	<p>{{copy_tldr_3}}</p>
	<p>{{copy_tldr_4}}</p>

	<h5><a href="{{www_path}}/" id="skipbutton">{{copy_skip}}</a></span></h5>
	<script type="text/javascript">
		$('#skipbutton').click(function(e) {
			e.preventDefault();
			$('#tourform').submit()
		});
	</script>
</div>
