{{! corresponding files: help.php & help.json }}

<a href="{{www_path}}/help/tour/" class="fullwidth button lightboxed closepanel page-editor">{{copy_platform_tour}}</a>

<ol>
{{#help_topics}}
	<li><a class="faq" href="{{www_path}}/help/{{file}}">{{title}}</a></li>
{{/help_topics}}
</ol>

{{^help_topics}}{{copy_no_help}}{{/help_topics}}