<div class="tour">
	<form method="post" id="tourform" action="{{www_path}}/" class="multipart" data-parts="4" novalidate="novalidate">
	<input type="hidden" name="sawthetour" value="yup">	

	<div class=" section part-1" data-section-name="Welcome">
		<div class="pure-u-1">
			<img class="logo" src="{{www_path}}/ui/default/assets/images/logo.svg" alt="Cash Music"/>
			<h2>Hello there ladies and gentlemen!
			You're trying to connect to your audience. We're here to help. The tools in the CASH Music platform are flexible to fit your needs. They work with your own accounts, no one else in the middle, and all your data is your own.
			How about a quick tour?</h2>
		</div>
	</div>

	<div class=" section part-2" data-section-name="Campaigns" style="display: none;">
		<div class="pure-u-1">
			<img src="{{www_path}}/ui/default/assets/images/tour/campaign_info.jpg" alt="Campaigns Info Graphic"/>
			<h2>Releasing an LP/EP? Create a campaign for it and add the elements you need: email collection with a download, a single purchase button for preorder, or download codes for the vinyl. Each campaign takes the shape you need.</h2>
		</div>
	</div>

	<div class=" section part-3" data-section-name="Embeds" style="display: none;">
		<div class="pure-u-1">
			<img src="{{www_path}}/ui/default/assets/images/tour/embed_info.jpg" alt="Embed Info Graphic"/>
			<h2>Every element of your campaign can be embedded directly on your own site. Just copy the code and paste it in — just like a video or sound you've uploaded somewhere else.</h2>
		</div>
	</div>

	<div class=" section part-4" data-section-name="Pages" style="display: none;">
		<div class="pure-u-1">
			<img src="{{www_path}}/ui/default/assets/images/tour/page_info.jpg" alt="Embed Info Graphic"/>
			<h2>Just want a page up quick? Create a theme for your campaign, include the elements you want, and edit any of the markup or styles. Make it live right from the "Publish Settings" section of the main page.</h2>
			
		</div>
	</div>

	<div class="section basic-information" data-section-name="Enjoy!" style="display: none;">
		<div class="pure-u-1">
			<h2>
				That covers the basics. As you explore the platform we'll try to ease you in to what's next.</h2> <p>Start by making a new campaign for yourself. From there you can add elements, start connecting the services you use, uploading assets, or whatever else you need. If you're ever feeling lost you can relaunch this tour from the help menu — just look for the question mark above the main navigation.</p>
		</div>
	</div>

	<input class="button" type="submit" value="Let’s get started!" style="display: none;">
	</form>
</div>



<div class="gallery elementinstructions">
	<h5>TL;DR</h5>
	<p class="big">The short version is that we built this thing to help you take control of how you release your music. Use your own accounts. Do it your way. Try new things and get them to your audience quickly.</p>
	<p>All the rest is just details. On the main page you can create a campaign and fill it with all the elements you need to make it work for you. Embed those elements on your own website or publish them on a page here. It's up to you.</p>
	<p>All free, now and forever.</p>

	<h5><a href="{{www_path}}/" id="skipbutton">Skip the rest of the tour.</a></span></h5>
	<script type="text/javascript">
		$('#skipbutton').click(function(e) {
			e.preventDefault();
			$('#tourform').submit()
		});
	</script>
</div>