{{! corresponding files: help.php & help.json }}

<ol>
{{#help_topics}}
	<li><a class="faq" href="{{www_path}}/help/{{file}}">{{title}}</a></li>
{{/help_topics}}
</ol>

{{^help_topics}}{{copy_no_help}}{{/help_topics}}