<img src="/admin/ui/default/assets/images/logo.svg" alt="CASH Music">

<div class="row">
	<div class="six columns">
		{{#reset_message}}
			<span class="highlightcopy">{{reset_message}}</span>
		{{/reset_message}}
		<h3 id="message" {{#login_error}} class="error"{{/login_error}}>{{login_message}}</h3>
		<form method="post" id="cash_signin_form" action="">
			<div class="row">
				<div class="six columns">
					<label for="address">Email address</label>
					<input type="email" name="address" value="" />
				</div>
				<div class="six columns">
					<label for="password">Password</label>
					<input type="password" name="password" value="" />
					<input type="hidden" name="login" value="1" />
				</div>
			</div>
			
			<div id="loginbuttonspc">
				<a href="{{www_path}}/resetpassword/" class="lightboxed">forgot your password?</a><br />
				<button type="submit"><i class='icon icon-signin'></i>log in</button>
			</div>

			<a href="{{www_path}}/signup/" class="lightboxed">sign up</a>
		</form>
	</div>	
</div>

<script type="text/javascript">
	$('#cash_signin_form').on('submit', function(e) {
		$('#loadingmask').css('width','101%');
	});

	if ($('#message.error').css('display') == 'block') {
		$('#loadingmask').css('width','1%');
	}
</script>
