{{! corresponding files: login.php & login.json }}

<script type="text/javascript">
$(document.body).addClass('login');
</script>

<h3 id="message" {{#login_error}} class="error"{{/login_error}}>{{login_message}}</h3>
	<form method="post" id="cash_signin_form" action="{{www_path}}/">

		<div class="pure-u-1">
			<label for="address">{{label_email}}</label>
			<input type="email" name="address" value="" />
		</div><!--pure-->
		<div class="pure-u-1">
			<label for="password">{{label_password}}</label>
			<input type="password" name="password" value="" />
			<input type="hidden" name="login" value="1" />
		</div><!--pure-->
		<div class="pure-u-1">
			<input type="submit" class="button" value="Log in" />
		</div><!--pure-->

		<div class="pure-u-1">
			<a href="{{www_path}}/resetpassword/" id="forgotlink" class="lightboxed">{{copy_forgot_pass}}</a>
		</div><!--pure-->
		{{#allow_signups}}
<div class="signup">
	<div class="pure-u-1">
		<p>{{copy_no_account}}<a href="{{www_path}}/signup/" id="signupbtn" class="lightboxed">{{copy_sign_up}}</a>{{copy_its_free}}</p>
	</div><!--pure-->
</div><!--signup-->
{{/allow_signups}}
	</form>



<script type="text/javascript">
	$('#cash_signin_form').on('submit', function(e) {
		$('#loadingmask').css('width','101%');
	});

	if ($('#message.error').css('display') == 'block') {
		$('#loadingmask').css('width','1%');
	}
</script>

{{#open_signup_panel}}
	<script type="text/javascript">
		$(this).data('timeout', setTimeout($.proxy(function(){ $('#signupbtn').trigger('click'); }, this), 750));
	</script>
{{/open_signup_panel}}	
