<div class="modalbg">&nbsp;</div>
<div class="modallightbox " style="top: 0px;">
	<div class="pure-u-1">
<h1>Hello, it looks like you’re new here. Thanks for signing up and kicking our tires.</h1>
<p>
You can edit your <a class="settings toggle">account settings</a>, including important stuff like your password &amp; homepage info, at any time by clicking on the <!--<a class="settings hlt">gear icon</a>--> gear icon in the upper right hand menu. 
</p><p>
The platform works with your own storage, payment, and mailing list accounts. To add connections to your services, open the <a class="settings toggle">settings menu</a>, click "Connections," and choose the type of account you'd like to connect. 
</p>

<a class="button fullwidth" href="{{www_path}}/campaigns/add/">Okay, Got it!</a>
</div><!--pure--></div>