{{^has_campaigns}}
<div class="modalbg">&nbsp;</div>
<div class="modallightbox">
<h1>Hello, it looks like you’re new here. Thanks for signing up and kicking our tires.</h1>
<div class="pure-u-1">
<p>You can edit your account settings, including important stuff like your password &amp; homepage info, at any time by clicking on the <a class="settings hlt">gear icon</a> in the upper right hand menu. </p>
<p>The platform works with your own storage, payment, and mailing list accounts. To add connections to your services, open the <a class="settings hlt">settings menu</a>, click "Connections," and choose the type of account you'd like to connect. </p>
<a class="button fullwidth modalskip">Okay, Got it!</a>
</div><!--pure-->
</div><!--modallightbox-->
{{/has_campaigns}}


{{#dashboard_lists}}
	<div class="callout newsfeed people"><strong><div class="icon icon-list"></div><!--icon-->{{name}}:</strong> There {{#singular}}is{{/singular}}{{^singular}}are{{/singular}} <strong>{{total}}</strong> new {{#singular}}person{{/singular}}{{^singular}}people{{/singular}} on this list. <span class="action"><a href="{{www_path}}/people/lists/view/{{list_id}}"><div class="icon icon-search"></div><!--icon-->View</a><a href="{{www_path}}/people/lists/export/{{list_id}}" class="noajax"><div class="icon icon-dwnld"></div><!--icon-->Export</a></span><div class="newsimage" style=""></div><!--newsimage--></div><!--newsfeed people-->
{{/dashboard_lists}}
{{#dashboard_orders}}
	<div class="callout newsfeed commerce"><strong><div class="icon icon-cart"></div><!--icon-->New order{{^dashboard_orders_singular}}s{{/dashboard_orders_singular}}!</strong> There {{#dashboard_orders_singular}}is{{/dashboard_orders_singular}}{{^dashboard_orders_singular}}are{{/dashboard_orders_singular}} <strong>{{dashboard_orders}}</strong> new order{{^dashboard_orders_singular}}s{{/dashboard_orders_singular}}. <span class="action"><a href="{{www_path}}/commerce/orders/"><div class="icon icon-cart"></div><!--icon-->All new orders</a></span><div class="newsimage" style=""></div><!--newsimage--></div><!--newsfeed commerce-->
{{/dashboard_orders}}

<!--/* Campaigns */-->
<div id="campaigns">
{{#has_campaigns}}
<div class="pure-u-1">
	<div class="selecta">
		<form accept-charset="UTF-8" method="post" action="{{www_path}}/">
			<label for="current-campaign">Selected Campaign:</label>
			<select name="current-campaign" id="current-campaign">
			{{{campaigns_as_options}}}
			</select>
		</form>
	</div><!--selecta-->
</div><!--pure-->	
{{/has_campaigns}}

{{#selected_campaign}}
<div class="campaign pure-u-1  pure-u-md-2-3">

		<canvas id="cnvs" width="2000" height="398">
			<canvas id="hero"></canvas>
		</canvas>
		<div class="campaign-inner">
		<h2>{{title}}</h2>
		<h3>{{description}}</h3>
			<div class="actions">
				<div class="action-inner">
					<!--<a href="{{www_path}}/campaigns/view/{{id}}" class="mininav_flush"><div class="icon icon-search"></div>View</a>-->
					<a href="{{www_path}}/campaigns/edit/{{id}}" class="lightboxed">Edit</a>
					<a href="{{www_path}}/campaigns/delete/{{id}}" class="needsconfirmation delete">Delete</a>
				</div><!--action-inner-->
			</div><!--actions-->
			<div class="stats">
				<h4>Total Campaign Views</h4>
				<h5 class="totalviews">{{formatted_views}}</h5>
				<h5 class="percentage"><div class="icon icon-lg-arw"></div><!--icon-->&#37;</h5>
			</div><!--stats-->
		</div><!--campaign-inner-->
		<footer><!--p>Created <span>&#124;</span> {{formatted_date}}</p--><p>Updated <span>&#124;</span> {{formatted_date}}</p></footer>
</div><!--campaign pure-->
<div class="associated pure-u-1 pure-u-md-1-3">
	<h4><span {{^elements_for_campaign}}class="zero"{{/elements_for_campaign}}>{{element_count}}</span>Associated Elements</h4>
	<a class="add lightboxed store" href="{{www_path}}/elements/add/">+ Add</a>

	<div class="elements">
		{{#elements_for_campaign}}
		<ul class="alternating">
			{{#elements_for_campaign}}
			<li>
			<a class="primary" href="{{www_path}}/elements/edit/{{id}}">
			<span class="element-title">{{name}}</span>
			<span class="descriptive spaced fadedtext">{{type}}</span></a>
			<a class="ql copy" title="Copy quick embed code" data-clipboard-text="&lt;script type=&quot;text/javascript&quot; src=&quot;{{public_url}}/cashmusic.js&quot;&gt;&lt;/script&gt;&lt;script type=&quot;text/javascript&quot;&gt; window.cashmusic.embed('{{public_url}}','{{id}}');&lt;/script&gt;" ><div class="icon icon-share"></div><!--icon--></a>
				<div class="more"><div class="toggle"></div><!--toggle-->
					<div class="actions">
						<div class="action-inner">
							<a href="{{www_path}}/elements/edit/{{id}}" class="mininav_flush"><div class="icon icon-pencil"></div><!--icon-->Edit</a>
							<a href="{{www_path}}/elements/delete/{{id}}" class="mininav_flush needsconfirmation delete"><div class="icon icon-ban"></div><!--icon--> Delete</a>
						</div><!--action--inner-->
					</div><!--actions-->
				</div><!--more-->
			</li>
			{{/elements_for_campaign}}
		</ul>
		{{/elements_for_campaign}}
		{{^isarchive}}
			{{^elements_for_campaign}}
			<div class="noelement">
			<div class="icon icon-plus"></div><!--icon-->
				<p><span>Add</span> an element to get started</p>
			</div><!--noelement-->
			{{/elements_for_campaign}}
		{{/isarchive}}
	</div><!--elements-->		
</div><!--associated-->
{{/selected_campaign}}

{{^has_campaigns}}
<div class="pure-u-1">
	<div class="alt callout">
		<div class="callout-inner">
			<h2>Hey! Now it’s time to add a campaign. Campaigns are there to help you organize your digital workflow. You can add or edit elements here as well as keep track of how they are doing.</h2>
			<a class="button lightboxed" href="{{www_path}}/campaigns/add/">Add a Campaign</a>
		</div><!--callout-inner-->
	</div><!--callout-->
</div><!--pure-->
{{/has_campaigns}}


{{#has_campaigns}}
<a class="button lightboxed" href="{{www_path}}/campaigns/add/">Add a Campaign</a>
{{/has_campaigns}}

{{#show_archive}}
	<p>There are archived elements. <a href="{{www_path}}/campaigns/view/0">View archive.</a></p>
{{/show_archive}}
</div><!--campaigns-->

{{#has_campaigns}}
<div class="prefpanel pure-u-1">
	<h4 class="title"><div class="icon icon-wrench"></div><!--icon--><span>Publish Settings</span></h4>
	<div class="pure-u-1 pure-u-md-1-2">
		<div class="pref-inner">
			<h5>Edit Your Page</h5>
			<p>Your page is live at: <a href="{{user_page_uri}}" target="_blank"><i>{{user_page_display_uri}}</i></a> <a href="{{www_path}}/elements/templates/edit/{{template_id}}/page/parent/{{id}}" title="Edit campaign page" class="ql lightboxed icon icon-pencil"></a> </p>
			<!--<a href="{{www_path}}/campaigns/publish" class="button lightboxed">Publish a campaign</a>-->
				<div class="selecta">
					<label for="current-campaign">Published:</label>
					<select id="current-campaign">
						{{#campaigns_for_user}}		
  						<option href="{{www_path}}/campaigns/view/{{id}}" value="{{title}}">{{title}}</option>
						{{/campaigns_for_user}}
					</select>
				</div><!--selecta-->
		</div><!--pref-inner-->
	</div><!--pure-->

	{{#has_elements}}
	<div class="pure-u-1 pure-u-md-1-2">
		<div class="pref-inner">
			<h5>Embed an element</h5>
			<p>If you don’t want to publish a page you can embed any element from your campaign anywhere on the web. Simply click the quick embed icon <i class="ql icon icon-share"></i><!--icon--> on the element above.</p>
		</div><!--pref-inner-->
	</div><!--pure-->
	{{/has_elements}}

	{{^has_elements}}
	<div class="pure-u-1 pure-u-md-1-2">
		<div class="pref-inner">
			<h5>Embed an element</h5>
			<p>No Elements have been created. Click the <strong>+Add</strong> button in the campaign window above to create and embed elements on the platform.</p>
		</div><!--pref-inner-->
	</div><!--pure-->
	{{/has_elements}}

</div><!--prefpanel-->
{{/has_campaigns}}

{{^has_campaigns}}
<div class="prefpanel pure-u-1">
	<h4><div class="icon icon-wrench"></div><!--icon--><span>Publish Settings</span></h4>
	<div class="pure-u-1 pure-u-md-1-2">
		<div class="pref-inner">
			<h5>Edit Your Page</h5>
			<p>Your page is not live yet.</p>
			<!--<a href="{{www_path}}/campaigns/publish" class="button lightboxed">Publish a campaign</a>-->
				<div class="selecta comingsoon">
					<label for="current-campaign">Published:</label>
					<select id="current-campaign">
  						<option value="{{title}}">No Campaign</option>
					</select>
				</div><!--selecta-->
		</div><!--pref-inner-->
	</div><!--pure-->
	<div class="pure-u-1 pure-u-md-1-2">
		<div class="pref-inner">
			<h5>Embed an element</h5>
			<p>No Elements have been created. You must <a class="lightboxed" href="{{www_path}}/campaigns/add/">add a campaign</a> before you can create and embed elements on the platform.</p>
		</div><!--pref-inner-->
	</div><!--pure-->
</div><!--prefpanel-->
{{/has_campaigns}}
