{{! corresponding files: campaigns_theme.php & campaigns_theme.json}}

<form method="post" action="{{www_path}}/page/theme" novalidate="novalidate">
	<input type="hidden" name="setpage" value="doit" />

	<div class="section basic-information" data-section-name="Final settings" style="display: block;">
		<div id="elementformspc">
		<i class="tooltip" data-tooltip="This helps you create a basic page. You'll be able to make changes later."></i>
			<div class="pure-u-1 {{#has_elements}}pure-u-md-1-2{{/has_elements}}">
			<label for="element_id">{{label_choose_style}}</label>
			<select name="pagetheme" id="element_id">
				<option value="dark" selected="selected">{{copy_dark_theme}}</option>
				<option value="light">{{copy_light_theme}}</option>
			</select>
			</div><!--pure-->
			{{#elements}}
			<div class="pure-u-1 pure-u-md-1-2">
				<label for="element_id">{{label_featured}}</label>
				<select name="element_id" id="element_id">
					<option value="0">None</option>
					{{#elements}}
						<option value="{{id}}">{{name}}</option>
					{{/elements}}
				</select>
			</div><!--pure-->
			{{/elements}}
		</div>
	</div>
	<input class="button" id="submit" type="submit" value="Create your page" />
</form>
