	<div class="pure-u-1 pure-u-md-1-2">
		<h4>Add A New List</h4>
		<form accept-charset="UTF-8" method="post" action="{{www_path}}/people/lists/add/" id="lists">
			<input type="hidden" name="dolistadd" value="makeitso" />

			<label for="list_name">Name</label>
			<input type="text" id="list_name" name="list_name" value="" placeholder="Give It A Name" class="required" /><span></span>

			<label for="connection_id">Connect To</label>
			<select id="connection_id" name="connection_id">
				<option value="0" selected="selected">None (local list only)</option>
				{{{list_connection_options}}}
			</select>

			<label for="list_description">Description</label>
			<textarea rows="3" id="list_description" name="list_description"></textarea>
			
			<button type="submit">Add new list</button>
		</form>
	</div><!--pure-->
	<div class="pure-u-1 pure-u-md-1-2">
		<h4>Your Lists</h4>
		{{#lists_all}}
		<ul class="alternating">
			{{#lists_all}}
			<li>
				<a class="primary" href="{{www_path}}/people/lists/view/{{id}}">
				<strong>{{name}}</strong>{{#description}}<span class="descriptive spaced fadedtext">{{description}}</span>{{/description}}</a>
				<div class="more"><div class="toggle"></div><!--toggle-->
					<div class="actions">
						<a href="{{www_path}}/people/lists/view/{{id}}" class="mininav_flush"><svg class="icon" viewBox="0 0 260 260"><use xlink:href="#icon-search"></use></svg>View</a>
					<a href="{{www_path}}/people/lists/edit/{{id}}" class="mininav_flush"><svg class="icon" viewBox="0 0 238 237"><use xlink:href="#icon-pencil"></use></svg>Edit</a>
					<a href="{{www_path}}/people/lists/export/{{id}}" class="mininav_flush noajax"><svg class="icon" viewBox="0 0 260 240"><use xlink:href="#icon-dwnld"></use></svg>Export</a>
					<a href="{{www_path}}/people/lists/delete/{{id}}" class="mininav_flush needsconfirmation"><svg class="icon" viewBox="0 0 241 241"><use xlink:href="#icon-ban"></use></svg> Delete</a>
					</div><!--actions-->
				</div><!--more-->
			</li>
			{{/lists_all}}
		</ul>
		{{/lists_all}}

		{{^lists_all}}
		<p>No lists have been created.</p>
		{{/lists_all}}
	</div><!--pure-->