{{! corresponding files: people_lists_add.php & people_lists_add.json }}

<form accept-charset="UTF-8" method="post" action="{{www_path}}/people/lists/add/" id="lists">
			<input type="hidden" name="dolistadd" value="makeitso" />

			<label for="list_name">{{label_name}}</label>
			<input type="text" id="list_name" name="list_name" value="" placeholder="Give It A Name" class="required" />
			
			<label for="connection_id">{{label_connect}}</label>
			<select id="connection_id" name="connection_id">
				<option value="0" selected="selected">{{copy_none}}</option>
				{{{list_connection_options}}}
			</select>

			<label for="list_description">{{label_description}}</label>
			<textarea rows="3" id="list_description" name="list_description"></textarea>
			
			<button type="submit">{{{label_submit_button}}}</button>
		</form>