{{! corresponding files: people_mailings_test.php & people_mailings_test.json }}

	<form method="post" action="">
		<input type="hidden" name="doemailsend" value="makeitso">

			<div class="pure-u-1">
				<label for="html_content">{{label_message}}</label>
				<textarea class="required" rows="3" id="html_content" name="html_content" class="tall"></textarea>
				<input class="button" name="dotestsend" type="submit" value="Send" />
			</div><!--pure-->
	</form>