{{! corresponding files: people_mailings.php & people_mailings.json }}

{{#show_beta}}



{{#connection_options}}
<header>
	<h4 class="page-title">{{copy_mass_mailing_title}}</h4>
	<h5 class="page-subtitle">{{copy_test_message}}</h5>
</header>
	<form method="post" action="">
		<input type="hidden" name="doemailsend" value="makeitso">

		
			<label for="mail_subject">{{label_mail_subject}}</label>
			<input type="text" id="mail_subject" name="mail_subject" />
			

			<div class="pure-u-1 pure-u-md-1-2">
				<label for="mail_from">{{{label_from_name}}}</label>
				<input type="text" id="mail_from" name="mail_from" />
			</div><!--pure-->
			<div class="pure-u-1 pure-u-md-1-2">

				<label for="template_id">{{label_use_template}}</label>
				<select id="template_id" name="template_id">
					<option value="default" selected="selected">{{copy_default}}</option>
					<option value="none">{{copy_no_template}}</option>
				</select>
			</div><!--pure-->
			
			<div class="pure-u-1 pure-u-md-1-2">
				<label for="email_list_id">{{label_send_to_list}}</label>
				<select id="email_list_id" name="email_list_id">
					<option value="0">{{copy_none}}</option>
					{{{options_people_lists}}}
				</select>
			</div><!--pure-->
			<div class="pure-u-1 pure-u-md-1-2">
				<label for="connection_id">{{label_use_mass}}</label>
				<select id="connection_id" name="connection_id">
					<option value="0" selected="selected">{{copy_none}}</option>
					{{{connection_options}}}
				</select>
			</div><!--pure-->

			<div class="pure-u-1">
				<label for="html_content">{{label_message}}<span class="tooltip" data-tooltip="The message will be formatted as HTML using Markdown, and added to a template. You can use HTML and Markdown to control content.">(markdown/html allowed)</span></label>
				<textarea rows="3" id="html_content" name="html_content" class="tall"></textarea>
				<input class="button" type="submit" value="send test email" />
			</div><!--pure-->
	</form>
{{/connection_options}}

{{^connection_options}}
	<p>{{copy_youll_need}}<a href="{{www_path}}/settings/connections/">{{copy_mass_mailing}}</a>{{copy_to_use}}</p>

	<div class="alt callout usecolor2"><div class="callout-inner">
	<div class="pure-u-1 pure-u-md-1-2">
		<h3 class="firstuse-title">{{{copy_firstuse}}}</h3>
	</div>
	<div class="pure-u-1 pure-u-md-1-2">
		<div class="browser-header"><span></span><span></span><span></span></div><!--brower-header-->
		<img src="{{www_path}}/assets/images/firstuse/asset_screen.jpg" alt="screenshot" />
	</div>
</div><!--callout-inner-->
</div><!--callout-->
	<div class="callout">
		{{#all_services}}
		<div class="pure-u-1 pure-u-md-1-2">
			<div class="callout-inner">
				{{#service_has_image}}<h3><a href="{{link}}" target="_blank"><img src="{{www_path}}/assets/images/settings/{{key}}.png" alt="{{name}}"/></a></h3>{{/service_has_image}}
				<p>{{description}}</p>
				<a class="button fullwidth lightboxed" href="{{www_path}}/settings/connections/add/{{key}}">{{copy_add_connection}}</a>
			</div><!--callout-inner-->
		</div><!--pure-->
		{{/all_services}}
	</div><!--pure-->

	<p class="center">{{copy_host_own_files}}<a href="{{www_path}}/assets/add/file" class="lightboxed">{{copy_button_add_a_file}}</a> or
	<a href="{{www_path}}/assets/add/release" class="lightboxed">{{copy_button_new_release}}</a></p>

{{/connection_options}}

{{/show_beta}}