{{^connection}}
	<h2>{{{copy_firstuse}}}</h2>

	<p class="fadedtext">Any CASH list is always owned by you. We will never use or sell any of the information you have collected in the platform. Pinky swear. </p>

		<div class="callout texture pure-u-1">
		<div class="pure-u-1 pure-u-md-1-2">
			<div class="inner">
				<h3><img src="{{www_path}}/assets/images/settings/com.mailchimp.png" alt="Mailchimp"/></h3>
				<p>This is very reliable connection type at scale. Be aware price per mail-out increases at volume.</p>
				<a class="button fullwidth lightboxed" href="{{www_path}}/settings/connections/add/com.mailchimp">Add Connection</a>
			</div><!--inner-->
		</div><!--pure-->
		<div class="pure-u-1 pure-u-md-1-2">
			<div class="inner">
				<h3 class="title">Keep it in the family</h3>
				<p>I don’t want to add any 3rd-party connections at the moment. I’ll just create a new list on the CASH system.</p>
				<a class="button fullwidth lightboxed" href="{{www_path}}/people/lists/add/">Create List</a>
			</div><!--inner-->
		</div><!--pure-->
	</div><!--pure-->
{{/connection}}

{{#connection}}
<h4>Mailing Lists</h4>
{{#dashboard_list_total_new}}
		<div id="snapshot">
			<div class="pure-u-1 pure-u-md-1-2">
				<div class="inner">
					<h4>Total Subscriber{{^people_singular}}s{{/people_singular}}</h4>
					<h5 class="totalviews">{{dashboard_list_total}}</h5>
				</div><!--inner-->
			</div><!--pure-->
			<div class="pure-u-1 pure-u-md-1-2">
				<div class="inner">
				<h4>Total New Subscriber{{^people_singular}}s{{/people_singular}}</h4>
				<h5 class="totalviews">{{dashboard_list_total_new}}</h5>
				<h5 class="percentage"><svg class="icon" viewBox="0 0 189 246"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-lg-arw"></use></svg>0%</h5>
				</div><!--inner-->
			</div><!--pure-->
		</div><!--snapshot-->
{{/dashboard_list_total_new}}

	<div class="pure-u-1 pure-u-md-2-3">
		{{#lists_all}}
		<ul class="people alternating">
			{{#lists_all}}
			<li>
			<div class="item">
				<div class="stats">	<svg class="icon increase" viewBox="0 0 189 246"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-lg-arw"></use></svg><span>8888</span></div><!--stats-->
				<a class="info" href="{{www_path}}/people/lists/view/{{id}}">
				<strong>{{name}}</strong>{{#description}}<span class="descriptive spaced fadedtext">{{description}}</span>{{/description}}</a>
			</div><!--item-->
				<div class="more"><div class="toggle"></div><!--toggle-->
					<div class="actions">
						<a href="{{www_path}}/people/lists/view/{{id}}" class="mininav_flush"><svg class="icon" viewBox="0 0 260 260"><use xlink:href="#icon-search"></use></svg>View</a>
						<a href="{{www_path}}/people/lists/edit/{{id}}" class="mininav_flush"><svg class="icon" viewBox="0 0 238 237"><use xlink:href="#icon-pencil"></use></svg>Edit</a>
						<a href="{{www_path}}/people/lists/export/{{id}}" class="mininav_flush noajax"><svg class="icon" viewBox="0 0 260 240"><use xlink:href="#icon-dwnld"></use></svg>Export</a>
						<a href="{{www_path}}/people/lists/delete/{{id}}" class="mininav_flush needsconfirmation"><svg class="icon" viewBox="0 0 241 241"><use xlink:href="#icon-ban"></use></svg> Delete</a>
					</div><!--actions-->
				</div><!--more-->
			</li>
			{{/lists_all}}
		</ul>
		{{/lists_all}}

		{{^lists_all}}
		<div class="empty">
			<p>No lists have been created. Add one to get started.</p>
		</div><!--empty-->
		{{/lists_all}}

		<footer>
		<a class="button lightboxed" href="{{www_path}}/people/lists/add/">Add a new list</a>
		{{#lists_all}}<div class="pagination"><a class="prev" href="/">Previous</a><span>/</span><a class="next active" href="/">Next</a></div><!--pagination-->{{/lists_all}}
		</footer>
	</div><!--pure-->

	<div class="pure-u-1 pure-u-md-1-3">
		<aside>
			<div class="inner">
				<img src="{{www_path}}/assets/images/settings/com.mandrillapp.png" alt="Mandrill" />
				<p>Add your Mandrill account to begin sedning email from your lists.</p><p><a class="fadedtext" href="https://mandrill.com">https://mandrill.com</a></p>
				<a href="{{www_path}}/settings/connections/add/com.mandrillapp" class="button lightboxed">Add Connection</a><!--button-->
			</div><!--inner-->
		</aside><!-- Mandrill -->
	</div><!--pure-->
{{/connection}}