{{! corresponding files: people_press.php & people_press.json }}

	<div class="pure-u-1 pure-u-md-1-2">
		<header>
		<h4>{{copy_add_new_press}}</h4>
		</header>
		<form accept-charset="UTF-8" method="post" action="{{www_path}}/people/press">
			<label for="press_url">{{label_url}}</label>
			<input type="text" id="press_url" name="press_url" /> 

			<label for="publishing_date">{{label_publishing_date}}</label>
			<input type="text" id="publishing_date" name="publishing_date" value="{{current_date}}" /> 

			<!--
			<label>{{label_tags}}</label>
			{{{tag_markup}}}
			<a href="#" class="injectbefore" rev="<input type='text' name='tag' value='' placeholder='Tag' />" rel="{{tag_counter}}"><small>{{copy_add_tag}}</small></a>
			-->

			<button type="submit">{{copy_add_new_link}}</button>
		</form>
	</div><!--pure-->

	<div class="pure-u-1 pure-u-md-1-2">
	<header>
		<h4>{{copy_press_links}}</h4>
		</header>
		<ul class="press-links">
		{{#press_links}}
			<li><span class="fadedtext">{{publishing_date}} &nbsp;</span>
			<a target="_blank" href="{{location}}"><strong>{{title}}</strong></a><br />
			{{#description}}{{description}}{{/description}}
			</li>
		{{/press_links}}
		</ul>
		{{^press_links}}
			<div class="empty">
			<p>{{copy_no_press_links}}<br />{{copy_add_one}}</p>
			</div><!--empty-->
		{{/press_links}}
	</div><!--pure-->