<div class="pure-u-1">
	<form accept-charset="UTF-8" name="batchaddcontacts" method="post" action="{{www_path}}{{requested_route}}">
		<input type="hidden" name="dobatchcontactsadd" value="makeitso" />
		<p>Add multiple email addresses below. Addresses must be seperated with a comma to be added to the list correctly.</p>
		<label>Batch Add Email Addresses</label>
		<textarea id="element_content" name="element_content" class="tall"></textarea>
		<button type="submit">Add contacts</button>
	</form>
</div><!--pure-->
