{{! corresponding files: people_lists_view.php & people_lists_view.json }}

<header>
<div class="pure-u-1 pure-u-md-2-3">
<a class="returnlink current" href="{{www_path}}/people/"><div class="icon icon-arw-dwn"></div><!--icon--></a>
<h4 class="secondary-title">&ldquo;{{ui_title}}&rdquo;</h4>
</div><!--pure-->
	<div class="pure-u-1 pure-u-md-1-3">
			<ul class="inline_subnav">
				<li><a href="{{www_path}}/people/lists/edit/{{list_id}}">{{copy_edit}}</a></li>
				<li><a href="{{www_path}}/people/lists/export/{{list_id}}" class="noajax">{{copy_export}}</a></li>
				<li><a href="{{www_path}}/people/lists/delete/{{list_id}}" class="needsconfirmation">{{copy_delete}}</a></li>
			</ul>
	</div><!--pure-->
</header>
{{#ui_title}}
	<div id="stats">
	<div class="pure-u-1 pure-u-md-1-3"><p class="total">{{copy_active}}<span>{{analytics_active}}</span></p></div><!--pure-->
	<div class="pure-u-1 pure-u-md-1-3"><p class="inactive">{{copy_inactive}}<span>{{analytics_inactive}}</span></p></div><!--pure-->
	<div class="pure-u-1 pure-u-md-1-3"><p class="newm">{{copy_new_members}}<span>{{analytics_last_week}}</span></p></div><!--pure-->
	</div><!--stats-->


	
	<!-- Show members on list -->
	{{#list_members}}
		<h4 class="tabletitle">{{copy_recently_added}}</h4>

		<table style="width:100%;">
			<colgroup style="width:32%;" />
			<colgroup style="width:23%;" />
			<colgroup style="width:20%;" />
			<colgroup />	

			<thead>
				<tr>
					<th scope="col">{{copy_email}}</th>
					<th scope="col">{{copy_name}}</th>
					<th scope="col">{{copy_joined}}</th>
					<th scope="col">{{copy_comment}}</th>
				</tr>
			</thead>

			<tbody>
			{{#list_members}}
			<tr>
				<td><a href="mailto:{{email_address}}">{{email_address}}</a></td>
				<td>{{display_name}}</td>
				<td>{{formatted_date}}</td>
				<td>{{initial_comment}}</td>
			</tr>
			{{/list_members}}
			</tbody>
		</table>
	{{/list_members}}

	<!-- No members on list -->
	{{^list_members}}
		<div class="empty">
			<p>{{copy_sorry}}</p>
		</div><!--empty-->
	{{/list_members}}

{{/ui_title}}
{{^ui_title}}
	<div class="empty">
		<p><strong>{{copy_sorry_2}}</strong>{{copy_error}}</p>
	</div><!--empty-->
{{/ui_title}}
</div><!--pure-->