{{#ui_title}}
	<div id="stats">
	<h4>Statistics</h4>
	<p class="total">Total active members: <span>{{analytics_active}}</span></p>
	<p class="inactive">Inactive members: <span>{{analytics_inactive}}</span></p>
	<p class="newm">New members, past 7 days: <span>{{analytics_last_week}}</span></p>
	</div><!--stats-->

	<h2>{{list_description}}</h2>
	
	<!-- Show members on list -->
	{{#list_members}}
		<h4 class="tabletitle">List Members</h4>
		<div id="actions">
			<a href="{{www_path}}/people/lists/edit/{{list_id}}" class="mininav_flush"><div class="icon icon-pencil"></div><!--icon-->Edit</a>
			<a href="{{www_path}}/people/lists/export/{{list_id}}" class="mininav_flush noajax"><div class="icon icon-dwnld"></div><!--icon-->Export</a>
			<a href="{{www_path}}/people/lists/delete/{{list_id}}" class="mininav_flush needsconfirmation"><div class="icon icon-ban"></div><!--icon-->Delete</a>
		</div><!--actions-->

		<table style="width:100%;">
			<colgroup style="width:32%;" />
			<colgroup style="width:23%;" />
			<colgroup style="width:20%;" />
			<colgroup />	

			<thead>
				<tr>
					<th scope="col">Email</th>
					<th scope="col">Name</th>
					<th scope="col">Joined</th>
					<th scope="col">Comment</th>
				</tr>
			</thead>

			<tbody>
			{{#list_members}}
			<tr>
				<td><a href="mailto:{{email_address}}">{{email_address}}</a></td>
				<td>{{display_name}}</td>
				<td>{{formatted_date}}</td>
				<td>{{initial_comment}}</td>
			</tr>
			{{/list_members}}
			</tbody>
		</table>
	{{/list_members}}

	<!-- No members on list -->
	{{^list_members}}
		<p>Sorry, no members have joined this list yet.</p>
	{{/list_members}}

{{/ui_title}}
{{^ui_title}}
	<h4>Sorry</h4>Error getting list.
{{/ui_title}}