{{#ui_title}}
	<p class="big">{{list_description}}</p>

	<div id="stats">
	<h4>Statistics</h4>
	<p class="total">Total active members: <span>{{analytics_active}}</span></p>
	<p class="inactive">Inactive members: <span>{{analytics_inactive}}</span></p>
	<p class="newm">New members, past 7 days: <span>{{analytics_last_week}}</span></p>
	</div><!--stats-->
	
	{{#list_members}}
		<h4 class="tabletitle">List Members</h4>
		<div id="actions">
			<a href="{{www_path}}/people/lists/edit/{{list_id}}" class="mininav_flush"><svg class="icon" viewBox="0 0 238 237"><use xlink:href="#icon-pencil"></use></svg>Edit</a>
			<a href="{{www_path}}/people/lists/export/{{list_id}}" class="mininav_flush noajax"><svg class="icon" viewBox="0 0 260 240"><use xlink:href="#icon-dwnld"></use></svg>Export</a>
			<a href="{{www_path}}/people/lists/delete/{{list_id}}" class="mininav_flush needsconfirmation"><svg class="icon" viewBox="0 0 241 241"><use xlink:href="#icon-ban"></use></svg>Delete</a>
		</div><!--actions-->

		<table style="width:100%;">
			<colgroup style="width:32%;" />
			<colgroup style="width:23%;" />
			<colgroup style="width:20%;" />
			<colgroup />	

			<thead>
				<tr>
					<th scope="col">Email</th>
					<th scope="col">Name</th>
					<th scope="col">Joined</th>
					<th scope="col">Comment</th>
				</tr>
			</thead>

			<tbody>
			{{#list_members}}
			<tr>
				<td><a href="mailto:{{email_address}}">{{email_address}}</a></td>
				<td>{{display_name}}</td>
				<td>{{formatted_date}}</td>
				<td>{{initial_comment}}</td>
			</tr>
			{{/list_members}}
			</tbody>
		</table>
	{{/list_members}}
{{/ui_title}}
{{^ui_title}}
	<h4>Sorry</h4>Error getting list.
{{/ui_title}}