{{^connection}}
	<h2 class="firstuse-title">{{{copy_firstuse}}}</h2>
<div class="callout texture pure-u-1">
	{{#all_services}}
		<div class="pure-u-1 pure-u-md-1-2">
			<div class="callout-inner">
				{{#service_has_image}}<h3><a href="{{link}}" target="_blank"><img src="{{www_path}}/assets/images/settings/{{key}}.png" alt="{{name}}"/></a></h3>{{/service_has_image}}
				<p>{{description}}</p>
				<a class="button fullwidth lightboxed" href="{{www_path}}/settings/connections/add/{{key}}">Add Connection</a>
			</div><!--callout-inner-->
		</div><!--pure-->
	{{/all_services}}
		<div class="pure-u-1 pure-u-md-1-2">
			<div class="callout-inner">
				<h3 class="title">Keep it in the family</h3>
				<p>I don’t want to add any 3rd-party connections at the moment. I’ll just create a new list on the CASH system.</p>
				<a class="button fullwidth lightboxed" href="{{www_path}}/people/lists/add/">Create List</a>
			</div><!--callout-inner-->
		</div><!--pure-->
	</div><!--pure-->
{{/connection}}

{{#connection}}
<h4>Mailing Lists</h4>
{{#dashboard_list_total_new}}
		<div id="snapshot">
			<div class="pure-u-1 pure-u-md-1-2">
				<div class="snapshot-inner">
					<h4>Total Subscribers</h4>
					<h5 class="totalviews">{{dashboard_list_total}}</h5>
				</div><!--snapshot-inner-->
			</div><!--pure-->
			<div class="pure-u-1 pure-u-md-1-2">
				<div class="snapshot-inner">
				<h4>Total New Subscribers</h4>
				<h5 class="totalviews">{{dashboard_list_total_new}}</h5>
				<h5 class="percentage"><div class="icon icon-lg-arw"></div><!--icon-->0%</h5>
				</div><!--snapshot-inner-->
			</div><!--pure-->
		</div><!--snapshot-->
{{/dashboard_list_total_new}}

	<div class="pure-u-1 {{^mass_connection}}pure-u-md-2-3{{/mass_connection}}">
		{{#lists_all}}
		<ul class="people alternating">
			{{#lists_all}}
			<li>
			<div class="item">
				<div class="stats">	<div class="icon icon-lg-arw"></div><!--icon--><span>{{analytics_active}}</span></div><!--stats-->
				<a class="info" href="{{www_path}}/people/lists/view/{{id}}">
				<strong>{{name}}</strong>{{#description}}<span class="descriptive spaced fadedtext">{{description}}</span>{{/description}}</a>
			</div><!--item-->
				<div class="more"><div class="toggle"></div><!--toggle-->
					<div class="actions">
						<a href="{{www_path}}/people/lists/view/{{id}}" class="mininav_flush"><div class="icon icon-search"></div><!--icon-->View</a>
						<a href="{{www_path}}/people/lists/edit/{{id}}" class="mininav_flush"><div class="icon icon-pencil"></div><!--icon-->Edit</a>
						<a href="{{www_path}}/people/lists/export/{{id}}" class="mininav_flush noajax"><div class="icon icon-dwnld"></div><!--icon-->Export</a>
						<a href="{{www_path}}/people/lists/delete/{{id}}" class="mininav_flush needsconfirmation"><div class="icon icon-ban"></div><!--icon--> Delete</a>
					</div><!--actions-->
				</div><!--more-->
			</li>
			{{/lists_all}}
		</ul>
		{{/lists_all}}

		{{^lists_all}}
		<div class="empty">
			<p>No lists have been created. Add one to get started.</p>
		</div><!--empty-->
		{{/lists_all}}

		<footer>
		<a class="button lightboxed" href="{{www_path}}/people/lists/add/">Add a new list</a>
		
		</footer>
	</div><!--pure-->

	{{^mass_connection}}
		{{#all_mass_services}}
			<div class="pure-u-1 pure-u-md-1-3">
				<aside>
					<div class="aside-inner">
						{{#service_has_image}}<h3><a href="{{link}}" target="_blank"><img src="{{www_path}}/assets/images/settings/{{key}}.png" alt="{{name}}"/></a></h3>{{/service_has_image}}
						<p>{{description}}</p>
						<p><a class="fadedtext" href="{{link}}">{{link}}</a></p>
						<a class="button fullwidth lightboxed" href="{{www_path}}/settings/connections/add/{{key}}">Add Connection</a>
					</div><!--aside-inner-->
				</aside><!-- Mandrill -->
			</div><!--pure-->
		{{/all_mass_services}}
	{{/mass_connection}}
{{/connection}}