<div class="pure-u-1">
	<label>{{copy_enter_email}}</label>
		<form action="{{www_path}}/resetpassword/" method="post">
			<div class="pure-u-1 pure-u-md-2-3">
			<input type="hidden" name="dopasswordreset" value="engage" />
			<input type="text" name="address" value="" placeholder="your email address" /></div><!-- password -->
			<div class="pure-u-1 pure-u-md-1-3">
			<input type="submit" class="button" value="Send it" />
			</div><!--pure-->
		</form>
</div><!--pure-->
