<div class="pure-u-1">
	<label>{{copy_enter_email}}</label>
		<form action="{{www_path}}/resetpassword/" method="post">
			<input type="hidden" name="dopasswordreset" value="engage" />
			<input type="text" name="address" value="" placeholder="your email address" />
			<input type="submit" class="button" value="Send it" />
		</form>
</div><!--pure-->
