<p>
	<b>Current platform version:</b> {{platform_version}}<br />
	<b>Upgrade available:</b> 
		{{^upgrade_available}}No{{/upgrade_available}}
		{{#upgrade_available}}Yes{{/upgrade_available}}
</p>

{{#upgrade_available}}
	<form accept-charset="UTF-8" method="post" action="" name="add_event">
		<input type="hidden" name="doupgrade" value="makeitso" />
		<button type="submit"><i class="icon icon-rocket"></i>Launch the system update tool</button>
	</form>
{{/upgrade_available}}