{{^service_selected}}
	<div class="pure-u-1">
		<h4>Add a new service connection:</h4>
		<p>Easily connect to any of these services:</p>
		</div><!--pure-->
		<div class="pure-u-1 connections">
				{{#all_services}}
					<a class="connection lightboxed" href="{{www_path}}/settings/connections/add/{{key}}">
							{{#service_has_image}}
								<img src="{{www_path}}/assets/images/settings/{{key}}.png" width="100%" alt="{{name}}" />
							{{/service_has_image}}<small>{{name}}</small>
					</a>
				{{/all_services}}
		</div><!--pure-->
{{/service_selected}}

	<div class="pure-u-1 {{^service_selected}} pure-md-1-2 {{/service_selected}}{{#service_selected}}{{/service_selected}}">
		{{{state_markup}}}

		{{#action_message}}<p><span class="highlightcopy">{{{action_message}}}</span></p>{{/action_message}}
	</div><!--pure-->
