<p>
	<strong>Current platform version:</strong> {{platform_version}}<br />
	<strong>Upgrade available:</strong> 
		{{^upgrade_available}}No{{/upgrade_available}}
		{{#upgrade_available}}Yes{{/upgrade_available}}
</p>

{{#upgrade_available}}
	<form accept-charset="UTF-8" method="post" action="" name="add_event">
		<input type="hidden" name="doupgrade" value="makeitso" />
		<button type="submit"><div class="icon icon-rocket"></div><!--icon-->Launch the system update tool</button>
	</form>
{{/upgrade_available}}