{{! corresponding files: welcome.php & welcome.json }}

	<h1>{{copy_hello}}</h1>
	
	<p>
		{{copy_platform_1}}<a class="settings toggle">{{copy_platform_2}}</a>{{copy_platform_3}} 
		</p><p>
		{{copy_platform_4}}<a class="lightboxed" href="{{www_path}}/campaigns/add/">{{copy_platform_5}}</a>{{copy_platform_6}}  
		</p>

	<a id="firstusetour" href="{{www_path}}/help/tour/" class="button lightboxed closepanel page-editor">{{copy_platform_7}}</a>