	<h1>Hello! Welcome to the newest version of the CASH platform. Thanks for signing up!</h1>
	
	<p>
		The platform works by connecting your own storage, payment, and mailing list accounts with our tools. To set up connections to your services, open the <a class="settings toggle">settings menu</a>, click "Connections," and choose the type of account you'd like to connect. 
		</p><p>
		Next it’s time to <a class="lightboxed" href="{{www_path}}/campaigns/add/">add a campaign</a>. Campaigns are there to help you organize your digital workflow. You can add or edit elements here as well as keep track of how they are doing. A campaign can be easily published as one single page on our hosted site. You can also embed any of the elements of a campaign around the web with a simple cut/paste.  
		</p>

	<a id="firstusetour" href="{{www_path}}/help/tour/" class="button lightboxed closepanel page-editor">Show me what's new in this version.</a>