{{#error_message}}<div class="cash_error cash_{{element_type}}_error">{{error_message}}</div>{{/error_message}}
<form id="cash_{{element_type}}_form_{{element_id}}" class="cash_form {{element_type}}" method="post" action="">
	<input type="email" name="address" value="" placeholder="{{placeholder_text}}" class="cash_input cash_input_address" />
	<input type="hidden" name="cash_request_type" value="people" />
	<input type="hidden" name="cash_action" value="signup" />
	<input type="hidden" name="element_id" value="{{element_id}}" />
	<input type="hidden" name="list_id" value="{{email_list_id}}" />
	<div class="cash_emailcollection_extras" style="display:none;">
		<div class="cash_first_name" style="display:none;"><input type="text" name="first_name" value="" /></div>
		<div class="cash_last_name" style="display:none;"><input type="text" name="last_name" value="" /></div>
		<div class="cash_additional_data" style="display:none;"><input type="text" name="additional_data" value="" /></div>
		<div class="cash_comment" style="display:none;"><input type="text" name="comment" value="" /></div>
	</div>
	<input type="submit" value="{{#button_text}}{{button_text}}{{/button_text}}{{^button_text}}{{copy_signup}}{{/button_text}}" class="button" /><br />
</form>
<div class="cash_notation">
	{{message_privacy}}
</div>