<div class="cash_success {{element_type}}">
	<h1>{{{message_success}}}</h1>
	{{#fulfillment_assets}}
	<a href="?cash_request_type=asset&cash_action=claim&id={{id}}&element_id={{element_id}}" class="download">{{title}}</a> 
	<div class="description"><p>{{description}}</p></div>
	{{/fulfillment_assets}}
</div>