<!DOCTYPE html>
<html lang="en">
<head> 
<title>CASH Music / Documentation</title>
<meta name="description" content="CASH Music is a nonprofit that empowers musicians through free/open technology and learning." />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width" />

<link rel="icon" href="/docs/assets/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="/docs/assets/css/foundation.min.css" />
<link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Roboto+Condensed:400,700italic,400italic,700,300,300italic|Noto+Serif:400,700italic,400italic,700' />
<link rel="stylesheet" type="text/css"  href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="/docs/assets/css/app.css" />
</head> 
<body>

	<ul id="docsnav">
		<li class="current toplevel"><a href="#introduction">Introduction</a></li>
		<ul>
			<li><a href="#setup">Setup</a></li>
			<li><a href="#codestandards">Code standards</a></li>
		</ul>
		<li class="toplevel"><a href="#phpapi">PHP API</a></li>
		<ul>
			<li><a href="#requestresponse">Request/response format</a></li>
			<li><a href="#systemrequests">System requests</a></li>
			<li><a href="#assetrequests">Asset requests</a></li>
			<li><a href="#peoplerequests">People requests</a></li>
			<li><a href="#commercerequests">Commerce requests</a></li>
			<li><a href="#calendarrequests">Calendar requests</a></li>
			<li><a href="#elementrequests">Element requests</a></li>
		</ul>
		<li class="toplevel"><a href="#elements">Elements</a></li>
		<li class="toplevel"><a href="#adminapp">Admin app</a></li>
	</ul>

	<div id="nav">
		<h1 id="logo"><a href="/"><img src="/docs/assets/images/invert_logo.png" alt="CASH Music"></a></h1>

			<ul>
				<li><a href="/tools/"><i class="icon icon-cog"></i><span>Tools</span></a></li>
				<li><a href="/docs/"><i class="icon icon-book"></i><span>Docs</span></a></li>
				<li><a href="/interfaces/admin/"><i class="icon icon-pencil"></i><span>Login</span></a></li>
				<li><a href="/"><i class="icon icon-certificate"></i><span>Home</span></a></li>
			</ul>
	</div>

	<div id="mainspc" class="row docs">


		<div class="row">
			<div class="three columns">
				&nbsp;
			</div>
			<div class="nine columns">

				<h1>Platform documentation</h1><br />

				<div class="section" id="introduction">
					{{{introduction}}}
				</div>

				<div class="section" id="setup">
					{{{setup}}}
				</div>
				
				<div class="section" id="codestandards">
					{{{codestandards}}}
				</div>

				<div class="section" id="phpapi">
					{{{phpapi}}}
				</div>

				<div class="section" id="requestresponse">
					{{{requestresponse}}}
				</div>

				<div class="section" id="systemrequests">
					{{{systemrequests}}}
				</div>

				<div class="section" id="assetrequests">
					{{{assetrequests}}}
				</div>

				<div class="section" id="peoplerequests">
					{{{peoplerequests}}}
				</div>

				<div class="section" id="commercerequests">
					{{{commercerequests}}}
				</div>

				<div class="section" id="calendarrequests">
					{{{calendarrequests}}}
				</div>

				<div class="section" id="elementrequests">
					{{{elementrequests}}}
				</div>

				<div class="section" id="elements">
					{{{elements}}}
				</div>

				<div class="section" id="adminapp">
					{{{adminapp}}}
				</div>


			</div>
		</div>

		<br /><br /><br />
	</div>

	<div id="bottomspc"></div>
	<script src="/docs/assets/scripts/jquery.js"></script>
	<script src="/docs/assets/scripts/jquery.scrollTo.js"></script>
	<script src="/docs/assets/scripts/jquery.nav.js"></script>
	<script>
	$(document).ready(function() {
		$('#docsnav').onePageNav({
			changeHash:true,
			filter:':not(.external)',
			scrollThreshold:0.25
		});
	});
	</script>
</body> 
</html>