<!DOCTYPE html>
<html lang="en">
<head> 
<title>CASH Music / Documentation</title>
<meta name="description" content="CASH Music is a nonprofit that empowers musicians through free/open technology and learning." />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width" />

<link rel="icon" type="image/png" href="http://2ea7029ee5fd6986c0a6-6d885a724441c07ff9b675222419a9d2.r58.cf2.rackcdn.com/ui/01/images/badge.png" />
<link rel="stylesheet" type="text/css" href="/docs/assets/css/foundation.min.css" />
<link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Roboto+Condensed:400,700italic,400italic,700,300,300italic|Noto+Serif:400,700italic,400italic,700' />
<link rel="stylesheet" type="text/css"  href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="/docs/assets/css/app.css" />

<style>
	div.callout, code {background-color:#fff;border-radius:6px;overflow-x:scroll;}
	div.callout {display:block;font-size:11px;padding:22px 18px 18px 18px;margin:0 auto 1.5em auto;background-color:#ededef;background-image:url(../images/top_left.png);background-position:left top;background-repeat:no-repeat;}
	div.callout.flush {background-image:none;}
	code {font-size:12px;display:block;padding:2em;margin:0 0 1.5em 0;margin:0 auto;}
	code a {color:#23c;}

	ul {padding-left:1.25em;}

	.action_comments {font:italic 14px/1.5em georgia, times, serif;color:#555;}
	.request_action {margin:0 0 2em 0;}
	.action_params {font-size:14px;padding-left:1em;border-left:5px #eee solid;}
	#docsnav {font-family:"Roboto Condensed",Helvetica,Arial,sans-serif;font-size:13px;line-height:1.4em;padding:0;margin:0;list-style:none;position:fixed;top:125px;left:50%;margin-left:-405px;z-index:65432;}
	#docsnav li {border-left:5px #000 solid;margin-bottom:2px;color:#000;}
	#docsnav li.toplevel {font-size:14px;font-weight:bold;margin-bottom:2px;}
	#docsnav ul  {padding:0 0 1em 1.25em;margin:0;list-style:none;}
	#docsnav a {background:transparent;color:#000;display:block;padding:5px 10px;text-decoration:none;}
	#docsnav a:hover {background:#dedede;}
	#docsnav .current {border-left:5px #df0854 solid;}
	#docsnav .current a {color:#df0854;}
	.section {padding:1em 0 4em 0;}
</style>
</head> 
<body>

	<ul id="docsnav">
		<li class="current toplevel"><a href="#introduction">Introduction</a></li>
		<ul>
			<li><a href="#setup">Setup</a></li>
			<li><a href="#codestandards">Code standards</a></li>
		</ul>
		<li class="toplevel"><a href="#phpapi">PHP API</a></li>
		<ul>
			<li><a href="#requestresponse">Request/response format</a></li>
			<li><a href="#systemrequests">System requests</a></li>
			<li><a href="#assetrequests">Asset requests</a></li>
			<li><a href="#peoplerequests">People requests</a></li>
			<li><a href="#commercerequests">Commerce requests</a></li>
			<li><a href="#calendarrequests">Calendar requests</a></li>
			<li><a href="#elementrequests">Element requests</a></li>
		</ul>
		<li class="toplevel"><a href="#elements">Elements</a></li>
		<li class="toplevel"><a href="#adminapp">Admin app</a></li>
	</ul>


	<div id="topspc"></div>
	<div id="mainspc" class="row">
		<a href="/"><img id="homeseal" src="/docs/assets/images/badge.png" width="76" height="76" alt="home" /></a>
		<div id="nav">
			<a href="/"><i class="icon icon-pencil"></i>Home</a>
			<a href="/docs/"><i class="icon icon-book"></i>Docs</a>
			<a href="/tools/"><i class="icon icon-cog"></i>Tools</a>
		</div>

		<div class="row">
			<div class="three columns">
				&nbsp;
			</div>
			<div class="nine columns">

				<h3>Platform documentation</h3><br />

				<div class="section" id="introduction">
					{{{introduction}}}
				</div>

				<div class="section" id="setup">
					{{{setup}}}
				</div>
				
				<div class="section" id="codestandards">
					{{{codestandards}}}
				</div>

				<div class="section" id="phpapi">
					{{{phpapi}}}
				</div>

				<div class="section" id="requestresponse">
					{{{requestresponse}}}
				</div>

				<div class="section" id="systemrequests">
					{{{systemrequests}}}
				</div>

				<div class="section" id="assetrequests">
					{{{assetrequests}}}
				</div>

				<div class="section" id="peoplerequests">
					{{{peoplerequests}}}
				</div>

				<div class="section" id="commercerequests">
					{{{commercerequests}}}
				</div>

				<div class="section" id="calendarrequests">
					{{{calendarrequests}}}
				</div>

				<div class="section" id="elementrequests">
					{{{elementrequests}}}
				</div>

				<div class="section" id="elements">
					{{{elements}}}
				</div>

				<div class="section" id="adminapp">
					{{{adminapp}}}
				</div>


			</div>
		</div>

		<br /><br /><br />
	</div>

	<div id="bottomspc"></div>
	<script src="/docs/assets/scripts/jquery.js"></script>
	<script src="/docs/assets/scripts/jquery.scrollTo.js"></script>
	<script src="/docs/assets/scripts/jquery.nav.js"></script>
	<script>
	$(document).ready(function() {
		$('#docsnav').onePageNav({
			changeHash:true,
			filter:':not(.external)',
			scrollThreshold:0.25
		});
	});
	</script>
</body> 
</html>