<!DOCTYPE html>
<head> 
<title>CASH Music</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/x-icon" href="https://cashmusic.org/admin/ui/default/assets/images/favicon.png" />
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://cashmusic.org/admin/assets/css/embed-default.css" />
<!--darklink rel="stylesheet" type="text/css" href="https://cashmusic.org/admin/assets/css/embed-dark.css" /dark-->
<!--lightlink rel="stylesheet" type="text/css" href="https://cashmusic.org/admin/assets/css/embed-light.css" /light-->
</head> 
<body>
	<div id="mainspc">
		{{{element_markup}}}
	</div>
</body> 
</html>