<!DOCTYPE html>
<head> 
<title>CASH Music</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/x-icon" href="https://cashmusic.org/admin/ui/default/assets/images/favicon.png" />
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://cashmusic.org/admin/assets/css/embed-default.css" />
<link rel="stylesheet" type="text/css" href="https://cashmusic.org/admin/assets/css/page-default.css" />
</head> 
<body>
	<div id="mainspc">
		<div class="content">
			<div class="logo"><img src="http://legacy.cashmusic.org/images/logo.svg"/></div><!--logo-->
				<div class="inner">
					{{{element_n}}}
				</div><!--inner-->
		</div><!--content-->
	</div>
	<div class="madebycash"><a href="https://cashmusic.org/" target="_blank">Made with &#9825; by CASH Music. Open-source &amp; Free forever. </a></div><!--madebycash-->
</body> 
</html>