<!DOCTYPE html>
<head>
<title>CASH Music</title>
<style>
	/***** Uncomment below to add page background image *****/
	/*body{background-image:url(https://static-cashmusic.netdna-ssl.com/www/img/constant/texture/header.jpg)!important;}*/

	/***** Uncomment below to change button colors *****/
	/*body.dark .cashmusic.element input[type=submit], body.dark .cashmusic.element .button, body.light .cashmusic.element input[type=submit], body.light .cashmusic.element .button{border-color:#ff6060; color: #ff6060;}
	body.dark .cashmusic.element input[type=submit]:hover, body.dark .cashmusic.element .button:hover, body.light .cashmusic.element input[type=submit]:hover, body.light .cashmusic.element .button:hover{background:#ff6060; color:#ffffff;}*/
</style>

</head>
<body>
	<div id="mainspc">
		<div class="content">
				<div class="inner">
					{{{element_n}}}
				</div><!--inner-->
		</div><!--content-->
	</div>
	<div class="madebycash"><a href="https://cashmusic.org/" target="_blank"><div class="logo"><img src="http://legacy.cashmusic.org/images/logo.svg"/></div><!--logo--><span>Made with &#9825; by CASH Music. Open-source &amp; Free forever.</span></a></div><!--madebycash-->
</body>
</html>
