<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>CASH Music</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

<style>
*{margin:0;padding:0;}
*{font-family:"Montserrat","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;}

img{max-width:100%;margin:5px 0;}
.collapse{margin:0;padding:0;}

body{background:#e3e3e3; color:#222222; -webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;width:100%!important;height:100%;}

a{ display:inline-block; word-break: break-all; color:#222222; background-color:#00cf7f; border-radius: 3px; padding:10px; text-decoration: none; -webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	transition:0.3s ease-in-out;}

a:hover{
	 color:#00cf7f; background-color:#222222; 
}

.btn{text-decoration:none;color:#FFF;background-color:#666;padding:10px 16px;font-weight:bold;margin-right:10px;text-align:center;cursor:pointer;display:inline-block;}

p.callout{padding:15px;background-color:#ECF8FF;margin-bottom:15px;}

.callout a{font-weight:bold;color:#2BA6CB;}

table.social{background-color:#ebebeb;}

.social .soc-btn{padding:3px 7px;font-size:12px;margin-bottom:10px;text-decoration:none;color:#FFF;font-weight:bold;display:block;text-align:center;}

a.fb{background-color:#3B5998!important;}

a.tw{background-color:#1daced!important;}

a.gp{background-color:#DB4A39!important;}

a.ms{background-color:#000!important;}

.sidebar .soc-btn{display:block;width:100%;}

.header.container table td.logo{padding:15px 0 5px 0;}

.header.container table td.label{padding:5px;padding-left:0px;}

table.body-wrap{width:100%;}

table.footer-wrap{width:100%;clear:both!important;}

.footer-wrap .container td.content p{border-top:1px solid rgb(215,215,215);padding-top:15px;}

.footer-wrap .container td.content p{font-size:10px;font-weight:bold;}

h1,h2,h3,h4,h5,h6{font-family:"Montserrat","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;line-height:1.1;margin-bottom:15px;color:#000;word-break:break-all;}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-size:60%;color:#6f6f6f;line-height:0;text-transform:none;}

h1{font-weight:700;font-size:44px;}
h2{font-weight:700;font-size:37px;}
h3{font-weight:400;font-size:27px;}
h4{font-weight:400;font-size:23px;}
h5{font-weight:400;font-size:17px;}
h6{font-weight:400;font-size:14px;text-transform:uppercase;color:#444;}

.collapse{margin:0!important;}

p,ul{margin-bottom:30px;font-weight:normal;font-size:14px;line-height:1.6;}

p.lead{font-size:17px;}
p.last{margin-bottom:0px;}

ul li{margin-left:5px;list-style-position:inside;}

ul.sidebar{background:#ebebeb;display:block;list-style-type:none;}

ul.sidebar li{display:block;margin:0;}

ul.sidebar li a{text-decoration:none;color:#666;padding:10px 16px;margin-right:10px;cursor:pointer;border-bottom:1px solid #777777;border-top:1px solid #FFFFFF;display:block;margin:0;}

ul.sidebar li a.last{border-bottom-width:0px;}

ul.sidebar li a h1,ul.sidebar li a h2,ul.sidebar li a h3,ul.sidebar li a h4,ul.sidebar li a h5,ul.sidebar li a h6,ul.sidebar li a p{margin-bottom:0!important;}

/*.container{display:block!important;max-width:600px!important;margin:0 auto!important;clear:both!important;}*/

/*.content{padding:15px;max-width:600px;margin:0 auto;display:block;}*/

.content table{width:100%;}

.column{width:50%;display:inline-block;}

.column tr td{padding:15px;}

.column-wrap{padding:0!important;margin:0 auto;max-width:600px!important;}

.column table{width:100%;}

.clear{display:block;clear:both;}

@media only screen and (max-width: 600px) {
	a[class="btn"]{display:block!important;margin-bottom:10px!important;background-image:none!important;margin-right:0!important;}
		div[class="column"]{width:auto!important;float:none!important;}
			table.social div[class="column"]{width:auto!important;}
}

.header.container .content{
	text-align: center;
	padding:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

table.body-wrap .content{
	padding:40px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);-moz-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.2);box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
table.body-wrap .content img{
 	margin-bottom: 30px;
}

.footer-wrap a{
	background:#eee;
	color:#ccc;
}

</style>

</head>
<body bgcolor="#e3e3e3">
 
<table class="head-wrap" bgcolor="#222222" style="width:100%; background:url('https://5ac61e7c565c49aab182-1a20c53f2eb5bc3379ac8dc929bcb803.ssl.cf2.rackcdn.com/tmp_system/header.jpg')">
	<tr>
		<td></td>
		<td class="header container">
			<div class="content">
				<table>
					<tr>
						<td><img src="https://5ac61e7c565c49aab182-1a20c53f2eb5bc3379ac8dc929bcb803.ssl.cf2.rackcdn.com/tmp_system/logo.png"/></td>
					</tr>
				</table>
			</div>
		</td>
		<td></td>
	</tr>
</table> 
 
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF" style="color:#222222">
			<div class="content">
				<table>
					<tr>
						<td>
							<h1>{{message_title}}</h1>
								{{{encoded_html}}}
						</td>
					</tr>
				</table> 
			</div><!--content-->
		</td>
	</tr>
</table>

<!--</td>
<td></td>
</tr>
</table> -->
 
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
 			<div class="content">
				<table>
					<tr>
						<td align="center">
							<p><a href="http://cashmusic.org/" target="_blank">Made with &#9825; by CASH Music. Open-source &amp; Free forever. </a></p>
						</td>
					</tr>
				</table>
			</div><!--content-->
		</td>
		<td></td>
	</tr>
</table> 
</body>
</html>