<div class="cm-store cm-cart">
{{#error_message}}<div class="cm-error">{{error_message}}</div>{{/error_message}}
{{#items_in_cart}}
	{{#cart}}
		<ul class="cm-items">
			<li class="cm-item">
				<h3 class="cm-item">{{name}}</h3>
				{{#variant_name}}<p class="cm-variant">{{variant_name}}</p>{{/variant_name}}
				<div class="cm-info">
					<p class="cm-price">Price <span>{{currency}}{{total_price}}</span></p>
					<label class="cm-qty">QTY</label> <input type="text" name="cm-current-qty" value="{{qty}}" />
				</div><!--cm-info-->
			</li><!--cm-item-->
		</ul><!--cm-items-->
	{{/cart}}
	<div class="cm-destination">
		<span class="cm-shipping">Shipping to:</span>
		<select class="cm-region">
			<option value="{{region_one}}">{{region1}}</option>
			<option value="{{region_two}}">{{region2}}</option>
		</select>
	</div><!--cm-destination-->
	<h2 class="cm-pricing">
		<span class="cm-subtotal">Subtotal<span class="cm-amount">{{currency}}{{subtotal}}</span></span>&#43;
		<span class="cm-shipping">Shipping<span class="cm-amount">{{currency}}{{shipping}}</span></span>&#61;
		<span class="cm-total">Total<span class="cm-amount">{{currency}}{{total}}</span></span>
	</h2><!--cm-pricing-->
	<a class="cm-checkout" href="/">Begin checkout</a>
{{/items_in_cart}}
{{^items_in_cart}}
	<p class="cm-emptycart">{{copy_emptycart}}</p>
{{/items_in_cart}}
</div><!--cm-cart-->
