{{#error_message}}<div class="cash_error cash_{{element_type}}_error">{{error_message}}</div>{{/error_message}}
<div class="packshot">
<div class="front"></div><!--front-->
</div><!--packshot-->
<div class="info">





<form id="cash_{{element_type}}_form_{{element_id}}" class="cash_form {{element_type}}" method="post" action="">
<input type="hidden" name="singlepurchase1" value="go" />
<input type="hidden" name="user_id" value="{{user_id}}" />
{{#items}}

	{{#item_flexible_price}}
	<span class="cash_singlepurchase_flexible_price">
		<span class="cash_singlepurchase_currency">{{currency}}</span>
		<input type="text" name="total_price" class="total_price" value="{{price}}" />
	</span>
	{{/item_flexible_price}}
	<input type="submit" value="{{name}}{{copy_cart}}" class="button" /><br />

{{/items}}
</form>






</div><!--info-->
