<div class="cm-store cm-return {{#fulfillment_assets}}cm-w-grat{{/fulfillment_assets}}">
{{#error_message}}<div class="cm-error">{{error_message}}</div>{{/error_message}}
<ul class="cm-items">
<h2>Order Summary</h2>
	<li class="cm-item">
		<h3 class="cm-item">{{item_name}}</h3>
		<p class="cm-description">{{item_description}}</p>
		<div class="cm-info">
			<p class="cm-shipping">Price <span>{{currency}}{{item_amount}}</span></p>
			<p class="cm-shipping">Shipping <span>{{currency}}{{item_shipping_amount}}</span></p>
			<p class="cm-qty">QTY <span>{{currency}}{{item-current-qty}}</span></p>
		</div><!--cm-info-->
	</li><!--cm-item-->
</ul><!--cm-items-->
	{{#payment_success}}<div class="cm-payment-success">Paid in full</div>{{/payment_success}}
	{{^payment_success}}<div class="cm-payment-failure">Payment not completed</div>{{/payment_success}}
</div><!--cm-return-->
{{#fulfillment_assets}}
<div class="cm-store cm-instant-grat">
<h2>Your Downloads</h2>
	<ul class="cm-dwld-items">
		<li class="cm-dwld-item">
			<a href="?cash_request_type=asset&cash_action=claim&id={{id}}&element_id={{element_id}}" class="cm-download">{{title}}</a> 
			<p class="description">{{description}}</p>
		</li>
	</ul>	
	<h3 class="cm-dwld-instructions">{{check_email}}</h3>
</div><!--cm-instant-grat-->
{{/fulfillment_assets}}

<script type="text/javascript">
(function() {
	var hasPushstate = !!(window.history && history.pushState);
	if (hasPushstate) {
		history.pushState(null, null, location.protocol + '//' + location.host + location.pathname);
	}
})();
</script>