{{#error_message}}<div class="cm-error">{{error_message}}</div>{{/error_message}}

<div class="cm-store cm-success">

	<div class="cm-store cm-instant-grat">
		<p class="cm-dwld-instructions">{{message_success}}</p>
		{{#order_contents}}
			{{#digital_fulfillment_details}}
			<ul class="cm-dwld-items">
				{{#digital_fulfillment_details}}
				<li class="cm-dwld-item">
					<h3 class="cm-title">{{name}}</h3>
					<div class="cm-description">{{description}}</div>
					<a href="{{public_url}}/request?cash_request_type=asset&cash_action=claim&id={{id}}&element_id={{element_id}}&session_id={{session_id}}" class="download">{{title}}</a>
				</li>
				{{/digital_fulfillment_details}}
			</ul>
			{{/digital_fulfillment_details}}
		{{/order_contents}}
	</div><!--cm-instant-grat-->

	<div class="cm-store cm-receipt {{#fulfillment_assets}}cm-w-grat{{/fulfillment_assets}}">
		<div class="cm-inner">
			<ul class="cm-items">
			<h2>Order #{{order_id}}</h2>
				{{#order_contents}}
				<li class="cm-item">
					<div class="cm-item-description">
					<h3 class="cm-title">{{name}}</h3>
					{{#variant_name}}<p class="cm-variant">{{variant_name}}</p>{{/variant_name}}
					</div><div class="cm-info">
						<p class="cm-qty">QTY <span>{{qty}}</span></p>
						<p class="cm-totalprice">Price <span>{{currency}}{{total_price}}</span></p>
					</div><!--cm-info-->
				</li><!--cm-item-->
				{{/order_contents}}
			</ul><!--cm-items-->
			<div class="cm-pricing">
					{{#has_physical}}
					<h3 class="cm-subtotal">{{copy_subtotal}} <span class="cm-amount">{{currency}}<span class="cm-subtotal-amount">{{item_subtotal}}</span></span></h3><h3 class="cm-shipping">{{copy_shipping}} <span class="cm-amount">{{currency}}<span class="cm-shipping-amount">{{shipping_subtotal}}</span></span></h3>
					{{/has_physical}}
					<h2 class="cm-total">{{copy_total}} <span class="cm-amount">{{currency}}<span class="cm-total-amount">{{total}}</span></h2>
			</div><!--cm-pricing-->
		</div><!--cm-inner-->
	</div><!--cm-receipt-->

	<div class="madebycash"><a href="https://cashmusic.org/" target="_blank">Made with &#9825; by CASH Music. Open-source &amp; Free forever. </a></div>
</div><!--cm-success-->

<script type="text/javascript">
(function() {
	var hasPushstate = !!(window.history && history.pushState);
	if (hasPushstate) {
		history.pushState(null, null, location.protocol + '//' + location.host + location.pathname);
	}
})();
</script>
