/*************************************************** 
 *
 *  CASH Music Front-End Styles
 *
 ***************************************************/

/* BASE STYLES AND RESETS */

html{
	min-height:100%;
	padding:0;
	background-attachment: fixed;
	overflow-x:hidden;
	position: relative;
	z-index:-2;
}

body {
	margin:0 0 0 0;
	padding:0 0 1% 0;
	height:100%;
	background: #e3e3e3; /* Old browsers */
	background:rgba(230,230,230,0.97) url(../images/paint_low.png) 0% 0%;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x:hidden;
	color:#222;
	font:400 30px/40px 'Montserrat',Helvetica,Arial,sans-serif;
}

#chrome{
	height:100%;
	width:100%;
}

/*Scrollbars*/

::-webkit-scrollbar{width: 12px;  /* for vertical scrollbars */height: 12px; /* for horizontal scrollbars */}
::-webkit-scrollbar-track{background: rgba(34, 34, 34, 0.97);}
::-webkit-scrollbar-thumb{background: rgba(238, 238, 238, 0.97);}

.row{
	/*overflow:auto;*/
	width:100%;
	min-width:100%;
}

#pagetitle{
	font-size:38px;
	line-height: 40px;
	margin:0 auto 20px auto;
	width:90%;
	font-weight:700;
	text-transform: uppercase;
	word-wrap:break-word;
}

#pagedisplay{
	width:90%;
	margin:0 auto;
}

br{	
	display:none;
	background:#222;
	height:1;
	padding:0;
	margin:-50px;
}

a{
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	trasition:0.3s ease-in-out;
	text-decoration: underline;
	color:#00cf7f;
	padding:5px;
}

a:hover{
	text-decoration: none;
	color:#222;
}

/* Form General */

input{
	padding:3%;
}

input::-webkit-calendar-picker-indicator{
    display: none;
}

select{
	background:#00cf7f;
	border:none;
	padding:0% 2%;
	color:#f5f5f5;
	text-indent: 0;
	margin:0;
	height:30px;
	line-height: 3px;
	border:none;
	font:400 14px/20px 'Montserrat',Helvetica,Arial,sans-serif;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

input.checkorradio{
	border:solid 1px #00cf7f;
	color:#00cf7f;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:10px;
	margin:5px 5px 0 0;
	clear:both;
	-webkit-appearance: none;
}

input.checkorradio:checked{
	background-color:#00cf7f;
	background-image:url(../images/cross.png);
	background-position: 50% 50%;
	background-repeat: no-repeat; 
}

.login #cash_signin_form{
	background:#ededed url(../images/dirt.png);
	padding:10%;
	position:relative;
	overflow:auto;
	left:0;
	width:100%;
	margin:30px 0;
	color:#f5f5f5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.3);
	box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.3);
}

#query{
	padding:3.5%;
	margin:2% 0 0 0;
}

/* Buttons General */

button, .button, #modallightbox .modalcancel{
	border:solid 1px #00cf7f;
	background:none;
	padding:10px 50px;
	margin:5% 0;
	text-align: center;
	/*float:left;*/
	width:100%;
	font:400 14px/20px 'Montserrat',Helvetica,Arial,sans-serif;
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	trasition:0.3s ease-in-out;
	text-decoration: none;
	color:#00cf7f;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

button:hover, .button:hover{
	background:#00cf7f;
	color:#f5f5f5;
	cursor: pointer;
}

button .icon, .button .icon{
	display:none;
}

/* Icons General */

#pagedisplay .icon{
	margin:0 5px 0 0;
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	border-radius: 1000px;
	background:#222;
	color:#f5f5f5;
	opacity:1;
	padding:10px;
	text-decoration: none;
}

/* Headers */

h1,h2,h3,h4,h5{
	color:#222;
	font:400 30px/40px 'Montserrat',Helvetica,Arial,sans-serif;
}

h4{
	margin:30px 0 10px 0;
}

/* Text Types */

small{
	font-size: 12px;
}

.smalltext{
	margin:0 0 0 20px;
	color:#888;
	word-wrap:break-word;
}

.smalltext li{
	font-size: 12px;
}

.big {
	font-size:20px;
	line-height:25px;
	margin:0 0 30px 0;
}

.fadedtext{
	opacity:0.8;
}

#pagedisplay .spacedtext a{
	display:block;
}
