RewriteEngine On 
RewriteBase /
Options +FollowSymlinks 
Options -Indexes 

# COMPRESSION
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/x-javascript

# NO COMPRESSION FOR YE OLDE IE (BUGGY)
BrowserMatch \bMSIE\s(7|8) !no-gzip !gzip-only-text/html

# NONE OF THAT WWW STUFF
RewriteCond %{HTTP_HOST} ^www.cashmusic.org$ [NC]
RewriteRule ^(.*)$ https://cashmusic.org/$1 [R=301,L]

# REDIRECT CASH SPECIFIC STUFF
RewriteRule ^about/?$ http://about.cashmusic.org/ [R,L] 
RewriteRule ^donate/?$ http://donate.cashmusic.org/ [R,L] 
RewriteRule ^events/?$ http://events.cashmusic.org/ [R,L] 
RewriteRule ^learn/?$ http://learn.cashmusic.org/ [R,L]
RewriteRule ^beginpayment.php$ http://legacy.cashmusic.org/beginpayment.php [R,L,QSA] 

# USER PAGE REWRITES
# skip any real files/folders
# RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
# grab subdomain
RewriteCond %{HTTP_HOST} (.*)
# explicitly skip real paths
RewriteCond %{REQUEST_URI} !^/server-status
RewriteCond %{REQUEST_URI} !^/admin
RewriteCond %{REQUEST_URI} !^/api
RewriteCond %{REQUEST_URI} !^/docs
RewriteCond %{REQUEST_URI} !^/public
# rewrite that junk
RewriteRule (.*) index.php?subdomain=%1&path=$1 [L,QSA] 