<h3>Choose An Asset Type</h3>
<br />

<div class="col_threeoffour">
	<b>Drop it! Dead or alive, you're coming with me</b>
	<br />
	<div class="uploadhere" data-upload-service="S3">
		<span>Upload to S3</span>
	</div>
	<div class="uploadhere" data-upload-service="SoundCloud">
		<span>Upload to SoundCloud</span>
	</div>
	<div class="uploadhere" data-upload-service="Dropbox">
		<span>Upload to Dropbox</span>
	</div>
</div>
