<h3>Choose An Asset Type</h3>
<br />

<div class="col_oneofthree">
	<a href="./file/"><b>File</b></a><br />
	A single asset of any type.
</div>
<div class="col_oneofthree">
<a href="./folder/"><b>Folder</b></a><br />
	Collect a group of assets.
</div>