{{#AWSAccessKeyId}}
<form id="file_upload" method="post" class="nodefaultajax" action="https://cashmusicdemo.s3.amazonaws.com/" enctype="multipart/form-data">
	<input type="hidden" name="key" value="{{key}}" />
	<input type="hidden" name="AWSAccessKeyId" value="{{AWSAccessKeyId}}" />
	<input type="hidden" name="acl" value="{{acl}}" />
	<input type="hidden" name="success_action_status" value="{{success_action_status}}" />
	<input type="hidden" name="policy" value="{{policy}}" />
	<input type="hidden" name="signature" value="{{signature}}" />
	<input type="file" name="file" /><br />
	<input type="submit" class="button" value="Upload" />
</form>

<div id="loading">uploading...</div>

<script src="{{www_path}}/ui/default/assets/scripts/jquery.iframe-transport.js"></script>
<script src="{{www_path}}/ui/default/assets/scripts/jquery.fileupload.js"></script>

<script type="text/javascript">
	$(function() {
		var filename,filekey;
		filekey = '{{key}}';
		$('#loading').hide();

		$('#file_upload').fileupload({
			forceIframeTransport: true,
			autoUpload: true,
			add: function (e, data) {
				// remember the filename and submit
				filename = data.files[0].name;
				data.submit();
			},
			send: function(e, data) {
				// spinner, etc
				$('#loading').show();
			},
			fail: function(e, data) {
				// we should do something useful here
			},
			done: function (event, data) {
				// hide the spinner, add the final key to the location field of the 
				// main form, call ajax/finalizeupload with the key
				$('#loading').hide();
				alert('done. ' + filekey.replace('${filename}','') + filename);
			},
		});
	});
</script>
{{/AWSAccessKeyId}}
{{^AWSAccessKeyId}}
	You need to choose a connection.
{{/AWSAccessKeyId}}