<div class="col_twoofthree">
	<h3>Find assets</h3>
	<form accept-charset="UTF-8" action="">	
	<label for="query">Search for:</label><br />
	<input type="text" id="query" name="query" placeholder="Enter search query" /> 

	<div class="row_seperator">.</div>
	<input class="button" type="submit" value="Search" />
	
	</form>
</div>

<div class="col_oneofthree lastcol">
	<!--h3>Find by tag</h3>
	...-->
</div>

<div class="row_seperator">.</div><br />

{{find_message}}