<form accept-charset="UTF-8" method="post" action="{{#assets_add_action}}{{www_path}}/assets/add/{{/assets_add_action}}">
	<input type="hidden" name="{{form_state_action}}" value="makeitso" />

	<h3>Asset Details</h3>
	<label for="asset_title">Title / Name</label><br />
	<input type="text" id="asset_title" name="asset_title" value="{{title}}" placeholder="Give It A Name" />

	<div class="row_seperator">.</div>
	<label for="asset_description">Description</label><br />
	<textarea rows="3" id="asset_description" name="asset_description">{{description}}</textarea>

	{{#type}}
		<input type="hidden" name="asset_type" value="{{type}}" />
	{{/type}}
	<input type="hidden" name="parent_id" value="{{parent_id}}" />

	{{#metadata_command}}
		<input type="hidden" name="metadata_command" value="{{metadata_command}}" />
		<input type="hidden" name="metadata_name" value="{{metadata_name}}" />
	{{/metadata_command}}

	{{#show_location}}
		<div class="row_seperator">.</div>
		<div class="col_oneoftwo">
			<label for="connection_id">Which storage connection?</label><br />
			<select id="connection_id" name="connection_id">
				{{{connection_options}}}
			</select>
			<div class="row_seperator">.</div>
			<br /><br />
			<input class="button" type="submit" value="{{asset_button_text}}" />
		</div>

		<div class="col_oneoftwo lastcol">
			<label for="asset_location">Location (URI)</label><br />
			<input type="text" id="asset_location" name="asset_location" value="{{location}}" />
			</form>

			<!--
			  *
			  *
			  * We should only display the link below if the connection > 0. Check connection ID
			  * on connection_id change, if it's > 0 we request a data_only view of /assets/uploadform
			  * and insert it into the drawer contents
			  *
			  *
			  *
			  -->
			<div class="drawer noprefix upload-corral">
				<small class="fadedtext"><span class="icon upload"></span> Using a hosting connection? <a href="#" data-upload-endpoint="{{{www_path}}}/assets/uploadform/" class="drawerhandle usecolor1 file-upload-trigger">Upload a file</a></small>
				<div class="drawercontent">


				</div>
			</div>
		</div>
	{{/show_location}}
	{{^show_location}}
		<div class="row_seperator">.</div>
		<div class="col_oneoftwo">
			<input type="hidden" name="connection_id" value="" />
			<input type="hidden" name="asset_location" value="" />
			<br />
			<input class="button" type="submit" value="{{asset_button_text}}" />
		</div>
		</form>
	{{/show_location}}
	<div class="row_seperator">.</div>

