<form accept-charset="UTF-8" method="post" id="edit-file-form" action="{{www_path}}/assets/edit/{{id}}">
	<input type="hidden" name="doassetedit" value="makeitso" />
	<input type="hidden" name="asset_type" value="file" />

	<h4>Asset details</h4>
	<p class="smalltext fadedtext">
		{{#parent_id}}<a href="{{www_path}}/assets/edit/{{parent_id}}"><b>return to parent asset</b></a><br />{{/parent_id}}
	</p>

	<label for="asset_title">Title / Name</label>
	<input type="text" id="asset_title" name="asset_title" value="{{title}}" />

	<br />
	<label for="asset_description">Description</label>
	<textarea rows="3" id="asset_description" name="asset_description">{{description}}</textarea>

	<br />
	<div class="row">
		<div class="six columns">
			<label for="connection_id">Which storage connection?</label>
			<select id="connection_id" name="connection_id">
				{{{connection_options}}}
			</select>
		</div>

		<div class="six columns">
			<label for="asset_location">Location (URI)</label>
			<input type="text" id="asset_location" name="asset_location" value="{{location}}" />
			<div class="drawer noprefix upload-corral">
				<small class="fadedtext"><span class="icon browser-upload "></span> Using a hosting connection? <a href="#" data-upload-endpoint="{{{www_path}}}/assets/uploadform/" class="drawerhandle usecolor1 file-upload-trigger">Upload a file</a></small>
				<div class="drawercontent"></div>
			</div>
		</div>
	</div>

	{{#parent_id}}
		<input type="hidden" name="parent_id" value="{{parent_id}}" />
	{{/parent_id}}


	<div>
		<br /><br />
		<div class="row">
			<div class="six columns spacedtext">
				<small class="fadedtext"><span class="icon wallet"></span> Selling out?</small> <a href="{{www_path}}/commerce/items/add/selectedasset/{{id}}" class="lightboxed returntocurrentroute"><small><b>Define commerce settings</b></small></a>
				<br />
				<small class="fadedtext"><span class="icon cancel-circle"></span> Need it gone?</small> <a href="{{www_path}}/assets/delete/{{id}}" class="usecolor1 needsconfirmation"><small><b>Delete this file</b></small></a>
				<br />
				<small class="fadedtext"><span class="icon tag"></span> Get organized.</small> {{{tag_markup}}}<a href="#" class="injectbefore usecolor1" rev="<input type='text' name='tag' value='' placeholder='Tag' />" rel="{{tag_counter}}"><small><b>Tag this file</b></small></a>
				<br />
				<input class="nojs" type="submit" value="Save changes" />
				</form>

			</div>

			<div class="six columns spacedtext">
				<div class="drawer noprefix">
					<small class="fadedtext"><span class="icon browser-download-2"></span> Need download codes?</small> <a class="drawerhandle usecolor1">Export or create codes</a>
					<div class="drawercontent">
						<p>
						{{#asset_codes_count}}
							<br /><small>There are {{asset_codes_count}} codes for this asset. <a class="usecolor1 noajax" href="{{www_path}}/assets/edit/{{id}}?exportcodes=1"><b>Export them!</b></a></small>
						{{/asset_codes_count}}
						{{^asset_codes_count}}
							<br /><small>There are no download codes for this asset.</small>
						{{/asset_codes_count}}
						</p>
						<form accept-charset="UTF-8" method="post" action="{{www_path}}/assets/edit/{{id}}">

						<label for="add_codes_qty">Add (qty) more codes</label>
						<div class="row">
							<div class="six columns">
								<input type="text" name="add_codes_qty" id="add_codes_qty" value="500" />
							</div>
							<div class="six columns">
								<input type="submit" value="add codes" />
							</div>
						</div>
						</form>
						<br />
					</div>
				</div>

				{{#show_make_public}}
					<small class="fadedtext"><span class="icon unlocked"></span> Don't need security?</small> <a href="#" data-publicize-endpoint="{{{www_path}}}/ajax/publicizeasset/{{id}}" class="usecolor1"><small><b>Make this file public</b></small></a>
				{{/show_make_public}}
			</div>
		</div>
		
		<br /><br />
		<input class="onlyjs externalsubmit" type="submit" data-cash-target-form="#edit-file-form" value="Save changes" />
	</div>

<br />
