<form method="post" action="{{www_path}}/assets/edit/{{id}}">
	<input type="hidden" name="doassetedit" value="makeitso" />
	<input type="hidden" name="asset_type" value="file" />
	
	<h3>Asset details</h3>
	<p class="smalltext fadedtext">
		{{#parent_id}}<a href="{{www_path}}/assets/edit/{{parent_id}}"><b>return to parent asset</b></a><br />{{/parent_id}}
		{{#screen_size}}size: {{screen_size}} &nbsp; stored on: {{connection_name}}<br />{{/screen_size}}
		{{#location}}location: {{location}}<br />{{/location}}
	</p>

	<label for="asset_title">Title / Name</label><br />
	<input type="text" id="asset_title" name="asset_title" value="{{title}}" />

	<div class="row_seperator">.</div>
	<label for="asset_description">Description</label><br />
	<textarea rows="3" id="asset_description" name="asset_description">{{description}}</textarea>

	<div class="row_seperator">.</div>
	<div class="col_oneoftwo">
		<label for="connection_id">Which storage connection?</label><br />
		<select id="connection_id" name="connection_id">
			{{{connection_options}}}
		</select>
	</div>

	<div class="col_oneoftwo lastcol">
		<label for="asset_location">Location (URI)</label><br />
		<input type="text" id="asset_location" name="asset_location" value="{{location}}" />
	</div>

	{{#parent_id}}
		<input type="hidden" name="parent_id" value="{{parent_id}}" />
	{{/parent_id}}

	<div class="row_seperator">.</div><br />

	<div class="col_oneoftwo">
		<div>
			<label>Tags</label><br />
			{{{tag_markup}}}
			<a href="#" class="injectbefore" rev="<input type='text' name='tag' value='' placeholder='Tag' />" rel="{{tag_counter}}"><small><span class="icon plus_alt"></span> <b>Add tag</b></small></a>
		</div>

		<div class="row_seperator">.</div>
		<br />
		<input class="button" type="submit" value="Edit the asset" />
	</div>
</form>
	
<div class="col_oneoftwo lastcol">
	<label>Download codes</label>

	<div class="drawer">
		<div class="drawercontent">
			<p>
			{{#asset_codes_count}}
				There are {{asset_codes_count}} codes for this asset. <a href="{{www_path}}/assets/edit/{{id}}?exportcodes=1">Export them!</a>
			{{/asset_codes_count}}
			{{^asset_codes_count}}
				There are no download codes for this asset.
			{{/asset_codes_count}}
			</p>
			<form method="post" action="{{www_path}}/assets/edit/{{id}}">

			<label for="add_codes_qty">Add (qty) more codes</label><br />
			<div class="col_oneoftwo">
				<input type="text" name="add_codes_qty" id="add_codes_qty" value="500" />
			</div>
			<div class="col_oneoftwo lastcol">
				<input type="submit" class="button" value="add codes" />	
			</div>
			</form>
			<div class="row_seperator">.</div>
		</div>
		<a class="drawerhandle mininav_flush usecolor1">download code options</a>
	</div>
</div>
<div class="row_seperator">.</div>
