<h4>Find assets</h4>
<form accept-charset="UTF-8" method="post" action="">	
<label for="query">Search for:</label>
<div class="row">
	<div class="eight columns">
		<input type="text" id="query" name="query" placeholder="Enter search query" /> 
	</div>

	<div class="four columns">
		<button type="submit"><i class="icon icon-search"></i>Search</button>
	</div>
</div>
</form>

<br />

{{find_message}}