{{#banner_main_content}}
	<div class="introductorybanner"><div class="titlespc">{{{banner_title_content}}}</div>
	{{{banner_main_content}}}
	<div class="closelink"><a href="?hidebanner=true">close <span class="icon x_alt"></span></a></div></div>
{{/banner_main_content}}

<div class="col_oneoftwo">
	<a href="{{www_path}}/assets/add/release">Add a new release</a><br /><br />
	<a href="{{www_path}}/assets/add/playlist">Add a new playlist</a><br /><br />
	<a href="{{www_path}}/assets/add/file">Add a new file</a><br /><br />
</div>