<h2>Venue Details</h2>
<form accept-charset="UTF-8" method="post" action="{{www_path}}{{requested_route}}" name="venue_add">
	<input type="hidden" name="{{form_state_action}}" value="makeitso" />

	<label for="venue_name">Name</label><br />
	<input type="text" id="venue_name" name="venue_name" value="{{name}}" />

	<div class="row_seperator">.</div>
	<div class="col_oneoftwo">
		<label for="venue_url">Website</label><br />
		<input type="text" id="venue_url" name="venue_url" value="{{url}}" />
	</div>
	<div class="col_oneoftwo lastcol">
		<label for="venue_phone">Phone</label><br />
		<input type="text" id="venue_phone" name="venue_phone" value="{{phone}}" />
	</div>

	<div class="row_seperator">.</div>
	<label for="venue_address1">Address 1</label><br />
	<input type="text" id="venue_address1" name="venue_address1" value="{{address1}}" />
	
	<div class="row_seperator">.</div>
	<label for="venue_address2">Address 2</label><br />
	<input type="text" id="venue_address2" name="venue_address2" value="{{address2}}" />
	
	<div class="row_seperator">.</div>
	<div class="col_oneoftwo">
		<label for="venue_city">City</label><br />
		<input type="text" id="venue_city" name="venue_city" value="{{city}}" />
	</div>
	<div class="col_oneoftwo lastcol">
		<label for="venue_region">State / Provence / Region</label><br />
		<input type="text" id="venue_region" name="venue_region" value="{{region}}" />
	</div>

	<div class="row_seperator">.</div>
	<div class="col_oneoftwo">
		<label for="venue_postalcode">Postal Code</label><br />
		<input type="text" id="venue_postalcode" name="venue_postalcode" value="{{postalcode}}" />
	</div>
	<div class="col_oneoftwo lastcol">
		<label for="venue_country">Country</label><br />
		<select id="venue_country" name="venue_country">
			{{{country_options}}}
		</select>
	</div>

	<div class="row_seperator">.</div><br />
	<input class="button" type="submit" value="{{venue_button_text}}" />

</form>