{{#banner_main_content}}
	<div class="introductorybanner"><div class="titlespc">{{{banner_title_content}}}</div>
	{{{banner_main_content}}}
	<div class="closelink"><a href="?hidebanner=true">close <span class="icon cancel-circle"></span></a></div></div>
{{/banner_main_content}}

<div class="row">
	<div class="six columns">
		<h4>Add an event</h4>

		<form accept-charset="UTF-8" method="post" action="{{www_path}}/calendar/events/add/" name="add_event">
			<input type="hidden" name="doeventadd" value="makeitso" />

			<label for="event_date">Date</label>
			<input type="date" id="event_date" name="event_date" class="date" value="" placeholder="MM/DD/YYYY" />

			<label for="event_venue_name">Venue</label>
			<input type="text" id="event_venue_name" name="event_venue_name" value="{{event_venue_name}}" placeholder="Start typing to search venues" class="autocomplete" data-cash-endpoint-url="{{{www_path}}}/ajax/autocomplete/venues" />
			<input type="hidden" id="event_venue" name="event_venue" value="" />
			<small class="fadedtext">Can't find the venue you're looking for? <a href="{{www_path}}/calendar/venues/add/" class="add-fulfillment-file lightboxed returntocurrentroute usecolor4">Add a new venue</a></small>

			<br /><br /><br />
			<label for="event_comment">Comments (Support, CD Release, etc)</label>
			<textarea rows="3" id="event_comment" name="event_comment"></textarea>

			<label for="event_purchase_url">Ticket Purchase URL</label>
			<input type="text" id="event_purchase_url" name="event_purchase_url" value="" placeholder="Ticket Link URL" />

			<br />
			<input type='checkbox' class='checkorradio' name='event_ispublished' value='' checked='checked' /> Published?
			&nbsp; <input type='checkbox' class='checkorradio' name='event_iscancelled' value='' /> Cancelled?

			<br /><br />
			<input type="submit" value="Add That Event" />

		</form>
	</div>

	<div class="six columns">
		<h4>This week at a glance</h4>
		{{#events_thisweek}}
		<ul class="alternating">
			{{#events_thisweek}}
			<li>
				<b>{{formatted_date}}: {{event_location}}</b> <span class="nobr">@ {{venue_name}}</span>
				<div class="itemnav">
					<a href="{{www_path}}/calendar/events/edit/{{event_id}}" class="mininav_flush"><span class="icon search"></span> Details</a> 
				</div>
			</li>
			{{/events_thisweek}}
		</ul>
		{{/events_thisweek}}

		{{^events_thisweek}}
		<p>No upcoming events for the next week were found.</p>
		{{/events_thisweek}}

		<br /><br />

		<h4>Unpublished events</h4>
		{{#events_unpublished}}
		<ul class="alternating">
			{{#events_unpublished}}
			<li>
				<b>{{formatted_date}}: {{event_location}}</b> <span class="nobr">@ {{venue_name}}</span>
				<div class="itemnav">
					<a href="{{www_path}}/calendar/events/edit/{{event_id}}" class="mininav_flush"><span class="icon search"></span> Details</a> 
				</div>
			</li>
			{{/events_unpublished}}
		</ul>
		{{/events_unpublished}}

		{{^events_unpublished}}
		<p>No unpublished events were found.</p>
		{{/events_unpublished}}
	</div>
</div>