<div id="hero">
		<h5>Okay, i got it man!</h5>
		<video loop="loop" autoplay="true" fullscreen="false">
  			<source src="{{www_path}}/ui/default/assets/video/intro.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>
</div><!--hero-->

<p class="big">
	Group elements or create pages around a common goal.
</p>

{{#campaigns_for_user}}
	<ul class="alternating">
		{{#campaigns_for_user}}
		<li>
		<a class="primary" href="{{www_path}}/campaigns/edit/{{id}}">
			<strong>{{title}}</strong><span class="descriptive spaced fadedtext">{{description}} / {{formatted_date}}</span></a>
			<div class="more"><div class="toggle"></div><!--toggle-->
			<div class="actions">
			<a href="{{www_path}}/campaigns/edit/{{id}}" class="mininav_flush"><i class="icon icon-pencil"></i>Edit</a>
			<a href="{{www_path}}/campaigns/delete/{{id}}" class="mininav_flush needsconfirmation delete"><i class="icon icon-ban-circle"></i> Delete</a></div><!--actions-->
			</div><!--more-->
		</li>
		{{/campaigns_for_user}}
	</ul>
	<a href="{{www_path}}/elements/add/" class="store lightboxed button"><i class="icon icon-plus-sign"></i>Add a new element</a>
{{/campaigns_for_user}}

{{^campaigns_for_user}}
	<p>No campaigns have been added yet. <a href="{{www_path}}/campaigns/add/">Add one.</a></p>
{{/campaigns_for_user}}