<p class="big">
	Here’s where you’ll define products and special offers, check on orders, manage fulfillment, and tracks overall sales. Connect to your Paypal account and off you go.
</p>

<div class="row">
	<div class="six columns">
		<h4>Recent orders</h4>
		{{#orders_recent}}
		<ul class="alternating">
			{{#orders_recent}}
			<li>
				<b>{{number}}</b>
				<span class="descriptive spaced fadedtext">{{date}}<br />
				{{gross}}: {{items}}
				</span>
				<div class="itemnav">
					<a href="{{www_path}}/commerce/orders/view/{{id}}" class="mininav_flush"><i class="icon icon-search"></i>Details</a>
				</div>
			</li>
			{{/orders_recent}}
		</ul>
		{{/orders_recent}}

		{{^orders_recent}}
		<p>No orders have been placed yet.</p>
		{{/orders_recent}}
	</div>
	<div class="six columns">
		<h4>All items</h4>
		{{#items_all}}
		<ul class="alternating">
			{{#items_all}}
			<li>
				<b>{{name}}</b>
				{{#description}}<span class="descriptive spaced fadedtext">{{description}}</span>{{/description}}<br />
				<div class="itemnav">
					<a href="{{www_path}}/commerce/items/edit/{{id}}" class="mininav_flush"><i class="icon icon-pencil"></i>Edit</a>
					<a href="{{www_path}}/commerce/items/delete/{{id}}" class="mininav_flush needsconfirmation"><i class="icon icon-ban-circle"></i> Delete</a>
				</div>
			</li>
			{{/items_all}}
		</ul>
		{{/items_all}}

		{{^items_all}}
		<p>No items have been defined.</p>
		{{/items_all}}
	</div>
</div>