<p>Are you sure you want to delete this? It will be permanently erased.</p>

<form accept-charset="UTF-8" method="post" action="">
	<input type="hidden" name="dodelete" value="makeitso">
	<input type="submit" value="Delete It" />
</form>