<div class="row">
	<div class="four columns">
		{{#elements_col1}}
		<div class="featuredelement">
			<a href="{{www_path}}/elements/add/{{element_type}}"><img src="{{www_path}}/assets/images/elementheader.php?element={{element_type}}" width="100%" alt="{{element_type_name}}" /></a><br />
			<div class="padding">
				<h4>{{element_type_name}}</h4>
				<p>{{element_type_description}}</p>
				<div class="elementdetails">
					<p><span class="altcopystyle">{{element_type_longdescription}}</span></p>
					<small>Author: <a href="{{element_type_authorurl}}">{{element_type_author}}</a><br />
					Last updated: {{element_type_updated}}<br />Version: {{element_type_version}}</small>
				</div>
				<div class="itemnav">
					<a href="{{www_path}}/elements/add/{{element_type}}"><span class="icon circle-add"></span> Add this now</a><br />
					<small><a href="{{www_path}}/elements/add/{{element_type}}" class="fadedtext showelementdetails"><span class="icon search"></span> More details</a></small>
				</div>
			</div>
		</div>
		{{/elements_col1}}
	</div>

	<div class="four columns">
		{{#elements_col2}}
		<div class="featuredelement">
			<a href="{{www_path}}/elements/add/{{element_type}}"><img src="{{www_path}}/assets/images/elementheader.php?element={{element_type}}" width="100%" alt="{{element_type_name}}" /></a><br />
			<div class="padding">
				<h4>{{element_type_name}}</h4>
				<p>{{element_type_description}}</p>
				<div class="elementdetails">
					<p><span class="altcopystyle">{{element_type_longdescription}}</span></p>
					<small>Author: <a href="{{element_type_authorurl}}">{{element_type_author}}</a><br />
					Last updated: {{element_type_updated}}<br />Version: {{element_type_version}}</small>
				</div>
				<div class="itemnav">
					<a href="{{www_path}}/elements/add/{{element_type}}"><span class="icon circle-add"></span> Add this now</a><br />
					<small><a href="{{www_path}}/elements/add/{{element_type}}" class="fadedtext showelementdetails"><span class="icon search"></span> More details</a></small>
				</div>
			</div>
		</div>
		{{/elements_col2}}
	</div>

	<div class="four columns">
		{{#elements_col3}}
		<div class="featuredelement">
			<a href="{{www_path}}/elements/add/{{element_type}}"><img src="{{www_path}}/assets/images/elementheader.php?element={{element_type}}" width="100%" alt="{{element_type_name}}" /></a><br />
			<div class="padding">
				<h4>{{element_type_name}}</h4>
				<p>{{element_type_description}}</p>
				<div class="elementdetails">
					<p><span class="altcopystyle">{{element_type_longdescription}}</span></p>
					<small>Author: <a href="{{element_type_authorurl}}">{{element_type_author}}</a><br />
					Last updated: {{element_type_updated}}<br />Version: {{element_type_version}}</small>
				</div>
				<div class="itemnav">
					<a href="{{www_path}}/elements/add/{{element_type}}"><span class="icon circle-add"></span> Add this now</a><br />
					<small><a href="{{www_path}}/elements/add/{{element_type}}" class="fadedtext showelementdetails"><span class="icon search"></span> More details</a></small>
				</div>
			</div>
		</div>
		{{/elements_col3}}
	</div>
</div>