{{#banner_main_content}}
	<div class="introductorybanner"><div class="titlespc">{{{banner_title_content}}}</div>
	{{{banner_main_content}}}
	<div class="closelink"><a href="?hidebanner=true">close <span class="icon cancel-circle"></span></a></div></div>
{{/banner_main_content}}

{{#elements_for_user}}
<ul class="alternating">
	{{#elements_for_user}}
	<li>
		<b>{{name}} <span class="fadedtext nobr" style="font-weight:normal;"> // {{type_name}}</small></b>
		<div class="itemnav">
			<a href="{{www_path}}/elements/edit/{{id}}" class="mininav_flush"><span class="icon search"></span> Details</a> 
			<a href="{{www_path}}/elements/delete/{{id}}" class="mininav_flush needsconfirmation"><span class="icon cancel-circle"></span> Delete</a>
		</div>
	</li>
	{{/elements_for_user}}
</ul>
{{/elements_for_user}}

{{^elements_for_user}}
<p>No elements have been added yet.</p>
{{/elements_for_user}}
