<div class="storedisplay row">
	<div class="two columns">
		<ul class="list">
			<li><a href="/">Download Codes <i class="icon icon-x-circle">Add</i></a></li>
			<li><a href="/">Email Collection <i class="icon icon-x-circle">Add</i></a></li>
			<li><a href="/">Secure Download <i class="icon icon-x-circle">Add</i></a></li>
			<li><a href="/">Single Purchase <i class="icon icon-x-circle">Add</i></a></li>
			<li><a href="/">Social Feeds <i class="icon icon-x-circle">Add</i></a></li>
			<li><a href="/">Plain Text <i class="icon icon-x-circle">Add</i></a></li>
			<li><a href="/">Tour Dates <i class="icon icon-x-circle">Add</i></a></li>
		</ul>
	</div>
	<div class="gallery two columns">
	<h2>Welcome to the Elements Store</h2>
		<h2>Email Collection</h2>
		<div class="slider">
		<img src="{{www_path}}/ui/default/assets/images/gallery_test.jpg" alt="test"/>
		</div><!--slider-->

	</div>
</div>