<p>
{{{copy_top}}}
</p>

<h4>Template details</h4>

<form accept-charset="UTF-8" method="post" action="{{www_path}}/elements/templates" name="elements_template">
	<input type="hidden" name="dotemplateset" value="makeitso" />
	{{#id}}<input type="hidden" name="template_id" value="{{id}}" />{{/id}}

	<label for="template_name">{{label_name}}</label>
	<input type="text" id="template_name" name="template_name" placeholder="Give it a name" value="{{name}}" />
	
	<div class="row">
		<div class="six columns">
			<label for="template_type">{{label_type}}</label>
			<div class="row">
				<div class="four columns">
					<label for="typepage"><input type="radio" id="typepage" name="template_type" value="page" {{^is_embed}}checked="checked"{{/is_embed}} /> {{label_page}}</label>
				</div>
				<div class="eight columns">
					<label for="typeembed"><input type="radio" id="typeembed" name="template_type" value="embed" {{#is_embed}}checked="checked"{{/is_embed}} /> {{label_embed}}</label>
				</div>
			</div>
			<br />
		</div>

		{{#adding}}
		<div class="six columns">
			<label>{{label_default}}</label>
			<span class="tooltip" data-tooltip="{{tooltip_page}}"><a href="#" id="usedefaultpage" class="smalltext" style="margin-right:3em;">{{{copy_usepage}}}</a></span>
			<span class="tooltip" data-tooltip="{{tooltip_embed}}"><a href="#" id="usedefaultembed" class="smalltext" style="margin-right:3em;">{{{copy_useembed}}}</a></span>
		</div>
		{{/adding}}
	</div>

	<br />

	<label>{{label_template}}</label>
	<textarea id="template" name="template" class="taller" wrap="off"  spellcheck="false">{{template}}</textarea>

	<br />
	<input type="submit" value="{{button_text}}" />

</form>

{{#adding}}
	<textarea id="page_default_template" style="display:none;">{{page_default_template}}</textarea>
	<textarea id="embed_default_template" style="display:none;">{{embed_default_template}}</textarea>
{{/adding}}

<script type="text/javascript">
	$('#usedefaultpage').click(function(e) {
		e.preventDefault();
		$('#template').val($('#page_default_template').val());
		$('#template').focus();
	});
	$('#usedefaultembed').click(function(e) {
		e.preventDefault();
		$('#template').val($('#embed_default_template').val());
		$('#template').focus();
	});
</script>