<div class="callout flush">{{{dashboard_news}}}</div>

<br />

{{#platform_type_single}}
	{{^elements_for_user}}
	<div class="gettingstarted">
		<h4>You're done installing, now let's get started</h4>
		So the database is set up and if you're seeing this all the configuration is right. There are just 
		a few easy steps before you publishing your first working CASH Music element.

		<br /><br />

		<div class="col_oneofthree{{#step1_complete}} complete{{/step1_complete}}">
			<h4>Step 1: System stettings</h4>
			<p>
				Before you go too far you should change default settings like the system email and the time-zone. Add any 
				third-party connections you want to start using.
			</p>
			<a href="{{www_path}}/settings/" class="featured"><i class="icon icon-cog"></i>Email and time-zone</a><br />
			<a href="{{www_path}}/settings/connections/" class="featured"><i class="icon icon-cogs"></i>Connect services</a>
		</div>

		<div class="col_oneofthree{{#step2_complete}} complete{{/step2_complete}}">
			<h4>Step 2: Add your stuff</h4>
			<p>
				The platform works with your content and your world — so start by adding an MP3 or setting up an email list. 
			</p>
			<a href="{{www_path}}/assets/" class="usecolor1 featured"><i class="icon icon-file"></i>Add a new asset</a><br />
			<a href="{{www_path}}/people/" class="usecolor2 featured"><i class="icon icon-list-ul"></i>Create an email list</a>
		</div>

		<div class="col_oneofthree lastcol">
			<h4>Step 3: Publish!</h4>
			<p>
				You're ready to create your first element. Try something simple like an email capture element. Point
				to an existing list, maybe offer a download, and then embed with the code you're given.
			</p>
			<a href="{{www_path}}/elements/add/" class="usecolor5 featured"><i class="icon icon-plus-sign"></i> Add your first element</a>
		</div>

		<br /><br /><br />
		<span class="helpspc"><b>Need more help?</b> Check out the <a href="{{www_path}}/help/gettingstarted/" class="helplink">Getting Started</a> page.</span>
	</div>
	{{/elements_for_user}}
{{/platform_type_single}}

{{^current_page_template}}
	<div class="callout bright flush">
		<h4>Publish a page</h4>
		<p>You can publish a page with any of your elements. Bring your own markup and just drop in any CASH element embed code(s) you want. Look below for details.</p>
		{{^defined_page_templates}}
			<br />
			<a href="{{www_path}}/elements/templates/add/"><i class="icon icon-list-alt"></i><b>Add a page template to start</b></a>
		{{/defined_page_templates}}
	</div>
{{/current_page_template}}

{{#defined_page_templates}}
	<br />
	<h4>Your public page</h4>
	
	<div>
		<div class="row">
			<div class="seven columns">

			{{#current_page_template}}
				<label>View it live:</label>
				<h5><a href="{{user_page_uri}}" target="_blank">{{user_page_display_uri}}</a></h5>
			</div>
			<div class="five columns spacedtext">
				<label>Make changes:</label>
				<a href="{{www_path}}/account/"><i class="icon icon-user"></i><b>Change your username/url</b></a><br />
				<a href="{{www_path}}/elements/templates/add/"><i class="icon icon-list-alt"></i><b>Add a new page template</b></a><br />
				<a href="{{www_path}}/elements/templates/edit/{{current_page_template}}"><i class="icon icon-pencil"></i><b>Edit the current page template</b></a><br />

				<div class="drawer noprefix">
					<a class="drawerhandle fullsize"><i class="icon icon-columns"></i><b>Publish a different template</b></a>
					<div class="drawercontent">
						<br />
			{{/current_page_template}}

						<form method="post" action="">
							<label for="template_id">Select a page template to publish:</label>
							<select id="change_template_id" name="change_template_id">
								{{{template_options}}}
							</select>
							<br />
							<input type="submit" value="publish" />
						</form>

			{{#current_page_template}}
					</div>
				</div>
			{{/current_page_template}}

			</div>
		</div>
	</div>

	
{{/defined_page_templates}}