{{#banner_main_content}}
	<div class="mainpage introductorybanner flush"><img src="{{www_path}}/ui/default/assets/images/bg_mainpagebanner.jpg" class="bannerbg" alt="jackson" /><div class="mainbannercontent">
	{{{banner_main_content}}}
	<div class="closelink"><a href="?hidebanner=true">close <span class="icon x_alt"></span></a></div></div>
{{/banner_main_content}}

<div class="callout flush">
	<h2 class="fadedtext">Let's get started</h2>
	Smart intro / next steps here...
	<br /><br /><br /><br /><br />
</div>