<div class="col_oneoftwo">
	<h3>Add new contact</h3>
	<form method="post" action="{{www_path}}/people/contacts/">	
		<input type="hidden" name="docontactadd" value="makeitso" />
		<div class="col_oneoftwo">
			<label for="first_name">First name</label><br />
			<input type="text" id="first_name" name="first_name" placeholder="First" /> 
		</div>
		<div class="col_oneoftwo lastcol">
			<label for="last_name">Last Name</label><br />
			<input type="text" id="last_name" name="last_name" placeholder="Last" /> 
		</div>

		<div class="row_seperator">.</div>
		<label for="email_address">Email address</label><br />
		<input type="text" id="email_address" name="email_address" /> 

		<div class="drawer">
			<div class="row_seperator">.</div>
			<div class="drawercontent">
				<label for="organization">Organization(s)</label><br />
				<input type="text" id="organization" name="organization" /> 

				<div class="row_seperator">.</div>
				<label for="phone">Phone</label><br />
				<input type="text" id="phone" name="phone" /> 

				<div class="row_seperator">.</div>
				<label for="address1">Mailing address</label><br />
				<input type="text" id="address1" name="address1" /> 

				<div class="row_seperator">.</div>
				<div class="col_oneofthree">
					<label for="address_city">City</label><br />
					<input type="text" id="address_city" name="address_city" /> 
				</div>
				<div class="col_oneofthree">
					<label for="address_region">State / province</label><br />
					<input type="text" id="address_region" name="address_region" /> 
				</div>
				<div class="col_oneofthree lastcol">
					<label for="address_postalcode">Postal code</label><br />
					<input type="text" id="address_postalcode" name="address_postalcode" /> 
				</div>

				<div class="row_seperator">.</div>

				<label for="venue_country">Country</label><br />
				<select id="venue_country" name="venue_country">
					{{{country_codes}}}
				</select>

				<div class="row_seperator">.</div>
			</div>
			<a class="drawerhandle">additional options</a>
		</div>

		<div class="row_seperator">.</div><br />
		<input class="button" type="submit" value="Add new contact" />
		
	</form>
</div>

<div class="col_oneoftwo lastcol">
	<h3>Search contacts</h3>
	<form action="">	
	<label for="query">Search for:</label><br />
	<input type="text" id="query" name="query" placeholder="Enter search query" /> 

	<div class="row_seperator">.</div>
	<input class="button" type="submit" value="Search" />
	
	</form>

	<br /><br />
	<h3>Find by tag</h3>
	...

	<br /><br /><br />
	<h3>Listed alphabetically (by last name)</h3>
	<a href="bylastname/a">A</a>
	<a href="bylastname/b">B</a>
	<a href="bylastname/c">C</a>
	<a href="bylastname/d">D</a>
	<a href="bylastname/e">E</a>
	<a href="bylastname/f">F</a>
	<a href="bylastname/g">G</a>
	<a href="bylastname/h">H</a>
	<a href="bylastname/i">I</a>
	<a href="bylastname/j">J</a>
	<a href="bylastname/k">K</a>
	<a href="bylastname/l">L</a>
	<a href="bylastname/m">M</a>
	<a href="bylastname/n">N</a>
	<a href="bylastname/o">O</a>
	<a href="bylastname/p">P</a>
	<a href="bylastname/q">Q</a>
	<a href="bylastname/r">R</a>
	<a href="bylastname/s">S</a>
	<a href="bylastname/t">T</a>
	<a href="bylastname/u">U</a>
	<a href="bylastname/v">V</a>
	<a href="bylastname/w">W</a>
	<a href="bylastname/x">X</a>
	<a href="bylastname/y">Y</a>
	<a href="bylastname/z">Z</a>
</div>