<div class="col_oneoftwo">
	<h4>Add new contact</h4>
	<form accept-charset="UTF-8" method="post" action="{{www_path}}/people/contacts/">	
		<input type="hidden" name="docontactadd" value="makeitso" />
		<div class="col_oneoftwo">
			<label for="first_name">First name</label>
			<input type="text" id="first_name" name="first_name" placeholder="First" /> 
		</div>
		<div class="col_oneoftwo lastcol">
			<label for="last_name">Last Name</label>
			<input type="text" id="last_name" name="last_name" placeholder="Last" /> 
		</div>

		<br />
		<label for="email_address">Email address</label>
		<input type="text" id="email_address" name="email_address" /> 

		<div class="drawer">
			<br />
			<div class="drawercontent">
				<label for="organization">Organization(s)</label>
				<input type="text" id="organization" name="organization" /> 

				<br />
				<label for="phone">Phone</label>
				<input type="text" id="phone" name="phone" /> 

				<br />
				<label for="address1">Mailing address</label>
				<input type="text" id="address1" name="address1" /> 

				<br />
				<div class="col_oneofthree">
					<label for="address_city">City</label>
					<input type="text" id="address_city" name="address_city" /> 
				</div>
				<div class="col_oneofthree">
					<label for="address_region">State / province</label>
					<input type="text" id="address_region" name="address_region" /> 
				</div>
				<div class="col_oneofthree lastcol">
					<label for="address_postalcode">Postal code</label>
					<input type="text" id="address_postalcode" name="address_postalcode" /> 
				</div>

				<br />

				<label for="address_country">Country</label>
				<select id="address_country" name="address_country">
					{{{country_codes}}}
				</select>

				<br />
			</div>
			<a class="drawerhandle">additional options</a>
		</div>

		<br /><br />
		<input type="submit" value="Add new contact" />
		
	</form>
</div>

<div class="col_oneoftwo lastcol">
	<h4>Contacts by last name</h4>
	<div class="washedtext">
		{{#alphabet}}
			{{#contact}}<a href="{{www_path}}/people/contacts/bylastname/{{letter}}">{{/contact}}{{letter}}{{#contact}}</a>{{/contact}}
		{{/alphabet}}
	</div>
	<br /><br />
	{{#contact_list}}
		<p><a href="{{www_path}}/people/contacts/edit/{{id}}"><b>{{first_name}} {{last_name}}</b></a><br />{{email_address}}</p>
	{{/contact_list}}
</div>