{{#banner_main_content}}
	<div class="introductorybanner"><div class="titlespc">{{{banner_title_content}}}</div>
	{{{banner_main_content}}}
	<div class="closelink"><a href="?hidebanner=true">close <span class="icon x_alt"></span></a></div></div>
{{/banner_main_content}}

<div class="col_oneoftwo">
	<h2>Lists</h2>
	{{#lists_all}}
	<ul class="alternating">
		{{#lists_all}}
		<li>
			<b>{{name}}</b>
			{{#description}}<br /><span class="fadedtext">{{description}}</span>{{/description}}<br />
			<div class="itemnav">
				<a href="{{www_path}}/people/lists/view/{{id}}" class="mininav_flush"><span class="icon magnifying_glass"></span> View</a>
				<a href="{{www_path}}/people/lists/edit/{{id}}" class="mininav_flush"><span class="icon pen"></span> Edit</a>
				<a href="{{www_path}}/people/lists/export/{{id}}" class="mininav_flush noajax"><span class="icon download"></span> Export</a>
				<a href="{{www_path}}/people/lists/delete/{{id}}" class="mininav_flush needsconfirmation"><span class="icon x_alt"></span> Delete</a>
			</div>
		</li>
		{{/lists_all}}
	</ul>
	{{/lists_all}}

	{{^lists_all}}
	<p>No lists have been created.</p>
	{{/lists_all}}
</div>
<div class="col_oneoftwo lastcol">
	<h2>Add new press coverage</h2>
	<form accept-charset="UTF-8" method="post" action="{{www_path}}/people/press">
		<label for="press_url">URL</label><br />
		<input type="text" id="press_url" name="press_url" /> 

		<label for="publishing_date">Publishing date</label><br />
		<input type="text" id="publishing_date" name="publishing_date" value="{{current_date}}" /> 

		<!--
		<div class="row_seperator">.</div>
		<label>Tags</label><br />
		{{{tag_markup}}}
		<a href="#" class="injectbefore" rev="<input type='text' name='tag' value='' placeholder='Tag' />" rel="{{tag_counter}}"><small>+ ADD TAG</small></a>
		-->

		<div class="row_seperator">.</div><br />
		<input class="button" type="submit" value="Add new link" />
	
	</form>
</div>