<div class="row">
	<div class="six columns">
		<h4>Add new press coverage</h4>
		<form accept-charset="UTF-8" method="post" action="{{www_path}}/people/press">
			<label for="press_url">URL</label>
			<input type="text" id="press_url" name="press_url" /> 

			<label for="publishing_date">Publishing date</label>
			<input type="text" id="publishing_date" name="publishing_date" value="{{current_date}}" /> 

			<!--
			<br />
			<label>Tags</label>
			{{{tag_markup}}}
			<a href="#" class="injectbefore" rev="<input type='text' name='tag' value='' placeholder='Tag' />" rel="{{tag_counter}}"><small>+ ADD TAG</small></a>
			-->

			<br />
			<input type="submit" value="Add new link" />
		
		</form>
	</div>

	<div class="six columns">
		<h4>Press links</h4>
		{{#press_links}}
			<p>
			<a href="{{location}}"><b>{{title}}</b></a><br />
			<span class="fadedtext">{{publishing_date}} &nbsp;</span>
			{{#description}}{{description}}{{/description}}
			</p>
		{{/press_links}}
	</div>
</div>