<p>
	<b>Current platform version:</b> {{platform_version}}<br />
	<b>Upgrade available:</b> 
		{{^upgrade_available}}No{{/upgrade_available}}
		{{#upgrade_available}}Yes{{/upgrade_available}}
</p>

{{#upgrade_available}}
	<form method="post" action="" name="add_event">
		<input type="hidden" name="doupgrade" value="makeitso" />
		<input class="button" type="submit" value="Launch the system upgrad tool" />
	</form>
{{/upgrade_available}}

{{#is_edge}}
	<p class="fadedtext altcopystyle">
		Okay smarty-pants. Using an unstable edge release is cool and all, but no — you can't upgrade 
		this one easily. Tread carefully.
	</p>
{{/is_edge}}