<h4>Platform settings</h4>
<p>
Change primary system settings without editing the cashmusic.ini.php file. 
Advanced settings have been hidden and should not be changed unless you like broken things.	
</p><br />
<div class="row">
	<div class="six columns">
		<h4>Connections</h4>
		<a href="./connections/"><span class="icon wiggle"></span> Manage connections to third-party services.</a>
		<br /><br />
		{{#platform_type_single}}
			<h4>Database</h4>
			<label>Current database format</label>
			{{db_type}}
			{{#migrate_from_mysql}}
			&nbsp; <span class="altcopystyle fadedtext">(SQLite export coming soon)</span>
			{{/migrate_from_mysql}}
			{{#migrate_from_sqlite}}
			<br /><br /><b>Migrate to MySQL</b>
			<p class="altcopystyle fadedtext">Migrating means things will be a lot more robust, and probably quicker too.</p>
			<form accept-charset="UTF-8" method="post" action="">
				<input type="hidden" name="domigrate" value="makeitso" />
				<input type="hidden" name="driver" value="mysql" />
				<label for="hostname">Server hostname</label>
				<input type="text" id="hostname" name="hostname" />
				<span class="altcopystyle fadedtext">server or server:port</span></span><br />
				<label for="databasename">Database name</label>
				<input type="text" id="databasename" name="databasename" />
				<label for="adminuser">Admin User</label>
				<input type="text" id="adminuser" name="adminuser" />
				<label for="adminpassword">Admin Password</label>
				<input type="password" id="adminpassword" name="adminpassword" />
				<br /><br />
				<input type="submit" value="Migrate" />
			</form>
			{{/migrate_from_sqlite}}
		{{/platform_type_single}}
	</div>
	<div class="six columns">
		{{#platform_type_single}}
			<h4>Miscellaneous</h4>
			<form accept-charset="UTF-8" method="post" action="">
				<input type="hidden" name="domisc" value="makeitso" />
				<label for="systememail">Default system email address</label>
				<input type="text" id="systememail" name="systememail" value="{{{system_email}}}" />
				<span class="altcopystyle fadedtext">(name@domain.com or "<span class="nobr">Name &lt;name@domain.com&gt;</span>")</span>
				<br />
				<label for="timezone">System time zone</label>
				<select id="timezone" name="timezone">
					{{{timezone_options}}}
				</select>
				<br /><br />
				<input type="submit" value="Change settings" />
			</form>	
		{{/platform_type_single}}
		{{^platform_type_single}}
		<h4>Reset to simple mode</h4>
		<p>
			This allows you to re-enter the initial "simple mode" walkthrough. All of your data will
			remain intact, but if you finish the walkthrough you will replace whatever page you 
			currently have published. (You can switch back any time.)
		</p>
		<a href="./_?resetsimplemode=yesplease">Reset to simple mode</a>
		<br /><br />
		{{/platform_type_single}}
	</div>
</div>
<br /><br />
{{#platform_type_single}}
	<br /><br />
	<h4>Platform install location</h4>
	<p>
	Here's the full path to the cashmusic.php script needed to initialize the CASH platform:
	</p>
	<div class="callout">	
		<code>
			<input type="text" value="{{platform_path}}" />
		</code>
	</div>
{{/platform_type_single}}