<div class="row">
	<div class="six columns">
		<h4>Add a new service connection:</h4>
		<p>
			Easily connect to any of these services:
		</p>
		<div class="row">
		{{#all_services}}
			<div class="six columns">
			<a href="{{www_path}}/settings/connections/add/{{key}}">
			{{#service_has_image}}
				<img src="{{www_path}}/assets/images/settings/{{key}}.png" width="100%" alt="{{name}}" style="margin-top:32px;" /><br />
			{{/service_has_image}}
			<small>{{name}}</small></a><br />
			</div>
		{{/all_services}}
		</div>
	</div>
	<div class="six columns">
		{{#action_message}}<p><span class="highlightcopy">{{{action_message}}}</span><p>{{/action_message}}
		
		{{{state_markup}}}
	</div>
</div>