@keyframes nope {
	0 {transform: translateX(0)}
	6.5% {transform: translateX(-4px) rotate(-5deg)}
	16.5% {transform: translateX(3px) rotate(3deg)}
	31.5% {transform: translateX(-2px) rotate(-2deg)}
	43.5% {transform: translateX(1px) rotate(1deg)}
	50% {transform: translateX(0)}
}

@keyframes "spin" {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		transform: rotate(359deg);}
}
@-moz-keyframes spin {
	from {-moz-transform: rotate(0deg);transform: rotate(0deg);}
	to {-moz-transform: rotate(359deg);transform: rotate(359deg);}
}
@-webkit-keyframes "spin" {
	from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	to {-webkit-transform: rotate(359deg);transform: rotate(359deg);}
}
@-ms-keyframes "spin" {
	from {-ms-transform: rotate(0deg);transform: rotate(0deg);}
	to {-ms-transform: rotate(359deg);transform: rotate(359deg);}
}
@-o-keyframes "spin" {
	from {-o-transform: rotate(0deg);transform: rotate(0deg);}
	to {-o-transform: rotate(359deg);transform: rotate(359deg);}
}

.nope {
	animation-duration: 600ms;
	animation-timing-function: ease-in-out;
	animation-name: nope;
}

.cm-userinput-container {
	width:40%;
	margin-left:30%;
}

.cm-userinput-container input {
	display:block;
	margin-bottom: 8px;
	width:100%;
}

.incomplete {
	border: 2px solid red;
}

.cm-loading {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-12px;
	margin-left:-12px;
	background-color:transparent;
	border-bottom: 3px solid #ccc;
	border-left: 3px solid #ccc;
	border-right: 3px solid #666;
	border-top: 3px solid #666;
	border-radius: 100%;
	height: 24px;
	width: 24px;
	-webkit-animation: spin .9s infinite linear;
	-moz-animation: spin .9s infinite linear;
	-ms-animation: spin .9s infinite linear;
	-o-animation: spin .9s infinite linear;
	animation: spin .9s infinite linear;
}
