body {font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:1.5em;background:#eee;color:#444;}
a {color:#444;font-weight:bold;text-decoration:none;}
a:hover {color:#179de6;}
#mainspc {width:220px;margin:0 auto;padding:160px 20px 30px 20px;background:url(../images/cover.jpg) 20px 200px no-repeat;}

/* CASH-SPECIFIC STYLES */
div.cash_success div.description {display:none;}
.cash_notation {font-size:10px;color:#777;margin-top:8px;}
.cash_error {font-weight:bold;color:#ff0;margin-bottom:15px;}
.cash_input {width:197px;}
a.download {font-size:22px;line-height:0.8em;font-weight:bold;margin:16px 0 20px 0;color:#09f;text-decoration:none;}
a.download:hover {color:#fff;}

.cash_digitalpurchase_itemname {display:block;font-size:2.5em;line-height:1.125em;font-weight:bold;}
.cash_digitalpurchase_itemprice {display:block;font-size:1.5em;line-height:1.125em;}
.cash_digitalpurchase_itemdescription {display:block;margin-bottom:1.5em;}

/* FORMS */
input {padding:6px 3px 6px 3px;border:1px solid #000;width:100%;}
input:active, input:focus {outline:0;border:1px solid #09f;}
input.button {background-color:#000;color:#eee;padding:6px 12px 6px 12px;font-weight:bold;cursor:pointer;width:auto;}
input.button:hover {background-color:#ff0;border-color:#ff0;color:#111;}
input.checkorradio {width:auto;}
label {font-size:0.85em;text-transform:uppercase;color:#999;}