/*************************************************** 
 *
 *  CASH Music - Embedded Elements Styles
 *	Created by @leckieeeeeeeeee
 *
 ***************************************************/

/* General */
html,body{
	overflow:hidden;
	font: 400 18px/20px 'Montserrat',Helvetica,Arial,sans-serif;
	margin:0;
	padding:0;
	width:100%;
	color:#222;
	-webkit-transition: opacity 0.3s  ease-in-out;
	-moz-transition: opacity 0.3s  ease-in-out;
	trasition: opacity 0.3s ease-in-out;
}

.cashmusic .cashmusic.embed, iframe{
	padding:0;
	margin:0;
}

#mainspc{
	margin:0;
	padding:0;
	overflow:auto;
	width:100%;
	height:100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* Zero Out */

a{
	background:#00cf7f;
	color:#222;
	border-radius: 3px;
	padding:20px;
	text-decoration: none;
}

ul{
	list-style-type: none;
	margin:0;
	padding:0;
}

h1{
	line-height: 35px;
}

label{
	position:absolute;
	text-indent: -5000em;
}

br{
	display:none;
}

/* Input Fields */

input{
	width:90%;
	padding:20px 5%;
	margin:0;
	border:none;
	font-weight: 100;
	display:inline-block;
	background:#222;
	background:rgba(34,34,34,0.9);
	color:#f5f5f5;
	font: 400 18px/20px 'Montserrat',Helvetica,Arial,sans-serif;
	-webkit-transition: background 0.3s  ease-in-out;
	-moz-transition: background 0.3s  ease-in-out;
	trasition: background 0.3s ease-in-out;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	outline:none;
}

/* Placeholder Text */

::-webkit-input-placeholder{color:#eee;}
placeholder{color:#eee;}

/* Form Field Focus */

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus{
	background:#00cf7f;
	color:#000;
	outline: none;
}

input:focus::-webkit-input-placeholder{color:#111;}
input:focus placeholder{color:#111;}


/* Button */

input[type=submit], .button{
	padding:21px 0;
	width:100%;
	text-align: center;
	margin:4px auto 0 auto;
	background:#00cf7f;
	color:#222;
	display:inline-block;
	border:none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform: capitalize;
	-webkit-appearance:none;
}

input[type=submit]:hover, .button:hover{
	background:#000;
	color:#fff;
	cursor: pointer;
	outline: none;
}

/* Errors */

.cash_error{
	text-align: center;
	padding:20px 0;
	margin:0 0 4px 0;
	width:100%;
	height:100%;
	background:#ff3232;
	color:#f5f5f5;
	font-size: 12px;
	font-weight: 400;
	-webkit-animation: ooops 1.5s; /* Chrome, Safari, Opera */
    animation: ooops 1.5s;
    -webkit-animation-iteration-count: 1; /* Safari and Chrome */
    animation-iteration-count: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	border-radius: 3px;
}

/* Notation */

.cash_notation{
	font-size: 12px;
	padding:10px 0;
}

/* Single purchase specific */

.singlepurchase .cash_singlepurchase_itemname, .singlepurchase .cash_singlepurchase_itemprice, .singlepurchase .cash_singlepurchase_itemdescription{
	display:block;
	padding:20px 0;
	background:rgba(34,34,34,0.9);
	width:100%;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	border-radius: 3px;
	color:#fff;
	margin:0 auto 1px auto;
	text-align: center;
}

.singlepurchase .cash_singlepurchase_itemprice{
	font-size: 32px;
	line-height: 32px;
}

.singlepurchase .cash_singlepurchase_itemdescription{
 	font-size: 12px;
}

.singlepurchase input[type=submit], .button{
	display:block;
 	margin:3px auto 0px auto;
}

/* Static Content */

.staticcontent{
	text-align: justify;
	font-size:14px;
}

/* Tour Dates */

.tourdates .cash_event{
	width:90%;
	display:block;
	padding:10px 5%;
	display:block;
	overflow:auto;
	margin:0 0 2px 0;
	color: #f5f5f5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.tourdates .cash_event:nth-child(odd){
	background:#111;
	background:rgba(25,25,25,0.9);
}

.tourdates .cash_event:nth-child(even){
	background:#121212;
	background:rgba(18,18,18,0.9);
}


.tourdates .cash_location{
	padding:10px 0 10px 3%;
}

.tourdates .cash_venue{
	padding:10px 3% 10px 0;
}

.tourdates .cash_date{
	padding:10px 0;
}

.tourdates .cash_comments{
	width:100%;
	display:block;
	color:#555;
	font-size: 16px;
	padding:10px 0;
}

.tourdates .cash_purchase_url{
	width:91%;
	padding:10px 5%;
	text-align: center;
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	trasition:0.3s ease-in-out;
}

.tourdates .cash_purchase_url:hover{
	background:#000;
	color:#fff;
	cursor: pointer;
	outline: none;
}

/* -- Mid Size + Above / Vertical Tablet -- */
@media screen and (min-width: 535px){
	
	input{
		padding:20px 3%;
		width:63%;
		margin:0;
	}

	input[type=submit], .button{
		width:30%;
		margin:0;
	}

	.cash_error{
		width:99.5%;
	}

	.singlepurchase .cash_singlepurchase_itemname, .singlepurchase .cash_singlepurchase_itemprice, .singlepurchase .cash_singlepurchase_itemdescription, .singlepurchase input[type=submit], .button{
		width:50%;
	}

}
