/*************************************************** 
 *
 *  CASH Music - Embedded Elements Styles
 *	Created by CASH Music
 *
 ***************************************************/

/* General */
html,body{
	overflow-x:hidden;
	overflow-y: auto;
	font: 400 18px/20px 'Montserrat',Helvetica,Arial,sans-serif;
	margin:0;
	padding:0;
	width:100%;
	color:#222;
}

/* Device Scrolling */
@media only screen and (max-device-width: 535px) { 
	html,body{
		overflow-x:hidden;
		overflow-y: scroll; /* has to be scroll, not auto */
		-webkit-overflow-scrolling: touch;
	}
}

*, *:before, *:after {
	box-sizing: inherit;
}

.cashmusic .cashmusic.embed, iframe{
	padding:0;
	margin:0;
}

#mainspc{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* Zero Out */

a{
	background:#00cf7f;
	color:#222;
	border-radius: 3px;
	padding:20px;
	text-decoration: none;
	display: inline-block;
	-webkit-transition: 0.3s  ease-in-out;
	transition: 0.3s  ease-in-out;
}

ul{
	list-style-type: none;
	margin:0;
	padding:0;
}

h1{
	line-height: 35px;
}

label{
	position:absolute;
	text-indent: -5000em;
}

br{
	display:none;
}

/* Input Fields */

input{
	width:100%;
	padding:20px 5%;
	margin:0;
	border:none;
	font-weight: 100;
	display:inline-block;
	background:#222;
	background:rgba(34,34,34,0.9);
	color:#f5f5f5;
	font: 400 18px/20px 'Montserrat',Helvetica,Arial,sans-serif;
	-webkit-transition: background 0.3s  ease-in-out;
	-moz-transition: background 0.3s  ease-in-out;
	trasition: background 0.3s ease-in-out;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	outline:none;
}

/* Placeholder Text */

::-webkit-input-placeholder{color:#eee;}
placeholder{color:#eee;}

/* Form Field Focus */

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus{
	background:#00cf7f;
	color:#000;
	outline: none;
}

input:focus::-webkit-input-placeholder{color:#111;}
input:focus placeholder{color:#111;}


/* Button */

input[type=submit], .button{
	padding:21px 0;
	width:100%;
	text-align: center;
	margin:4px auto 0 auto;
	background:#00cf7f;
	color:#222;
	display:inline-block;
	border:none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform: capitalize;
	-webkit-appearance:none;
}

input[type=submit]:hover, .button:hover{
	background:#000;
	color:#fff;
	cursor: pointer;
	outline: none;
}

/* Errors */

.cash_error{
	text-align: center;
	padding:20px 5% 20px 5%;
	margin:0 0 4px 0;
	width:100%;
	height:100%;
	background:#ff3232;
	color:#f5f5f5;
	font-size: 12px;
	font-weight: 400;
	-webkit-animation: ooops 1.5s; /* Chrome, Safari, Opera */
    animation: ooops 1.5s;
    -webkit-animation-iteration-count: 1; /* Safari and Chrome */
    animation-iteration-count: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	border-radius: 3px;
}

/* Notation */

.cash_notation{
	font-size: 12px;
	padding:10px 0;
}

/* Single Purchase */

.singlepurchase .cash_singlepurchase_itemname, .singlepurchase .cash_singlepurchase_itemprice, .singlepurchase .cash_singlepurchase_itemdescription{
	/*display:block;*/
	display:inline-block;
	padding:0;
	/*background:rgba(34,34,34,0.9);*/
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	border-radius: 3px;
	margin:0 0 2px 0;
}

.singlepurchase .cash_singlepurchase_itemname{
	margin:0 0 10px 0;
}

.singlepurchase .cash_singlepurchase_itemprice{
	color:#333;
	margin:0 0 10px 0;
}

.singlepurchase .cash_singlepurchase_itemdescription{
 	font-size: 12px;
 	display:block;
 	margin: 0 0 10px 0;
}

.cash_singlepurchase_flexible_price {
	position:relative;
}

.cash_singlepurchase_flexible_price .total_price{
 	width:100%;
 	padding-left:3.5em;
}

.cash_singlepurchase_flexible_price .cash_singlepurchase_currency{
	position:absolute;
	background:transparent;
	color:#f5f5f5;
	opacity:0.6;
	padding:20px 0 0 1.5em;
	margin:0;
}


/* Static Content */

.staticcontent{
	text-align: justify;
	font-size:14px;
}

/* Download Codes */

.downloadcodes .download, .downloadcodes .description{
	display: inline-block;
}

.downloadcodes .description{
	margin:0 10px 0 10px;
}

/* Tour Dates */

.tourdates .cash_event{
	width:100%;
	display:block;
	padding:10px 2%;
	display:block;
	overflow:auto;
	margin:0 0 2px 0;
	color: #f5f5f5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.tourdates .cash_event:nth-child(odd){
	background:#111;
	background:rgba(25,25,25,0.9);
}

.tourdates .cash_event:nth-child(even){
	background:#121212;
	background:rgba(18,18,18,0.9);
}

.cash_timeandplace{
	margin:0 2% 0 0;
	display:inline-block;
	width:88%;
}

.tourdates .cash_location{
	padding:10px 0 10px 2%;
}

.tourdates .cash_venue{
	padding:10px 2% 10px 0;
}

.tourdates .cash_date{
	padding:10px 0;
}

.tourdates .cash_comments{
	display:inline-block;
	color:#555;
	font-size: 16px;
	padding:5px 0;
	margin:0 2% 0 0;
	width:86%;
}

.tourdates .cash_purchase_url{
	display:inline-block;
	padding:10px 5%;
	text-align: center;
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	trasition:0.3s ease-in-out;
	margin:5px 0 0 0;
	padding:10px 5%;
	width:100%;
	display:block;
}

.tourdates .cash_purchase_url:hover{
	background:#000;
	color:#fff;
	cursor: pointer;
	outline: none;
}

/* Social Feeds */

.cm-social-feed{
	font: 100 14px 'Montserrat',Helvetica,Arial,sans-serif;
	font-weight: 100;
	list-style-type:none;
	margin:0px auto;
	padding:0;
	overflow: auto;
	border: solid 1px #ccc;
}

.cm-social-feed a{
	padding:0px;
	background:none;
	color:#00cf7f;
}

.cm-social-feed li{
	position:relative;
	padding:20px;
	border-bottom: solid 1px #ccc;
	margin:0 0 2px 0;
	min-height:100px;
}

.cm-social-feed li:last-of-type{
	border:none;
}

/* Preserve 16:9 video Aspect Ratio */

.cm-social-feed .cm-aspect{
	width: 100%;
	padding-bottom: 56.25%; /* 16:9 */
	position: relative;
	margin:0 0 10px 0;
}

.cm-social-feed .cm-aspect iframe{
	width:100%;
	height:100%;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}

/* Images */

.cm-social-feed img{
	width:100%;
	height:auto;
	margin:0 0 10px 0;
}

.cm-social-feed .instagram-media{
	margin:0 0 10px 0!important;
}

/* Posts */

.cm-social-feed .cm-name{
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	padding:0;
	margin:0;
	display: inline-block;
}


.cm-social-feed .cm-username{
	font-weight: 100;
	font-size: 14px;
	opacity:0.7;
	color:#222;
}

.cm-social-feed .cm-platform{
	text-indent: -5000em;
	text-align:left;
	display: inline-block;
	width:30px;
}

.cm-social-feed .cm-content{
	padding:0 0 5px 0;
}

.cm-social-feed .cm-content iframe{
	width:100%;
	margin:0 0 10px 0;
}

.cm-social-feed .cm-content a{
	padding:0;
	margin:0;
	border-radius:0;
	border-bottom:solid 1px #00cf7f;	
}

.cm-social-feed .cm-content a:hover{
	border-color:#000;
	color:#000;
}

.cm-social-feed .cm-date:hover{
	opacity: 0.6!important;
}


/* Twitter Feed Specific */

.cm-social-feed .cm-twitter .cm-date{
	position:absolute;
	top:20px;
	right:20px;
	padding:0;
	margin:0;
}

.cm-social-feed .cm-twitter .cm-avatar{
	position:absolute;
	top:0;
	left:0;
	width:50px;
	height:auto;
	margin:20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	trasition:0.3s ease-in-out;
}

.cm-social-feed .cm-twitter .cm-avatar:hover{
	opacity: 0.7;
}

.cm-social-feed .cm-twitter .cm-platform{
	background:url(../img/twitter.svg) no-repeat 100% 0%;
	background-size: 70%;
	opacity: 0.5;
	height:25px;
}

.cm-social-feed .cm-twitter .cm-name{
	margin:0 0 0 70px;
	width:54%;
}

.cm-social-feed .cm-twitter .cm-username:hover{
	border-bottom:solid 1px #222;
}

.cm-social-feed .cm-twitter .cm-content{
	margin:10px 0 0 70px;
}

/* Tumblr Feed Specific */

.cm-social-feed .cm-tumblr .cm-date{
	width:100%;
	text-align: right;
	margin:0 0 10px 0;
}

.cm-social-feed .cm-tumblr .cm-platform{
	background:url(../img/tumblr.svg) no-repeat 100% 0%;
	background-size: 70%;
	opacity: 0.5;
	width:15px;
}


/* -- Mid Size + Above / Vertical Tablet -- */
@media screen and (min-width: 535px) {
	
	input{
		padding:20px 3%;
		width:69%;
		margin:0;
	}

	input[type=submit], .button{
		width:30%;
		margin:0;
	}

	.cash_error{
		width:99.5%;
	}

	/* Tour Dates */
	.tourdates .cash_purchase_url{
		width:auto;
		padding:10px 2%;
		display: inline-block;
	}

	/* Single Purchase */
	.cash_singlepurchase_flexible_price .total_price{
	 	width:69%;
	}

}

/* ====================
   INTERMEDIATE - (Horiztonal Tablet & Above)
   ==================== */
@media only screen and (min-width: 768px) {

	html, body{
	overflow:auto;
	}

   .cm-social-feed{
   		width:50%;
   		max-width:600px;
   }

}

