/*************************************************** 
 *
 *  CASH Music - Embedded Elements Styles - Dark Default
 *	Created by CASH Music
 *
 ***************************************************/

/* General */

#mainspc{
	background:#000;
	background:rgba(0,0,0,0.9);
	color:#f5f5f5;
	padding:4%;
	width:92%;
}

.cash_comments{
	color:#444;
}

/* Single Purchase */
.singlepurchase .cashmusic_narrow{
	margin:0;
	width:74%;
}

/* -- Mid Size + Above / Vertical Tablet -- */
@media screen and (min-width: 535px){
	#mainspc{
		padding:2%;
		width:96%;
	}


	/* Single Purchase */
	.singlepurchase .cashmusic_narrow{
		margin:0;
		width:50%;
	}

}