/*************************************************** 
 *
 *  CASH Music - Embedded Elements Styles - Light Default
 *	Created by CASH Music
 *
 ***************************************************/

#mainspc{
	background:#e0e0e0;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZTBlMGUwIiBzdG9wLW9wYWNpdHk9IjAuOTUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  rgba(224,224,224,0.95) 0%, rgba(238,238,238,0.95) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(224,224,224,0.95)), color-stop(100%,rgba(238,238,238,0.95))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(224,224,224,0.95) 0%,rgba(238,238,238,0.95) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(224,224,224,0.95) 0%,rgba(238,238,238,0.95) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(224,224,224,0.95) 0%,rgba(238,238,238,0.95) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(224,224,224,0.95) 0%,rgba(238,238,238,0.95) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2e0e0e0', endColorstr='#f2eeeeee',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	color:#222;
	padding:2%;
	width:96%;
}

input{
	background:#f5f5f5;
	background:rgba(245,245,245,0.9);
	color:#222;
}

::-webkit-input-placeholder{color:#222;}
placeholder{color:#222;}


input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus{
	background:#ccc;
	color:#222;
}

input:focus::-webkit-input-placeholder{color:#111;}
input:focus placeholder{color:#111;}


input[type=submit], .button{
	background:#00cf7f;
	color:#222;
}

input[type=submit]:hover, .button:hover{
 	background:#000;
	color:#fff;
}

/* Single Purchase */
.singlepurchase .cash_singlepurchase_itemname, .singlepurchase .cash_singlepurchase_itemprice, .singlepurchase .cash_singlepurchase_itemdescription{
	background:#f5f5f5;
	background:rgba(245,245,245,0.9);
		color:#222;
}

/* Tour Dates */

.tourdates .cash_event:nth-child(odd){
	background:#eee;
	background:rgba(238,238,238,0.9);
	color:#222;
}

.tourdates .cash_event:nth-child(even){
	background:#e1e1e1;
	background:rgba(225,225,225,0.9);
	color:#222;
}

.cash_comments{
	color:#cacaca;
}



/* -- Mid Size + Above / Vertical Tablet -- */
@media screen and (min-width: 535px){
	
	#mainspc{
		padding:1%;
		width:98%;
	}

	/* Single Purchase Element Behaviour */
	.singlepurchase .cash_singlepurchase_itemname, .singlepurchase .cash_singlepurchase_itemprice, .singlepurchase .cash_singlepurchase_itemdescription, .singlepurchase input[type=submit]{
		width:100%;
	}
}
