/*************************************************** 
 *
 *  CASH Music - Embedded Elements Styles
 *	Created by Christopher Leckie @ CASH Music
 *
 ***************************************************/

/* General */
html{
	 box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,body{
	overflow-x:hidden;
	overflow-y: auto;
	font: 100 14px/20px 'Montserrat',Helvetica,Arial,sans-serif;
	margin:0;
	padding:0;
	width:100%;
	color:#222;
}

/* Device Scrolling */
@media only screen and (max-device-width: 535px) { 
	html,body{
		overflow-x:hidden;
		overflow-y: scroll; /* has to be scroll, not auto */
		-webkit-overflow-scrolling: touch;
	}
}

*, *:before, *:after {
	box-sizing: inherit;
}

.cashmusic .cashmusic.embed, iframe{
	padding:0;
	margin:0;
}

#mainspc{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* Zero Out */

a{
	/*background:#00cf7f;*/
	padding:0px;
	background:none;
	color:#00cf7f;
	/*color:#222;*/
	/*border-radius: 3px;*/
	text-decoration: none;
	display: inline-block;
	-webkit-transition: 0.3s  ease-in-out;
	transition: 0.3s  ease-in-out;
}

p a{
	border-bottom:solid 1px #00cf7f;
}

ul{
	list-style-type: none;
	margin:0;
	padding:0;
}

h1{
	line-height: 35px;
}

label{
	position:absolute;
	text-indent: -5000em;
}

br{
	display:none;
}

.cash_emailcollection_extras{
	visibility: hidden;
	pointer-events: none;
}

.cash_form{
	padding:0;
	margin:0;
}

.clearfix{
	display: none;
	visibility: none;
}

/* Input Fields */

input{
	width:100%;
	padding:10px 10px;
	margin:0;
	border:none;
	font-weight: 100;
	display:inline-block;
	background:#eee;
	border:solid 1px #ccc;
	background:rgba(34,34,34,0.1);
	color:#222;
	font: 100 12px/14px 'Montserrat',Helvetica,Arial,sans-serif;
	-webkit-transition: background 0.3s  ease-in-out;
	-moz-transition: background 0.3s  ease-in-out;
	trasition: background 0.3s ease-in-out;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	outline:none;
}

/* Placeholder Text */

::-webkit-input-placeholder{color:#4d4d4d;}
placeholder{color:#4d4d4d;}

/* Form Field Focus */

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus{
	background:#222;
	background:rgba(34,34,34,0.9);
	border-color:rgba(34,34,34,0.1);
	color:#f5f5f5;
	outline: none;
}

input:focus::-webkit-input-placeholder{color:#111;}
input:focus placeholder{color:#111;}


/* Button */

input[type=submit], .button{
	padding:9px 10px;
	width:100%;
	text-align: center;
	margin:2px auto 0 auto;
	background:none;
	border:solid 2px #00cf7f;
	font-size: 12px;
	color:#00cf7f;
	display:inline-block;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-transform: capitalize;
	-webkit-appearance:none;
	vertical-align: top;
}

input[type=submit]:hover, .button:hover{
	background:#00cf7f;
	color:rgba(0,0,0,0.3);
	cursor: pointer;
	outline: none;
}

/* Errors */

.cash_error{
	text-align: center;
	padding:10px 2%;
	margin:0 0 4px 0;
	width:100%;
	height:100%;
	background:#ff3232;
	color:#f5f5f5;
	font-size: 10px;
	line-height: 12px;
	font-weight: 100;
	-webkit-animation: ooops 1.5s; /* Chrome, Safari, Opera */
    animation: ooops 1.5s;
    -webkit-animation-iteration-count: 1; /* Safari and Chrome */
    animation-iteration-count: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	border-radius: 3px;
}

/* Notation */

.cash_notation{
	font-size: 12px;
	line-height: 12px;
	padding:10px 0;
	opacity: 0.5;
}

/* Single Purchase */

.singlepurchase .cash_singlepurchase_itemname, .singlepurchase .cash_singlepurchase_itemprice, .singlepurchase .cash_singlepurchase_itemdescription{
	/*display:block;*/
	display:inline-block;
	padding:0;
	/*background:rgba(34,34,34,0.9);*/
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	border-radius: 3px;
	margin:0 0 2px 0;
}

.singlepurchase .cash_singlepurchase_itemname{
	margin:0 0 5px 0;
}

.singlepurchase .cash_singlepurchase_itemprice{
	color:#333;
	margin:0 0 5px 0;
}

.singlepurchase .cash_singlepurchase_itemdescription{
 	font-size: 12px;
 	display:block;
 	margin: 0 0 10px 0;
 	opacity: 0.5;
}

.singlepurchase .cash_singlepurchase_shippingmessage{
	display: block;
	margin:0 0 10px 0;
}


.cash_singlepurchase_flexible_price {
	position:relative;
}

.cash_singlepurchase_flexible_price input{
	color:#4d4d4d;
}

.cash_singlepurchase_flexible_price .total_price{
 	width:100%;
 	padding-left:3.5em;
}

.cash_singlepurchase_flexible_price .cash_singlepurchase_currency{
	position:absolute;
	background:transparent;
	color:#4d4d4d;
	opacity:0.6;
	padding:8px 0 0 1.2em;
	margin:0;
}


/* Static Content */

.staticcontent{
	text-align: justify;
	font-size:14px;
}

/* Download Codes */

.downloadcodes .download, .downloadcodes .description{
	display: inline-block;
}

.downloadcodes .description{
	margin:0 10px 0 10px;
}

/* Tour Dates */

.tourdates .cash_event{
	width:100%;
	display:block;
	padding:10px 2%;
	display:block;
	overflow:auto;
	margin:0 auto 2px auto;
	/*color: #f5f5f5;*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:solid 1px #ccc;
	position: relative;
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	trasition:0.3s ease-in-out;
	text-align: justify; 
}

.tourdates .cash_event:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}

.tourdates .cash_event:nth-child(odd){
	/*background:#111;*/
	/*background:rgba(25,25,25,0.1);*/
	background:rgba(34,34,34,0.05);
}

.tourdates .cash_event:nth-child(even){
	/*background:#121212;*/
	background:rgba(34,34,34,0.1);
}

.tourdates .cash_timeandplace{
	margin:0 2% 0 0;
	display:inline-block;
	width:70%;
	text-align: left;
}

.tourdates .cash_location{
	padding:10px 0 10px 2%;
}

.tourdates .cash_venue{
	padding:10px 2% 10px 0;
}

.tourdates .cash_date{
	padding:10px 0;
	font-weight: 700;
}

.tourdates .cash_comments{
	display:inline-block;
	opacity:0.5;
	font-size: 12px;
	margin:0 2% 0 0;
	width:70%;
}

.tourdates .cash_purchase_url{
	display:inline-block;
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	trasition:0.3s ease-in-out;
	margin:0;
	padding:10px;
	vertical-align: baseline; 
	border:solid 2px #00cf7f;
	font-size: 12px;
	color:#00cf7f;
}

.tourdates .cash_map_url a{
	display:inline-block;
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	trasition:0.3s ease-in-out;
	margin:0;
	padding:10px;
	vertical-align: baseline; 
	border:solid 2px #00cf7f;
	font-size: 12px;
	color:#00cf7f;
}

.tourdates .cash_purchase_url:hover, .tourdates .cash_map_url a:hover{
	background:#00cf7f;
	color:rgba(0,0,0,0.3)!important;
	cursor: pointer;
	outline: none;
}

/* Members Area */

.membersarea .cash_address_container, .membersarea .cash_password_container{
	width:49.5%;
	display: inline-block;
}

.membersarea .cash_address_container{
	margin:0 0.5% 0 0;
}


/* Social Feeds */

.cm-social-feed{
	font: 100 14px 'Montserrat',Helvetica,Arial,sans-serif;
	font-weight: 100;
	list-style-type:none;
	margin:0px auto;
	padding:0;
	overflow: auto;
	border: solid 1px #ccc;
}

.cm-social-feed a{
	padding:0px;
	background:none;
	color:#00cf7f;
	border:none;
}

.cm-social-feed li{
	position:relative;
	padding:20px;
	border-bottom: solid 1px #ccc;
	margin:0 0 2px 0;
	min-height:100px;
}

.cm-social-feed li:last-of-type{
	border:none;
}

/* Preserve 16:9 video Aspect Ratio */

.cm-social-feed .cm-aspect{
	width: 100%;
	padding-bottom: 56.25%; /* 16:9 */
	position: relative;
	margin:0 0 10px 0;
}

.cm-social-feed .cm-aspect iframe{
	width:100%;
	height:100%;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}

/* Images */

.cm-social-feed img{
	width:100%;
	height:auto;
	margin:0 0 10px 0;
}

.cm-social-feed .instagram-media{
	margin:0 0 10px 0!important;
}

/* Posts */

.cm-social-feed .cm-name{
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	padding:0;
	margin:0;
	display: inline-block;
}


.cm-social-feed .cm-username{
	font-weight: 100;
	font-size: 14px;
	opacity:0.7;
	color:#222;
}

.cm-social-feed .cm-platform{
	text-indent: -5000em;
	text-align:left;
	display: inline-block;
	width:30px;
}

.cm-social-feed .cm-content{
	padding:0 0 5px 0;
}

.cm-social-feed .cm-content iframe{
	width:100%;
	margin:0 0 10px 0;
}

.cm-social-feed .cm-content a{
	padding:0;
	margin:0;
	border-radius:0;
	border-bottom:solid 1px #00cf7f;	
}

.cm-social-feed .cm-content a:hover{
	border-color:#000;
	color:#000;
}

.cm-social-feed .cm-date:hover{
	opacity: 0.6!important;
}


/* Twitter Feed Specific */

.cm-social-feed .cm-twitter .cm-date{
	position:absolute;
	top:20px;
	right:20px;
	padding:0;
	margin:0;
}

.cm-social-feed .cm-twitter .cm-avatar{
	position:absolute;
	top:0;
	left:0;
	width:50px;
	height:auto;
	margin:20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: 0.3s  ease-in-out;
	-moz-transition: 0.3s  ease-in-out;
	trasition:0.3s ease-in-out;
}

.cm-social-feed .cm-twitter .cm-avatar:hover{
	opacity: 0.7;
}

.cm-social-feed .cm-twitter .cm-platform{
	background:url(data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="146.507px" height="119.414px" viewBox="0 0 146.507 119.414" enable-background="new 0 0 146.507 119.414"
	 xml:space="preserve">
<g id="_x37_nVntx_1_">
	<g>
		<path d="M50.121,119.414c-2.637,0-5.274,0-7.912,0c-0.244-0.033-0.487-0.09-0.732-0.095c-1.814-0.042-3.619-0.22-5.417-0.431
			c-6.179-0.728-12.215-2.095-18.096-4.14c-6.137-2.134-11.951-4.934-17.457-8.379c-0.185-0.116-0.45-0.182-0.508-0.527
			c7.895,0.878,15.629,0.302,23.236-1.81c7.605-2.112,14.524-5.587,20.817-10.435c-0.339-0.227-0.632-0.213-0.913-0.228
			c-3.051-0.149-6.012-0.757-8.847-1.878c-8.7-3.438-14.644-9.578-17.864-18.356c-0.222-0.604-0.138-0.707,0.498-0.602
			c3.03,0.501,6.066,0.544,9.108,0.137c1.088-0.145,2.169-0.325,3.218-0.71c-0.333-0.162-0.665-0.249-0.996-0.338
			c-7.793-2.103-13.844-6.58-18.13-13.408C7.176,53.512,5.777,48.332,5.627,42.8c-0.02-0.73,0.1-0.806,0.765-0.46
			c3.726,1.936,7.69,3.028,11.871,3.354c0.204,0.016,0.43,0.086,0.662-0.12c-1.271-0.895-2.458-1.817-3.533-2.866
			c-6.584-6.422-9.795-14.209-9.438-23.431c0.179-4.633,1.413-8.971,3.632-13.035c0.408-0.748,0.45-0.75,0.985-0.105
			c3.073,3.701,6.427,7.13,10.079,10.259c10.103,8.655,21.587,14.681,34.475,18.013c5.16,1.334,10.404,2.145,15.716,2.522
			c1.16,0.082,1.198,0.025,0.983-1.128c-0.619-3.31-0.674-6.64-0.208-9.964C73.353,13.457,82.832,3.305,95.051,0.678
			c1.534-0.33,3.09-0.474,4.64-0.678c1.195,0,2.39,0,3.585,0c0.182,0.032,0.362,0.081,0.545,0.095
			c7.425,0.601,13.772,3.549,19.046,8.791c0.498,0.494,0.935,0.576,1.578,0.436c6.185-1.354,12.026-3.592,17.518-6.745
			c0.162-0.093,0.344-0.332,0.54-0.144c0.142,0.138-0.02,0.347-0.062,0.522c-0.02,0.079-0.056,0.155-0.084,0.232
			c-2.314,6.345-6.302,11.371-11.917,15.113c-0.164,0.109-0.374,0.175-0.496,0.466c2.89-0.326,5.671-0.918,8.422-1.674
			c2.769-0.761,5.455-1.762,8.137-2.873c0.037,0.348-0.128,0.496-0.241,0.659c-3.812,5.523-8.39,10.311-13.774,14.316
			c-0.58,0.432-0.8,0.876-0.777,1.592c0.169,5.406-0.091,10.792-1.02,16.125c-3.604,20.688-12.966,38.229-28.708,52.242
			c-6.565,5.844-13.965,10.388-22.078,13.767c-8.654,3.604-17.675,5.631-27.018,6.291C51.966,119.276,51.033,119.214,50.121,119.414
			z"/>
		<path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M99.691,0c-1.55,0.205-3.106,0.349-4.64,0.678
			C82.832,3.305,73.353,13.457,71.616,25.839c-0.466,3.325-0.41,6.654,0.208,9.964c0.215,1.153,0.177,1.21-0.983,1.128
			c-5.312-0.377-10.557-1.188-15.716-2.522c-12.888-3.333-24.372-9.358-34.475-18.013c-3.652-3.129-7.006-6.558-10.079-10.259
			c-0.536-0.645-0.578-0.642-0.985,0.105c-2.219,4.064-3.454,8.402-3.632,13.035c-0.357,9.221,2.854,17.009,9.438,23.431
			c1.075,1.048,2.263,1.971,3.533,2.866c-0.232,0.206-0.458,0.136-0.662,0.12c-4.181-0.326-8.145-1.419-11.871-3.354
			c-0.665-0.346-0.785-0.27-0.765,0.46c0.15,5.532,1.549,10.711,4.501,15.414c4.286,6.828,10.337,11.305,18.13,13.408
			c0.331,0.089,0.663,0.177,0.996,0.338c-1.049,0.385-2.13,0.565-3.218,0.71c-3.042,0.407-6.078,0.364-9.108-0.137
			c-0.636-0.105-0.719-0.003-0.498,0.602c3.22,8.779,9.164,14.918,17.864,18.356c2.835,1.121,5.796,1.729,8.847,1.878
			c0.28,0.014,0.574,0,0.913,0.228c-6.293,4.848-13.212,8.323-20.817,10.435c-7.607,2.112-15.342,2.688-23.236,1.81
			c0.058,0.346,0.323,0.412,0.508,0.527c5.505,3.446,11.32,6.246,17.457,8.379c5.881,2.045,11.917,3.412,18.096,4.14
			c1.798,0.211,3.603,0.389,5.417,0.431c0.245,0.005,0.488,0.062,0.732,0.095"/>
		<path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M50.121,119.414c0.912-0.2,1.845-0.138,2.766-0.203
			c9.343-0.659,18.364-2.687,27.018-6.291c8.113-3.378,15.513-7.923,22.078-13.767c15.742-14.013,25.103-31.554,28.708-52.242
			c0.929-5.333,1.189-10.719,1.02-16.125c-0.022-0.716,0.197-1.16,0.777-1.592c5.384-4.005,9.962-8.793,13.774-14.316
			c0.112-0.163,0.277-0.312,0.241-0.659c-2.682,1.11-5.368,2.112-8.137,2.873c-2.751,0.756-5.532,1.348-8.422,1.674
			c0.122-0.291,0.332-0.356,0.496-0.466c5.616-3.742,9.603-8.769,11.917-15.113c0.029-0.077,0.065-0.153,0.084-0.232
			c0.042-0.175,0.204-0.384,0.062-0.522c-0.195-0.188-0.377,0.05-0.54,0.144c-5.491,3.153-11.333,5.391-17.518,6.745
			c-0.643,0.141-1.08,0.059-1.578-0.436c-5.274-5.242-11.622-8.19-19.046-8.791c-0.183-0.015-0.363-0.063-0.545-0.095"/>
	</g>
</g>
</svg>
) no-repeat 100% 0%;
	background-size: 70%;
	opacity: 0.5;
	height:25px;
}

.cm-social-feed .cm-twitter .cm-name{
	margin:0 0 0 70px;
	width:54%;
}

.cm-social-feed .cm-twitter .cm-username:hover{
	border-bottom:solid 1px #222;
}

.cm-social-feed .cm-twitter .cm-content{
	margin:10px 0 0 70px;
}

/* Tumblr Feed Specific */

.cm-social-feed .cm-tumblr .cm-date{
	width:100%;
	text-align: right;
	margin:0 0 10px 0;
}

.cm-social-feed .cm-tumblr .cm-platform{
	background:url(<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="68.814px" height="119.414px" viewBox="0 0 68.814 119.414" enable-background="new 0 0 68.814 119.414"
	 xml:space="preserve"><g id="_x37_nVntx_1_"><g><path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M99.691,0c-1.55,0.205-3.106,0.349-4.64,0.678
			C82.832,3.305,73.353,13.457,71.616,25.839c-0.466,3.325-0.41,6.654,0.208,9.964c0.215,1.153,0.177,1.21-0.983,1.128
			c-5.312-0.377-10.557-1.188-15.716-2.522c-12.888-3.333-24.372-9.358-34.475-18.013c-3.652-3.129-7.006-6.558-10.079-10.259
			c-0.536-0.645-0.578-0.642-0.985,0.105c-2.219,4.064-3.454,8.402-3.632,13.035c-0.357,9.221,2.854,17.009,9.438,23.431
			c1.075,1.048,2.263,1.971,3.533,2.866c-0.232,0.206-0.458,0.136-0.662,0.12c-4.181-0.326-8.145-1.419-11.871-3.354
			c-0.665-0.346-0.785-0.27-0.765,0.46c0.15,5.532,1.549,10.711,4.501,15.414c4.286,6.828,10.337,11.305,18.13,13.408
			c0.331,0.089,0.663,0.177,0.996,0.338c-1.049,0.385-2.13,0.565-3.218,0.71c-3.042,0.407-6.078,0.364-9.108-0.137
			c-0.636-0.105-0.719-0.003-0.498,0.602c3.22,8.779,9.164,14.918,17.864,18.356c2.835,1.121,5.796,1.729,8.847,1.878
			c0.28,0.014,0.574,0,0.913,0.228c-6.293,4.848-13.212,8.323-20.817,10.435c-7.607,2.112-15.342,2.688-23.236,1.81
			c0.058,0.346,0.323,0.412,0.508,0.527c5.505,3.446,11.32,6.246,17.457,8.379c5.881,2.045,11.917,3.412,18.096,4.14
			c1.798,0.211,3.603,0.389,5.417,0.431c0.245,0.005,0.488,0.062,0.732,0.095"/></g></g><g id="epVahP_1_"><g><path d="M0,50.599c0-6.072,0-12.144,0-18.216c1.702-0.531,3.566-0.776,5.08-1.638C16.969,23.978,22.604,13.441,23.275,0
			c6.41,0,12.818,0,19.228,0c0,10.029,0,20.058,0,30.622c7.463,0,14.267,0,20.947,0c0,6.884,0,13.214,0,20.087
			c-7.408,0-14.545,0-21.978,0c0,3.048-0.004,5.549,0.001,8.051c0.018,9.427-0.205,18.862,0.137,28.277
			c0.252,6.941,4.212,10.379,11.12,10.205c3.454-0.087,6.894-0.734,10.315-1.125c1.993,5.25,3.882,10.227,5.77,15.202
			c0,0.674,0,1.349,0,2.024c-5.06,2.024-10.12,4.048-15.18,6.072c-4.386,0-8.77,0-13.156,0c-0.581-0.296-1.133-0.739-1.749-0.866
			c-13.57-2.771-21.588-11.195-23.738-24.631c-1.075-6.724-0.68-13.697-0.781-20.561c-0.11-7.488-0.025-14.979-0.025-22.757
			C9.017,50.599,4.508,50.599,0,50.599z"/></g></g></svg>) no-repeat 100% 0%;
	background-size: 70%;
	opacity: 0.5;
	width:15px;
}

/* Store */

.cashmusic.element.store br{
	display: none;
}

.cash_store h2{
	font-size:14px;
	margin:0 0 5px 0;
}

.cash_store h2.title {
  display: block;
  margin: 0 0 30px 0;
}

.cash_store .cash_item p{
	margin:10px 0;
	font-size:12px;
	line-height: 12px;
}

.cash_store .cart-scroll-message{
	text-align: center;
 	margin: 30px 0;
 	display: block;
}

.cash_store .cash_item select{
	width:100%;
	background:none;
	background-color:#00cf7f;
	background-image:url(../images/select_bg.png)!important;
	background-repeat: no-repeat!important;
	background-position: 96% 50%!important;
	border:none;
	padding:10px;
	color:#f5f5f5;
	text-indent: 0;
	margin: 0 0 12px 0;
	display:block;
	height:42px;
	font:400 14px/20px 'Montserrat',Helvetica,Arial,sans-serif;
	border:none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance:none;
}

/* Store Flexible Price */


.cash_store_flexible_price {
	display: block;
	position:relative;
	margin:0 0 5px 0;
}

.cash_store_flexible_price input{
	color:#4d4d4d;
}

.cash_store_flexible_price .cm-price{
 	width:100%;
 	padding-left:3.5em;
}

.cash_store_flexible_price .cash_store_currency{
	position:absolute;
	background:transparent;
	color:#4d4d4d;
	opacity:0.6;
	padding:8px 0 0 1.2em;
	margin:0;
}

/* Store Redeem Purchases */

.cash_store.cash_return.redeem .cash_address_container, .cash_store.cash_return.redeem .cash_order_container{
	width:25%;
	display:inline-block;
	margin:0 5px 0 0;
}

.cash_store.cash_return.redeem input{
	width:100%;
}

.cash_store.cash_return.redeem input.button{
	width:25%;
}

/* Store Featured Items */

.cash_store.featured_items{
	margin:0 auto;
}

.cash_store.featured_items .cash_item{
	width:30%;
	display: inline-block;
}

.cash_store.unfeatured_items{
	margin:0;
	padding:0;
}

.cash_store.unfeatured_items .cash_inner{
	padding:0;
	margin:0 auto;
	text-align: center;
} 

.cash_store.unfeatured_items .cash_inner .cash_store.cash_inner{
	text-align: left;
}

.cash_store.unfeatured_items .cash_item{
	display: inline-block;
	width:49.5%;
	overflow: auto;
	padding:20px;
}

.cash_store .cash_item input[type=submit], .cash_store .cash_item .button{
	width:100%;
	padding:15px;
	-webkit-transition: 0.3s  ease-in-out;
	transition: 0.3s  ease-in-out;
}

.cash_store .cash_item input[type=submit]:focus, .cash_store .cash_item .button:focus {outline:0;}



/* -- Main Size -- */
@media screen and (min-width: 275px) {
	
	input{
		padding:10px;
		width:63%;
		margin:0;
	}

	input[type=submit], .button{
		width:35.5%;
		margin:0;
	}

	/* Tour Dates */
	.tourdates .cash_purchase_url, .tourdates .cash_map_url a{
		width:auto;
		padding:5px 15px;
		display: inline-block;
	}

	/* Single Purchase */
	.cash_singlepurchase_flexible_price .total_price{
	 	width:63%;
	}

	/* Members Area */
	.membersarea .cash_address_container, .membersarea .cash_password_container{
		width:31.25%;
	}

	.membersarea .cash_address_container input, .membersarea .cash_password_container input{
		width:100%;
	}

}

/* -- Larger Size -- */
@media screen and (min-width: 500px) {
	input, .cash_singlepurchase_flexible_price .total_price{
			width:63.4%;
	}

	/* Members Area */
	.membersarea .cash_address_container, .membersarea .cash_password_container{
		width:31.6%;
	}
}

/* ====================
   INTERMEDIATE - (Horiztonal Tablet & Above)
   ==================== */
@media only screen and (min-width: 768px) {

	html, body{
	overflow:auto;
	}

   .cm-social-feed{
   		/*width:50%;*/
   		max-width:600px;
   }

}

