/***************************************************
 *
 *  CASH Music - Embedded Elements Styles - Light Default
 *	Created by CASH Music
 *
 ***************************************************/

#mainspc{
	background:rgba(237,237,237,0.9);
	padding:18px;
	color:#222;
}

.cm-lightboxed #mainspc{
	background:none;
}

::-webkit-input-placeholder{color:#4d4d4d;}
placeholder{color:#4d4d4d;}


input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus{
	background:#ccc;
	color:#222;
}

input:focus::-webkit-input-placeholder{color:#111;}
input:focus placeholder{color:#111;}

.singlepurchase .cash_singlepurchase_itemprice, .cash_notation, .cash_comments, .singlepurchase .cash_singlepurchase_itemdescription{
	color:#222;
}

/* Single Purchase */
.singlepurchase .cash_singlepurchase_itemname, .singlepurchase .cash_singlepurchase_itemprice, .singlepurchase .cash_singlepurchase_itemdescription{
	color:#222;
}

.singlepurchase .cash_singlepurchase_currency, .cash_singlepurchase_flexible_price input{
	color:#4d4d4d;

}


/* Social Feeds */

.cm-social-feed{
	background: #e0e0e0;
  background: rgba(224,224,224,0.9);
	color:#222;
	border: solid 1px #ccc;
}

.cm-social-feed .cm-platform{
	filter: invert(0%);
	-webkit-filter: invert(0%);
}

.cm-social-feed li {
	border-bottom: solid 1px #ccc;
}

.cm-social-feed .cm-content a:hover{
	color:#222;
	border-color:#222;
}

.cm-social-feed .cm-username{
	color:#000;
}

.cm-social-feed .cm-twitter .cm-username:hover{
	border-color:#000;
}
