/*************************************************** 
 *
 *  CASH Music - Embedded Elements Styles - Dark Default
 *	Created by CASH Music
 *
 ***************************************************/

/* General */

#mainspc{
	background:#000;
	background:rgba(0,0,0,0.9);
	color:#f5f5f5;
	padding:4%;
	width:100%;
}

.cash_comments{
	color:#444;
}

.singlepurchase .cash_singlepurchase_itemprice, .cash_notation {
	color:#777;
}

/* -- Mid Size + Above / Vertical Tablet -- */
@media screen and (min-width: 535px){
	#mainspc{
		padding:2%;
		width:100%;
	}
}