/*************************************************** 
 *
 *  CASH Music - Embedded Elements Styles - Minimal
 *	Created by CASH Music
 *
 ***************************************************/

/* Main Space */
#mainspc{
	background:none;
	margin:0;
	padding:0;
	overflow:auto;
	width:100%;
	height:100%;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

/* Text Fields */
input{
	background:none;
	border-bottom:solid #333 1px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding:10px 0px;
	color:#fff;
	width:100%;
}

::-webkit-input-placeholder{color:#222;}
placeholder{color:#222;}

/* Buttons */

input[type=submit], .button{
	background:#333;
	color:#fff;
	padding:10px 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

input[type=submit]:hover, .button:hover{
	background:#111;
}

/* Form Field Focus */

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus{
	background:none;
	color:#111;
}

input:focus::-webkit-input-placeholder{color:#111;}
input:focus placeholder{color:#111;}

/* Error */

.cash_error{
	padding:10px 0;
	border-radius: 0px;
}

/* Success */
.cash_success, .cash_success h1{
	font-size: 18px;
	font-weight: 100;
}


/* Single purchase specific */

.singlepurchase .cash_singlepurchase_itemname, .singlepurchase .cash_singlepurchase_itemprice, .singlepurchase .cash_singlepurchase_itemdescription{
	background:none;
	color:#333;
	border:solid 1px #333;
	border-radius: 0px;
	width:99%;
}

/* Tour Dates */

.tourdates .cash_event{
	color:#333;
	border:solid 1px #333;
	width:95.5%;
	border-radius: 0px;
}

.tourdates .cash_event:nth-child(odd), .tourdates .cash_event:nth-child(even){
	background:none;
}

.tourdates .cash_purchase_url{
	border-radius: 0px;
	background:#333;
	color:#fff;
}

/* -- Mid / Vertical Tablet -- */
@media screen and (min-width: 535px){
	input{
		width:69%;
	}

	.singlepurchase .cash_singlepurchase_itemname, .singlepurchase .cash_singlepurchase_itemprice, .singlepurchase .cash_singlepurchase_itemdescription, .singlepurchase input[type=submit], .button{
		width:48%;
	}
}