/***************************************************
 *
 *  CASH Music - Default Page Styles
 *
 ***************************************************/

/* General */

html{
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html,body{
	font: 100 14px/18px 'Montserrat',Helvetica,Arial,sans-serif;
	margin:0;
	padding:0;
	overflow:visible;
}

body{
	background: #222; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	padding:0;
	margin:0 auto;
	width:100%;
	height:100%;
	height:100vh;
	color:#fff;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1,h2,h3,h4,h5{
	font-weight: 400;
	word-wrap:break-word;
	margin:0;
	padding:0;
	line-height: 1em;
}

a{
	margin:0;
	display:inline-block;
	-webkit-transition: opacity 0.3s  ease-in-out;
	-moz-transition: opacity 0.3s  ease-in-out;
	trasition: opacity 0.3s ease-in-out;
}

#mainspc{
  	display: table;
		position: initial;
    width:100%;
		height: 100%;
  	z-index: 1;
  	padding:0;
  	margin:0;
}

.content{
  	display: table-cell;
    vertical-align: middle;
}

.content .inner{
	border:solid 1px #ddd;
	padding:20px;
	background:rgba(17,17,17,0.8);
	margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

body.dark .content .inner{
	border-color: #111;
}

.content .inner .cashmusic{
	margin:0 0 18px 0;
}

.content .inner .cashmusic:last-of-type {
	margin:0;
}

.light .content .inner{
	background:rgba(231,231,231,0.9);
}

.cashmusic.element {
	text-align: left;
}

body.dark{
	background: #222; /* Old browsers */
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#f5f5f5;
}

body.light{
	background: #fff; /* Old browsers */
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#222;
}


body.light  .cashmusic.element input, body.light  .cashmusic.element select{
/*	background:#f5f5f5;
	background-color:rgba(245,245,245,0.9);
	color:#222;*/
}

body.dark  .cashmusic.element input, body.dark  .cashmusic.element select{
	border: solid 1px #313131;
	background-color: #232323;
	color:#999;
}

body.dark .cashmusic.element select{
	background-color: rgba(34,34,34,0.9);
	/*border: solid 1px rgba(34,34,34,0.5);*/
	background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNzQuMzMzcHgiIGhlaWdodD0iMTY0cHgiIHZpZXdCb3g9IjAgMCA3NC4zMzMgMTY0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA3NC4zMzMgMTY0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMzcuMzcyLDAgMC45MTQsNzIuMDgzIDczLjYyMiw3MiAiLz4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMzcuMTY0LDE2My4wODMgNzMuNjIyLDkxIDAuOTE0LDkxLjA4MyAiLz4NCjwvc3ZnPg0K");
}

body.dark .cashmusic.element input[type=submit],body.dark .cashmusic.element .button, body.light  .cashmusic.element input[type=submit],body.light .cashmusic.element .button {
  background: none;
  border: solid 2px #00cf7f;
  color:#00cf7f;
}

body.dark  .cashmusic.element input[type=submit]:hover ,body.dark .cashmusic.element .button:hover, body.light .cashmusic.element input[type=submit]:hover,body.light .cashmusic.element .button:hover {
  background:#00cf7f;
  color:rgba(0,0,0,0.3);
}

body.dark .cashmusic.element ::-webkit-input-placeholder{color:#999;}
body.dark .cashmusic.element placeholder{color:#999;}


body.dark .cashmusic.element input:focus, body.dark .cashmusic.element select:focus,  body.dark .cashmusic.element textarea:focus{
	color:#fff; background-color:#111; border-color:#333;
}


body.light .cashmusic.element input[type=text]:focus, body.light .cashmusic.element input[type=email]:focus, body.light .cashmusic.element input[type=password]:focus, body.light .cashmusic.element textarea:focus{
	background:#ccc;
	color:#222;
}

body.light .cashmusic.element ::-webkit-input-placeholder{color:#4d4d4d;}
body.light .cashmusic.element placeholder{color:#4d4d4d;}

body.light .cashmusic.element input:focus::-webkit-input-placeholder{color:#4d4d4d;}
body.light .cashmusic.element input:focus placeholder{color:#4d4d4d;}

/* CASH Marque */

/* Turn Animation */

@-webkit-keyframes turn {
 0%{ -webkit-transform: rotate(360deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);}
 100% { -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);}
}

@keyframes turn{
 0%{ transform:  rotate(360deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);}
 100% { transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);}
}

@-moz-keyframes turn{
 0%{ -moz-transform:  rotate(360deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);}
 100% { -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);}
}


#mainspc .logo{
	position: fixed;
	top:15px;
	left:15px;
	height: 100px;
	width:25%;
	text-align: left;
	z-index: -1;
}

#mainspc .logo h1{
	margin:0;
	padding:0;
}

#mainspc .logo img{
	height: 100%;
	width:auto;
	padding:15px;
	margin:0 0 20px 0;
}

body.dark #mainspc .logo img{
	-webkit-filter: invert(100%);
    filter: invert(100%);
}

.madebycash{
	display:block;
	font-weight:100!important;
	font-size:11px;
	text-align: center;
	padding:30px 40px;
	z-index: 1000;
	position: relative;
	-webkit-transition: 1s  ease-in-out;
	-moz-transition: 1s  ease-in-out;
	transition:1s ease-in-out;
}


.madebycash .logo{
	height: 40px;
	width:40px;
	text-align: center;
	opacity: 0;
	display: none;
}

.madebycash .logo svg{
	height:auto;
	width:40px;
	margin:0 auto;
	padding:0;
}

body.dark .madebycash .logo svg{
	-webkit-filter: invert(100%);
    filter: invert(100%);
}

.madebycash a{
	margin:0;
	background:none;
	color:#f5f5f5;
	font-weight:100!important;
	-webkit-transition: color 0.3s  ease-in-out;
	-moz-transition: color 0.3s  ease-in-out;
	trasition: color 0.3s ease-in-out;

}

.light .madebycash a{
	color:#4d4d4d;
}

.madebycash a:hover{
/*	color:#00cf7f;*/
}


/* Single Purchase */
body.light .singlepurchase .cash_singlepurchase_itemname, body.light .singlepurchase .cash_singlepurchase_itemprice, body.light .singlepurchase .cash_singlepurchase_itemdescription{
	color:#222;
}

body.light .singlepurchase .cash_singlepurchase_currency{
	color:rgba(51,51,51,0.6);
}

.cash_singlepurchase_flexible_price .cash_singlepurchase_currency{
	padding: 14px 0 0 1.2em;
}

/* Tour Dates */

body.dark .tourdates .cm-event{
	border-bottom: solid 1px rgba(255,255,255,0.1);
}

body.dark .tourdates .cm-event:last-of-type{
	border: none;
}

body.dark .tourdates .cm-map-url{
	color:#fff;
}


/* Social Feeds */

body.dark .cm-social-feed{
	border:solid 1px #333;
}

body.dark .cm-social-feed .cm-platform{
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

body.dark .cm-social-feed li {
	border-bottom: solid 1px #333;
}

body.dark .cm-social-feed .cm-content a:hover{
	color:#ccc;
	border-color:#ccc;
}

body.dark .cm-social-feed .cm-username{
	color:#fff;
}

body.dark .cm-social-feed .cm-twitter .cm-username:hover{
	border-color:#fff;
}

/* Store */

body.dark .cm-store.cm-front .cm-item{
	/*border: solid 1px #101010;*/
	background:#111;
}

body.dark .cm-store .cm-showcart{
	color:#fff;
}

body.dark .cm-store .cm-showcart svg{
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

/* Remove background for alternate styles */
body.dark .cm-store.cm-grid.cm-front .cm-item, body.dark .cm-store.cm-compact.cm-front .cm-item{
  background:none;
}

body.dark .cm-store .cm-item .cm-item-image{
	background-color:#212121;
	border: solid 1px #101010;
}

body.light .cm-store.cm-front .cm-item{
	/*border: solid 1px #ddd;*/
}

/* Embed Specific */

iframe[src*="www.youtube.com"] {
	height:450px;
}

/* Page Titles */

h1.pagetitle{
	font-size: 70px;
	line-height: 60px;
	padding:0 0 5% 0;
}

h2.subtitle{
	padding:0 0 5% 0;
}

/* Media Queries */

@media screen and (min-width: 535px){ /* -- Mid / Vertical Tablet -- */

	h1.pagetitle{
		font-size: 100px;
		line-height: 90px;
	}

	#mainspc{
		    position: absolute;
	}

	.madebycash{
		position: fixed;
		bottom:0px;
		left:0px;
	}

	.madebycash span{
		text-align: left!important;
		display: inline-block!important;
		width: 400px!important;
		position: absolute!important;
		bottom:35px!important;
		left:95px!important;
		opacity: 0!important;
		-webkit-transition:0.5s  ease-in-out!important;
		-moz-transition:0.5s  ease-in-out!important;
		transition:0.5s ease-in-out!important;
		pointer-events: none!important;
		font-family:'Montserrat',Helvetica,Arial,sans-serif!important;
	}

	.madebycash:hover span{
		position: absolute!important;
		bottom:46px!important;
		left:95px!important;
		opacity: 1!important;
		pointer-events: auto!important;
	}

  .madebycash .logo{
		display: block;
		opacity: 0.4;
	}

	.madebycash:hover .logo{
		opacity: 1;
		-webkit-animation: turn ease-in-out  0.5s;
			-moz-animation: turn ease-in-out  0.5s;
			animation: turn ease-in-out  0.5s;
	}

}

@media screen and (min-width: 900px){ /* -- Wide / Horizontal Tablet -- */

	h1.pagetitle{
		font-size: 120px;
		line-height: 100px;
	}

	iframe[src*="www.youtube.com"] {
	height:500px;
}

}
